ul.help-menu li:before, ul.help-menu li:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: -1;
}
li.white-brand-help a{
    color: #fff!important;
}

ul.help-menu li.help, li.white-brand-help{
    background: inherit!important;
}