
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex align-items-center">
                    <div class="h_left">

                        <a v-if="domainDetails === null" href="/" class="logo mundo_logo"><img :src="logo" alt="" title=""/></a>
                        <a :style="groupUrl" class="logo mundo_logo" v-if="domain=='group'" @click="onGroupLogoClick()"></a>
                        <a :style="url" class="logo mundo_logo" v-if="hotel" @click="onLogoClick()"></a>
                    <!-- h2 v-if="hotel" class="text-center mobile-hotel-name visible-xs hidden-sm hidden-md hidden-lg">
                        {{hotel.hotel_name}}
                    </h2> -->
                    </div>
                    <a href="#" class="hamburger_icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <div class="nav_area align-items-center d-flex w-100 justify-content-md-between ">
                        <ul class="d-flex nav_left" v-if="domainDetails !== null">
                            <!-- <li v-if="hotel"><a href="/">{{hotel.hotel_name}}</a></li> -->
                            <li v-if="hotelInfo"><a href="/hotel-policy">{{$t('message.HOTEL_POLICY')}}</a></li>
                            <li><a href="javascript:void(0)" @click="onHelp">{{ $t('message.HELP') }}</a></li>
                        </ul>
                        <ul class="nav_right list-unstyled ml-auto">

                            <li id="currenyDropdown" class="downArrow currency_switcher dropdown" :style="font_color">
                           <span>{{currency}}</span> 
                            <select v-if="currencies" v-model="currency" class="form-control">                                
                                <option v-if="option.name" v-for="option in currencies" :value="option.code" :key="option.code">
                                    {{ option.code }} {{ option.name }}
                                </option> 
                            </select>
                        </li>

                            <!-- <li class="downArrow currency_switcher dropdown" >
                                <a class="dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  {{currency}}
                                </a>
                                <ul class="dropdown-menu" v-if="currencies" v-model="currency" >
                                    <li v-if="option.name" v-for="option in currencies" :value="option.code" :key="option.code" @click="changeHotelCurrency(option.code)">
                                        <a href="#"> {{ option.code }}</a>
                                        <a href="#"> {{ option.code }} {{ option.name }}</a>
                                    </li>
                                </ul>
                              </li> -->
                            <!-- <li class="downArrow lang_switcher dropdown">
                                <a class="dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  {{languagesObject[language]}}
                                </a>
                                <ul class="dropdown-menu" v-model="language">
                                    <li v-for="(value,key) in languagesObject" :value="key" @click="setHotelLanguage(key)">
                                        <a href="#">{{ value }}</a>
                                    </li>
                                </ul>
                              </li> -->

                              <li v-if="activepage!=='home'" id="languageConversion" :style="font_color" class="dropdown">
                            <select class="form-control" v-model="language">
                                 <option v-for="(value,key) in languagesObject" :value="key">{{ value }}</option>
                            </select>
                        </li>
                        <li v-else id="languageConversion" class="dropdown">
                            <select class="form-control" v-model="language">
                                <option v-for="(value,key) in languagesObject" :value="key">{{ value }}</option>                                 
                            </select>
                        </li>
                            
                              <li class="profile-link-nav dropdown downArrow">
                                <a class="dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 My PrivateDeal Account <img src="~/assets/img/user-pic.png" alt="" class="img-circle">
                                </a>
                            <ul class="dropdown-menu">
                                <li v-if="!user"><a href="javascript:void(0)" @click="onLogin">{{$t('message.LOGIN')}}</a></li>
                                <li v-if="!user"><a href="javascript:void(0)" @click="onRegistraion">{{$t('message.REGISTER')}}</a></li>
                                <li v-if="user"><a  href="/profile">{{$t('message.MY_PROFILE')}}</a></li>
                                <li v-if="user"> <logout></logout></li>
                                   <!--  <li>
                                        <a href="#">Edit Profile</a>
                                    </li>
                                  <li>
                                      <a href="#">Change Password</a>
                                  </li> -->
                                </ul>
                              </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <login
        v-if="showLoginModal"
        @close="onClose"
    ></login>

    <registration
        v-if="showRegistrationModal"
        :data="countries"
        @registrationClose="onClose"
        @close="onRegistrationClose"
    ></registration>

    <help v-if="showHelpModal"></help>

    <sign-up-msg 
    v-if="account_created"
    @close="onClose"
    > 
    </sign-up-msg>
    </header>