<template>
	<div class="main-wrap-panel" id="main-wrap-panel">
        <!--<div class="profile_wrap inner-title">
            <a href="#" class="hamburger_icon_2">
                <span></span>
                <span></span>
                <span></span>
            </a> 
             <div class="profile-title">
                <h2>{{$t('message.MY_BOOKINGS')}}</h2>
            </div> 
          </div>-->
          <section class="myBooking">
                <div class="card mob-transparent">
                <!-- Upcoming booking template -->

                <upcoming 
                v-if="upcoming"
                :usetype="useType"
                :domain="domain"
                >                  
                </upcoming>

              <!-- Upcoming booking template End-->

              <!-- Completed booking template -->

                <completed 
                 v-if="completed"
                :usetype="useType"
                :domain="domain"
                >                  
                </completed>

                <!-- Completed booking template end-->
                </div>
            </section>
        <!-- </div> -->
    </div>
</template>
<script>	

    import upcoming from './Upcoming.vue'
    import completed from './Completed.vue'
    import Vue from 'vue'
    //import cancelled from './Cancelled.vue'
    let bus  = new Vue();
export default {

    props: ['domain'],
    data() { 
    	return {
        upcoming: '',
        completed: false,
        cancelled: false,
        // upcomingData:'',
        // completedData:'',
        //cancelledData:'',
        useType:true
    	}  
    },

    components: {
        upcoming,
        completed
       // cancelled
    },

    mounted: function () {
        this.$nextTick(function () {
          this.getBookingDetails();
           
        }),

        bus.$on('review-recieved' , (comment) => {
            this.getBookingDetails();
        })
    },

    computed: {
        url() {

        },

        user:function(){
            return this.$store.getters.userDetail;
        },
    },

    methods: {

      	defaultActive(type){

            if(type == 'upcoming'){
                this.upcoming = true;
                this.completed = false;
                this.cancelled = false;
            }else if(type == 'completed'){
                this.upcoming = false;
                this.completed = true;
                this.cancelled = false;
            }/*else if(type == 'cancelled'){
                this.upcoming = false;
                this.completed = false;
                this.cancelled = true;
            }*/
        },

        getBookingDetails(){
            var vm =this;
            this.$axios.post('/booking-history' ,{"email":this.user.email,"type":"web","use_type":1})
                .then((response) => {
                    vm.upcoming = true; 
                    vm.completed = true;   
                    this.$store.commit('setBookingHistory', response.data.data);
                })
        }
    }

}
</script>