<template>
<section id="main-wrap-panel" class="main-wrap-panel">
    <section class="cancelledBooking">
            <div class="card desk-view">
                <h2>{{$t('message.CANCELLED_DAY_USE')}}</h2>
                <div class="cancelled-booking booking-list b-list">
    <div class="table-responsive">
        <table > 
            <thead>
              <tr>
                <th>{{$t('message.BOOKING_ID')}}</th>
                <th>{{$t('message.HOTEL_NAME')}} </th>
                <th>{{$t('message.LOCATION')}}</th>
                <th>{{$t('message.CHECK_IN')}}</th>
                <th>{{$t('message.CHECK_OUT')}}</th>
                <th>{{$t('message.BOOKING_PRICE')}}</th>
                <th>{{$t('message.TOTAL_PRICE')}}</th>
                <th>{{$t('message.YOUR_DEAL_')}}</th>
                <!-- <th>{{$t('message.ACTIVITY')}}</th> -->
              </tr>
            </thead>
            <tbody>
    	        <tr v-if="cancelledData != null" v-for="(cancel, index) in cancelledData" :class="(index+1)%2==1?'row0':'row1'" >
                  <td>{{cancel.id}}</td>
    	          <td class="hotel-name nowrap">{{cancel.hotel.hotel_name}}</td>
    	          <td class="w-200 d-inline-block">{{cancel.hotel.address}} {{ cancel.hotel.postal_code}} {{cancel.hotel.city.name}}</td>
    	          <td class="nowrap">{{cancel.arrival | dateFormat}}</td>
                  <td class="nowrap">{{cancel.departure | dateFormat}}</td>
    	          <td class="nowrap">{{cancel.booking_date | dateFormat}}</td>
                  <td class="nowrap">{{cancel.currency_code}} {{parseFloat(cancel.total_price).toFixed(2)}}</td>
    	          <td class="nowrap"> {{cancel.currency_code}} {{parseFloat(cancel.client_bidding_price).toFixed(2)}}</td>
                   <td class="btns-group nowrap"><a class="deal-btn btn" @click="onNewDeal(cancel.hotel.hotel_name,cancel.hotel.id,cancel.hotel)">{{$t('message.NEW_DEAL')}}</a>
                    </td>
    	        </tr>
                <tr v-if="cancelledData == null" class="row1">
                <td colspan="9">{{$t('message.NO_DATA_FOUND')}}</td>
                </tr>
            
            </tbody>
        </table>
    </div>
</div>
</div>
<div class="mob-view data-book ">
                <div class="card">
                    <ul class="d-flex flex-wrap align-items-start justify-content-between">
                        <li>
                            <label>Booking Id</label>
                            <p class="b-id">39874</p>
                        </li>
                        <li>
                            <label>Hotel Name</label>
                            <p>Résidence Côté Plage</p>
                        </li>
                        <li>
                            <label>Location</label>
                            <p>Pinarello 20144 Pinarello</p>
                        </li>
                        <li>
                            <label>Check-in</label>
                            <p>21.07.2020</p>
                        </li>
                        <li>
                            <label>Booking Date</label>
                            <p>20.07.2020</p>
                        </li>
                        <li>
                            <label>Check-out</label>
                            <p>21.07.2020</p>
                        </li>
                        <li>
                            <label>Total Price</label>
                            <p>EUR 600.00</p>
                        </li>
                        <li>
                            <label>Your Deal</label>
                            <p>EUR 570.00</p>
                        </li>
                    </ul>
                    <div class="btn-group">
                       
                        <a href="#" class="deal-btn btn">New Deal</a>
                    </div>
                    
                </div>
                <div class="d-flex justify-content-center mt-5">
                    <a href="#" class="cancelled-btn btn-orange btn">Cancel a Booking</a>
                </div>

            </div>
</section>
</section>
</template>

<script>	

export default {
    
    props:['domain'],
    
    data() { 
    	return {
            wb_domain:this.domain,
            bookingHistory:{},
            cancelledData:null,
            searchData:{
                check_in:moment().format('YYYY-MM-DD'),
                check_out:moment().add(1,"days").format('YYYY-MM-DD'),
                rooms:[2],
            }
    	}  
    },

    mounted: function () {
        this.$nextTick(function () {
        var vm =this;
        this.axios.post('/booking-history' ,{"email":this.user.email,"type":"web","use_type":1})
            .then((response) => {
                this.$store.commit('setBookingHistory', response.data.data);
                this.cancelledData = this.$store.getters.bookingHistory.cancelledData;
            })
            
        })
    },

    computed:{
        user:function(){
            return this.$store.getters.userDetail;
        },

        hotel_url:function(){
            return this.$store.getters.domainDetails.hotel_url;
        },

    },

    filters:{ 

        dateFormat: function (inputDate) {
            var dateArr = inputDate.split("-");
             return moment(inputDate).format('DD.MM.YYYY');
        }
    },

    methods: {

        onNewDeal(location,hotelId,cancelledBooking){
            /*if(cancelledBooking.hotel.service_applied == '0'){
                this.searchData.use_type = '1';
                this.searchData.check_in_time = '05:30'
                this.searchData.checkin = moment().format('YYYY-MM-DD');
                this.searchData.checkout = moment().format('YYYY-MM-DD');
            } else {
                this.searchData.use_type = '2';
            }
            var param = $.param( this.searchData );
            var protocol = location.protocol == 'http:' ? 'http://' : 'https://';
             if(cancelledBooking.service_applied == '0'){
                var url = Constants.httpProtocol+cancelledBooking.whitebrand.hotel_url + '.' + Constants.hostName+'/day-use-search-hotel?'+param;
            }
            else{
                var url = Constants.httpProtocol+cancelledBooking.whitebrand.hotel_url + '.' + Constants.hostName+'/night-use-search-hotel?'+param;                
            }*/
            var url = Constants.httpProtocol+cancelledBooking.whitebrand.hotel_url + '.' + Constants.hostName;
            window.location.href = url;
        }

    },

           

}
</script>