<template>
    <div class="modal fade modal-form profile-update" id="registermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-left p-3">
                    <h3 class="modal-title">Reset Password</h3>
                    <button type="button" class="close modal-close" @click="closeModal">
                         <img src="~/assets/img/cross-out.svg" alt="">
                    </button>
                    <!--<img src="img/login-img.png" alt="" title=""/>-->
                </div>
                <div class="modal-body p-3">
                    <form @submit.prevent="update()" data-vv-scope="changePassword" class="floating-label">                        

                       
                             <div class="form-group pass-eye">
                                <input type="password" v-validate="'required'" v-model="changePassword.old_password" class="form-control" name="old_password" id="old_password" >
                                <label for="old_password" class="form-label">{{$t('message.PASSWORD')}}</label>
                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                <!-- <i class="fa fa-eye" aria-hidden="true"></i>-->
                                <span class="error" v-if="errors.has('changePassword.old_password')">{{ errors.first('changePassword.old_password') }}</span>
                                <!-- <img src="../../../assets/img/pass-icon.png" alt="" title=""/> -->
                            </div>
                        

                       
                             <div class="form-group pass-eye">
                                <input type="password" id="new_password" v-validate="'required|min:6'" v-model="changePassword.password" name="password" class="form-control"  ref="password"  data-vv-as="new password">
                                <label for="new_password" class="form-label">{{$t('message.NEW_PASSWORD')}}</label>
                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                <!-- <i class="fa fa-eye" aria-hidden="true"></i>-->
                                <span class="error" v-if="errors.has('changePassword.password')">{{ errors.first('changePassword.password') }}</span>
                                <!-- <img src="../../../assets/img/pass-icon.png" alt="" title=""/> -->
                            </div>
                       

                       
                             <div class="form-group pass-eye">
                                <input type="password" v-validate="'required|confirmed:password'" v-model="changePassword.password_confirmation" name="password_confirmation" class="form-control" data-vv-as="confirm password" id="confirm_password">
                                <label for="confirm_password" class="form-label">{{$t('message.CONFIRM_PASSWORD')}}</label>
                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                <!-- <i class="fa fa-eye" aria-hidden="true"></i>-->
                                <span class="error" v-if="errors.has('changePassword.password_confirmation')">{{ $t('message.CONFIRM_PASSWORD_ERROR') }}</span>
                                <!-- <img src="../../../assets/img/pass-icon.png" alt="" title=""/> -->
                            </div>
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-registration cursor-pointer">{{$t('message.UPDATE_')}}</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>


    export default {

        props:['user'],

        data() { 
            return {
                changePassword: { 
                    old_password:'',
                    password:'',
                    password_confirmation:''
                }
            }
        },

        computed: {
            
        },

        mounted: function () {
            this.$nextTick(function () {
                $('#registermodal').modal('show');
            }); 
        },

        methods: { 



            update() {
                this.$validator.validateAll('changePassword').then((result) => {
                    if (result) {
                        this.$validator.reset();
                        this.$axios.post('/change-password', {old_password:this.changePassword.old_password , new_password:this.changePassword.password})
                        .then((response) => {console.log(response)
                            // this.$toastr.s(this.$t('passwords.reset')); 
                            $('#registermodal').modal('hide');
                            this.$emit('update', response.data);
                        })
                        .catch((error) => {
                            $('#loader').hide();
                            var laravelError = error.response.data.error;
                            if(_.isPlainObject(laravelError)){
                                for(var i in laravelError){
                                    if(Array.isArray(laravelError[i])){
                                        this.errors.add({
                                            id: $('[name='+i+']').attr('data-vv-id'),
                                            field: i,
                                            msg: laravelError[i][0],
                                            rule: 'required',
                                            scope: 'changePassword'
                                          });
                                    }else{
                                        this.errors.add({
                                            id: $('[name='+i+']').attr('data-vv-id'),
                                            field: i,
                                            msg: laravelError[i],
                                            rule: 'required',
                                            scope: 'changePassword'
                                          });

                                    }
                                }
                            }
                        })  
                    } else {
                        return false;
                    }
                });
 
            },

            closeModal(){              
                $('#registermodal').modal('hide');
                this.$emit('close');
            },

        }
    }

</script>
