<template>
        <div>
           <div class="desk-view">
                <div class="completed-booking booking-list b-list">
                    <h4>Completed</h4>
                    <div class="table-responsive">
        <table >
            <thead>
              <tr>
                <th>{{$t('message.BOOKING_ID')}}</th>
                <th>{{$t('message.HOTEL_NAME')}} </th>
                <th>{{$t('message.LOCATION')}}</th>
                <th>{{$t('message.CHECK_IN')}}</th>
                <th>{{$t('message.CHECK_OUT')}}</th>
                <th>{{$t('message.BOOKING_PRICE')}}</th>
                <th>{{$t('message.TOTAL_PRICE')}}</th>
                <th>{{$t('message.YOUR_DEAL_')}}</th>
                <th class="text-center" colspan="2">{{$t('message.ACTIVITY')}}</th>
              </tr>
            </thead>
            
            <tbody>
    	        <tr v-if="completedData.length>0" v-for="(completed, index) in completedData" :class="(index+1)%2==1?'row0':'row1'" >
                    <td>{{completed.id}}</td>
                    <td class="hotel-name nowrap">{{completed.hotel.hotel_name}}</td>
                    <td class="w-200 d-inline-block">{{completed.hotel.address}} {{ completed.hotel.postal_code}} {{completed.hotel.city.name}}</td>
                    <td class="nowrap">{{completed.arrival | dateFormat}}</td>
                    <td class="nowrap">{{completed.departure | dateFormat}}</td>
                    <td class="nowrap">{{completed.booking_date | dateFormat}}</td>
                    <td class="nowrap">{{completed.currency_code}} {{parseFloat(completed.total_price).toFixed(2)}}</td>
                    <td class="nowrap">{{completed.currency_code}} {{parseFloat(completed.client_bidding_price).toFixed(2)}}</td>
                    <td class="btns-group nowrap">
                        <!-- <div class="d-flex align-items-center">
                            <div> -->
                            <a v-if="completed.is_reviewed===0" :id="completed.id" class="review-btn btn" @click="writeReview(completed)">{{$t('message.REVIEW')}}</a>
                            <!-- </div>
                            <div class="mr-10"> -->
                                <a class="deal-btn btn" @click="onNewDeal(completed.hotel.hotel_name,completed.hotel.id,completed.hotel)">{{$t('message.NEW_DEAL')}}</a>
                            <!-- </div>
                            <div> -->
                                <!-- <a @click="binBooking(completed.id, index)" > -->
                                    <!-- <img src="../../../assets/img/delete-icon-2.png" title="Bin Booking"> -->
                                <!-- </a> -->
                            <!-- </div>
                        </div> -->
                       
                       
                       
                    </td>
    	        </tr>
                <tr v-if="completedData.length==0" class="row1" >
                    <td colspan="9">{{$t('message.NO_DATA_FOUND')}}</td>
                </tr>
            
            </tbody>
        </table>
        <write-review
            v-if="showModal"
            :data="reviewData"
            @close="onClose"
        ></write-review>
        <view-stay
            v-if="showViewModal"
            :data="reviewData"
            :type="type"
            :reviewBtn="reviewBtn"
            @close="onClose"
        ></view-stay>
    </div>
  </div>
</div>
<div class="mob-view data-book">
    <h4>Completed</h4>
    <div class="card">
                    <ul class="d-flex flex-wrap align-items-start justify-content-between">
                        <li>
                            <label>Booking Id</label>
                            <p class="b-id">39874</p>
                        </li>
                        <li>
                            <label>Hotel Name</label>
                            <p>Résidence Côté Plage</p>
                        </li>
                        <li>
                            <label>Location</label>
                            <p>Pinarello 20144 Pinarello</p>
                        </li>
                        <li>
                            <label>Check-in</label>
                            <p>21.07.2020</p>
                        </li>
                        <li>
                            <label>Booking Date</label>
                            <p>20.07.2020</p>
                        </li>
                        <li>
                            <label>Check-out</label>
                            <p>21.07.2020</p>
                        </li>
                        <li>
                            <label>Total Price</label>
                            <p>EUR 600.00</p>
                        </li>
                        <li>
                            <label>Your Deal</label>
                            <p>EUR 570.00</p>
                        </li>
                    </ul>
                    <div class="btn-group">
                        <a href="#" class="review-btn btn" data-toggle="modal" data-target="#review-modal">Review</a>
                        <a href="#" class="deal-btn  btn">New Deal</a>
                    </div>
                </div>
</div>
</div>

</template>

<script>

import writeReview from './WriteReview.vue'
import viewStay from './View.vue'
import { Constants } from '@/config/constants.js'

export default {

	props:['usetype','domain'],

    data() { 
    	return {
            wb_domain:this.domain,
            reviewData:'',
            showModal:false,
            showViewModal:false,
            type:'Completed',
            reviewBtn:2,
            searchData:{
                check_in:moment().format('YYYY-MM-DD'),
                check_out:moment().add(1,"days").format('YYYY-MM-DD'),
                rooms:[2],
            }
    	}  
    },

    components: {
        writeReview,
        viewStay
    },

    mounted: function () {
        this.$nextTick(function () {
        })
    },

    computed: {

        hotel_url:function(){
            return this.$store.getters.domainDetails.hotel_url;
        },

        data:function(){
            var bookingHistory = this.$store.getters.bookingHistory;            
            if( Object.keys(bookingHistory) == 0){
                return null
            } else {
                return bookingHistory.completedData;
            }
        },
        
        completedData: function () {
            var type = this.usetype?2:1;
            var types = this.data.filter(function(item){
                if(item.use_type==type){
                    return item;
                }
            })
            return types
        }
    },

    methods: {

        writeReview(data){
            this.reviewData = data;
            this.showModal = true;
        },

        viewStay(data){
            this.reviewData = data;
            this.showViewModal = true;
        },

        onClose(comment,bookingId) {
            if(comment==='hideReview'){
                $("#"+bookingId).hide();
            }
            this.showModal =  false;
            this.showViewModal = false;
           
        },


        onNewDeal(location,hotelId,hotel){
            
            /*if(hotel.service_applied == '0'){
                this.searchData.check_in_time = '05:30'
                this.searchData.use_type = '1'
                this.searchData.checkin = moment().format('YYYY-MM-DD');
                this.searchData.checkout = moment().format('YYYY-MM-DD');
            } else {
                this.searchData.use_type = '2'
            }
            var protocol = location.protocol == 'http:' ? 'http://' : 'https://';
            var param = $.param( this.searchData );
            if(hotel.service_applied == '0'){
                var url = Constants.httpProtocol+hotel.whitebrand.hotel_url + '.' + Constants.hostName+'/day-use-search-hotel?'+param;
            }
            else{
                var url = Constants.httpProtocol+hotel.whitebrand.hotel_url + '.' + Constants.hostName+'/night-use-search-hotel?'+param;
            }*/
            var url = Constants.httpProtocol+hotel.whitebrand.hotel_url + '.' + Constants.hostName;
            window.location.href = url;
        },

        binBooking( id, index ){
            var vm = this;
            var data = vm.completedData;
            this.$axios.get('/bin-booking/'+id )
            .then((response) => {
                    vm.data.splice(index, 1);
                    vm.$refs.completedData = vm.data;
            })
        },

    },

    filters:{ 

        dateFormat: function (inputDate) {
            var dateArr = inputDate.split("-");
             return moment(inputDate).format('DD.MM.YYYY');
        }
    },

    watch: {
        completedData : function (val) {
              return val;
            },
    },

}
</script>