<template>
 <section id="main-wrap-panel" class="main-wrap-panel">
  <section class="couponlist">
    <div class="card desk-view">
      <h2>{{$t('message.MY_COUPONS')}}</h2>
      <div class="coupon-list booking-list b-list" v-if="data.length !== 0">
        <div class="table-responsive">
          <table cellspacing="0" cellpadding="0">
            <thead>
              <tr>
                <th>Coupon Id</th>
                <th>Hotel Name</th>
                <th>Location</th>
                <th>Validity</th>
                <th>Value</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="coupon in data">
               <hotel-img
               :hotel = "coupon.hotel"
               :typeimg="type"
               ></hotel-img>
               <td>{{coupon.coupon_code}}</td>
               <td class="h-name">{{coupon.hotel.hotel_name}}</td>
               <td class="h-location">{{coupon.hotel.address?coupon.hotel.address:''}}, {{coupon.hotel.postal_code}}</td>
               <td class="validity no-wrap">{{$t('message.VALID_TO')}} {{coupon.offer_details[0].valid_to |dateFormat}}</td>
               <td class="value no-wrap">{{coupon.coupon_description}}</td>
               <td class="btns-group nowrap">
                <a href="#" class="deal-btn btn">Use It</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div v-if="data.length == 0" class="error-container">       
      <div class="bg-white text-center py-4">
        <h2>{{$t('message.NO_COUPON')}}</h2> 
      </div>      
    </div>
  </div>
</section>
</section>
</template>
<script>	
  import hotelImg from './Img.vue'

  export default {

    data() { 
    	return {
        data:'',
        type:'coupon'
      }  
    },

    props:{
      loggedUser:{
        type:Object,
        required:true
      }
    },

    components: {
      hotelImg
    },

    mounted: function () {
      this.$nextTick(function () {
        var vm =this;
        this.$axios.get('/coupon-listing?user_id=' + this.loggedUser.id)
        .then((response) => {
          vm.data = response.data.data.data;
        })
      })
    },

    computed: {
      url() {

      }
    },

    methods: {
    	
    },


    filters:{ 

      dateFormat: function (inputDate) {
        return moment(inputDate).format('DD.MM.YYYY');
      }
    }

  }
</script>

