<template>
<section id="main-wrap-panel" class="main-wrap-panel">
    <section class="savedCard">
            <div class="card ">
                <h2 class="desk-view">{{$t('message.MY_CREDIT_CARD')}}</h2>

                <div v-if="msg" class="alert alert-success" id="sms-alert">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <span>{{ $t('message.CARD_DELETE')}}</span>
            </div>

                <ul class="list-unstyled" >
                    <li v-for="card in creditCard">
                        <figure v-if="card.card_type == 'AMEX'">
                            <img src="~/assets/img/card1.png" alt=""/>
                        </figure>
                        <figure v-if="card.card_type == 'VISA'">
                            <img src="~/assets/img/card2.png" alt=""/>
                        </figure>
                        <figure v-if="card.card_type == 'MasterCard'">
                            <img src="~/assets/img/card3.png" alt=""/>
                        </figure>
                        <div class="card-name">
                            <p>{{card.card_holder_name}}</p>
                            <div class="card-detail">
                                <span>{{card.card_number}}</span>
                                <span>{{card.expiry_month}}/{{card.expiry_year}}</span>
                            </div>
                        </div>
                        <a  @click="deleteCreditCard(card.id)" class="del-card">
                        <img class="del-card" src="~/assets/img/trash-simple.svg" alt=""/>
                    </a>
                    </li>
                </ul>
                 <div v-if="flag" class="error-container">       
                    <div class="bg-white text-center py-4">
                        <h2>{{$t('message.NO_CREDIT_CARD')}}</h2> 
                    </div>   
                </div>
                <div class="credit-cardBtn-wrap">
                    <button type="button" class="btn d-inline-block add_card_btn cursor-pointer">Add a new card</button>
                </div>
            </div>
        </section>

   
</section>
</template>

<script>	

import { HotelDetails } from '@/mixins/hotel-details.js';

export default {

    mixins: [ HotelDetails ],

    data() { 
    	return {
            creditCard:'',
            flag:false,
            id:'',
            msg:false
    	}  
    },

    mounted: function () {
        this.$nextTick(function () {
            this.myCreditCard();
        })
    },

    methods: {
        
        deleteCreditCard(id){
            this.id = id;
            var vm = this;
            this.$axios.get('/delete-card/'+id )
            .then((response) => {
                vm.msg = true;
                vm.myCreditCard();
            })
        },
        
        myCreditCard() {
            var vm =this;
            let cardAPI = '/' + this.language + '/my-cards'
            this.$axios.get(cardAPI)
            .then((response) => {
                //  $("#sms-alert").fadeTo(5000, 500).slideUp(500, function(){
                //    $("#sms-alert").slideUp(500);
                // });
                vm.creditCard = response.data.data;
                if(vm.creditCard != undefined && Object.keys(vm.creditCard).length){
                    vm.flag = false;
                }else{
                    vm.flag = true;
                }
            })
        }

    }
           

}
</script>