<template>
	<div class="col-md-9 col-sm-9 col-xs-12">
        <div class="profile-right">
            <div class="profile-right-heading">
                <h1>{{$t('message.PERSONAL_INFO')}}</h1>
                <ul class="list-inline">
                    <li>
                        <a href="#" @click="changePassword">
                            <!-- <img src="../../../assets/img/pass-icon-round.png" alt="" title=""/> -->
                            <!--<h3>{{$t('message.CHANGEPASSWORD')}}</h3>-->
                            <h3>{{$t('message.PASSWORD')}}</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#" @click="editProfile">
                            <!-- <img src="../../../assets/img/edit-icon.png" alt="" title=""/> -->
                            <h3>{{$t('message.EDIT')}}</h3>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="user-information">
                <ul class="list-inline">
                <li class="profile_info">
    <div class="title-name">
        <span>{{$t('admin.TITLE')}}</span>
        <h2>
            <!-- <img src="../../../assets/img/user-icon.png" alt="" title=""/> -->
            <p v-if="loggedUser.title=='MR'" style="margin-bottom: 0px;">{{$t('message.MR')}}</p>
            <p v-if="loggedUser.title=='MRS'" style="margin-bottom: 0px;">{{$t('message.MRS')}}</p>
            <p v-if="loggedUser.title=='MS'" style="margin-bottom: 0px;">{{$t('message.MS')}}</p>
            <p v-if="loggedUser.title=='DR'" style="margin-bottom: 0px;">{{$t('message.DR')}}</p>
            <p v-if="loggedUser.title=='PROF'" style="margin-bottom: 0px;">{{$t('message.PROF')}}</p>
        </h2>
    </div>
    <div class="first_name">
        <span>{{$t('message.FIRST_NAME')}}</span>
        <h2>
            {{ loggedUser.first_name }}
        </h2>
    </div>
</li>
                    <li>
                        <span>{{$t('message.LAST_NAME')}}</span>
                        <h2>
                            <!-- <img src="../../../assets/img/user-icon.png" alt="" title=""/> -->
                            {{ loggedUser.last_name }}
                        </h2>
                    </li>
                    <li>
                        <span>{{$t('message.DATE_OF_BIRTH')}}</span>
                        <h2>
                        <!-- <img src="../../../assets/img/dob-icon.png" alt="" title=""/> -->
                        {{ loggedUser.birthday? loggedUser.birthday :'N/A' }}
                        </h2>
                    </li>
                     <li>
                        <span>{{$t('message.COUNTRY')}}</span>
                        <h2>
                            <!-- <img src="../../../assets/img/country-icon.png" alt="" title=""/> -->
                            {{ loggedUser.country ? loggedUser.country.name : '' }}
                        </h2>
                    </li>
                    <li>
                        <span>{{$t('message.EMAIL_ID')}}</span>
                        <h2>
                            <!-- <img src="../../../assets/img/email-icon.png" alt="" title=""/>  -->
                            {{ loggedUser.email }}
                        </h2>
                    </li>
                    
                   

                     <li>
                        <span>{{$t('message.MOBILE_NUMBER')}}</span>
                        <h2>
                            <!-- <img src="../../../assets/img/mobile-icon.png" alt="" title=""/> -->
                            {{ loggedUser.contact_number? '+'+loggedUser.country.phone_code+' '+ loggedUser.contact_number:'N/A' }}
                        </h2>
                    </li>
                   
                    <li>
                        <span>{{$t('message.ADDRESS')}}</span>
                        <h2>
                            <!-- <img src="../../../assets/img/address-icon.png" alt="" title=""/> -->
                            {{ loggedUser.address?loggedUser.address:'N/A' }}
                        </h2>
                    </li>
                    
                    
                    <li>
                        <span>{{$t('message.CITY')}}</span>
                        <h2>
                            <!-- <img src="../../../assets/img/city-icon.png" alt="" title=""/> -->
                            {{ loggedUser.city_name?loggedUser.city_name:'N/A' }}
                        </h2>
                    </li>

                    <li>
                        <span>{{$t('message.ZIP')}}</span>
                        <h2>
                            <!-- <img src="../../../assets/img/pincode-icon.png" alt="" title=""/> -->
                            {{ loggedUser.zip? loggedUser.zip :'N/A' }}
                        </h2>
                    </li>
                </ul>
                <div v-if="loggedUser.user_role == 'User'"><span>{{ $t('message.SAVE_CREDIT_CARD')}}</span>&nbsp;:&nbsp;<span>{{loggedUser.is_save_card_data == 1 ? $t('message.YES') : $t('message.NO')}}</span></div>
                <div v-if="loggedUser.user_role == 'User'"><span>{{ $t('message.MARKETING_TERM')}}</span>&nbsp;:&nbsp;<span>{{loggedUser.userconsent.marketing_promotion == 1 ? $t('message.YES') : $t('message.NO')}}</span></div>
            </div>
            <profile
                v-if="showModal"
                :data="countries"
                @close="onClose"
                @update="onUpdated"
            ></profile>

            <change-password
                v-if="showPasswordModal"
                :user="loggedUser"
                @close="showPasswordModal = false"
                @update="showPasswordModal = false"
            ></change-password>

        </div>           
    </div>
</template>
<script>

import profile from './Profile.vue' 
import changePassword from './ChangePassword.vue'
import { HotelDetails } from '@/mixins/hotel-details.js';

export default {

    mixins: [HotelDetails],

    data() { 
    	return {
    		showModal: false,
            showPasswordModal: false,
            countries:[],
    	}  
    },

    components: {
        profile,
        changePassword
    },

    computed: {
        url() {

        },

        loggedUser:function(){
            return this.$store.getters.userDetail;
        },
    },

    created() {
        console.log(this.config)
        this.$axios.get('/'+this.language+'/countries')
            .then((response) => {
                this.countries = response.data.data;
            })    
    },

     mounted() {
            this.$nextTick(function () {
                this.showModal = true;
            }); 
        },

    methods: {

    	editProfile(){
            this.showModal = true;           

        },

        changePassword(){
            this.showPasswordModal = true;
        },

        onUpdated(ResponseData){
            //    window.location = '/profile';
               this.showModal =  false;
            },


        onClose() {
            this.showModal =  false;
           
        },

    },

}
</script>