<template>
    <div :class="typeimg=='review'?'hotel-review-image':'coupon-image'" :style="url">               
    </div>
</template> 
<script>  
import { Constants } from '@/config/constants.js'
export default {

    props: ['hotel','typeimg'],

    data() {
        return {
        };
    },

    methods: {

    },  

    computed: {
        url(){
            var url = 'background:url('

            if (this.hotel) {
                url += Constants.filePath +'/uploads/' +this.hotel.primary_image
            }
            
            url += ') bottom center / cover;'

            return url
        }
    }
};  
</script>