<template>
    <section id="main-wrap-panel" class="main-wrap-panel">
        <div class="profile_wrap">
            <a href="#" class="hamburger_icon_2">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <div class="profile-title">
                <figure>
                    <img :src="useImgUrl" alt="" />
                    <a href="#" class="edit_pic">
                        <img src="~/assets/img/edit_icon.svg"/>
                        <input type="file" name="picture" v-validate="'mimes:image/*|dimensions:200,200'" v-on:change="onFileChange" class="form-control upload attachment_upload"  id="logo-id" aria-hidden="true">
                    </a>
                    
                </figure>
                <div class="profile_name">
                    <h2>{{registerData.first_name}} {{registerData.last_name}}</h2>
                    <p>Member Since {{registerData.created_at | memeberSince}}</p>
                </div>
            </div>
        </div>
        <section class="profile">            
            <div class="personal_information card blocked-label">
                <h3>Personal Information</h3>
                <form id="update-profile" @submit.prevent="update(registerData)" data-vv-scope="registerData">
                    <div class="w-46 d-flex flex-wrap justify-content-md-between">
                        <div class="form-group">
                            <label for="f_name" class="form-label">{{$t('message.FIRST_NAME')}} *</label>
                            <input type="text" v-validate="'required|regex:^([^0-9]+)$'" v-model="registerData.first_name" name="first_name" maxlength="30"  class="form-control fname" id="" >                       
                        </div>
                        <div class="form-group">
                            <label for="l_name" class="form-label">{{$t('message.LAST_NAME')}} *</label>
                            <input type="text" v-validate="'required|regex:^([^0-9]+)$'" v-model="registerData.last_name" name="last_name" maxlength="30" class="form-control" id="" >                   
                        </div>
                    </div>
                    <div class="w-46 d-flex flex-wrap justify-content-md-between">
                        <div class="form-group">
                            <label>Date of Birth (day,month,year)</label>
                            <date-picker class="" @change="dob" data-vv-name="registerData.birthday" v-validate="'date_format:{DD-MM-YYYY}'" :date="birthday" :option="option" :limit="limit"></date-picker>
                            <div class="dob_field">

                                <!-- <input type="text" name="day" value="01"/>
                                <input type="text" name="month" value="01"/>
                                <input type="text" name="year" value="1990"/> -->
                            </div>
                            <p class="text-danger" v-if="errors.has('registerData.birthday')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                        </div>
                        <div class="form-group">
                            <div class="autocomplete w-100">
                                <label for="country" class="form-label">{{ $t('message.SELECT_COUNTRY') }} *</label>
                                <select id="" class="form-control country_id" name="country_id" v-model="registerData.country_id" v-validate="'required'"  @change="cityDropdown">
                                   <!--  <option value="">
                                    </option> -->
                                     <option v-for="option in countries" v-bind:value="option.country_id">
                                        {{ option.name }}
                                    </option>
                                   
                                </select>                            
                            </div>
                        </div>
                    </div>
                    <div class="w-46 d-flex flex-wrap justify-content-md-between">
                        <div class="form-group">
                            <label for="email" class="form-label">Email *</label>
                            <input type="email" v-validate="'required|regex:^([^0-9]+)$'" v-model="registerData.email" name="email" maxlength="30" class="form-control" id="" >                        
                        </div>
                        <div class="form-group">
                            <label for="mob_number" class="form-label">{{$t('message.MOBILE_NUMBER')}} *</label>
                            <div class="mobile_det">
                                <div class="autocomplete">
                                    <span> + </span> <input type="text" v-validate="'required|regex:^([^0-9]+)$'" v-model="registerData.country.phone_code" name="phone_code" maxlength="30" class="form-control" id="" >
                                </div>
                                <input type="text" @blur="checkNumber()" v-model="registerData.contact_number" name="contact_number" v-validate="'required|numeric|min:4|max:15'" class="form-control mnumber" id="" maxlength="15">
                            </div>                                                    
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="form-label">{{$t('message.ADDRESS')}} *</label>
                        <textarea class="form-control" name="address" v-model="registerData.address" v-validate="'required'">{{registerData.address}}</textarea>
                        <!-- <input type="text" name="address"  id="address" value="c/o Ecole Hoteliere de Lausane Route de Cojonnex 18">                         -->
                    </div>
                    <div class="w-46 d-flex flex-wrap justify-content-md-between">
                        <div class="form-group">
                            <label for="zip_code" class="form-label">{{$t('message.ZIP')}} *</label>
                            <input type="text" name="zip" v-validate="'required|alpha_num'" v-model="registerData.zip" class="form-control" id="">                       
                        </div>
                        <div class="form-group">
                            <label for="city" class="form-label">{{$t('message.CITY')}} *</label>
                            <input type="text" name="city_name" v-validate="'required|regex:^([^0-9]+)$'" v-model="registerData.city_name" class="form-control" id="">                 
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="submit" class="btn updateinfo_btn">Update Information</button>
                        <button type="button" class="btn changepass_btn" @click="changePassword">Change Password</button>
                    </div>
                </form>

            </div>
        </section>
        <change-password
                v-if="showPasswordModal"
                :user="loggedUser"
                @close="showPasswordModal = false"
                @update="showPasswordModal = false"
            ></change-password>
    </section>
</template>

<script>


import DatePicker from 'vue-datepicker'
import { Constants } from '@/config/constants.js'
import { HotelDetails } from '@/mixins/hotel-details.js';
import changePassword from './ChangePassword.vue'

    export default {
        mixins: [HotelDetails],

        components: {
            'date-picker':DatePicker,
            changePassword
        },

         props:['data'],

        data() { 
            return {
                cities:{}, 
                registerData:'',                 
                birthday: {
                    time: ''
                },
                genders:[{
                    'value': 'Male',
                    'name': 'Mr'
                    },{
                    'value': 'Female',
                    'name': 'Mrs'
                    }
                ],

                limit: [{
                    type:'fromto',
                    from:'',
                    to:''
                }],
                startTime: {
                    time: ''
                },
                endtime: {
                    time: ''
                },
                option: {
                    type: 'day',
                    week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
                    month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    format: 'YYYY-MM-DD',
                    placeholder: this.$t('message.DATE_OF_BIRTH'),
                    inputStyle: {
                        'display': 'inline-block',
                        'padding': '6px',
                        'line-height': '22px',
                        'font-size': '16px',
                        'border': '2px solid #fff',
                        'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
                        'border-radius': '2px',
                        'color': '#5F5F5F'
                    },
                    color: {
                        header: '#ccc',
                        headerText: '#f00'
                    },
                    buttons: {
                        ok: 'Ok',
                        cancel: 'Cancel'
                    },
                    overlayOpacity: 0.5, // 0.5 as default
                    dismissible: true // as true as default
              },
              timeoption: {
                type: 'min',
                week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
                month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                format: 'YYYY-MM-DD'
              },
              is_pic_upload:false,
              countries:[],
              showPasswordModal: false,
            }
        },

        computed: {
            url() {
                 var img = 'background:url('
                if (this.user.picture) {
                    img += Constants.filePath + '/uploads/' + this.user.picture;
                }else {
                    img += Constants.filePath + '/images/user.png'
                    //   'uploads/profile/user.png'
                }
                 img += ') 100%/cover;"';
                return img;
            },
            useImgUrl() {
                 var img = ''
                if (this.user.picture) {
                    img += Constants.filePath + '/uploads/' + this.user.picture;
                }else {
                    img += Constants.filePath + '/images/user.png'
                    
                }
                 
                return img;
            },

            user:function(){
                return this.$store.getters.userDetail;
            },
            loggedUser:function(){
            return this.$store.getters.userDetail;
        }
        // reloadCheck(){
        //     var rCount = this.$store.getters.reloadCount;
        //     if(!rCount){
        //         this.$store.commit('reloadCount',1);
        //         window.location.reload();
        //     }
        // },
            
        },

        created(){
            this.$axios.get('/'+this.language+'/countries')
            .then((response) => {
                this.countries = response.data.data;
            }) ;

            this.registerData = JSON.parse(JSON.stringify(this.user));
           
            this.registerData.term_condition = this.user.userconsent ?  this.user.userconsent.term_condition : '0';
            this.registerData.marketing_promotion = this.user.userconsent ?  this.user.userconsent.marketing_promotion : '';
            this.registerData.created_at = this.user.userconsent ?  this.user.userconsent.created_at : '';
            this.registerData.country.phone_code = this.user.userconsent ? this.user.userconsent.country_phone_code : '0';
            


        },

        mounted: function () {
            this.$nextTick(function () {
                $(".country_id").addClass('option');  
                $('#registermodal').modal('show');
                // delete this.registerData.birthday;
                this.registerData.city_id = this.user.city_id?this.user.city_id:'';
                // this.cities = this.cityList
                this.birthday.time = this.user.birthday !== null?this.user.birthday:'';
                this.limit[0].to = moment().subtract(18, "years").format('YYYY-MM-DD');
                this.cityDropdown();
            }); 

        },

        methods: { 

            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },

            createImage(file) {
                this.is_pic_upload = true;
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                      $('#profileImg').html('<img src="'+ e.target.result +'" style="background-size:cover;""></div>');
                    vm.registerData.picture = e.target.result;
                    vm.registerData["picture"] = e.target.result;
                };
                reader.readAsDataURL(file);
            },

            update(scope) {
                if(!this.is_pic_upload){
                    delete this.registerData["picture"];
                }
                this.$validator.validateAll('registerData');
                if (this.errors.any('registerData')) {
                    return false;
                }
                var form = document.getElementById('update-profile');
                var formData = new FormData(form);

                this.$axios.post('/profile/update', this.registerData)
                .then((response) => {
                    this.closeModal();
                    this.$store.commit('setUserDetail' , response.data.data);
                    // this.$parent.loggedUser = response.data;
                    // this.$toastr.s(this.$t('message.PROFILE_UPDATED_SUCCESSFULLY')); 
                    $('#registermodal').modal('hide');
                    this.$emit('update', response.data);
                })
                .catch((error) => {
                    var laravelError = error.response.data;
                    if(_.isPlainObject(laravelError)){
                        for(var i in laravelError){
                            if(Array.isArray(laravelError[i])){
                                this.errors.add(i,laravelError[i][0],'required','registerData');
                            }else{
                                this.errors.add(i,laravelError[i],'required','registerData');

                            }
                        }
                    }
                })
            },

            closeModal(){              
                $('#registermodal').modal('hide');
                this.$emit('close');
            },

            cityDropdown(){  
                $(".country_id").addClass('option');
                this.countries.find((element)=> {

                    if (element.country_id == this.registerData.country_id){
                        this.registerData.country.phone_code = element.phone_code;
                    }
                })
                this.$axios.get('/'+this.language+'/cities?country_id='+this.registerData.country_id)
                .then((response) => {
                    console.log();
                    if(response.data.data.message == undefined){
                        this.cities = response.data.data;
                    }else {
                        this.cities={};
                    }
                })
            },

            dob(dateofbirth){ 
                this.registerData.birthday = dateofbirth;
                if(moment().diff(moment(dateofbirth, 'YYYY-MM-DD'), 'years') >=18){
                    this.errors.remove('birthday','registerData');
                }else{
                    this.errors.add('birthday','The birthday must be a date before -18 years.','required','registerData');
                }
            },

            checkNumber(){
                
                let contact_number = this.registerData.country.phone_code + this.registerData.contact_number;
                this.$axios.get('/verify-number'+contact_number)
                .then((response) => {
                  if(response.data.data.valid == false){
                  this.errors.add('contact_number',this.$t('message.INVAID_PHONE'),'required','registerData');
                 }else{
                  this.errors.remove('contact_number','registerData');
                }
                })
            },
            changePassword(){
            this.showPasswordModal = true;
        },
            


        },
        filters :{
            memeberSince(memberDate){
                var d = new Date(memberDate);
                var month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                return month[d.getMonth()]+' '+d.getFullYear();
            },
            
        }
    }

</script>
<style>
    #registermodal .modal-content .modal-body .form-group select.option {
        color: #555 !important;
    }
    .text-danger{
        z-index: 500 !important;
    }
</style>
