<template>
	<div class="modal fade registration profile-update" id="registermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" @click="closeModal"><span aria-hidden="true">&times;</span></button>
                    <!-- <img src="../../../assets/img/login-img.png" alt="" title=""/> -->
                </div>
                <div class="modal-body">
                    <form id="update-profile" @submit.prevent="update(registerData)" data-vv-scope="registerData">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group ">

                                <span class="gender" style="width: 40px;">
                                    <label>
                                    <select class="form-control country_id" v-model="registerData.title">
                                    <option value="MR" v-if="registerData.title=='MR'" selected="selected">{{$t('message.MR') }}</option>
                                    <option value="MR" v-else>{{$t('message.MR') }}</option>
                                    <option value="MRS" v-if="registerData.title=='MRS'" selected="selected">{{ $t('message.MRS') }}</option>
                                    <option value="MRS" v-else>{{ $t('message.MRS') }}</option>
                                    <option value="MS" v-if="registerData.title=='MS'" selected="selected">{{ $t('message.MS') }}</option>
                                    <option value="MS" v-else>{{ $t('message.MS') }}</option>
                                    <option value="DR" v-if="registerData.title=='DR'" selected="selected">{{ $t('message.DR') }}</option>
                                    <option value="DR" v-else>{{ $t('message.DR') }}</option>
                                    <option value="PROF" v-if="registerData.title=='PROF'" selected="selected">{{ $t('message.PROF') }}</option>
                                    <option value="PROF" v-else>{{ $t('message.PROF') }}</option>
                                    </select>
                                    </label>
                                </span>
                                <input type="text" v-validate="'required|regex:^([^0-9]+)$'" v-model="registerData.first_name" name="first_name" maxlength="30"  class="form-control fname" id="" :placeholder="$t('message.FIRST_NAME')+'*'" >
                                
                                <p class="text-danger" v-if="errors.has('registerData.first_name')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                                <!-- <img src="../../../assets/img/user-icon.png" alt="" title=""/> -->
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <input type="text" v-validate="'required|regex:^([^0-9]+)$'" v-model="registerData.last_name" name="last_name" maxlength="30" class="form-control" id="" :placeholder="$t('message.LAST_NAME')+'*'">
                                <p class="text-danger" v-if="errors.has('registerData.last_name')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                                <!-- <img src="../../../assets/img/user-icon.png" alt="" title=""/> -->
                            </div>
                        </div>
                      
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">                
                                
                                <date-picker class="" @change="dob" data-vv-name="registerData.birthday" v-validate="'date_format:{YYYY-MM-DD}'" :date="birthday" :option="option" :limit="limit"></date-picker>
                                <p class="text-danger" v-if="errors.has('registerData.birthday')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                                <!-- <img src="../../../assets/img/dob-icon.png" alt="" title=""/> -->
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label>
                                <select id="" class="form-control country_id" name="country_id" v-model="registerData.country_id" v-validate="'required'"  @change="cityDropdown">
                                    <option value="">{{ $t('message.SELECT_COUNTRY') }}*
                                    </option>
                                     <option v-for="option in data" v-bind:value="option.country_id">
                                        {{ option.name }}
                                    </option>
                                   
                                </select>
                                </label>
                                <p class="text-danger" v-if="errors.has('registerData.country_id')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                                <!-- <img src="../../../assets/img/country-icon.png" alt="" title=""/> -->
                            </div>
                        </div>

                        <div class="profile-image row clearfix">
                            <div class="col-md-12">
                                <div id="profileImg" class="user-profile-image-box" :style="url">
                                    <!-- <img id="profileImg" :src="url" class="img-responsive" alt="" title="">  -->
                                </div>
                                <p class="help-text">{{ $t('message.IMAGE_DESC') }}</p>
                            </div>
                        </div>



                        <div class="col-md-6 col-xs-12">
                            <div class="form-group image-upload">
                                <div class="input-group-btn">
                                    <div class="fileUpload btn btn-danger fake-shadow">
                                        <span><i class="fa fa-arrow-up" aria-hidden="true"></i>{{$t('message.UPLOAD_IMAGE')}}</span>
                                        <input type="file" name="picture" v-validate="'mimes:image/*|dimensions:200,200'" v-on:change="onFileChange" class="form-control upload attachment_upload"  id="logo-id" :placeholder="$t('message.UPLOAD_IMAGE')">
                                    </div>
                                </div>
                                
                                <!-- <img src="img/mobile-icon.png" alt="" title=""/> -->
                                <p class="text-danger" v-if="errors.has('registerData.picture')">{{ errors.first('registerData.picture') }}</p>
                                
                                <!-- <img src="img/user-icon.png" alt="" title=""/> -->
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">

                                <span class="country-code">
                                   <label>+{{ registerData.country.phone_code }}</label>
                                </span>

                                <input type="text" @blur="checkNumber()" v-model="registerData.contact_number" name="contact_number" v-validate="'required|numeric|min:4|max:15'" class="form-control mnumber" id="" maxlength="15" :placeholder="$t('message.MOBILE_NUMBER')+'*'">
                                <p class="text-danger" v-if="errors.has('registerData.contact_number')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                                <!-- <img src="../../../assets/img/mobile-icon.png" alt="" title=""/> -->
                            </div>
                        </div>


                        <div class="col-md-12  col-xs-12">
                            <div class="form-group">
                                <textarea class="form-control" name="address" v-model="registerData.address" v-validate="'required'" :placeholder="$t('message.ADDRESS')+'*'">{{registerData.address}}</textarea>

                                <p class="text-danger" v-if="errors.has('registerData.address')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                                <!-- <img src="../../../assets/img/address-icon.png" alt="" title=""/> -->
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <input type="text" name="zip" v-validate="'required|alpha_num'" v-model="registerData.zip" class="form-control" id="" :placeholder="$t('message.ZIP')+'*'">
                                <p class="text-danger" v-if="errors.has('registerData.zip')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                                <!-- <img src="../../../assets/img/pincode-icon.png" alt="" title=""/> -->
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <!-- <label>
                                <select id="" class="form-control" name="city_id" v-model="registerData.city_id"  v-validate="'required'" >
                                    <option selected value="">{{ $t('message.SELECT_CITY') }}*
                                    </option>
                                     <option v-for="(value,key) in cities" :value="key" >
                                        {{ value }}
                                    </option>  
                                </select>
                                </label> -->
                                <div class="form-group">
                                <input type="text" name="city_name" v-validate="'required|regex:^([^0-9]+)$'" v-model="registerData.city_name" class="form-control" id="" :placeholder="$t('message.CITY')+'*'">
                                <p class="text-danger" v-if="errors.has('registerData.city_name')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                                <!-- <img src="../../../assets/img/city-icon.png" alt="" title=""/> -->
                            </div>
                            </div>
                        </div>
                        <div  v-if="registerData.user_role == 'User'" class="col-md-12 col-xs-12">
                            <div class="form-group mb0">
                                <div class="register-checkbox mb0 d-flex">
                                      <div><input type="checkbox" true-value="1" false-value="0" name="is_save_card_data" id="box-40" v-model="registerData.is_save_card_data"></div>
                                      <div><label for="box-40"> <span>{{ $t('message.SAVE_CREDIT_CARD')}}.</span></label></div>
                                      
                                </div>
                                <p class="text-danger" v-if="errors.has('registerData.is_save_card_data')"></p>
                            </div>
                        </div>
                        <div v-if="registerData.user_role == 'User'" class="col-md-12 col-xs-12">
                            <div class="form-group mb0">
                                <div class="register-checkbox mt0 d-flex">
                                      <div><input type="checkbox" name="marketing_promotion" id="box-33" v-model="registerData.marketing_promotion" true-value="1" false-value="0"  ></div>
                                      <div><label for="box-33"><span>{{ $t('message.MARKETING_TERM')}}</span></label></div>
                                </div>
                                <p class="text-danger" v-if="errors.has('registerData.marketing_promotion')"></p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-registration">{{$t('message.UPDATE_')}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>


// import DatePicker from 'vue-datepicker'
import { Constants } from '@/config/constants.js'
import { HotelDetails } from '@/mixins/hotel-details.js';

    export default {
        mixins: [HotelDetails],

        components: {
            // 'date-picker':DatePicker
        },

         props:['data'],

        data() { 
            return {
                cities:{}, 
                registerData:'',                 
                birthday: {
                    time: ''
                },
                genders:[{
                    'value': 'Male',
                    'name': 'Mr'
                    },{
                    'value': 'Female',
                    'name': 'Mrs'
                    }
                ],

                limit: [{
                    type:'fromto',
                    from:'',
                    to:''
                }],
                startTime: {
                    time: ''
                },
                endtime: {
                    time: ''
                },
                option: {
                    type: 'day',
                    week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
                    month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    format: 'YYYY-MM-DD',
                    placeholder: this.$t('message.DATE_OF_BIRTH'),
                    inputStyle: {
                        'display': 'inline-block',
                        'padding': '6px',
                        'line-height': '22px',
                        'font-size': '16px',
                        'border': '2px solid #fff',
                        'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
                        'border-radius': '2px',
                        'color': '#5F5F5F'
                    },
                    color: {
                        header: '#ccc',
                        headerText: '#f00'
                    },
                    buttons: {
                        ok: 'Ok',
                        cancel: 'Cancel'
                    },
                    overlayOpacity: 0.5, // 0.5 as default
                    dismissible: true // as true as default
              },
              timeoption: {
                type: 'min',
                week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
                month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                format: 'YYYY-MM-DD'
              },
              is_pic_upload:false
            }
        },

        computed: {
            url() {
                 var img = 'background:url('
                if (this.user.picture) {
                    img += Constants.filePath + '/uploads/' + this.user.picture;
                }else {
                    img += Constants.filePath + '/images/user.png'
                    //   'uploads/profile/user.png'
                }
                 img += ') 100%/cover;"';
                return img;
            },

            user:function(){
                return this.$store.getters.userDetail;
            },
        },

        created(){
            this.registerData = JSON.parse(JSON.stringify(this.user));
            this.registerData.term_condition = this.user.userconsent ?  this.user.userconsent.term_condition : '0';
            this.registerData.marketing_promotion = this.user.userconsent ?  this.user.userconsent.marketing_promotion : '';
        },

        mounted: function () {
            this.$nextTick(function () {
                $(".country_id").addClass('option');  
                $('#registermodal').modal('show');
                // delete this.registerData.birthday;
                this.registerData.city_id = this.user.city_id?this.user.city_id:'';
                // this.cities = this.cityList
                this.birthday.time = this.user.birthday !== null?this.user.birthday:'';
                this.limit[0].to = moment().subtract(18, "years").format('YYYY-MM-DD');
                this.cityDropdown();
            }); 

        },

        methods: { 

            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },

            createImage(file) {
                this.is_pic_upload = true;
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                      $('#profileImg').html('<img src="'+ e.target.result +'" style="background-size:cover;""></div>');
                    vm.registerData.picture = e.target.result;
                    vm.registerData["picture"] = e.target.result;
                };
                reader.readAsDataURL(file);
            },

            update(scope) {
                if(!this.is_pic_upload){
                    delete this.registerData["picture"];
                }
                this.$validator.validateAll('registerData');
                if (this.errors.any('registerData')) {
                    return false;
                }
                var form = document.getElementById('update-profile');
                var formData = new FormData(form);

                this.axios.post('/profile/update', this.registerData)
                .then((response) => {
                    this.closeModal();
                    this.$store.commit('setUserDetail' , response.data.data);
                    // this.$parent.loggedUser = response.data;
                    this.$toastr.s(this.$t('message.PROFILE_UPDATED_SUCCESSFULLY')); 
                    $('#registermodal').modal('hide');
                    this.$emit('update', response.data);
                })
                .catch((error) => {
                    var laravelError = error.response.data;
                    if(_.isPlainObject(laravelError)){
                        for(var i in laravelError){
                            if(Array.isArray(laravelError[i])){
                                this.errors.add(i,laravelError[i][0],'required','registerData');
                            }else{
                                this.errors.add(i,laravelError[i],'required','registerData');

                            }
                        }
                    }
                })
            },

            closeModal(){              
                $('#registermodal').modal('hide');
                this.$emit('close');
            },

            cityDropdown(){  
                $(".country_id").addClass('option');
                this.data.find((element)=> {
                    if (element.country_id == this.registerData.country_id){
                        this.registerData.country.phone_code = element.phone_code;
                    }
                })
                this.axios.get('/'+this.language+'/cities?country_id='+this.registerData.country_id)
                .then((response) => {
                    console.log();
                    if(response.data.data.message == undefined){
                        this.cities = response.data.data;
                    }else {
                        this.cities={};
                    }
                })
            },

            dob(dateofbirth){ 
                this.registerData.birthday = dateofbirth;
                if(moment().diff(moment(dateofbirth, 'YYYY-MM-DD'), 'years') >=18){
                    this.errors.remove('birthday','registerData');
                }else{
                    this.errors.add('birthday','The birthday must be a date before -18 years.','required','registerData');
                }
            },

            checkNumber(){
                
                let contact_number = this.registerData.country.phone_code + this.registerData.contact_number;
                this.axios.get('/verify-number'+contact_number)
                .then((response) => {
                  if(response.data.data.valid == false){
                  this.errors.add('contact_number',this.$t('message.INVAID_PHONE'),'required','registerData');
                 }else{
                  this.errors.remove('contact_number','registerData');
                }
                })
            },


        }
    }

</script>
<style>
    #registermodal .modal-content .modal-body .form-group select.option {
        color: #555 !important;
    }
    .text-danger{
        z-index: 500 !important;
    }
</style>