<template>
  <section id="main-wrap-panel" class="main-wrap-panel">
    <section class="reviews-sec">
      <div class="card ">
        <h2 class="desk-view">My Reviews</h2>
        <ul class="list-unstyled">

          <li v-if="Object.keys(data).length > 0"  v-for="review in data">

            <div class="hotel-dets">
              <figure>
                <!-- <img src="~/assets/img/d1.png" class="img-responsive" alt=""/> -->
                <img :src="review.hotel_data.primary_image | hotelImgUrl " class="img-responsive" alt=""/>
              </figure>
              <div class="det">
                <h4>{{review.hotel_data.hotel_name}}</h4>
                <p>{{review.booking.address!=='null'?review.booking.address:''+' '+review.booking.address_line_two!=='null'?review.booking.address_line_two:''}} &nbsp; {{ review.booking.city_name}}</p>
                <div class="check-in-out">
                  <div class="checkin-date">{{review.booking.arrival | dateFormat}}</div>
                  <div class="checkout-date">{{review.booking.departure | dateFormat}}</div>
                </div>
              </div>
            </div>
            <div class="star-point d-flex align-items-center flex-column">
              <star-rating :increment="0.5" :rating="review.rating" :read-only="true" v-bind:show-rating="false" v-bind:star-size="15" ></star-rating>
              <div class="d-flex align-items-center flex-column">
               <label>{{review.rating | fixed}}</label>
               <span>{{review.review_status}}</span>
             </div>
           </div>
           <div class="review-point">
            {{review.comments}}
          </div>
        </li>
      </ul>
      <div v-if="flag" class="error-container">       
        <div class="jumbotron text-center">
          <h2>{{$t('message.NO_REVIEW')}}</h2> 
        </div>      
      </div>
    </div>
  </section>
</section>
</template>
<script>	

  import starRating from 'vue-star-rating'
  import { Constants } from '@/config/constants.js'
  export default {

    data() { 
    	return {
        data:{},
        flag:false,
      }  
    },
    
    components: {
      starRating
    },

    mounted: function () {
      this.$nextTick(function () {
        var vm =this;

        this.$axios.get('/my-reviews')
        .then((response) => {
          vm.data = response.data.data;
          if(vm.data) {
            if(Object.keys(vm.data).length > 0){
              vm.flag = false;
            }else{
              vm.flag = true;
            }
          } else {
            vm.flag = true;
          }

        })
        .catch((error) => {
          vm.flag = true;
        })
      })
    },
    computed : {
      
    },

    filters:{ 

      dateFormat: function (inputDate) {
        var dateArr = inputDate.split("-");
        return moment(inputDate).format('DD.MM.YYYY');
      },
      fixed(rating){
        return parseFloat(rating).toFixed(1);
      },
      hotelImgUrl(image_url) {
          
                 var img = ''
                if (image_url) {
                    img += Constants.filePath + '/uploads/' + image_url;
                }else {
                    img += Constants.filePath + '/images/user.png'
                    
                }
                 
                return img;
            },
    }

  }
</script>