<template>
    <div>
            <div class="desk-view">
                <h2>{{$t('message.MY_BOOKINGS')}}</h2>
                <div class="upcoming-booking booking-list b-list">
                    <h4>Upcoming</h4>
                    <div class="table-responsive">
        <table>
            <thead>
              <tr>
                  <th>{{$t('message.BOOKING_ID')}}</th>
                  <th>{{$t('message.HOTEL_NAME')}} </th>
                  <th>{{$t('message.LOCATION')}}</th>
                  <th>{{$t('message.CHECK_IN')}}</th>
                  <th>{{$t('message.CHECK_OUT')}}</th>
                  <th>{{$t('message.BOOKING_PRICE')}}</th>
                  <th>{{$t('message.TOTAL_PRICE')}}</th>
                  <th>{{$t('message.YOUR_DEAL_')}}</th>
                  <th class="text-center">{{$t('message.ACTIVITY')}}</th>
              </tr>
            </thead> 
            <tbody>
    	        <tr v-if="upcomingData.length>0" v-for="(upcoming, index) in upcomingData" :class="(index+1)%2==1?'row0':'row1'" >
                      <td>{{upcoming.id}}</td>
                      <td class="hotel-name nowrap"><p>{{upcoming.hotel.hotel_name}}</p></td>
                      <td class="w-200 d-inline-block">{{upcoming.hotel.address}} {{ upcoming.hotel.postal_code}} {{upcoming.hotel.city.name}}</td>
                      <td class="nowrap">{{upcoming.arrival | dateFormat}}</td>
                      <td class="nowrap">{{upcoming.departure | dateFormat}}</td>
                      <td class="nowrap">{{upcoming.booking_date | dateFormat}}</td>
                      <td class="nowrap"> {{upcoming.currency_code}} {{parseFloat(upcoming.total_price).toFixed(2)}}</td>
                      <td class="nowrap"> {{upcoming.currency_code}} {{parseFloat(upcoming.client_bidding_price).toFixed(2)}}</td>
                      <td class="btns-group nowrap">
                       <a class="btn deal-btn" @click="onNewDeal(upcoming.hotel.hotel_name,upcoming.hotel.id,upcoming.hotel)">{{$t('message.NEW_DEAL')}}</a>
                      </td>
    	        </tr>
                <tr v-if="upcomingData.length===0" class="row0" >
                  <td colspan="8">{{$t('message.NO_DATA_FOUND')}}</td>
                  
                </tr>
            
            </tbody>
        </table>
          <view-stay
            v-if="showViewModal"
            :data="reviewData"
            :type="type"
            :reviewBtn="reviewBtn"
            @close="onClose"
        ></view-stay>
        </div>
    </div>
  </div>
    <div class="mob-view data-book">
        <h4>Upcoming</h4>
        <div class="card">
                    <ul class="d-flex flex-wrap align-items-start justify-content-between">
                        <li>
                            <label>Booking Id</label>
                            <p class="b-id">39874</p>
                        </li>
                        <li>
                            <label>Hotel Name</label>
                            <p>Résidence Côté Plage</p>
                        </li>
                        <li>
                            <label>Location</label>
                            <p>Pinarello 20144 Pinarello</p>
                        </li>
                        <li>
                            <label>Check-in</label>
                            <p>21.07.2020</p>
                        </li>
                        <li>
                            <label>Booking Date</label>
                            <p>20.07.2020</p>
                        </li>
                        <li>
                            <label>Check-out</label>
                            <p>21.07.2020</p>
                        </li>
                        <li>
                            <label>Total Price</label>
                            <p>EUR 600.00</p>
                        </li>
                        <li>
                            <label>Your Deal</label>
                            <p>EUR 570.00</p>
                        </li>
                    </ul>
                    <div class="btn-group">                       
                        <a href="#" class="deal-btn btn">New Deal</a>
                    </div>
                </div>
    </div>
  </div>

</template>

<script>	

import viewStay from './View.vue'
import { Constants } from '@/config/constants.js'
export default {

	props:['usetype','domain'],

    data() { 
    	return {
            wb_domain:this.domain,
            showViewModal:false,
            type:'Upcoming',
            reviewBtn:1,
            searchData:{
                check_in:moment().format('YYYY-MM-DD'),
                check_out:moment().add(1,"days").format('YYYY-MM-DD'),
                rooms:[2],
            }
    	}  
    },

    components: {
        viewStay
    },

    mounted: function () {
        this.$nextTick(function () {
        })
    },

    computed: {

        hotel_url:function(){
            return this.$store.getters.domainDetails.hotel_url;
        },

        data:function(){
            var bookingHistory = this.$store.getters.bookingHistory;
            if(Object.keys(bookingHistory).length == 0 ){
                return null
            } else {
                return bookingHistory.upcomingData;
            }
        },

        upcomingData: function () {
            var type = this.usetype?2:1;
            var types = this.data.filter(function(item){
                if(item.use_type==type){
                    return item;
                }
            })

            return types
        }
    },

    methods: {
         viewStay(data){
            this.reviewData = data;
            this.showViewModal = true;
        },

        onClose(comment,bookingId) {
            if(comment==='hideReview'){
                $("#"+bookingId).hide();
            }
            this.showModal =  false;
            this.showViewModal = false;
           
        },

        onNewDeal(location,hotelId,hotel){
            /*if(hotel.service_applied == '0'){
                this.searchData.use_type = '1';
                this.searchData.check_in_time = '05:30';
                this.searchData.checkin = moment().format('YYYY-MM-DD');
                this.searchData.checkout = moment().format('YYYY-MM-DD');
            } else {
                this.searchData.use_type = '2';
            }
            var protocol = location.protocol == 'http:' ? 'http://' : 'https://';
            var param = $.param( this.searchData );
            if(hotel.service_applied == '0'){
                var url = Constants.httpProtocol+hotel.whitebrand.hotel_url + '.' +Constants.hostName+'/day-use-search-hotel?'+param;
            }
            else{
                var url = Constants.httpProtocol+hotel.whitebrand.hotel_url + '.' +Constants.hostName+'/night-use-search-hotel?'+param;
            }*/
            var url = Constants.httpProtocol+hotel.whitebrand.hotel_url + '.' + Constants.hostName;
            window.location.href = url;
        }


    },

    filters:{ 

        dateFormat: function (inputDate) {
            var dateArr = inputDate.split("-");
             return moment(inputDate).format('DD.MM.YYYY');
        }
    }

}
</script>