<template>
    <div class="modal fade hotel_review-detail_popup" data-backdrop="static" data-keyboard="false" id="Hr_Detail_Popup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"  @click="closeModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <hotel-img
                        :data = "data"
                        :typeimg="type"

                        ></hotel-img>  
                  </div>
              <div class="modal-body">
                  <div class="hotel_review_content">
                  
                    <div class="hotel-inner-content clearfix">
                      <div class="hotel_review_heading">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="hotel_review_name">
                              <h1>{{data.hotel.hotel_name}}</h1>
                              <span>{{ data.hotel.distance_from_city }} {{unit}} {{$t('message.FROM')}} {{data.hotel.city.name}} </span>
                            </div>
                            <div v-if="data.hotel.hotel_reviews" class="hotel_detail_review">
                              <div class="review-left">
                                <h2>{{data.hotel.hotel_reviews.reviews_score}}</h2>
                              </div>
                              <div class="review-right">
                                <h2>{{data.hotel.hotel_reviews.review_status}}</h2>
                                <h3>{{data.hotel.hotel_reviews.reviews}} Reivew</h3>
                              </div>
                            </div>
                             <div v-if="!data.hotel.hotel_reviews" class="hotel_detail_review">
                              <div class="review-left">
                                <h2>0.0</h2>
                              </div>
                              <div class="review-right">
                                <h2>{{$t('message.NOT_APPLICABLE')}}</h2>
                                <h3> 0 {{$t('message.VIEWS')}}</h3>
                              </div>
                            </div>
                          </div>
                          
                          <div class="col-md-6">
                            <div class="hotel_review_booking_date text-right">
                              <span>{{$t('message.LOCATION')}}</span>
                              <h2>{{data.hotel.address}}, {{data.hotel.postal_code}}, {{data.hotel.city.name}}</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      
                      <div class="hotel_review_list">
                          <div class="row">
                              <div class="col-md-8">
                                  <div class="hotel-checkout-list">
                                      <ul class="list-inline">
                                        <li>
                                            <span>{{$t('message.CHECK_IN')}}</span>
                                            <div class="review-left">
                                                <h3>{{data.arrival | date}}</h3>
                                            </div>
                                            <div class="review-right">
                                                <h3>{{data.arrival | month}}</h3>
                                                <h4>{{data.arrival | day}}</h4>
                                            </div>
                                        </li>
                                        
                                        <li>
                                            <span>{{$t('message.CHECK_OUT')}}</span>
                                            <div class="review-left">
                                                <h3>{{data.departure | date}}</h3>
                                            </div>
                                            <div class="review-right">
                                                <h3>{{data.departure | month}}</h3>
                                                <h4>{{data.departure | day}}</h4>
                                            </div>
                                        </li>
                                        
                                      </ul>
                                  </div>
                              </div>
                            <div class="col-md-4">
                                <div class="total-guests text-right">
                                    <span>{{$t('message.GUESTS_')}}</span>
                                    <h2>{{data.number_of_person}}</h2>
                                </div>
                            </div>
                          </div>
                      </div>
                      
                    
                      <div class="room-type-list">
                        
                        <div class="room-detail dark-bg clearfix" v-for="room in data.booking_room">
                            <div class="col-md-2 col-xs-12">
                                <div class="numbers text-center">
                                  <h1>{{room.number_of_rooms}}</h1>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-12">
                                <div class="room-type text-center">
                                  <h1>{{room.room_type.title}}</h1>
                                </div>
                            </div>
                            <div class="col-md-5 col-xs-12">
                                <div class="room-size text-center">
                                  <h1 v-if="room.hotel_room_detail">{{$t('message.ROOM_SIZE')}} : {{room.hotel_room_detail.size}}<span v-if="room.hotel_room_detail.unit==='square_ft'"> ft2</span><span v-if="room.hotel_room_detail.unit!=='square_ft'"> m2</span><br>  {{$t('message.BEDDING')}} :{{ room.hotel_room_detail | bed_count }} </h1>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <div class="room-price text-center">
                                  <h1>{{data.currency_code+' '+parseFloat(room.client_bidding_price).toFixed(2)}}</h1>
                                </div>
                            </div>
                        </div>
                        
                        <div class="room-detail darkest-bg clearfix">
                            <div class="col-md-4 col-xs-12">
                                <div class="numbers text-center">
                                    <h1 class="bold-text">{{$t('message.TOTAL_PRICE')}}</h1>
                                </div>
                            </div>
                          
                          <div class="col-md-4 col-xs-12 rpadding">
                              <div  class="room-size text-center">
                                  <h1><strong>{{ no_of_day }} </strong><br> {{data.arrival  | checkout }} - {{data.departure | checkout }} </h1>
                              </div>
                          </div>
                          <div class="col-md-4 col-xs-12">
                              <div class="room-price text-center">
                                  <h1 class="bold-text"><span>{{$t('message.OFFER_PRICE_CONFIRMED')}}</span>{{data.currency_code+' '+parseFloat(data.client_bidding_price).toFixed(2)}}</h1>
                              </div>
                          </div>
                          
                        </div>
                        
                      </div>
                      <div v-if="writeReviewSection" class="row">
                          <div class="col-md-12">
                            <div class="col-md-12 review-rating-list text-center">
                              <star-rating :increment="0.5" v-bind:show-rating="false" @rating-selected ="setRating" v-bind:star-size="30" ></star-rating>
                              <span  v-if="comment.rating === 0" id="rating" class="error"></span>
                            </div>
                            
                            <div class="col-md-12 review-rating-form">
                              
                                <div class="form-group">
                                  <textarea class="form-control" name="description" v-model="comment.comments" placeholder="Write Your Review"></textarea>
                                  <span v-if="comment.comments == ''" id="desc" class="error"></span>
                                </div>
                                
                                <div class="form-group">
                                  <a href="#" @click="publish()" class="btn btn-rr-button">{{$t('message.PUBLISH')}}</a>
                                </div>
                              
                            </div>
                            
                          </div>
                      </div>
                      <div class="alert alert-success" id="sms-alert">
                          <button type="button" class="close" data-dismiss="alert">x</button>
                          <span>{{$t('message.REVIEW_SUBMITTED_SUCCESFULLY')}}</span>
                      </div>
                      <div class="hotel-view-btn text-center">
                         <a class="btn btn-add-new-deal" @click="onNewDeal(data.hotel.hotel_name,data.hotel.id)">{{$t('message.NEW_DEAL')}}</a>
                      <a v-if="reviewBtn===2 && reviewed && comment.is_reviewed===0" @click="writeReview()" class="btn btn-add-new-review">{{$t('message.REVIEW')}}</a>
                      </div>


                    </div>
                  </div>
                  <write-review
                      v-if="showModal"
                      :data="reviewData"
                      @close="onClose"
                  ></write-review>
              </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
         
    </div><!-- /.modal -->
   
</template>
<script>  

import hotelImg from './ViewHotelImg.vue'
// import starRating from 'vue-star-rating'

import Vue from 'vue';
let bus = new Vue();
export default {

   props:['data','type','reviewBtn'],

    data() { 
      return {
        comment:{
          rating:0,
          comments:'',
          is_reviewed:this.data.is_reviewed,
          booking_id:this.data.id,
          hotel_id:this.data.hotel.id
        },
        reviewData:'',
        showModal:false,
        writeReviewSection:false,
        reviewed:true,
        unit: $('meta[name="unit"]').attr('id'),
          searchData:{
              latitude:'',
              longitude:'',
              checkin:moment().format('DD.MM.YYYY'),
              checkout:moment().add(1,"days").format('DD.MM.YYYY'),
              rooms:[2],
              guest:2,
              room:1,
              mode:'on',
              guestText:'Guests',
              roomText:'Room',
              useType:true,
              sortOrder:'',            
              priceMin:'',
              priceMax:'', 
              star:[],
              facility:[],
              priceRange:'0;0',
              page:1,
              records_per_page:1000,
              review:0
          }
      }  
    },

  components: {
        hotelImg,
        // starRating
    },

    mounted: function () {
        this.$nextTick(function () {
           $('#Hr_Detail_Popup').modal('show');
           $("#sms-alert").hide();
        })
    },


    methods: {

      writeReview(){
          this.writeReviewSection = !this.writeReviewSection;
      },

      publish() {
        var vm = this;
        if(this.comment.rating == 0){
          $('#rating').text('Please rate.');
          return false;
        }
        if(this.comment.comments == ''){
          $('#desc').text('Please add comment.');
          return false;
        }
        
            this.axios.post('/add-review', this.comment )
            .then((response) => {
			  bus.$emit('review-recieved' , this.comment);
              vm.reviewed = false;
              this.writeReviewSection = !this.writeReviewSection;
                $("#sms-alert").fadeTo(5000, 500).slideUp(500, function(){
                   $("#sms-alert").slideUp(500);
                //    $('#Hr_Detail_Popup').modal('hide');
                // this.$emit('close','hideReview',vm.comment.booking_id);
                }); 
            })
        },

      setRating: function(rating){

          this.comment.rating = rating;
      },


      onClose() {
            this.showModal =  false;
        },

      closeModal(){  
          if(!this.reviewed){
            this.data.is_reviewed = 1;
            this.$emit('close','hideReview',this.comment.booking_id);
          }else{
              $('#Hr_Detail_Popup').modal('hide');
              this.$emit('close');
          }           
          
      },

      onNewDeal(location,hotelId){
          this.searchData.name = location;
          this.searchData.type = 'hotel_id';
          this.searchData.status = 'new';
          this.searchData.id = hotelId;
          this.searchData.query = location;
          var param = $.param( this.searchData ); 
          var url = '/night-use-search-hotel?'+param;
          window.location.href = url;
      }
    },

    computed: {
         no_of_day() {
            var numberOfDays;
            var checkin = this.data.arrival;
            var checkout = this.data.departure;
              //alert(this.criteria.mode);
            if(this.criteria.use_type == 1 && this.criteria.duration == 1) {
                return numberOfDays = '1 '+this.$t('message.HOUR_SMALL');
            } else if(this.criteria.use_type == 1 && this.criteria.duration > 1) {
                return numberOfDays = this.criteria.duration+' '+this.$t('message.HOURS_SMALL');
            }
            numberOfDays = moment(checkout).diff(moment(checkin), 'days');
            if(numberOfDays>1){
                numberOfDays = numberOfDays+' '+ this.$t('message.NIGHTS');
            }else{
                numberOfDays = numberOfDays+' '+ this.$t('message.NIGHT_SMALL');
            }
            return numberOfDays;
        }
    },

    filters:{ 

        month: function (date) {
          return moment(date).format('MMM');
        },

        day: function (date) {
          return moment(date).format('ddd');
        },

        date: function (date) {
           return moment(date).format('DD');
        },

        checkout: function(date){
           return moment(date).format("DD MMM YYYY");
        },

        bed_count:function(data){

        var vm = this;
          var total = 0;
          if(!isNaN(parseInt(data.bed_one_count))){
            total = total+Number(data.bed_one_count);
          }
          if(!isNaN(parseInt(data.bed_two_count))){
            total = total+Number(data.bed_two_count);
          }
          if(!isNaN(parseInt(data.bed_three_count))){
            total = total+Number(data.bed_two_count);
          }
          if(total === 1){
            return total+' bed';
          }else if(total > 1){
            return total+' beds';
          }
        }
    }

}
</script>