<template>
    <div class="hotel-review-banner text-center" :style="url">
        <div class="row">
            <h1>{{typeimg}}</h1>
            <h2>
                <span class="review">
                    <star-rating :increment="0.5"  :rating="data.hotel.rating" :read-only="true"
                v-bind:show-rating="false" @rating-selected ="setRating" v-bind:star-size="15" ></star-rating>
              
                </span> 
            </h2>
           <!--  <h3>{{data.currency_code+' '+data.total_price}}</h3> -->
        </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="booking_id text-left">
                    <h2>{{ $t('message.BOOKING_ID') }}: {{data.id}}</h2>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="booking_date text-right">
                    <h2>{{data.arrival | date }}</h2>
                  </div>
              </div>
          </div>
    </div>
</template> 
<script>  
// import starRating from 'vue-star-rating'
import { Constants } from '@/config/constants.js'
export default {

    props: ['data','typeimg'],

    data() {
        return {
        };
    },

    components: {
        // starRating
    },

    methods: {
        setRating: function(rating){

                this.comment.rating = rating;
            },
    },  

    computed: {
        url(){
            var url = 'background:url('

            if (this.data) {
                url += Constants.filePath +'/uploads/' + this.data.hotel.primary_image
            }
            
            url += ') bottom center / cover;'

            return url
        }
    },

    filters:{ 
        date: function (date) {
           return moment(date).format('Mo')+' '+moment(date).format('MMM')+', '+moment(date).format('dddd');
        }
    }
};  
</script>