<template>
	<div class="modal fade review-modal" id="ReviewModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">{{$t('message.RATE_YOUR_STAY')}}</h3>
					<button type="button" class="close modal-close"  @click="closeModal"  data-dismiss="modal" aria-label="Close">
						 <img src="~/assets/img/cross-out.svg" alt=""/>
					</button>
				</div>
				<div class="modal-body">
					<div class="hotel-det">
						<figure>
							<img :src="useImgUrl" />
							<!-- <hotel-img
								:hotel = "data.hotel"
								:typeimg="type"
								></hotel-img> -->
						</figure>
						<div class="det">
							<h4>{{data.hotel.hotel_name}}</h4>
							<p>{{data.hotel.address!=='null'?data.hotel.address:''+' '+data.hotel.address_line_two!=='null'?data.hotel.address_line_two:''}} &nbsp; {{ data.hotel.city.name+' '+data.hotel.country.name}}</p>
							<div class="check-in-out">
								<div class="checkin-date">{{data.arrival}}</div>
								<div class="checkout-date">{{data.departure}}</div>
								<!-- <ul class="list-inline">
										<li>
											<span>{{$t('message.CHECK_IN')}}</span>
											<div class="media-left">
												<span>{{data.arrival | date}}</span>
											</div>
											<div class="media-right">
												<h3>{{data.arrival | month}}</h3>
												<h4>{{data.arrival | day}}</h4>
											</div>
										</li>
										
										<li>
											<span>{{$t('message.CHECK_OUT')}}</span>
											<div class="media-left">
												<span>{{data.departure | date}}</span>
											</div>
											<div class="media-right">
												<h3>{{data.departure | month}}</h3>
												<h4>{{data.departure | day}}</h4>
											</div>
										</li>
									</ul> -->
							</div>
						</div>
					</div>
					<div class="rating-comment">
						<div class="rating">
							<fieldset class="rating">
								<star-rating :increment="0.5" v-bind:show-rating="false" @rating-selected ="setRating" v-bind:star-size="50" ></star-rating>
								<span  v-if="comment.rating === 0" id="rating" class="error"></span>
							</fieldset>
						</div>
						<div class="comment floating-label">
						<textarea class="form-control" name="description" v-model="comment.comments" placeholder="Your Comments"></textarea>
							<span v-if="comment.comments == ''" id="desc" class="error"></span>
						</div>
                	</div>					
				</div>
				<div class="modal-footer">
					<button type="button" @click="publish()" class="btn btn-purple cursor-pointer">{{$t('message.SUBMIT')}}</button>
				</div>
			</div>
		</div>
	</div>
</template>
<script>	
import hotelImg from './Img.vue'
import { Constants } from '@/config/constants.js'
import starRating from 'vue-star-rating'
import Vue from 'vue';
let bus = new Vue();

export default {

	 props:['data'],

    data() { 
    	return {
    		comment:{
    			rating:0,
    			comments:'',
    			booking_id:this.data.id,
    			hotel_id:this.data.hotel.id
    		},
    		type:'review'
    	}  
    },

	components: {
        hotelImg,
        starRating
    },

    mounted: function () {
        this.$nextTick(function () {
        	 $('#ReviewModal').modal('show');
        })
    },

    computed : {
    	useImgUrl() {
                 var img = ''
                if (this.data.hotel.primary_image) {
                    img += Constants.filePath + '/uploads/' + this.data.hotel.primary_image;
                }else {
                    img += Constants.filePath + '/images/user.png'
                    
                }
                 
                return img;
            },
    },


    methods: {

    	setRating: function(rating){

      		this.comment.rating= rating;
   		},

    	publish() {
    		var vm = this;
    		if(this.comment.rating == 0){
    			$('#rating').text('Please rate.');
    			return false;
    		}
    		if(this.comment.comments == ''){
    			$('#desc').text('Please add comment.');
    			return false;
			}
			
			
            this.$axios.post('/add-review', this.comment )
            .then((response) => {
                // this.$toastr.s(this.$t('message.REVIEW_SUBMITTED_SUCCESFULLY')); 
				$('#ReviewModal').modal('hide');
				bus.$emit('review-recieved' , this.comment);
                this.$emit('close','hideReview',vm.comment.booking_id);
            })
        },

        closeModal(){              
            $('#ReviewModal').modal('hide');
            this.$emit('close');
        },
    },

    filters:{ 

        month: function (date) {
        	return moment(date).format('MMM');
        },

        day: function (date) {
        	return moment(date).format('ddd');
        },

        date: function (date) {
           return moment(date).format('DD');
        }
    }

}
</script>