<template>
    <div class="modal fade amenities modal ot-modals addition-guest-modal" id="reviewModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row mb10" v-for="(value,index) in data">
                        <div class="col-md-12">
                        <h2 class="room-title"><span v-if="room[value.id].count>1">{{room[value.id].count}}x </span>{{value.title}}</h2>
                        </div>
                        <div class="col-md-12">
                            <p class="mb0 text-gray">-{{$t('message.HOTEL_STANDARD_RATE') | hotelStandardRate(value.hotel_rate_for,room[value.id].count,$t('message.GUEST'),$t('message.GUESTS'),$t('message.ROOM_SMALL'))}}</p>
                            <p class="mb0 text-gray">-{{ $t('message.MAX_OCCUPANCY_OF_ROOM') }}&nbsp;{{ value.number_of_person | guestTextForOccupancy(room[value.id].count,$t('message.GUEST'),$t('message.GUESTS'),$t('message.ROOM_SMALL')) }}.</p>
                            <p class="text-gray">-{{$t('message.YOUR_BOOKING')}}&nbsp;{{room[value.id] | guestText($t('message.GUEST'),$t('message.GUESTS'),$t('message.ROOM_SMALL'))}}.</p>
                        </div>

                        <div class="col-md-12">
                            <p class="mb10">{{$t('message.EXTRA_PRICE_FOR_ADDTIONAL_GUEST') | additionGuestPrice(room[value.id],$t('message.GUEST'),$t('message.GUESTS'),$t('message.ADDITIONAL'),$t('message.ADDITIONALS'))}}</p>
                        </div>

                        <div class="clearfix" v-for="addition in value.additional_rate_plan">
                            <div class="col-sm-5 col-md-5 col-xs-12">
                                <div class="form-inline additional-guest-form">
                                    <div class="form-group">
                                        <label for="exampleInputName2">{{$t('admin.AGE_LIMIT')}}&nbsp; </label>
                                        <span v-if="addition.age_from > 18" class="custom-label-width">>18</span>
                                        <span v-if="addition.age_from == 0" class="custom-label-width"><1</span>
                                        <span class="custom-label-width" v-if="addition.age_from <= 18 && addition.age_from != 0">{{addition.age_from}}</span>
                                    </div>
                                    <div v-if="addition.age_to <= 18 && addition.age_to != 0" class="form-group">
                                        <label>{{$t('admin.TO_')}}&nbsp; </label>
                                        <span v-if="addition.age_to <= 18 && addition.age_to != 0">{{addition.age_to}}</span>
                                         <span v-if="addition.age_to == 0" class="custom-label-width"><1</span>
                                       <!--  <span v-if="addition.age_to > 18">>18</span> -->
                                    </div>
                                    <div class="">
                                    <span class="right-arrow">
                                        <!-- <img src="../../assets/img/right-arrow.png"/> -->
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7 col-md-7 col-xs-12 lpadding">
                                <div class="form-inline additional-guest-form">
                                    <div class="form-group">
                                        <label for="exampleInputName2">{{$t('admin.PRICE_PER_ADDITIONAL_PAX')}}</label>
                                         <label class="currency">{{value.hotel.currency_code}}</label><span>{{addition.rate |priceFormat(value.hotel.currency_code)}}</span>
                                    </div>
                                   <!--  <div class="form-group">
                                        <label class="currency">{{value.hotel.currency_code}}</label>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        

                        <div class="col-md-12">
                            <hr class="mb10">
                        </div>

                    </div>
                    
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a @click="closeModal" class="btn btn-am-detail"> {{$t('message.OTP_OK')}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

       props:['data','room','guestCount'],

        data() { 
            return {
                additionalGuest:'',
            }
        },

        mounted: function () {
            this.$nextTick(function () {
               $('#reviewModal').modal('show');
            }); 
        },

        methods: {

            closeModal(){   
                $('#reviewModal').modal('hide');
                this.$emit('close');
            }

        },
        
        computed:{
            roomArr(){
                return this.room[this.data[0].id];
            }
        },

        filters:{ 

            amenityValue: function(str){
                var str1 = _.split(str,':');
                if(str1.length==2){
                    return str1[0]+' : '+str1[1];
                }else{
                    return  str1[0];
                }
            },

            guestText ( roomData, guest, guests,room ) {
                let roomWiseGuest = roomData.room_searched_for;
                let text = '';
                roomWiseGuest = roomWiseGuest.toString().split(',');
                let total = 0;
                for(let i in roomWiseGuest) { total = parseInt(total)+parseInt(roomWiseGuest[i]); }
                if(total > 1 )
                    text = total+' '+guests;
                else
                    text = total+' '+guest;
               
                if( roomWiseGuest.length > 1) {
                    text += ' ('
                    for(let i in roomWiseGuest) { 
                        text += room+(parseInt(i)+1)+' : '+roomWiseGuest[i]+', '; 
                    }
                    text = text.replace(/(^[,\s]+)|([,\s]+$)/g, '');
                    text += ')';
                }
                return text;
            },

            guestTextForOccupancy ( number_of_person, count, guest, guests, room ) {
                let maxOccupancyText = '';
                let person_count = parseInt(number_of_person)*parseInt(count)
                 if(person_count > 1 )
                    maxOccupancyText = person_count+' '+guests;
                else 
                    maxOccupancyText = number_of_person+' '+guest;
                if(count > 1 && number_of_person > 1)
                    maxOccupancyText +=  ' ('+ number_of_person+' '+guests+'/'+room+')'
                else if(count > 1 && number_of_person == 1)
                    maxOccupancyText +=  ' ('+ number_of_person+' '+guest+'/'+room+')'
                return maxOccupancyText;
            },

            additionGuestPrice ( text, roomData, guest, guests,additional, additionals ) {
                let extraGuest = _.replace(text, '(no_of_person)', roomData.extra_guest_count);
                if(  roomData.extra_guest_count > 1){
                    extraGuest = _.replace(extraGuest, '(guest)', guests );
                   return _.replace(extraGuest, '(additional)', additionals );
                } else {
                    extraGuest = _.replace(extraGuest, '(guest)', guest );
                    return _.replace(extraGuest, '(additional)', additional );
                }
            },

            hotelStandardRate( text, number_of_person, count, guest, guests,room ) {
                let person_count = count*number_of_person;
                let extraGuest = _.replace(text, '(no_of_person)', person_count);
               
                if( count > 1  && number_of_person > 1 ) {
                    extraGuest = extraGuest +' ('+ number_of_person+' '+guests+'/'+room+')'
                } else if( count > 1  && number_of_person == 1 ){
                    extraGuest = extraGuest +' ('+ number_of_person+' '+guest+'/'+room+')'
                }
                if(person_count > 1){
                    return _.replace(extraGuest, '(guest)', guests )+'.';
                } else {
                    return _.replace(extraGuest, '(guest)', guest )+'.';
                }
            },

            priceFormat(price, currency) {
               
                let amount = parseFloat(price).toFixed(2);
                var parts = amount.toString().split(".");
                if(currency == 'IDR'){
                    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    return parts.join(".");
                } else {
                    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, "'");
                    return parts.join(".");
                }
                return amount;
            },

        }
    }

</script>
