<template>
    <div class="modal fade amenities modal ot-modals" id="reviewModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h2 class="modal-title"></h2>
                <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                    <img src="~/assets/img/cross-out.svg" alt="">
                </button>
                </div>
                <div class="modal-body">
                    <ul class="list-unstyled">
                        <li v-for="(value,index) in amenity">
                        {{index+1}}. {{value | amenityValue}}
                        </li>
                    </ul>
                    <a @click="closeModal" class="btn btn-am-detail"> {{$t('message.OTP_OK')}}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

       props:['amenity'],

        data() { 
            return {
            }
        },

        mounted: function () {
            this.$nextTick(function () {
               $('#reviewModal').modal('show');
            }); 
        },

        methods: {

            closeModal(){   
                $('#reviewModal').modal('hide');
                this.$emit('close');
            }

        },

        filters:{ 

            amenityValue: function(str){
                var str1 = _.split(str,':');
                if(str1.length==2){
                    return str1[0]+' : '+str1[1];
                }else{
                    return  str1[0];
                }
            }
        }
    }

</script>
