<template>
	<div>
        
        <offer-accept v-if="statusCode == 1" :criteria="criteria"></offer-accept>
		<try-again v-if="statusCode == 0" :criteria="criteria" :countoffer="countOffer"></try-again>
        <offer-reject v-if="statusCode == 2" :criteria="criteria" :countoffer="countOffer"></offer-reject>
        <continue-payment v-if="statusCode == 5" :criteria="criteria"></continue-payment>
        <offer-limit v-if="statusCode == 3"></offer-limit>
		<day-use-otp v-if="statusCode == 6" :criteria="criteria"></day-use-otp>
        <offer-reject v-if="statusCode == 4" :criteria="criteria" :countoffer="countOffer"></offer-reject>
        
	</div>
</template>

<script>

import tryAgain from './TryAgain.vue'
import offerReject from './OfferReject.vue'
import continuePayment from './ContinuePayment.vue'
import offerLimit from './OfferLimit.vue'
import dayUseOtp from './DayUseOtp.vue'
import offerAccept from './OfferAccept.vue'
import BrandCombination from './BrandCombination.vue'
import { BidDetails } from '@/mixins/bid-details.js';

export default {

    mixins: [ BidDetails ],
    
    data() {
    	return {
            criteria: {}
        }             
    },
    
    components: {
        tryAgain,
        offerReject,
        continuePayment,
        offerLimit,
        dayUseOtp,
        offerAccept,
        BrandCombination
    },

    mounted: function () {
        this.$nextTick(function () {

            //if(this.$store.getters.getBidStatus == null ) window.location.href = "/";
            
            $("#currenyDropdown").addClass('disabledbutton' );
            $("#unitConversion").addClass('disabledbutton' );
            $("#languageConversion").addClass('disabledbutton' );
        })
    },

    computed: {
        
        countOffer() {
            return this.$store.getters.getBidCountOffer;
        },

        statusCode() {
            return this.$store.getters.getBidStatus;
        }

    },

    methods: {
          
        preventBack() { 
            window.history.forward(1); 
        }
    },
    
    created() {

        window.onload = this.preventBack();
        window.onpageshow = function(evt){if(evt.persisted) window.history.forward(1);}
        window.onbeforeunload = function(){void(0);}
        window.onunload = function(){null};
        window.history.forward(1);
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
        
        this.$store.commit('setActivePage', 'hotel');

        this.criteria = this.$store.getters.getSearchCriteria;

        // this.$store.commit('setToken', null);

        // let token = this.$store.getters.token;

        // if( token ) router.push({path : '/'});

        // if(Object.keys(this.bidDetail).length < 1) window.location.href = '/';

        
      }

}
</script>
