<template>
    <div class="filter-result-box">

       <section id="hotel_post" class="hotel_post hotel_list">
         <div class="container">                
             <div class="row">
                 <div class="col-md-12">
                     <ul class="list-unstyled d-flex list_group multi-rooms">
                         <li v-for="(room,index1) in brand.rooms">
                            <side-img 
                            :files="room | fileFilter"
                            :type="'whiteLabel'"
                            :criteria="criteria"
                            ></side-img>
                            <div class="upper-list hotel-list2">
                                <ul class="m-0 p-0 list-unstyled position-relative">
                                    <li>
                                        <img src="~/assets/img/d1.png" alt=""/>
                                    </li>
                                    <img class="interface_360 position-absolute" src="~/assets/img/interface.svg" alt=""/>
                                </ul>
                                <div class="detail_hotel">
                                    <h4 :title="room.title">
                                        <span v-if="room.count>1">{{room.count }}x </span> {{room.title}}
                                    </h4>
                                    <p v-html="room.description"></p>
                                    <div class="specification">
                                        <ul class="list-unstyled m-0 p-0">
                                            <li>{{$t('message.ROOM_SIZE')}}: <span>{{room.roomSize}} <span v-if="room.roomSizeUnit==='square_ft'"> ft<sup>2</sup></span><span v-if="room.roomSizeUnit!=='square_ft'"> m<sup>2</sup></span></span></li>
                                            <li v-if="room.bedOneCount">Bed: {{room.bedOneCount}}
                                                <span v-if="room.bedOneCount>1">&nbsp;{{$t('message.BEDS')}}</span>
                                                <span v-if="room.bedOneCount==1">&nbsp;{{$t('message.BED')}}</span> - {{room.bedOne}}
                                            </li>
                                            <li v-if="room.bedTwoCount">Bed: {{room.bedTwoCount}}
                                                <span v-if="room.bedTwoCount>1">&nbsp;{{$t('message.BEDS')}}</span>
                                                <span v-if="room.bedTwoCount==1">&nbsp;{{$t('message.BED')}}</span> - {{room.bedTwo}}
                                            </li>
                                            <li v-if="room.bedThreeCount">Bed: {{room.bedThreeCount}}
                                                <span v-if="room.bedThreeCount>1">&nbsp;{{$t('message.BEDS')}}</span>
                                                <span v-if="room.bedThreeCount==1">&nbsp;{{$t('message.BED')}}</span> - {{room.bedThree}}
                                            </li>

                                            <li v-if="Object.keys(brand.rooms).length>1 && criteria.use_type==2 && criteria.total_days==1"> {{room.hotel_rate_for | guestText($t('message.PRICE_FOR_GUEST'),$t('message.PRICE_FOR_GUESTS'))}} : {{currency}} {{parseFloat(room.avgRateUserCurrency * room.count).toFixed(2) | priceFormat(currency)}}</li>

                                            <li v-if="Object.keys(brand.rooms).length>1 && criteria.use_type==2 && criteria.total_days>1">{{room.hotel_rate_for | guestText($t('message.PRICE_FOR__NIGHT_GUEST'),$t('message.PRICE_FOR__NIGHT_GUESTS'))}} : {{currency}} {{parseFloat(room.avgRateUserCurrency * room.count).toFixed(2) | priceFormat(currency)}}</li>

                                            <li v-if="Object.keys(brand.rooms).length>1 && criteria.use_type==1">{{room.hotel_rate_for | guestText($t('message.PRICE_FOR_GUEST'),$t('message.PRICE_FOR_GUESTS'))}} : {{currency}} {{parseFloat(room.avgRateUserCurrency * room.count).toFixed(2) | priceFormat(currency)}}
                                            </li>
                                            <!-- <li>Price per night: <span>GBP 150</span></li> -->
                                            <li>Breakfast: <span class="font-weight-bold">Included</span></li>
                                        </ul>
                                        <div class="price_condition">
                                            <a href="#">Price conditions for more guests</a>
                                        </div>
                                    </div>
                                    <div class="amenities">
                                        <h5>Amenities</h5>
                                        <div class="amen">
                                            <ul class="icons-amenities d-flex list-unstyled m-0 p-0">
                                                <li><img src="~/assets/img/wifi.svg" alt=""/></li>
                                                <li><img src="~/assets/img/tv.svg" alt=""/></li>
                                                <li><img src="~/assets/img/e_kettle.svg" alt=""/></li>
                                                <li><img src="~/assets/img/desk.svg" alt=""/></li>
                                            </ul>
                                        </div>
                                        <a href="#" class="see-link pink-link">See all</a>
                                    </div>
                                </div>
                            </div>

                         <div class="price-strip" v-if="criteria.use_type==2 &&  criteria.total_days==1 && ((bookNow != 0 && withoutOffer == 1) || withoutOffer == 0)" >
                            <div class="price-area">
                                <div class="upperPart">
                                    <div class="public_price">
                                        <label>{{$t('message.PRICE')}}:</label>
                                        <span :class="amount?'price line-through1':'price'">{{currency}} {{ (brand.rooms) | totalPriceFormat(currency, criteria.total_days, criteria.service_id, criteria.unit) }}</span>
                                    </div>
                                     <div class="offer_per_night">
                                        <label v-if="Object.keys(newbiddingprice).length">{{$t('message.YOUR_OFFER_PRICE')}}</label>
                                        <span class="fs24 price line-through1">{{currency}} {{ parseFloat(bidDetail.bid_amount).toFixed(2) | priceFormat(currency)}}</span>
                                    </div>
                                    <div class="make_your_offer">
                                        <label class="your-offer">{{$t('message.YOUR_OFFER')}}</label>
                                        <div class="input-price"  v-if="!Object.keys(newbiddingprice).length">                                            
                                            <input type="text" value="" class="form-control "/>
                                            <span class="currency">{{currency}}</span>                                            
                                            <label v-if="amountError" class="error" >{{$t('message.VALID_AMOUNT')}}</label> 
                                        </div>
                                        
                                    </div>
                                    <div class="additional-guest" v-if="Object.keys(brand.rooms).length == 1 && additionalRate && !Object.keys(newbiddingprice).length" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuest}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                    <div class="additional-guest" v-if="Object.keys(brand.rooms).length > 1 && additionalRate && !Object.keys(newbiddingprice).length" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuestCount}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                </div>
                            </div>
                            <div class="you_save">
                                <label>You save:</label>
                                <div class="save_percent">
                                    87%
                                </div>
                            </div>        
                             <button @click="submitBid(index,additionalRate)" v-if="(amount && criteria.total_days==1) && !Object.keys(newbiddingprice).length" type="button" :class="proposal">{{$t('message.SUBMIT')}}</button>
                        </div>
                        <div class="clearfix"></div>  

                        <div class="price-strip" v-if="criteria.use_type==2 && criteria.total_days==1 && bookNow == 0 && withoutOffer == 1">
                            <div class="price-area">
                                <div class="upperPart">
                                    <div class="public_price">
                                        <label>{{$t('message.PRICE')}}:</label>
                                        <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | totalPriceFormat(currency, criteria.total_days, criteria.service_id, criteria.unit) }}</span>
                                    </div>
                                     <div class="your-offer">
                                        <label>{{$t('message.BOOK_NOW')}}</label>                                       
                                    </div>
                                    <div class="additional-guest" v-if="additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuestCount}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>     
                                </div>
                            </div>                                    
                             <button @click="removeFlash(index,true,0)" type="button" :class="proposal">{{$t('message.BOOK')}}</button>
                        </div>
                        <div class="clearfix"></div> 

                        <div class="price-strip" v-if="criteria.use_type == 2 && criteria.total_days==1 && Object.keys(newbiddingprice).length">
                            <div class="price-area">
                                <div class="upperPart">
                                    <div class="make_your_offer">
                                        <label>{{$t('message.NEW_OFFER')}}</label>
                                        <div v-if="Object.keys(newbiddingprice).length" class="input-price">                                            
                                             <input  type="text" inputmode="numeric" pattern="\d*" class="form-control bid-class" v-model="amount" maxlength="15" :placeholder="deal" @click="removeFlash(index,true)" @keyup="submitPrice(brand.rooms)">
                                            <span class="currency">{{currency}}</span>                                           
                                            <label v-if="amountError" class="error" >{{$t('message.VALID_AMOUNT')}}</label> 
                                        </div>
                                        
                                    </div>
                                    <div class="additional-guest" v-if="Object.keys(brand.rooms).length == 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuest}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                    <div class="additional-guest" v-if="Object.keys(brand.rooms).length > 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuestCount}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>     
                                </div>
                            </div>                                    
                             <button @click="submitBid(index,additionalRate)" type="button" :class="proposal">{{$t('message.SUBMIT')}}</button>
                        </div>
                        <div class="clearfix"></div> 

    
                        <div class="price-strip" v-if="criteria.use_type == 1 && criteria.duration == 1 && criteria.service_id == 0 && bookNow == 0 && withoutOffer == 1" >
                            <div class="price-area">
                                <div class="upperPart">
                                    <div class="public_price">
                                        <label>{{$t('message.PRICE')}}:</label>
                                        <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | pricePerDayFormat(currency, criteria.total_days, criteria.service_id)}}</span>
                                    </div>
                                     <div class="your-offer">
                                        <label>{{$t('message.BOOK_NOW')}}</label>                                       
                                    </div>
                                    <div class="total-public-price old-price">
                                        <label>Total public price:</label>
                                        <span class="price">GBP 600</span>
                                    </div>
                                        <div class="offer_per_night">
                                        <label v-if="Object.keys(newbiddingprice).length">{{$t('message.YOUR_OFFER_PRICE')}}</label>
                                        <span class="fs24 price line-through1">{{currency}} {{ parseFloat(bidDetail.bid_amount).toFixed(2) | priceFormat(currency)}}</span>
                                    </div>
                                    <div class="additional-guest" v-if="additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuestCount}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>                                    
                                    <div v-if="selectHotel" class="hotel-detail-footer-list clearfix addup-list"></div>
                                </div>
                            </div>                                    
                             <button @click="removeFlash(index,true,0)" type="button" :class="proposal">{{$t('message.BOOK')}}</button>
                        </div>
                        <div class="clearfix"></div> 

                        <div class="price-strip" v-if="criteria.use_type == 1 && criteria.duration == 1 && criteria.unit == 'hourly' && criteria.service_id > 0 && bookNow == 0 && withoutOffer == 1">
                            <div class="price-area">
                                <div class="upperPart">
                                    <div class="public_price">
                                        <label>{{$t('message.PRICE')}}:</label>
                                        <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | pricePerDayFormat(currency, criteria.total_days, criteria.service_id)}}</span>
                                    </div>
                                     <div class="your-offer">
                                        <label>{{$t('message.BOOK_NOW')}}</label>                                       
                                    </div>
                                    <div class="additional-guest" v-if="additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuestCount}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>                                    
                                    <div v-if="selectHotel" class="hotel-detail-footer-list clearfix addup-list"></div>
                                </div>
                            </div>                                    
                             <button @click="removeFlash(index,true,0)" type="button" :class="proposal">{{$t('message.BOOK')}}</button>
                        </div>
                        <div class="clearfix"></div> 
                        <div class="price-strip"  v-if="criteria.use_type == 1 && criteria.ticket == 1 && criteria.unit == 'ticket' && criteria.service_id > 0 && bookNow == 0 && withoutOffer == 1">
                            <div class="price-area">
                                <div class="upperPart">
                                    <div class="public_price">
                                        <label>{{$t('message.PRICE')}}:</label>
                                        <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | pricePerDayFormat(currency, criteria.total_days, criteria.service_id)}}</span>
                                    </div>
                                     <div class="your-offer">
                                        <label>{{$t('message.BOOK_NOW')}}</label>                                       
                                    </div>
                                    <div class="guest-rate">
                                        <label>{{$t('message.RATE_IS_FOR')}}:</label>
                                        <span>{{criteria.ticket}} {{$t('message.GUEST')}}</span>
                                    </div>    
                                    <div class="additional-guest" v-if="additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuestCount}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                    
                                    <div v-if="selectHotel" class="hotel-detail-footer-list clearfix addup-list"></div>
                                </div>
                            </div>                                    
                             <button @click="removeFlash(index,true,0)" type="button" :class="proposal">{{$t('message.BOOK')}}</button>
                        </div>
                        <div class="clearfix"></div>

                        <div class="price-strip" v-if="criteria.use_type == 1 && criteria.duration == 1 && criteria.service_id == 0 && ((bookNow != 0 && withoutOffer == 1) || withoutOffer == 0)">
                            <div class="price-area">
                                <div class="upperPart">
                                    <div class="public_price">
                                        <label>{{$t('message.PRICE')}}:</label>
                                        <span class="fs24 price line-through1">{{currency}} {{ parseFloat(bidDetail.bid_amount).toFixed(2) | priceFormat(currency)}}</span>
                                    </div>
                                    <div class="make_your_offer" v-if="!Object.keys(newbiddingprice).length" >
                                        <label>{{$t('message.YOUR_OFFER')}}</label>
                                        <div class="input-price" v-if="!Object.keys(newbiddingprice).length">                                            
                                            <input  type="text" inputmode="numeric" pattern="\d*" class="form-control bid-class" v-model="amount" maxlength="15" :placeholder="deal" @click="removeFlash(index,true)" @keyup="submitPrice(brand.rooms)">
                                            <span class="currency">{{currency}}</span>                                            
                                            <label v-if="amountError" class="error" >{{$t('message.VALID_AMOUNT')}}</label> 
                                        </div>
                                        
                                    </div>
                                    <div class="additional-guest" v-if="!Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length == 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuest}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                    <div class="additional-guest" v-if="!Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length > 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuestCount}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                     <div v-if="selectHotel" class="hotel-detail-footer-list clearfix addup-list"></div>
                                </div>
                            </div>                                    
                             <button @click="submitBid(index,additionalRate)" v-if="(amount && !Object.keys(newbiddingprice).length)" type="button" :class="proposal">{{$t('message.SUBMIT')}}</button>
                        </div>
                        <div class="clearfix"></div>

                        <div class="price-strip"  v-if="criteria.use_type == 1 && criteria.duration == 1 && criteria.unit == 'hourly' && criteria.service_id > 0 && ((bookNow != 0 && withoutOffer == 1) || withoutOffer == 0)">
                            <div class="price-area">
                                <div class="upperPart">
                                    <div class="public_price">
                                        <label>{{$t('message.PRICE')}}:</label>
                                        <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | pricePerDayFormat(currency, criteria.total_days, criteria.service_id)}}</span>
                                    </div>
                                    <div class="offer"  v-if="Object.keys(newbiddingprice).length">
                                        <label>{{$t('message.YOUR_OFFER_PRICE')}}</label>
                                        <span class="fs24 price line-through1">{{currency}} {{ parseFloat(bidDetail.bid_amount).toFixed(2) | priceFormat(currency)}}</span>
                                    </div>
                                    <div class="make_your_offer">
                                        <label v-if="!Object.keys(newbiddingprice).length">{{$t('message.YOUR_OFFER')}}:</label>
                                        <div class="input-price" v-if="!Object.keys(newbiddingprice).length">                                            
                                            <input  type="text" inputmode="numeric" pattern="\d*" class="form-control bid-class" v-model="amount" maxlength="15" :placeholder="deal" @click="removeFlash(index,true)" @keyup="submitPrice(brand.rooms)">
                                            <span class="currency">{{currency}}</span>                                            
                                            <label v-if="amountError" class="error" >{{$t('message.VALID_AMOUNT')}}</label> 
                                        </div>
                                        
                                    </div>
                                    <div class="additional-guest" v-if="!Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length == 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuest}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                    <div class="additional-guest" v-if="!Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length > 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuestCount}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                    <div v-if="selectHotel" class="hotel-detail-footer-list clearfix addup-list"></div>
                                </div>
                            </div>                                    
                             <button @click="submitBid(index,additionalRate)" v-if="(amount && !Object.keys(newbiddingprice).length)" type="button" :class="proposal">{{$t('message.SUBMIT')}}</button>
                        </div>
                        <div class="clearfix"></div>

                        <div class="price-strip" v-if="criteria.use_type == 1 && criteria.unit == 'ticket' && criteria.ticket == 1 && criteria.service_id > 0 && ((bookNow != 0 && withoutOffer == 1) || withoutOffer == 0)">
                            <div class="price-area">
                                <div class="upperPart">
                                    <div class="public_price">
                                        <label>{{$t('message.PRICE')}}:</label>
                                        <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | pricePerDayFormat(currency, criteria.total_days, criteria.service_id)}}</span>
                                    </div>
                                    <div class="your-offer" v-if="Object.keys(newbiddingprice).length">
                                        <label>{{$t('message.YOUR_OFFER_PRICE')}}</label>
                                        <span class="fs24 price line-through1">{{currency}} {{ parseFloat(bidDetail.bid_amount).toFixed(2) | priceFormat(currency)}}</span>
                                    </div>
                                    <div class="make_your_offer">
                                        <label v-if="!Object.keys(newbiddingprice).length">{{$t('message.YOUR_OFFER')}}:</label>
                                        <div class="input-price" v-if="!Object.keys(newbiddingprice).length">                                            
                                            <input  type="text" inputmode="numeric" pattern="\d*" class="form-control bid-class" v-model="amount" maxlength="15" :placeholder="deal" @click="removeFlash(index,true)" @keyup="submitPrice(brand.rooms)">
                                            <span class="currency">{{currency}}</span>                                            
                                            <label v-if="amountError" class="error" >{{$t('message.VALID_AMOUNT')}}</label> 
                                        </div>
                                        
                                    </div>
                                    <div class="additional-guest" v-if="!Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length == 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuest}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                    <div class="additional-guest" v-if="!Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length > 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuestCount}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                    <div class="guest-rate" v-if="Object.keys(newbiddingprice).length == 0">
                                        <label>{{$t('message.RATE_IS_FOR')}}:</label>
                                        <span>{{(brand.rooms) | maxOcuupencyTicket(criteria.ticket)}} {{$t('message.GUEST')}}</span>
                                    </div>
                                    <div v-if="selectHotel" class="hotel-detail-footer-list clearfix addup-list"></div>
                                </div>
                            </div>                                    
                             <button @click="submitBid(index,additionalRate)" v-if="(amount && !Object.keys(newbiddingprice).length)" type="button" :class="proposal">{{$t('message.SUBMIT')}}</button>
                        </div>
                        <div class="clearfix"></div>                        

                        <div class="price-strip" v-if="criteria.use_type == 1  && criteria.duration == 1 && criteria.service_id == 0 && Object.keys(newbiddingprice).length">
                            <div class="price-area">
                                <div class="upperPart">                                    
                                    <div class="make_your_offer">
                                        <label>{{$t('message.NEW_OFFER')}}:</label>
                                        <div class="input-price">                                            
                                            <input  type="text" inputmode="numeric" pattern="\d*" class="form-control bid-class" v-model="amount" maxlength="15" :placeholder="deal" @click="removeFlash(index,true)" @keyup="submitPrice(brand.rooms)">
                                            <span class="currency">{{currency}}</span>                                            
                                            <label v-if="amountError" class="error" >{{$t('message.VALID_AMOUNT')}}</label> 
                                        </div>
                                        
                                    </div>
                                    <div class="additional-guest" v-if="Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length == 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuest}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                    <div class="additional-guest" v-if="Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length > 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuestCount}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                    <div v-if="selectHotel" class="hotel-detail-footer-list clearfix addup-list"></div>
                                </div>
                            </div>                                    
                                <button @click="submitBid(index,additionalRate)" type="button" :class="proposal">{{$t('message.SUBMIT')}}</button>
                        </div>
                        <div class="clearfix"></div>

                        <div class="price-strip" v-if="criteria.use_type == 1  && criteria.duration == 1  && criteria.unit == 'hourly' && criteria.service_id > 0 && Object.keys(newbiddingprice).length">
                            <div class="price-area">
                                <div class="upperPart">                                    
                                    <div class="make_your_offer">
                                        <label>{{$t('message.NEW_OFFER')}}:</label>
                                        <div class="input-price">                                            
                                            <input  type="text" inputmode="numeric" pattern="\d*" class="form-control bid-class" v-model="amount" maxlength="15" :placeholder="deal" @click="removeFlash(index,true)" @keyup="submitPrice(brand.rooms)">
                                            <span class="currency">{{currency}}</span>                                            
                                            <label v-if="amountError" class="error" >{{$t('message.VALID_AMOUNT')}}</label> 
                                        </div>
                                        
                                    </div>
                                    <div class="additional-guest" v-if="Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length == 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuest}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                    <div class="additional-guest" v-if="Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length > 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuestCount}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                    <div v-if="selectHotel" class="hotel-detail-footer-list clearfix addup-list"></div>
                                </div>
                            </div>                                    
                                <button @click="submitBid(index,additionalRate)" type="button" :class="proposal">{{$t('message.SUBMIT')}}</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="price-strip" v-if="criteria.use_type == 1  && criteria.duration == 1  && criteria.unit == 'hourly' && criteria.service_id > 0 && Object.keys(newbiddingprice).length">
                            <div class="price-area">
                                <div class="upperPart">                                    
                                    <div class="make_your_offer">
                                        <label>{{$t('message.NEW_OFFER')}}:</label>
                                        <div class="input-price">                                            
                                            <input  type="text" inputmode="numeric" pattern="\d*" class="form-control bid-class" v-model="amount" maxlength="15" :placeholder="deal" @click="removeFlash(index,true)" @keyup="submitPrice(brand.rooms)">
                                            <span class="currency">{{currency}}</span>                                            
                                            <label v-if="amountError" class="error" >{{$t('message.VALID_AMOUNT')}}</label> 
                                        </div>
                                        
                                    </div>
                                    <div class="additional-guest" v-if="Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length == 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuest}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                    <div class="additional-guest" v-if="Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length > 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuestCount}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                    <div v-if="selectHotel" class="hotel-detail-footer-list clearfix addup-list"></div>
                                </div>
                            </div>                                    
                                <button @click="submitBid(index,additionalRate)" type="button" :class="proposal">{{$t('message.SUBMIT')}}</button>
                        </div>
                        <div class="clearfix"></div>

                        <div class="price-strip" v-if="criteria.use_type == 1  && criteria.ticket == 1  && criteria.unit == 'ticket' && criteria.service_id > 0 && Object.keys(newbiddingprice).length">
                            <div class="price-area">
                                <div class="upperPart">                                    
                                    <div class="make_your_offer">
                                        <label>{{$t('message.NEW_OFFER')}}:</label>
                                        <div class="input-price">                                            
                                            <input  type="text" inputmode="numeric" pattern="\d*" class="form-control bid-class" v-model="amount" maxlength="15" :placeholder="deal" @click="removeFlash(index,true)" @keyup="submitPrice(brand.rooms)">
                                            <span class="currency">{{currency}}</span>                                            
                                            <label v-if="amountError" class="error" >{{$t('message.VALID_AMOUNT')}}</label> 
                                        </div>
                                        
                                    </div>
                                    <div class="additional-guest" v-if="Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length == 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuest}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                    <div class="additional-guest" v-if="Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length > 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuestCount}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                    <div class="guest-rate">
                                        <label>{{$t('message.RATE_IS_FOR')}}:</label>
                                        <span>{{(brand.rooms) | maxOcuupencyTicket(criteria.ticket)}} {{$t('message.GUEST')}}</span></div>
                                    <div v-if="selectHotel" class="hotel-detail-footer-list clearfix addup-list"></div>
                                </div>
                            </div>                                    
                                <button @click="submitBid(index,additionalRate)" type="button" :class="proposal">{{$t('message.SUBMIT')}}</button>
                        </div>
                        <div class="clearfix"></div>

                        <div class="price_box_wrap p1" v-if="criteria.total_days > 1 && ((bookNow != 0 && withoutOffer == 1) || withoutOffer == 0)">
                             <div class="price-strip">
                                <div class="price-area">
                                    <div class="upperPart">                                    
                                        <div class="public_price">
                                            <label>{{$t('message.TOTAL_FOR')}} {{ criteria.total_days}} {{$t('message.NIGHTS')}}:</label>
                                            <span :class="'fs24 price'">{{currency}} {{ (brand.rooms) | totalPriceFormat(currency, criteria.total_days, criteria.service_id, criteria.unit) }} </span>
                                        </div>
                                        <div class="total-public-price">
                                            <label>{{$t('message.PRICE_PER_NIGHT')}}</label>
                                            <span :class="'fs24 price'">{{currency}} {{ (brand.rooms) | pricePerDayFormat(currency, criteria.total_days, criteria.service_id)}} </span>
                                        </div>
                                    </div>
                                    <!-- <div class="upperPart" v-if="Object.keys(newbiddingprice).length">                                    
                                        <div class="public_price">
                                            <label>{{$t('message.YOUR_OFFER_FOR')}} {{ criteria.total_days}} {{$t('message.NIGHTS')}}:</label>
                                           <span class="fs24 price line-through1">{{currency}} {{ parseFloat(bidDetail.bid_amount).toFixed(2) | priceFormat(currency)}}</span>
                                        </div>
                                        <div class="total-public-price">
                                            <label>{{$t('message.YOUR_OFFER_PER_NIGHT')}}:</label>
                                            <span class="fs24 price line-through1">{{currency}} {{ parseFloat(bidDetail.bid_amount/criteria.total_days).toFixed(2) | priceFormat(currency)}}</span>
                                        </div>
                                    </div> -->
                                    <div class="upperPart">                                    
                                        <!-- <div class="public_price" v-if="Object.keys(newbiddingprice).length">
                                            <label>{{$t('message.NEW_OFFER_FOR')}} {{ criteria.total_days}} {{$t('message.NIGHTS')}}:</label>
                                           <span class="fs24 price">{{currency}} {{parseFloat(total).toFixed(2) | priceFormat(currency)}}</span>
                                        </div>
                                        <div class="make_your_offer"  v-if="Object.keys(newbiddingprice).length">
                                            <label>{{$t('message.NEW_OFFER_PER_NIGHT')}}:</label>
                                            <div class="input-price">                                            
                                                <input  type="text" inputmode="numeric" pattern="\d*" class="form-control bid-class" v-model="amount" maxlength="15" :placeholder="deal" @click="removeFlash(index,true)" @keyup="submitPrice(brand.rooms)">
                                                <span class="currency">{{currency}}</span>                                            
                                                <label v-if="amountError" class="error" >{{$t('message.VALID_AMOUNT')}}</label> 
                                            </div>
                                            
                                        </div> -->
                                        
                                        <div class="public_price" >
                                            <label>{{$t('message.YOUR_OFFER_FOR')}} {{ criteria.total_days}} {{$t('message.NIGHTS')}}:</label>
                                            <span class="fs24 price">{{currency}} {{parseFloat(total).toFixed(2) | priceFormat(currency)}}</span>
                                        </div>
                                        <div class="make_your_offer" >
                                            <label>{{$t('message.YOUR_OFFER_PER_NIGHT')}}:</label>
                                            <div class="input-price">                                            
                                                <input  type="text" inputmode="numeric" pattern="\d*" class="form-control bid-class" v-model="amount" maxlength="15" :placeholder="deal" @click="removeFlash(index,true)" @keyup="submitPrice(brand.rooms)">
                                                <span class="currency">{{currency}}</span>                                            
                                                <label v-if="amountError" class="error" >{{$t('message.VALID_AMOUNT')}}</label> 
                                            </div>
                                            
                                        </div>

                                        <div class="additional-guest" v-if="!Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length == 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuest}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                        <div class="additional-guest" v-if="!Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length > 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuestCount}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                    </div>
                                </div> 
                                <button @click="submitBid(index,additionalRate, 'newbidprice')" v-if="(amount)" type="button" :class="proposal">{{$t('message.SUBMIT')}}</button>       
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="price_box_wrap p2"  v-if="criteria.total_days>1 && bookNow == 0 && withoutOffer == 1">
                             <div class="price-strip" v-if="criteria.use_type == 1  && criteria.ticket == 1  && criteria.unit == 'ticket' && criteria.service_id > 0 && Object.keys(newbiddingprice).length">
                                <div class="price-area">
                                    <div class="upperPart">                                    
                                        <div class="public_price">
                                            <label>{{$t('message.TOTAL_FOR')}} {{ criteria.total_days}} {{$t('message.NIGHTS')}}:</label>
                                            <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | totalPriceFormat(currency, criteria.total_days, criteria.service_id, criteria.unit) }}</span>
                                        </div>
                                        <div class="price-per">
                                            <label>{{$t('message.PRICE_PER_NIGHT')}}</label>
                                            <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | pricePerDayFormat(currency, criteria.total_days, criteria.service_id)}}</span>
                                        </div>
                                        <div class="offer">
                                            <label>{{$t('message.BOOK_NOW')}}</label>
                                        </div>
                                        <div class="additional-guest" v-if="additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuestCount}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                    </div>
                                </div>                                    
                                <button @click="removeFlash(index,true,0)" type="button" :class="proposal">{{$t('message.BOOK')}}</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                         <div class="clearfix"></div>
                        <div class="price_box_wrap p3" v-if="criteria.duration > 1 && criteria.use_type == 1 && criteria.service_id == 0 && ((bookNow != 0 && withoutOffer == 1) || withoutOffer == 0)">
                            <div class="price-strip">
                                <div class="price-area">
                                        <div class="upper_part">
                                            <div class="hotel-price">
                                                <label v-if="criteria.service_id==0">{{$t('message.TOTAL_FOR')}} {{ criteria.duration}} {{$t('message.HOURS')}}:</label>
                                                <label v-else>{{$t('message.TOTAL_FOR')}} {{ criteria.ticket}} {{$t('message.TICKETS')}}:</label>
                                                <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | totalPriceFormat(currency, criteria.duration, criteria.service_id, criteria.unit) }} </span> 
                                            </div>
                                            <div class="your-offer">                                                
                                                <label v-if="criteria.service_id==0">{{$t('message.PRICE_PER_HOUR')}}:</label>
                                                <label v-else>{{$t('message.PRICE_PER_Ticket')}}:</label>
                                                <span :class="amount?'fs24 price line-through1':'fs24 price'" v-if="criteria.service_id==0">{{currency}} {{ (brand.rooms) | pricePerDayFormat(currency, criteria.duration, criteria.service_id)}} </span>
                                                <span :class="amount?'fs24 price line-through1':'fs24 price'" v-else>{{currency}} {{ (brand.rooms) | pricePerDayFormat(currency, criteria.duration, criteria.service_id)}} </span>
                                            </div>
                                        </div>
                                        <div class="upper_part"  v-if="Object.keys(newbiddingprice).length">
                                            <div class="hotel-price">
                                                <label v-if="criteria.service_id==0">{{$t('message.YOUR_OFFER_FOR')}} {{ criteria.duration}} {{$t('message.HOURS')}}:</label>
                                                <label v-else>{{$t('message.YOUR_OFFER_FOR')}} {{ criteria.ticket}} {{$t('message.TICKETS')}}:</label>
                                                <span class="fs24 price line-through1">{{currency}} {{ parseFloat(bidDetail.bid_amount).toFixed(2) | priceFormat(currency)}}</span> 
                                            </div>
                                            <div class="your-offer">                                                
                                                <label>{{$t('message.YOUR_OFFER_PER_HOUR')}}:</label>
                                                <span class="fs24 price line-through1">{{currency}} {{ parseFloat(bidDetail.bid_amount/criteria.duration).toFixed(2) | priceFormat(currency)}}</span>
                                            </div>
                                        </div>
                                         <div class="upper_part">

                                            <div v-if="Object.keys(newbiddingprice).length"  class="your-offer">
                                                <label>{{$t('message.NEW_OFFER_FOR')}} {{ criteria.duration}} {{$t('message.HOURS')}}</label>
                                                <span class="fs24 price">{{currency}} {{parseFloat(total).toFixed(2) | priceFormat(currency)}}</span>
                                            </div>
                                            <div class="make_your_offer"  v-if="Object.keys(newbiddingprice).length">
                                                <label>{{$t('message.NEW_OFFER_PER_HOUR')}}</label>
                                                <div class="input-price">                                            
                                                    <input  type="text" inputmode="numeric" pattern="\d*" class="form-control bid-class" v-model="amount" maxlength="15" :placeholder="deal" @click="removeFlash(index,true)" @keyup="submitPrice(brand.rooms)">
                                                    <span class="currency">{{currency}}</span>                                            
                                                    <label v-if="amountError" class="error" >{{$t('message.VALID_AMOUNT')}}</label> 
                                                </div>
                                                
                                            </div>
                                            <div class="your-offer"  v-if="!Object.keys(newbiddingprice).length">
                                                <label v-if="criteria.service_id==0">{{$t('message.YOUR_OFFER_FOR')}} {{ criteria.duration}} {{$t('message.HOURS')}}:</label>
                                                <label v-else>{{$t('message.YOUR_OFFER_FOR')}} {{ criteria.ticket}} {{$t('message.TICKETS')}}:</label>
                                                <span class="fs24 price">{{currency}} {{parseFloat(total).toFixed(2) | priceFormat(currency)}}</span> 
                                            </div>
                                            <div class="make_your_offer" v-if="!Object.keys(newbiddingprice).length">
                                                <label v-if="criteria.service_id==0">{{$t('message.YOUR_OFFER_PER_HOUR')}}:</label>
                                                <label v-else>{{$t('message.YOUR_OFFER_PER_TICKET')}}:</label>
                                                <div class="input-price">                                            
                                                    <input  type="text" inputmode="numeric" pattern="\d*" class="form-control bid-class" v-model="amount" maxlength="15" :placeholder="deal" @click="removeFlash(index,true)" @keyup="submitPrice(brand.rooms)">
                                                    <span class="currency">{{currency}}</span>                                            
                                                    <label v-if="amountError" class="error" >{{$t('message.VALID_AMOUNT')}}</label> 
                                                </div>
                                                
                                            </div>

                                             <div class="additional-guest" v-if="!Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length == 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuest}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                             <div class="additional-guest" v-if="!Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length > 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuestCount}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                        </div>
                                </div>
                                <button @click="submitBid(index,additionalRate, 'newbidprice')" v-if="(amount)" type="button" :class="proposal">{{$t('message.SUBMIT')}}</button>
                            </div>
                        </div>
                         <div class="clearfix"></div>
                        
                        <div class="price_box_wrap p4"  v-if="criteria.duration > 1 && criteria.use_type == 1 && criteria.unit == 'hourly' && criteria.service_id > 0 && ((bookNow != 0 && withoutOffer == 1) || withoutOffer == 0)">
                            <div class="price-strip">
                                <div class="price-area">                                         
                                        <div class="upper_part">
                                            <div class="hotel-price">
                                                <label>{{$t('message.TOTAL_FOR')}} {{ criteria.duration}} {{$t('message.HOURS')}}:</label>
                                                <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | totalPriceFormat(currency, criteria.duration, criteria.service_id, criteria.unit) }} </span> 
                                            </div>
                                            <div class="your-offer">                                                
                                                <label>{{$t('message.PRICE_PER_HOUR')}}:</label>                                                
                                                <span :class="amount?'fs24 price line-through1':'fs24 price'" v-if="criteria.service_id==0">{{currency}} {{ (brand.rooms) | pricePerDayFormat(currency, criteria.duration, criteria.service_id)}} </span>
                                            <span :class="amount?'fs24 price line-through1':'fs24 price'" v-else>{{currency}} {{ (brand.rooms) | pricePerDayFormat(currency, criteria.duration, criteria.service_id)}} </span>
                                            </div>
                                        </div>

                                        <div class="upper_part"  v-if="Object.keys(newbiddingprice).length">
                                            <div class="hotel-price">
                                                <label>{{$t('message.YOUR_OFFER_FOR')}} {{ criteria.duration}} {{$t('message.HOURS')}}:</label>
                                                <span class="fs24 price line-through1">{{currency}} {{ parseFloat(bidDetail.bid_amount).toFixed(2) | priceFormat(currency)}}</span> 
                                            </div>
                                            <div class="your-offer">                                                
                                                <label>{{$t('message.YOUR_OFFER_PER_HOUR')}}:</label>
                                                <span class="fs24 price line-through1">{{currency}} {{ parseFloat(bidDetail.bid_amount/criteria.duration).toFixed(2) | priceFormat(currency)}}</span>
                                            </div>
                                        </div>
                                
                                         <div class="upper_part">                                            
                                            <div v-if="Object.keys(newbiddingprice).length"  class="your-offer">
                                                <label>{{$t('message.NEW_OFFER_FOR')}} {{ criteria.duration}} {{$t('message.HOURS')}}</label>
                                                <span class="fs24 price">{{currency}} {{parseFloat(total).toFixed(2) | priceFormat(currency)}}</span>
                                            </div>
                                            <div class="make_your_offer"  v-if="Object.keys(newbiddingprice).length">
                                                <label>{{$t('message.NEW_OFFER_PER_HOUR')}}</label>
                                                <div class="input-price">                                            
                                                   <input  type="text" inputmode="numeric" pattern="\d*" class="form-control bid-class" v-model="amount" maxlength="15" :placeholder="deal" @click="removeFlash(index,true)" @keyup="submitPrice(brand.rooms)">
                                                    <span class="currency">{{currency}}</span>                                            
                                                    <label v-if="amountError" class="error" >{{$t('message.VALID_AMOUNT')}}</label> 
                                                </div>
                                                
                                            </div>                                            
                                            <div class="your-offer"  v-if="!Object.keys(newbiddingprice).length">
                                                <label>{{$t('message.YOUR_OFFER_FOR')}} {{ criteria.duration}} {{$t('message.HOURS')}}:</label>                                                
                                                <span class="fs24 price">{{currency}} {{parseFloat(total).toFixed(2) | priceFormat(currency)}}</span> 
                                            </div>
                                            <div class="make_your_offer" v-if="!Object.keys(newbiddingprice).length">
                                                <label v-if="criteria.service_id==0">{{$t('message.YOUR_OFFER_PER_HOUR')}}:</label>                                                
                                                <div class="input-price">                                            
                                                    <input  type="text" inputmode="numeric" pattern="\d*" class="form-control bid-class" v-model="amount" maxlength="15" :placeholder="deal" @click="removeFlash(index,true)" @keyup="submitPrice(brand.rooms)">
                                                    <span class="currency">{{currency}}</span>                                            
                                                    <label v-if="amountError" class="error" >{{$t('message.VALID_AMOUNT')}}</label> 
                                                </div>
                                                
                                            </div>

                                            <div class="additional-guest" v-if="!Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length == 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuest}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                            <div class="additional-guest" v-if="!Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length > 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuestCount}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                        </div>
                                </div>
                                <button @click="submitBid(index,additionalRate, 'newbidprice')" v-if="(amount)" type="button" :class="proposal">{{$t('message.SUBMIT')}}</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                      
                         <div class="price_box_wrap p5" v-if="criteria.ticket > 1 && criteria.use_type == 1 && criteria.unit == 'ticket' && criteria.service_id > 0 && ((bookNow != 0 && withoutOffer == 1) || withoutOffer == 0)">
                            <div class="price-strip">
                                <div class="price-area">                                         
                                        <div class="upper_part">                                            
                                            <div class="hotel-price">
                                                <label v-if="criteria.service_id==0">{{$t('message.TOTAL_FOR')}} {{ criteria.duration}} {{$t('message.HOURS')}}:</label>
                                                <label v-else>{{$t('message.TOTAL_FOR')}} {{ criteria.ticket}} {{$t('message.TICKETS')}}:</label>
                                                <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | totalPriceFormat(currency, criteria.ticket, criteria.service_id, criteria.unit) }} </span>  
                                            </div>
                                            <div class="your-offer">                                                
                                                <label v-if="criteria.service_id==0">{{$t('message.PRICE_PER_HOUR')}}:</label>
                                                <label v-else>{{$t('message.PRICE_PER_Ticket')}}:</label>                                             
                                                <span :class="amount?'fs24 price line-through1':'fs24 price'" v-if="criteria.service_id==0">{{currency}} {{ (brand.rooms) | pricePerDayFormat(currency, criteria.duration, criteria.service_id)}} </span>
                                                <span :class="amount?'fs24 price line-through1':'fs24 price'" v-else>{{currency}} {{ (brand.rooms) | pricePerDayFormat(currency, criteria.ticket, criteria.service_id)}} </span>
                                            </div>
                                        </div>
                                        <div class="upper_part"  v-if="Object.keys(newbiddingprice).length">
                                            <div class="hotel-price">
                                                <label v-if="criteria.service_id==0">{{$t('message.YOUR_OFFER_FOR')}} {{ criteria.ticket}} {{$t('message.TICKETS')}}:</label>
                                                <label v-else>{{$t('message.YOUR_OFFER_FOR')}} {{ criteria.ticket}} {{$t('message.TICKETS')}}:</label>
                                                <span class="fs24 price line-through1">{{currency}} {{ parseFloat(bidDetail.bid_amount).toFixed(2) | priceFormat(currency)}}</span>
                                            </div>
                                            <div class="your-offer">                                                
                                                <label>{{$t('message.PRICE_PER_Ticket')}}:</label>
                                                <span class="fs24 price line-through1">{{currency}} {{ parseFloat(bidDetail.bid_amount/criteria.ticket).toFixed(2) | priceFormat(currency)}}</span>
                                            </div>
                                        </div>
                                        
                                         <div class="upper_part">                                            
                                            <div v-if="Object.keys(newbiddingprice).length"  class="your-offer">
                                                <label>{{$t('message.NEW_OFFER_FOR')}} {{ criteria.ticket}} {{$t('message.TICKETS')}}</label>
                                                <span class="fs24 price">{{currency}} {{parseFloat(total).toFixed(2) | priceFormat(currency)}}</span>
                                            </div>
                                            <div class="make_your_offer" v-if="Object.keys(newbiddingprice).length">
                                                <label>{{$t('message.NEW_OFFER_PER_TICKET')}}</label>
                                                <div class="input-price">                                            
                                                   <input  type="text" inputmode="numeric" pattern="\d*" class="form-control bid-class" v-model="amount" maxlength="15" :placeholder="deal" @click="removeFlash(index,true)" @keyup="submitPrice(brand.rooms)">
                                                    <span class="currency">{{currency}}</span>                                            
                                                    <label v-if="amountError" class="error" >{{$t('message.VALID_AMOUNT')}}</label> 
                                                </div>
                                                
                                            </div>
                                            
                                            <div class="your-offer"  v-if="!Object.keys(newbiddingprice).length">
                                                <label  v-if="criteria.service_id==0">{{$t('message.YOUR_OFFER_FOR')}} {{ criteria.duration}} {{$t('message.HOURS')}}:</label>                                                
                                                <label v-else>{{$t('message.YOUR_OFFER_FOR')}} {{ criteria.ticket}} {{$t('message.TICKETS')}}:</label>
                                                <span class="fs24 price">{{currency}} {{parseFloat(total).toFixed(2) | priceFormat(currency)}}</span>
                                            </div>
                                            <div class="make_your_offer" v-if="!Object.keys(newbiddingprice).length">
                                                <label v-if="criteria.service_id==0">{{$t('message.YOUR_OFFER_PER_HOUR')}}:</label>
                                                <label v-else>{{$t('message.YOUR_OFFER_PER_TICKET')}}:</label>                                                
                                                <div class="input-price">                                            
                                                    <input  type="text" inputmode="numeric" pattern="\d*" class="form-control bid-class" v-model="amount" maxlength="15" :placeholder="deal" @click="removeFlash(index,true)" @keyup="submitPrice(brand.rooms)">
                                                    <span class="currency">{{currency}}</span>                                            
                                                    <label v-if="amountError" class="error" >{{$t('message.VALID_AMOUNT')}}</label> 
                                                </div>
                                                
                                            </div>

                                            <div class="additional-guest" v-if="!Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length == 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuest}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                            <div class="additional-guest" v-if="!Object.keys(newbiddingprice).length && Object.keys(brand.rooms).length > 1 && additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuestCount}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>

                                            <div class="guest-rate">
                                                <label>{{$t('message.RATE_IS_FOR')}} : {{(brand.rooms) | maxOcuupencyTicket(criteria.ticket)}} {{$t('message.GUESTS')}}</label>
                                            </div>
                                        </div>
                                </div>
                                <button @click="submitBid(index,additionalRate, 'newbidprice')" v-if="(amount)" type="button" :class="proposal">{{$t('message.SUBMIT')}}</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                         <div class="price_box_wrap p6" v-if="criteria.duration > 1 && criteria.use_type == 1 && criteria.service_id==0 && bookNow == 0 && withoutOffer == 1">
                            <div class="price-strip">
                                <div class="price-area">                                        
                                    <div class="upper_part"  v-if="criteria.service_id==0">                                            
                                        <div class="hotel-price">
                                            <label>{{$t('message.TOTAL_FOR')}} {{ criteria.duration}} {{$t('message.HOURS')}}:</label>
                                            <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | totalPriceFormat(currency, criteria.duration, criteria.service_id, criteria.service_id, criteria.unit) }}</span> 
                                        </div>
                                        <div class="your-offer">                                                
                                            <label>{{$t('message.PRICE_PER_HOUR')}}:</label>
                                            <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | pricePerDayFormat(currency, criteria.duration)}}</span>
                                        </div>
                                    </div>
                                    <div class="upper_part" v-else>
                                        <div class="hotel-price">
                                            <label>{{$t('message.TOTAL_FOR')}} {{ criteria.ticket}} {{$t('message.HOURS')}}:</label>
                                            <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | totalPriceFormat(currency, criteria.ticket, criteria.service_id, criteria.service_id, criteria.unit) }}</span> 
                                        </div>
                                        <div class="your-offer">                                                
                                            <label>{{$t('message.PRICE_PER_HOUR')}}:</label>
                                            <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | pricePerDayFormat(currency, criteria.ticket)}}</span>
                                        </div>
                                    </div>
                                        
                                    <div class="upper_part">
                                        <div class="your-offer">                 
                                            <label>{{$t('message.BOOK_NOW')}}</label>
                                         </div>
                                        <div class="additional-guest" v-if="additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuestCount}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                    </div>
                                </div>
                                <button @click="removeFlash(index,true,0)" type="button" :class="proposal">{{$t('message.BOOK')}}</button>
                            </div>
                        </div>
                         <div class="clearfix"></div>
                         <div class="price_box_wrap p7" v-if="criteria.duration > 1 && criteria.use_type == 1 && criteria.unit == 'hourly' && criteria.service_id > 0 && bookNow == 0 && withoutOffer == 1">
                            <div class="price-strip">
                                <div class="price-area">                                                                          
                                    <div class="upper_part" v-if="criteria.service_id==0">                                            
                                        <div class="hotel-price">
                                            <label>{{$t('message.TOTAL_FOR')}} {{ criteria.duration}} {{$t('message.HOURS')}}:</label>
                                            <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | totalPriceFormat(currency, criteria.duration, criteria.service_id, criteria.service_id) }}</span> 
                                        </div>
                                        <div class="your-offer">                                                
                                            <label>{{$t('message.PRICE_PER_HOUR')}}:</label>
                                            <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | pricePerDayFormat(currency, criteria.duration)}}</span>
                                        </div>
                                    </div>
                                    
                                    <div class="upper_part" v-else>
                                        <div class="hotel-price">
                                            <label>{{$t('message.TOTAL_FOR')}} {{ criteria.ticket}} {{$t('message.HOURS')}}:</label>
                                            <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | totalPriceFormat(currency, criteria.ticket, criteria.service_id, criteria.service_id, criteria.unit) }}</span> 
                                        </div>
                                        <div class="your-offer">                                                
                                            <label>{{$t('message.PRICE_PER_HOUR')}}:</label>
                                            <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | pricePerDayFormat(currency, criteria.ticket)}}</span>
                                        </div>
                                    </div>
                                   
                                    <div class="upper_part">
                                        <div class="your-offer">                 
                                            <label>{{$t('message.BOOK_NOW')}}</label>
                                         </div>
                                         <div class="additional-guest" v-if="additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuestCount}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                    </div>
                                </div>
                                <button @click="removeFlash(index,true,0)" type="button" :class="proposal">{{$t('message.BOOK')}}</button>
                            </div>
                        </div>
                        
                        <div class="clearfix"></div>
                         <div class="price_box_wrap p8" v-if="criteria.ticket > 1 && criteria.use_type == 1 && criteria.unit == 'ticket' && criteria.service_id > 0 && bookNow == 0 && withoutOffer == 1">
                            <div class="price-strip">
                                <div class="price-area">                                                                         
                                    <div class="upper_part" v-if="criteria.service_id==0">                                            
                                        <div class="hotel-price">
                                            <label>{{$t('message.TOTAL_FOR')}} {{ criteria.duration}} {{$t('message.HOURS')}}:</label>
                                            <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | totalPriceFormat(currency, criteria.duration, criteria.service_id, criteria.service_id) }}</span> 
                                        </div>
                                        <div class="your-offer">                                                
                                            <label>{{$t('message.PRICE_PER_HOUR')}}:</label>
                                            <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | pricePerDayFormat(currency, criteria.duration)}}</span>
                                        </div>
                                    </div>
                                    
                                    <div class="upper_part" v-else>
                                        <div class="hotel-price">
                                            <label>{{$t('message.TOTAL_FOR')}} {{ criteria.ticket}} {{$t('message.HOURS')}}:</label>
                                            <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | totalPriceFormat(currency, criteria.ticket, criteria.service_id, criteria.service_id, criteria.unit) }}</span> 
                                        </div>
                                        <div class="your-offer">                                                
                                            <label>{{$t('message.PRICE_PER_HOUR')}}:</label>
                                            <span :class="amount?'fs24 price line-through1':'fs24 price'">{{currency}} {{ (brand.rooms) | pricePerDayFormat(currency, criteria.ticket)}}</span>
                                        </div>
                                    </div>
                                    <div class="upper_part">
                                        <div class="your-offer">                 
                                            <label>{{$t('message.BOOK_NOW')}}</label>
                                         </div>
                                         <div class="guest-rate">                 
                                            <label>{{$t('message.RATE_IS_FOR')}} : {{(brand.rooms) | maxOcuupencyTicket(criteria.ticket)}} {{$t('message.GUESTS')}}</label>
                                         </div>
                                         <div class="additional-guest" v-if="additionalRate" @click="additionGuest(additionalRate)">{{brand.rooms | additionalGuestCount}}&nbsp;x&nbsp;<i class="fa fa-user-plus">&nbsp;</i>(Incl.)</div>
                                    </div>
                                </div>
                                <button @click="removeFlash(index,true,0)" type="button" :class="proposal">{{$t('message.BOOK')}}</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
</div>
</template>



<script>

    import sideImg from './SideImg.vue'
    import amenityModal from './AmenityModal.vue'
    import previousBidAmtModal from './PreviousBidAmtModal.vue'
    import bathroomAmenityModal from './BathroomAmenityModal.vue'
    import additionalGuestModel from './AdditionalGuestModel.vue'
    import view360Modal from './View360Modal.vue'
    import { HotelDetails } from '@/mixins/hotel-details.js';

    export default {

        props:['brand','withoutOffer','bookNow','additionalRate', 'index','criteria','proposalClass','disabled','selectedHotels','removedHotelId','newbiddingprice'],

        mixins: [ HotelDetails ],


        data() {
            return {
                detail:this.brand,
                biddingprice:this.newbiddingprice,
                amount:null,
                files:[],
                total:'0.00',
                selectHotel:false,
                percentageDiscount:'',
                amountError:false,
                deal:'',
                indexPos:this.index,
                previousIndex:this.removedHotelId,
                showModal:false,
                amenityArr:[],
                showAmenityModal:false,
                showBathroomAmenityModal:false,
                showAdditionalRateModal:false,
                positionDisable:'',
                proposal:this.proposalClass,
                firstRoom:0,
                addtionalGuestData:[],
                show360Modal:false,
                system_suggested_price:'',
                showPreviousBidAmtModal:false
            }                
        },

        components: {
            sideImg,
            amenityModal,
            bathroomAmenityModal,
            additionalGuestModel,
            view360Modal,
            previousBidAmtModal
        },

        mounted: function () {
            this.$nextTick(function () {
                $('#loader').hide();
                var vm = this;
                $.each(this.newbiddingprice,function(key,value) {
                    if(key == vm.hotel.id) {            
                        vm.amount = 0;//value
                        vm.system_suggested_price = vm.criteria.use_type == 1 ? value*vm.criteria.duration : value*vm.criteria.total_days;
                        vm.submitPrice(vm.brand.rooms);
                    }
                });

                this.firstRoom = Object.keys(this.brand.rooms)[0];
            })
        },

        computed: {

            disabledPreviousBid() {
                return this.disabled;
            },

            currency: {
                get () {
                    return this.$store.getters.getCurrency;
                },
                set (value) {
                    this.$store.commit('setCurrency', value);
                }
            },
            no_of_guest() {
              let totalGuest = 0, noOfGuest = '';
              if(this.criteria.hasOwnProperty('rooms[]')){
                  let rooms  = this.criteria['rooms[]'];
                  if(Array.isArray(rooms)) {
                      rooms.forEach(function(value, key) {
                          totalGuest += parseInt(value);
                      });
                  } else {
                      totalGuest = parseInt(rooms);
                  }
                  return totalGuest;
              }
              return '';
          },
      },

      no_of_ticket() {
          let totalTicket = 0, noOfTicket = '' ;
          if(this.criteria.hasOwnProperty('ticket')){
              totalTicket  = this.criteria['ticket'];

              if (totalTicket > 1) noOfTicket = totalTicket+' '+this.$t('message.TICKETS');
              else noOfTicket = '1 '+this.$t('message.TICKETS');
              return noOfTicket;
          }
          return '';
      },

      updated(){
        if(this.removedHotelId !== this.indexPos) this.amount = null;
    },

    methods: {

        ceilValue(value){
            return Math.ceil(value);
        },

        roomAmenityPopUp(roomId) {

            let hotel = this.$store.getters.hotel;
            let apiURL = '/' + this.language + '/get-amenities'
            
            this.axios.post(apiURL, {"hotel_id": hotel.id,"room_type": roomId})
            .then((response) => {
                let amenityValue = response.data.data.amenities;
                this.amenityArr = [];
                for (var i = 0; i < amenityValue.length; i++) {
                    if (amenityValue[i].amenity)
                        this.amenityArr.push(amenityValue[i].amenity);
                }
                if(this.amenityArr.length) this.showAmenityModal = true;
            })
            .catch((error) => {
                this.amenityArr = [];
            });
        },
        
        bathroomAmenityPopUp(roomId){

            let hotel = this.$store.getters.hotel;
            let apiURL = '/' + this.language + '/get-amenities'
            
            this.axios.post(apiURL, {"hotel_id": hotel.id,"room_type": roomId})
            .then((response) => {
                let amenityValue = response.data.data.bathroomAmenities;
                this.amenityArr = [];
                for (var i = 0; i < amenityValue.length; i++) {
                    if (amenityValue[i].amenity)
                        this.amenityArr.push(amenityValue[i].amenity);
                }
                if(this.amenityArr.length) this.showBathroomAmenityModal = true;
            })
            .catch((error) => {
                this.amenityArr = [];
            });
        },
        
        additionGuest(roomId){

            let apiURL = '/' + this.language + '/get-addition-rate-plan'
            
            this.axios.post(apiURL, {"room_ids": roomId})
            .then((response) => {
                let data = response.data.data;
                if(data.length){
                    this.addtionalGuestData = data;
                    this.showAdditionalRateModal = true;
                }
            })
            .catch((error) => {
                this.addtionalGuestData = [];
            });
        },
        removeCommas(x) {
            if(this.currency == 'IDR'){
                return (String(x).replace(/\,/g,""));
            } else {
                return (String(x).replace(/\'/g,""));
                // return Number(String(x).replace(/\'/g,""));
            }
        },

        addCommas(x) {
            var parts = x.toString().split(".");
            if(this.currency == 'IDR'){
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            } else {
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, "'");
            }
            return parts.join(".");
        },

        onClose() {
            this.showModal = false;
            this.showAmenityModal = false;
            this.showBathroomAmenityModal = false;
            this.showAdditionalRateModal = false;
            this.show360Modal = false;
            this.showPreviousBidAmtModal = false;
        },

        view360() {
            this.show360Modal = true;
        },

        getPricePerDay(rooms) {
            let totalPrice = 0;
            Object.keys(rooms).forEach(function(key) {
                totalPrice += (rooms[key].count) * (rooms[key].avgRateUserCurrency);
            });
            // totalPrice = (totalPrice) / (this.criteria.total_days);
            // calculation for service id > 0 (day use service)
            if(this.criteria.ticket > 1 && this.criteria.service_id > 0){
                totalPrice = (totalPrice) / (this.criteria.ticket);
            }
            let amount = parseFloat(totalPrice).toFixed(2);
            return amount;
        },
        
        getTotalPrice() {
            let totalPrice = 0;
            let rooms = this.brand.rooms;
            let days = 1;
            console.log(this.criteria);
            if(this.criteria.use_type == 1 && this.criteria.unit == 'ticket')
                days = 1;//this.criteria.ticket;
            else if(this.criteria.use_type == 1 && this.criteria.unit == "hourly")
                days = this.criteria.duration;
            else
                days = this.criteria.total_days;
            Object.keys(rooms).forEach(function(key) {
                totalPrice += (rooms[key].count) * (rooms[key].avgRateUserCurrency) * (days);
            });
            let amount = parseFloat(totalPrice).toFixed(2);
            if(Object.keys(this.newbiddingprice).length == 0)
                this.system_suggested_price =  amount;
            return amount;
        },

        getTotalPriceInHotelCurrency() {
            let totalPrice = 0;
            let rooms = this.brand.rooms;
            let days = 1;
            if(this.criteria.use_type == 1 )
                days = this.criteria.duration;
            else
                days = this.criteria.total_days;
            Object.keys(rooms).forEach(function(key) {
                totalPrice += (rooms[key].count) * (rooms[key].avgRate) * (days);
            });
            let amount = parseFloat(totalPrice).toFixed(2);

            return amount;
        },
        
        submitPrice(rooms) {
            let perDayPrice = this.getPricePerDay(rooms);
            this.amount = this.addCommas(this.removeCommas(this.amount));
            if(isNaN(this.removeCommas(this.amount)) && this.amount !=='' ) {
             this.amountError = true;
             this.total = 0;
             this.percentageDiscount='';
         } else {
            this.amountError = false;
            if(this.removeCommas(this.amount)>parseFloat(perDayPrice) || this.removeCommas(this.amount) <=0 && this.amount !=='' ){
                this.amount = this.addCommas(parseFloat(perDayPrice).toFixed(2));
            }
            var reg = /^[0-9]+\.[0-9][0-9]/
            if(reg.test(this.removeCommas(this.amount)) && this.removeCommas(this.amount)<=parseFloat(perDayPrice) && this.amount !=='') 
            { 
                this.amount = 0;//this.addCommas(parseFloat(this.removeCommas(this.amount)).toFixed(2))
            }
            this.percentageDiscount = Math.round((((this.removeCommas(this.amount))*100)/perDayPrice)-100);
            if(this.percentageDiscount>0) {
                this.percentageDiscount = '';
            }
            if(this.criteria.use_type == 2){
                this.total = this.criteria.total_days*this.removeCommas(this.amount);
            }
            else if(this.criteria.service_id > 0 && this.criteria.use_type == 1 && this.criteria.unit == 'ticket'){
                this.total = this.criteria.ticket*this.removeCommas(this.amount);
            }else if(this.criteria.service_id > 0 && this.criteria.use_type == 1 && this.criteria.unit == 'hourly'){
                this.total = this.criteria.duration*this.removeCommas(this.amount);
            }else{
                this.total = this.criteria.duration*this.removeCommas(this.amount);
            }
        }
    },

    submitBid(combinationId,additionalRate, type = '') {
       
            // let selBidRoom = Object.keys(this.$store.getters.selectedBidRoom);
            let bidDetailsPre = this.$store.getters.getBidDetail;
            let bidDetailsPres = bidDetailsPre.selected_search_id;
            if(bidDetailsPres){
                let bidDetailsPreArr = bidDetailsPres.split("-");
                let combinationIdArr = combinationId.split("-");
                if(bidDetailsPreArr[1] !== combinationIdArr[1]){
                    this.$store.commit('setPreviousBidAmt', 0);
                }
            }
            if(this.amountError) return false;
            let currAmount = this.amount;

            if(this.$store.getters.getPreviousBidAmt > 0 && this.$store.getters.getPreviousBidAmt > parseFloat(currAmount.replace(/'/g, ''))){
                this.showPreviousBidAmtModal = true;
            } else {
                this.proposal = 'btn-pink w-143 hotel-negotiate-btn disable';
                let bid = {
                    "selected_search_id": combinationId,
                    "bid_amount": ((type=='newbidprice') ? this.total : this.removeCommas(this.amount)),
                    "actual_price": this.getTotalPrice(),
                    "actual_price_in_hotel_curr": this.getTotalPriceInHotelCurrency(),
                    "without_offer": this.withoutOffer,
                    "book_now": this.bookNow,
                    "additional_rate_button":additionalRate,
                    "system_suggested_price" : this.system_suggested_price,
                    "pre_bid_amount_daily": parseFloat(currAmount.replace(/[',]/g, '')),
                };

                $('#loader').show();
                this.$emit('bidSubmit', this.brand.rooms, this.withoutOffer, this.bookNow, bid);
            }
        },
        
        removeFlash(pos, status, bookNow = 1){
            $(".value-2 ").click(function(e) {
                $('.value-2').removeClass('flashit');
                $(".value-2").not($(this)).addClass('flashit');
                e.stopPropagation();
            });
            this.percentageDiscount = '';
            this.$emit('auctionData', pos);
            if(bookNow == 0) {
                var vm = this;
                this.amount = this.getTotalPrice();
                vm.submitBid( pos );
            }
        }

    },

    filters:{

        useType: function (hotel) {
            var total_days = hotel.total_days;
            var type = hotel.hotel_room_type[0].use_type;
            if(type == 1){
                return '1 '+this.$t('message.DAY_SMALL');
            }else if(total_days>1){
                return total_days+' '+ this.$t('message.NIGHTS');
            }else{
                return total_days+' '+ this.$t('message.NIGHT_SMALL');
            }
        },

        fileFilter(room){
            var file = [];
            if(room.categoryImageOne != null) file.push(room.categoryImageOne);
            if(room.categoryImageTwo != null) file.push(room.categoryImageTwo);
            if(room.categoryImageThree != null) file.push(room.categoryImageThree);
            return file;
        },

        priceFormat(amount,currency){
            var parts = amount.toString().split(".");
            if(currency == 'IDR'){
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                return parts.join(".");
            } else {
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, "'");
                return parts.join(".");
            }
            return amount;
        },
        
        totalPriceFormat(rooms, currency, days, serviceId,unit) {

            let totalPrice = 0;
            Object.keys(rooms).forEach(function(key) {
                if(serviceId>0 && unit == 'ticket'){
                    totalPrice += (rooms[key].count) * (rooms[key].avgRateUserCurrency) 
                }else if(serviceId>0 && unit == 'hourly'){
                    totalPrice += (days) * (rooms[key].avgRateUserCurrency) 
                }else{
                    totalPrice += (rooms[key].count) * (rooms[key].avgRateUserCurrency) * (days);
                }
            });
            let amount = parseFloat(totalPrice).toFixed(2);
            var parts = amount.toString().split(".");
            if(currency == 'IDR'){
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                return parts.join(".");
            } else {
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, "'");
                return parts.join(".");
            }
            return amount;
        },
        
        pricePerDayFormat(rooms, currency, days, serviceId) {
            let totalPrice = 0;
            Object.keys(rooms).forEach(function(key) {
                if(serviceId>0){
                    totalPrice += (rooms[key].avgRateUserCurrency) 
                }else{
                    totalPrice += (rooms[key].count) * (rooms[key].avgRateUserCurrency);
                }
            });
            // totalPrice = (totalPrice) / (days);
            let amount = parseFloat(totalPrice).toFixed(2);
            var parts = amount.toString().split(".");
            if(currency == 'IDR'){
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                return parts.join(".");
            } else {
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, "'");
                return parts.join(".");
            }
            return amount;
        },
        maxOcuupency(rooms){
            let maxOcuupency = 0;
            Object.keys(rooms).forEach(function(key) {
                maxOcuupency += (rooms[key].maxOccupancy);
            });
            return maxOcuupency;
        },
        maxOcuupencyTicket(rooms,ticket){
            let maxOcuupency = 0;
            Object.keys(rooms).forEach(function(key) {
                maxOcuupency += (rooms[key].hotel_rate_for) * ticket;
            });
            return maxOcuupency;
        },

        additionalGuest(room) {
            return Object.values(room)[0].hotel_rate_for*Object.values(room)[0].count
        },

        additionalGuestCount(rooms) {
            let count = 0;
            Object.keys(rooms).forEach(function(key) {
                count += (rooms[key].hotel_rate_for*rooms[key].count);
            });
            return count;
        },
        guestText ( number_of_person, guest, guests ) {
            if(number_of_person > 1 )
                return _.replace(guests, '(no_of_person)', number_of_person);

            return _.replace(guest, '(no_of_person)', number_of_person);
        },
        

    }

}
</script>