<template>
    <div>
        <div id="loader"></div>

        <section id="main" class="main">
        <section class="banner inner_banner" :style="url">
               
                            <div class="steps">
                                <h3 class="w-100 tab-768 text-center mb-0">{{$t('message.NEGOTIATE_YOUR_PRICE')}}</h3>                
                                <ul class="d-flex m-0 p-0 list-unstyled align-item-center justify-content-center">
                                    <li class="completed">
                                        <a href="#">{{$t('message.SELECT_YOUR_STAY')}}</a>
                                    </li>
                                    <li class="completed">
                                       <a href="#">{{$t('message.MAKE_YOUR_CHOICE')}}</a>
                                    </li>
                                    <li class="completed">
                                       <a href="#">{{$t('message.PROVIDE_YOUR_CONTACT_DETAILS')}} </a>
                                    </li>
                                    <li class="processed">
                                        <a href="#">{{$t('message.NEGOTIATE_YOUR_PRICE')}} </a>
                                     </li>
                                    <li>
                                        <a href="#">{{$t('message.CONFIRM_YOUR_BOOKING')}} </a>
                                    </li>                     
                               </ul>               
                            </div>
                       
             </section>
             <section class="hotel_contact_detail mt-minus-85">
                 <div class="container">
                     <div class="row">
                         <div class="col-md-12 d-flex align-items-start flex-wrap">
                            <div class="whitePanel decline-attempt" v-if="criteria.use_type == 2">
                                <div class="text-center ani-gif">
                                    <img src="~/assets/img/choice-color.gif" alt=""/>
                                </div>
                                <h2 class="font-weight-bold text-center">{{$t('message.YOU_ARE_ALMOST_DONE')}}</h2>
                                <p class="text-center">{{$t('message.BUT_WE_WILL_STILL_DELIGHHTED_WELCOME_YOU')}}<br/> {{date_format_loc}}</p>
                                <ul class="list-unstyled p-0 mt-4 declined-box d-flex justify-content-around">
                                    <li>
                                        <figure>
                                            <img src="assets/img/crosshair.svg" alt=""/>
                                        </figure>
                                        <h6>{{$t('message.VERY_BEST_PRICE_FOR_YOU')}}</h6>
                                        <ul class="list-unstyled p-0 mt-0 room-det">
                                            <li>{{$t('message.YOU_REALLY_WANT_THE')}} {{selectedBidRoom | roomDetail}}? <br/>{{$t('message.YOU_CAN_PAY')}} <span class="pink">{{currency}} {{newbiddingprice}} </span>
                                                <br/> {{instead_of_msg}}<span class="pink">({{percentage_discount}}%)</span></li>
                                            <li class="room-detail"><span @click="roomDetailModelPopup()">{{$t('message.SEE_ROOM_DETAILS')}}</span></li>
                                        </ul>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-pink border-0 rounded-0" @click="submitOffer()" :class="continueBtn">{{$t('message.SELECT')}}</button>
                                        </div>
                                    </li>
                                    <!-- <li>
                                        <figure>
                                            <img src="assets/img/exchangeDollor.svg" alt=""/>
                                        </figure>
                                        <h6>{{$t('message.ALTERNATIVE_YOUR_BUDGET')}}</h6>
                                        <ul class="list-unstyled p-0 mt-0 room-det">
                                            <li>{{$t('message.YOU_WANT_DRIVE_HARD_BARGAIN')}}</li>
                                            <li class="room-detail"><a href="#">{{$t('message.SEE_ROOM_DETAILS')}}</a></li>
                                        </ul>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-pink border-0 rounded-0">{{$t('message.SELECT')}}</button>
                                        </div>
                                    </li> -->
                                </ul>
                            </div>
                             <div v-if="criteria.use_type == 1" class="whitePanel decline-attempt">
                                <div class="text-center ani-gif">
                                    <img src="~/assets/img/choice-color.gif" alt=""/>
                                </div>
                                <h2 class="font-weight-bold text-center">{{$t('message.YOU_ARE_ALMOST_DONE')}}</h2>
                                <p class="text-center">{{$t('message.BUT_WE_WILL_STILL_DELIGHHTED_WELCOME_YOU')}}<br/> {{date_format_loc}}</p>
                                <ul class="list-unstyled p-0 mt-4 declined-box d-flex justify-content-around">
                                    <li>
                                        <figure>
                                            <img src="assets/img/crosshair.svg" alt=""/>
                                        </figure>
                                        <h6>{{$t('message.VERY_BEST_PRICE_FOR_YOU')}}</h6>
                                        <ul class="list-unstyled p-0 mt-0 room-det">
                                            <li>{{$t('message.YOU_REALLY_WANT_THE')}} {{selectedBidRoom | roomDetail}}? <br/>{{$t('message.YOU_CAN_PAY')}} <span class="pink">{{currency}} {{newbiddingprice}} </span>
                                                <br/> {{instead_of_msg}} <span class="pink">({{percentage_discount}}%)</span></li>
                                            <li class="room-detail"><a href="#" @click="roomDetailModelPopup()">{{$t('message.SEE_ROOM_DETAILS')}}</a></li>
                                        </ul>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-pink border-0 rounded-0" @click="submitOffer()" :class="continueBtn">{{$t('message.SELECT')}}</button>
                                        </div>
                                    </li>
                                    <!-- <li>
                                        <figure>
                                            <img src="assets/img/exchangeDollor.svg" alt=""/>
                                        </figure>
                                        <h6>{{$t('message.ALTERNATIVE_YOUR_BUDGET')}}</h6>
                                        <ul class="list-unstyled p-0 mt-0 room-det">
                                            <li>{{$t('message.YOU_WANT_DRIVE_HARD_BARGAIN')}}</li>
                                            <li class="room-detail"><a href="#" @click="roomDetailModelPopup()">{{$t('message.SEE_ROOM_DETAILS')}}</a></li>
                                        </ul>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-pink border-0 rounded-0">{{$t('message.SELECT')}}</button>
                                        </div>
                                    </li> -->
                                </ul>
                        </div>
                         </div>
                     </div>
                 </div>
             </section>
    </section>


    	<!-- <section class="white-bg result-accept white-brand-lastTry">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-12">
    					
    					<div v-if="criteria.use_type == 2" class="result-accept-content text-center white-brand-tryAgain">
    						<div class="try-again-wrapper">
    							<p>{{$t('message.LAST_TRY_REJECTED')}}</p>
    							<p v-html="finalBidPriceMsg"></p>
    							<p>{{$t('message.FOURTH_TRY_REJECTED_LINE2')}}</br>
    							{{$t('message.FOURTH_TRY_REJECTED_LINE3')}}</p>
    							<a @click="submitOffer()" :class="continueBtn">{{$t('message.CONTINUE_TO_PAYMENT')}}</a>
    							<a @click="rejectedOffer()" :class="rejectBtn">{{$t('message.QUIT')}}</a>
    						</div>
                            <p>{{$t('message.BOOKING_NON_CACELABLE')}}</p>
                            <p>{{$t('message.CONFIRM_BOOKING')}}</p>
                            <p class="hotel_amount" v-if="exchange_rate" v-html="exchange_rate_text"></p>
    					</div>
                        
                        <div v-if="criteria.use_type == 1" class="result-accept-content text-center white-brand-tryAgain">
                           <div class="try-again-wrapper">
                                <p>{{$t('message.LAST_TRY_REJECTED')}}</p>
                                <p v-html="finalBidPriceMsg"></p>
                                <p>{{$t('message.FOURTH_TRY_REJECTED_LINE2')}}</br>
                                {{$t('message.FOURTH_TRY_REJECTED_LINE3')}}</p>
                                <a @click="submitOffer()" :class="continueBtn">{{$t('message.ACCEPT')}}</a>
                                <a @click="rejectedOffer()" :class="rejectBtn">{{$t('message.QUIT')}}</a>
                            </div>
                        </div>

    				</div>
    			</div>
    		</div>
    	</section> -->

        <room-detail-modal
v-if="showRoomDetailModal"
:data="selectedBidRoom"
@close="onClose"
></room-detail-modal>
    </div>
</template>

<script>

import roomDetailModal from './RoomDetailModal.vue';
import { HotelDetails } from '@/mixins/hotel-details.js';
import { BidDetails } from '@/mixins/bid-details.js';
import { Constants } from '@/config/constants.js';


export default {

	props:['criteria'],

    mixins: [ HotelDetails, BidDetails ],

    data() {
    	return { 
            exchange_rate:false,
            exchange_rate_text:'',
    		continueBtn:'btn btn-tryagain',
            rejectBtn: 'btn btn-quit',
            newbiddingprice:0,
            showRoomDetailModal:false,
        }             
    },
    
    mounted: function () {
        
        this.$nextTick(function () {

            $('#loader').hide();
            let newBiddingPrice = Object.values(this.$store.getters.getNewBiddingPrice);

              this.newbiddingprice = parseFloat(newBiddingPrice);
            /* if(this.currency !== this.detail.selected_hotel_currency){
                this.exchange_rate = true;
                this.exchange_rate_text  = 'Exchange Rate - '+this.detail.exchange_rate+', Exchange Rate Time - '+this.detail.exchange_rate_time;
            }*/
            
        })
    },

    components: {
         roomDetailModal,   
    },
    
    computed: {
        url() {

        if(this.hotel) {

          let website = this.hotel.website;

          var url = 'background:url(' + Constants.filePath + '/uploads/';

          if (this.hotel !== null) url += this.hotel.primary_image;

                  //url += ') center center / cover no-repeat;';
                  url += ');';

                  return url;
                }

                return '';
              },
        loggeduser() {
            if(this.$store.getters.token == null) return false;
            else return true;
        },
        bookingId() {
            return this.$store.getters.getBookingId;
        },
        newBiddingPrice() {console.log(this.$store.getters.getNewBiddingPrice)
            return this.$store.getters.getNewBiddingPrice;
        },
        finalBidPriceMsg() {
            return this.$store.getters.getFinalBidPriceMsg;
        },
        guestDetail() {
            return this.$store.getters.getGuestDetail;
        },
        percentage_discount() {
        return Math.round(100-((this.newbiddingprice*100)/this.bidDetail.actual_price));
    },
    instead_of_msg(){
        var price = this.totalPriceFormatAttr(this.selectedBidRoom,this.currency, this.criteria.total_days);
            return _.replace(this.$t('message.INSTEAD_OF'), '{price}', price);
        },
        date_format_loc(){
            var check_in_month = moment(this.criteria.check_in).format("MM");
            var check_out_month = moment(this.criteria.check_out).format("MM");

            var check_in_date = moment(this.criteria.check_in).format("DD");
            var check_out_date = moment(this.criteria.check_out).format("DD");
            var month_year = moment(this.criteria.check_out).format("MMM YYYY");
            var dateMsg = _.replace(this.$t('message.OPTIONS_FOR_STAYING_WITH_US_BETWEEN'), '{check_in}', check_in_date);
            var dateMsg = _.replace(dateMsg, '{check_out}', check_out_date);
            return _.replace(dateMsg, '{monthyear}', month_year);
        }
    },
    
    methods: {
        
        submitOffer() {

            this.continueBtn = 'btn btn-tryagain disabledbutton';

            $('#loader').show();

            let bidDetail = this.bidDetail;
            let newBiddingPrice = this.newBiddingPrice;
            if(Object.keys(newBiddingPrice).length == 0) {
                window.location.href = '/'
            }

            let bidAmount = newBiddingPrice[this.hotel.id];
            delete bidDetail.bid_amount;
            bidDetail['bid_amount'] = parseFloat(bidAmount).toFixed(2);
            
            this.searchbidSubmit(bidDetail, 'final-offer-price');
            
            // window.location.href = 'booking-process'
        },
        
        offerRejected() {
            
            let apiURL = '/' + this.language + '/offer-rejected'
            
            let params = { booking_id: this.bookingId, guestDetail: this.guestDetail };
            
            this.$axios.post(apiURL, params).then(response => {
                let data = response.data.data;
                this.$store.commit('setBookingId', null);
                this.$store.commit('setBidStatus', null);
                window.location.href = '/';
            }).catch(error => {
                window.location.href = '/';
            });

        },
        
        rejectedOffer() {
            $('#loader').show();
            this.rejectBtn = 'btn btn-quit disabledbutton';
            this.offerRejected();
        },
        
        priceFormatting(amount,currency){
            var parts = amount.toString().split(".");
            if(currency == 'IDR'){
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                return parts.join(".");
            } else {
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, "'");
                return parts.join(".");
            }
            return amount;
        },
        roomDetailModelPopup(){
            this.showRoomDetailModal = true;
        },
        onClose() {
            this.showRoomDetailModal = false;
        },
        totalPriceFormatAttr(rooms, currency, days) {
              let totalPrice = 0;
              Object.keys(rooms).forEach(function(key) {
                totalPrice += (rooms[key].count) * (rooms[key].avgRateUserCurrency) * (days);
              });
              let amount = parseFloat(totalPrice).toFixed(2);
              var parts = amount.toString().split(".");
              if(currency == 'IDR'){
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                return parts.join(".");
              } else {
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, "'");
                return parts.join(".");
              }
              return amount;
            },
    },
    filters:{
        dateFormate: function (date) {
              return moment(date).format("DD MMM YYYY");
            },
        totalPriceFormat(rooms, currency, days) {
              let totalPrice = 0;
              Object.keys(rooms).forEach(function(key) {
                totalPrice += (rooms[key].count) * (rooms[key].avgRateUserCurrency) * (days);
              });
              let amount = parseFloat(totalPrice).toFixed(2);
              var parts = amount.toString().split(".");
              if(currency == 'IDR'){
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                return parts.join(".");
              } else {
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, "'");
                return parts.join(".");
              }
              return amount;
            },
        roomDetail(rooms) {
              let counter = 0, temp = '';
              Object.keys(rooms).forEach(function(key) {
                if(counter > 0) temp += ', ';
                counter++;
                temp += rooms[key].count+'x '+ rooms[key].title;
              });
              return temp;
            }
    }

}
</script>
