<template>

    <div class="clearfix">
        <div id="loader" v-if="loading"></div>
        <section id="main" class="main">
            <section class="banner inner_banner" :style="url">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="steps">
                                <h3 class="w-100 tab-768 text-center mb-0">{{$t('message.CONFIRM_YOUR_BOOKING')}}</h3>                
                                <ul class="d-flex m-0 p-0 list-unstyled align-item-center justify-content-center">
                                    <li class="completed">
                                        <a href="#">{{$t('message.SELECT_YOUR_STAY')}}</a>
                                    </li>
                                    <li class="completed">
                                       <a href="#">{{$t('message.MAKE_YOUR_CHOICE')}} </a>
                                   </li>
                                   <li class="completed">
                                       <a href="#">{{$t('message.PROVIDE_YOUR_CONTACT_DETAILS')}} </a>
                                   </li>
                                   <li class="completed">
                                       <a href="#">{{$t('message.CONFIRM_YOUR_BOOKING')}}</a>
                                   </li>                     
                               </ul>               
                           </div>
                       </div>
                   </div>
               </div>
           </section>

           <section class="hotel_contact_detail mt-minus-85">
             <div class="container">
                 <div class="row">
                     <div class="col-md-12 d-flex align-items-start flex-wrap">
                         <div class="blue_box_area">
                            <div class="selected_hotel_detail d-flex flex-column">
                                <h2 class="text-white">{{selectedBidRoom | roomDetail}}</h2>
                                <div class="mid-content">
                                    <h4 v-if="criteria.use_type == 2">{{no_of_guest}}, {{selectedBidRoom | roomCount}}, {{no_of_day}}</h4>

                                    <h4 v-if="criteria.use_type == 1 && criteria.unit !=='ticket' && criteria.service_id == 0">{{no_of_guest}}, {{selectedBidRoom | roomCount}}, {{no_of_day}}
                                    </h4>

                                    <h4 v-if="criteria.use_type == 1 && criteria.unit =='hourly' && criteria.service_id > 0">1 {{$t('message.SERVICE')}} , {{no_of_day}}
                                    </h4>

                                    <h4 v-if="criteria.use_type == 1 && criteria.unit=='ticket' && criteria.ticket == 1">{{criteria.ticket}} Guest, {{criteria.ticket}} {{selectedBidRoom | roomTitle}} {{$t('message.TICKET')}}
                                    </h4>
                                    <h4 v-else-if="criteria.use_type == 1 && criteria.unit=='ticket'">{{criteria.ticket}} Guests, {{criteria.ticket}} {{selectedBidRoom | roomTitle}} {{$t('message.TICKETS')}}
                                    </h4>

                                    <div class="checkin-out">
                                      <label class="check_in">{{criteria.check_in | dateFormate}}</label>
                                      <label class="check_out" v-if="criteria.use_type == 1 && criteria.unit !=='ticket' && criteria.service_id == 0">{{criteria.check_in_time}} - {{ day_check_out_time }}</label>
                                      <label class="check_out" v-else-if="criteria.use_type == 1 && criteria.unit =='hourly' && criteria.service_id > 0">{{criteria.check_in_time}} - {{ day_check_out_time }}</label>
                                      <label  v-else-if="criteria.use_type == 1 && criteria.unit =='ticket' && criteria.service_id > 0"></label>
                                      <label class="check_out" v-else>{{criteria.check_out | dateFormate}}</label>
                                  </div>
                                  <div class="your-offer d-half">
                                    <label>{{$t('message.TOTAL_PRICE')}}</label>
                                    <div><span class="new-price">{{currency}} {{parseFloat(bid_detail.bid_amount).toFixed(2) | priceFormat(currency)}} </span></div>
                                </div>
                            </div>
                            <div class="price_condition d-flex align-items-center mt-auto mb-0">
                                <span class="mr-1 mx-17"><img class="d-block" src="~/assets/img/info.svg" alt=""/></span>
                                <a href="#">{{$t('message.PRICE_CONDITIONS')}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="hotel_contact_form  savedCard">
                        <h2 class="desk-view mb-4">{{$t('message.MY_CREDIT_CARD')}}</h2>
                <ul class="list-unstyled" >
                    <li @click="proceedToPayByCard(card)" class="payment-card" :id="card.id" v-for="card in creditCard">
                        <figure v-if="card.card_type == 'AMEX'">
                            <img src="~/assets/img/card1.png" alt=""/>
                        </figure>
                        <figure v-if="card.card_type == 'VISA'">
                            <img src="~/assets/img/card2.png" alt=""/>
                        </figure>
                        <figure v-if="card.card_type == 'MasterCard'">
                            <img src="~/assets/img/card3.png" alt=""/>
                        </figure>
                        <div class="card-name">
                            <p>{{card.card_holder_name}}</p>
                            <div class="card-detail">
                                <span>{{card.card_number}}</span>
                                <span>{{card.expiry_month}}/{{card.expiry_year}}</span>
                            </div>
                        </div>
                        <!-- <img class="del-card" src="~/assets/img/trash-simple.svg" alt=""/> -->
                    </li>
                </ul>

                        <!-- <div class="col-md-6" v-for="card in creditCard">
                            <div @click="proceedToPayByCard(card)" class="payment-card" :id="card.id">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div v-if="card.card_type == 'VISA'" class="card-img">
                                            <img src="~/assets/img/cards.png" class="" alt="" title=""/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-number">
                                            <h2>{{card.card_number}}</h2>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card-holder-name">
                                            <h2>{{card.card_holder_name}}</h2>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="card-expiry-date">
                                            <h2>{{card.expiry_month}}/{{card.expiry_year}}
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div> -->
                        <div class="offer-text text-center">
                    <a href="javascript:void(0)" @click="proceedToPayment()" class="btn btn-backtohome">{{$t('message.TRY_OTHER_CARD')}}</a>
                </div>
                <p class="orange-text text-center">{{msg}}</p> 
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>
</div>
</template>

<script>	

import { HotelDetails } from '@/mixins/hotel-details.js';
import { BidDetails } from '@/mixins/bid-details.js';
import { Constants } from '@/config/constants.js';

export default {

    mixins: [ HotelDetails, BidDetails ],

    data() {
    	return {
            id:'',
            msg:'',
            loading:false,
            creditCard:{},
            timeLeft:'10:00',
            criteria: {}
    	}  
    },

    components: {
        
    },

    mounted: function () {
        this.$nextTick(function () {
            if(this.$store.getters.getSaferPayUrl !== null ){
                console.log(window.history.forward());
                console.log(this.$store.getters.getSaferPayUrl);
                window.location.href = this.$store.getters.getSaferPayUrl;
            }

            if(this.bookingId == null || !this.loggeduser) window.location.href = "/";
            
            $('#loader').hide();
            this.myCreditCard();
        })
    },

    computed: {

        loggeduser() {
            if(this.$store.getters.token == null) return false;
            else return true;
        },

        bookingId() {
            return this.$store.getters.getBookingId;
        },
        url() {

        if(this.hotel) {

          let website = this.hotel.website;

          var url = 'background:url(' + Constants.filePath + '/uploads/';

          if (this.hotel !== null) url += this.hotel.primary_image;

                  //url += ') center center / cover no-repeat;';
                  url += ');';

                  return url;
                }

                return '';
              },
        no_of_day() {
            var numberOfDays;
            var checkin = this.criteria.check_in;
            var checkout = this.criteria.check_out;
            if(this.criteria.use_type == 1 && this.criteria.duration == 1) {
                return numberOfDays = '1 '+this.$t('message.HOUR_SMALL');
            } else if(this.criteria.use_type == 1 && this.criteria.duration > 1) {
                return numberOfDays = this.criteria.duration+' '+this.$t('message.HOURS_SMALL');
            }
            numberOfDays = moment(checkout).diff(moment(checkin), 'days');
            if(numberOfDays>1){
                numberOfDays = numberOfDays+' '+ this.$t('message.NIGHTS_SMALL');
            }else{
                numberOfDays = numberOfDays+' '+ this.$t('message.NIGHT_SMALL');
            }
            return numberOfDays;
        },
        no_of_guest() {
            let totalGuest = 0, noOfGuest = '';
            let rooms  = this.criteria['rooms[]'];
            if(Array.isArray(rooms)) {
                rooms.forEach(function(value, key) {
                    totalGuest += parseInt(value);
                });
            } else {
                totalGuest = parseInt(rooms);
            }
            if (totalGuest > 1) noOfGuest = totalGuest+' '+this.$t('message.GUESTS_SMALL');
            else noOfGuest = '1 '+this.$t('message.GUEST_SMALL');
            return noOfGuest;
        },
        no_of_ticket() {
          let totalTicket = 0, noOfTicket = '' ;
          if(this.criteria.hasOwnProperty('ticket')){
              totalTicket  = this.criteria['ticket'];
              
              if (totalTicket > 1) noOfTicket = totalTicket+' '+this.$t('message.TICKETS');
              else noOfTicket = '1 '+this.$t('message.TICKETS');
              return noOfTicket;
          }
          return '';
      },
       day_check_out_date() {
       var checkOutDay;
       let day_check_out_date = 0;
       if(this.criteria.hasOwnProperty('check_in')){
          let check_in  = this.criteria['check_in'];
          let mode = this.criteria['use_type'];
          let duration = this.criteria['duration'];
          let check_in_time = this.criteria['check_in_time'];
          let check_in_datetime = moment(check_in + " " + check_in_time);
          if(mode == 1){
            checkOutDay = moment(check_in_datetime).add(duration, 'hours').format('DD.MM.YYYY');
        }
        return checkOutDay;
    }
    return '';
},
day_check_out_time() {
  var checkOutTime;
  if(this.criteria.hasOwnProperty('check_in_time') && this.criteria.hasOwnProperty('duration')){
      let check_in  = this.criteria['check_in'];
      let mode = this.criteria['use_type'];
      let duration = this.criteria['duration'];
      let check_in_time = this.criteria['check_in_time'];
      if(mode == 1){
        checkOutTime = moment(check_in_time, 'HH:mm').add(duration, 'hours').format('HH:mm');;
    }
    return checkOutTime;
}
return '';
},
bid_detail(){
  return this.$store.getters.getBidDetail;

},
currency_name(){
  return this.$store.getters.getCurrency;

},
guest_detail(){
  return this.$store.getters.userDetail;
}
    },

    created(){        
        window.history.forward(1);
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };

        this.criteria = this.$store.getters.getSearchCriteria;
    },
    
    methods: {

        preventBack() { 
            window.history.forward(1); 
        },

        myCreditCard() {
            var vm =this;
            let cardAPI = '/' + this.language + '/my-cards'
            this.$axios.get( cardAPI )
            .then((response) => {
                vm.creditCard = response.data.data;
            }).catch((error) => {
                vm.creditCard = [];
            });
        },
        
        proceedToPayment() {
            $('#loader').show();
            
            let apiURL = '/' + this.language + '/payment-process'
            
            let params = { booking_id: this.bookingId, time: this.timeLeft };
            
            this.$axios.post(apiURL, params).then(response => {
                let data = response.data.data;
                this.loading = false;
                console.log('payment process');
                if(data.status === 200) {
                    this.$store.commit('setPaymentToken', data.Token);
                    this.$store.commit('setSaferPayUrl', data.redirect_to);
                    window.location.href = data.redirect_to;
                } else {
                    if(data.status === 1) {
                        this.paymentError();
                    } else {
                        window.location.href = '/';
                    }
                }
            }).catch(error => {
                console.log(error.response);
            });
        },
        
        proceedToPayByCard(card) {
            
            $('#loader').show();
            
            let apiURL = '/' + this.language + '/payment-process-by-card'
            //let apiURL = '/' + this.language + '/payment-process'
            
            let params = { booking_id: this.bookingId, alias_id: card.card_unique_id};
            //let params = {booking_id: this.bookingId};
            
            this.$axios.post(apiURL, params).then(response => {
                let data = response.data.data;
                this.loading = false;
                console.log('payment by card');
                if(data.status === 200) {
                    this.$store.commit('setPaymentToken', data.Token);
                    this.$store.commit('setSaferPayUrl', data.redirect_to);
                    window.location.href = data.redirect_to;
                } else {
                    if(data.status === 1) this.paymentError();
                    else this.cancelBooking();
                }
            }).catch(error => {
                console.log(error.response);
            });

        },

        paymentError() {
            let apiURL = '/' + this.language + '/payment-error'
            
            let params = { booking_id: this.bookingId, guestDetail: this.guestDetail };

            this.$axios.post(apiURL, params).then(response => {
                this.$store.commit('setBookingId', null);
                this.$store.commit('setBidStatus', null);
                router.push({name: 'payment-error'});
            }).catch(error => {
                window.location.href = '/';
            });
        },

        cancelBooking() {
            let apiURL = '/' + this.language + '/offer-cancel'
            
            let params = { booking_id: this.bookingId, guestDetail: this.guestDetail };

            this.$axios.post(apiURL, params).then(response => {
                this.$store.commit('setBookingId', null);
                this.$store.commit('setBidStatus', null);
                router.push({name: 'offer-cancel'});
            }).catch(error => {
                console.log(error.response);
            });
        }


    },

    filters:{
        roomDetail(rooms) {
    let counter = 0, temp = '';
    Object.keys(rooms).forEach(function(key) {
        if(counter > 0) temp += ', ';
        counter++;
        temp += rooms[key].count+'x '+ rooms[key].title;
    });
    return temp;
},

additionalGuestMsg( rooms,extraGuest,guest,guests  ) {
    let counter = 0, temp = '';
    Object.keys(rooms).forEach(function(key) {
        if(rooms[key].extra_guest_count != '') {
            counter += (rooms[key].extra_guest_count);
        }
    });
    if(counter > 1){
        temp = _.replace(extraGuest, '(guest)', guests );
        temp = _.replace(temp, '(no_of_person)', counter );
    } else if(counter == 1){
        temp = _.replace(extraGuest, '(guest)', guest );
        temp = _.replace(temp, '(no_of_person)', counter );
    }
    return temp;
},
roomCount(rooms) {
  let counter = 0, temp = 0;
  Object.keys(rooms).forEach(function(key) {
                  // if(counter > 0) temp += ', ';
                  counter++;
                  temp += rooms[key].count+ ' Room';
              });
  return temp;
},
roomTitle(rooms) {
  let counter = 0, temp = '';
  Object.keys(rooms).forEach(function(key) {
      if(counter > 0) temp += ', ';
      counter++;
      temp += rooms[key].title;
  });
  return temp;
}
    }

}
</script>
