<template>
    <div>

        <section id="main" class="main">
            <section class="banner inner_banner" style="background: url('assets/img/skylounge-city-view.png') no-repeat; background-size: cover; background-position: center center;">

                <div class="steps">
                    <h3 class="w-100 tab-768 text-center mb-0">{{$t('message.CONFIRM_YOUR_BOOKING')}}</h3>                
                    <ul class="d-flex m-0 p-0 list-unstyled align-item-center justify-content-center">
                        <li class="completed">
                            <a href="#">{{$t('message.SELECT_YOUR_STAY')}}</a>
                        </li>
                        <li class="completed">
                         <a href="#">{{$t('message.MAKE_YOUR_CHOICE')}}</a>
                     </li>
                     <li class="completed">
                         <a href="#">{{$t('message.PROVIDE_YOUR_CONTACT_DETAILS')}} </a>
                     </li>
                     <li class="completed">
                        <a href="#">{{$t('message.NEGOTIATE_YOUR_PRICE')}} </a>
                    </li>
                    <li class="processed">
                     <a href="#">{{$t('message.CONFIRM_YOUR_BOOKING')}} </a>
                 </li>                     
             </ul>               
         </div>

     </section>
     <section class="hotel_contact_detail mt-minus-85">
       <div class="container">
           <div class="row">
               <div class="col-md-12 d-flex align-items-start flex-wrap">
                <div class="blue_box_area">
                    <div class="selected_hotel_detail d-flex flex-column">
                      <h2 class="text-white">{{selectedBidRoom | roomDetail}}</h2>
                      <div class="mid-content">
                        <h4 v-if="criteria.use_type == 2">{{no_of_guest}}, {{selectedBidRoom | roomCount}}, {{no_of_day}}</h4>

                        <h4 v-if="criteria.use_type == 1 && criteria.unit !=='ticket' && criteria.service_id == 0">{{no_of_guest}}, {{selectedBidRoom | roomCount}}, {{no_of_day}}
                  <!-- <span class="date-format">{{$t('message.FROM')}} {{criteria.check_in | dateFormate }} {{$t('message.AT')}}  {{criteria.check_in_time}} {{$t('message.TO')}} {{ day_check_out_date }} {{$t('message.AT')}} {{ day_check_out_time }}</span> -->
                </h4>

                <h4 v-if="criteria.use_type == 1 && criteria.unit =='hourly' && criteria.service_id > 0">1 {{$t('message.SERVICE')}} , {{no_of_day}}
                  <!-- , <span class="date-format">{{$t('message.FROM')}} {{criteria.check_in | dateFormate }} {{$t('message.AT')}}  {{criteria.check_in_time}} {{$t('message.TO')}} {{ day_check_out_date }} {{$t('message.AT')}} {{ day_check_out_time }}</span> -->
                </h4>

                <h4 v-if="criteria.use_type == 1 && criteria.unit=='ticket' && criteria.ticket == 1">{{criteria.ticket}} Guest, {{criteria.ticket}} {{selectedBidRoom | roomTitle}} {{$t('message.TICKET')}}
                  <!-- , <span class="date-format">{{criteria.check_out | dateFormate}}</span> -->
                </h4>
                <h4 v-else-if="criteria.use_type == 1 && criteria.unit=='ticket'">{{criteria.ticket}} Guests, {{criteria.ticket}} {{selectedBidRoom | roomTitle}} {{$t('message.TICKETS')}}
                  <!-- , <span class="date-format">{{criteria.check_out | dateFormate}}</span> -->
                </h4>

                <div class="checkin-out">
                  <label class="check_in">{{criteria.check_in | dateFormate}}</label>
                  <label class="check_out" v-if="criteria.use_type == 1 && criteria.unit !=='ticket' && criteria.service_id == 0">{{criteria.check_in_time}} - {{ day_check_out_time }}</label>
                  <label class="check_out" v-else-if="criteria.use_type == 1 && criteria.unit =='hourly' && criteria.service_id > 0">{{criteria.check_in_time}} - {{ day_check_out_time }}</label>
                  <label class="check_out" v-else-if="criteria.use_type == 1 && criteria.unit =='ticket' && criteria.service_id > 0">{{criteria.check_in_time}}</label>
                  <label class="check_out" v-else>{{criteria.check_out | dateFormate}}</label>
                </div>

                      <div class="price-wrap">
                          <div class="price_box old-price d-half" v-if="criteria.use_type == 2">
                            <label>{{$t('message.PUBLIC_PRICE')}}:</label>
                            <span class="price">{{currency}} {{ (selectedBidRoom) | totalPriceFormat(currency, criteria.total_days) }}</span>
                        </div>

                        <div class="price_box old-price d-half" v-if="criteria.use_type == 1 && criteria.unit !=='ticket'">
                            <label>{{$t('message.PUBLIC_PRICE')}}:</label>
                            <span class="price">{{currency}} {{ (selectedBidRoom) | totalPriceFormat(currency, criteria.total_days) }}</span>
                        </div>
                        <div class="price_box old-price d-half" v-else-if="criteria.use_type == 1 && criteria.unit =='ticket'">
                            <label>{{$t('message.PUBLIC_PRICE')}}:</label>
                            <span class="price">{{currency}} {{ (selectedBidRoom) | totalPriceFormat(currency, criteria.total_days) }}</span>
                        </div>

                        <div class="your-offer d-half">
                            <label>{{$t('message.YOUR_OFFER')}}:</label>
                            <div><span class="new-price">{{currency}} {{parseFloat(bidDetail.bid_amount).toFixed(2) | priceFormat(currency)}} </span></div>
                        </div>
                    </div>
                    <div class="your-save d-half">
                      <label>{{$t('message.YOU_SAVE')}}:</label>
                      <span class="save_percent">{{percentage_discount}}%</span>
                  </div>
                  <div class="coupon-code">
                    <label>{{$t('message.DO_YOU_HAVE_A_COUPON_CODE')}}</label>
                    <div class="code-group d-flex">
                        <input type="text" placeholder="Enter your code"/>
                        <button type="button" class="btn btn-pink">{{$t('message.APPLY')}}</button>
                    </div>
                </div>
            </div>
            <div class="price_condition d-flex align-items-center mt-auto mb-0">
                <span class="mr-1 mx-17"><img class="d-block" src="~/assets/img/info.svg" alt=""/></span>
                <a href="#">{{$t('message.PRICE_CONDITIONS')}}</a>
            </div>
        </div>
    </div>

    <div class="hotel_contact_form confirm_booking text-left d-flex justify-content-center flex-column" v-if="criteria.use_type==1 && acceptOnlinePayment == 0 && !loggeduser">
        <div class="wrap">
            <!-- <h2 class="font-weight-bold mb-2" >Confirm Booking </h2>
                <p>Please enter the Code received by SMS on your mobile number:<br/> +45 98765432<br/>Payment at the hotel. (Price listed includes 10% VAT)</p> -->
                <h2 class="font-weight-bold mb-2" v-html="$t('message.OFFER_ACCEPTED')"></h2>
                <p>{{ $t('message.CODE_TEXT') }}:<br/> +{{getContactNumber}}<br/>{{ $t('message.WITHOUT_CREDIT_CARD') }} (Price listed includes 10% VAT)</p>
                <div class="otp_wraped">
                    <div class="otp d-flex"> 
                        <input @keyup="errorRemoved" id="firstDigit" class="form-control autotabbed" v-model="otp.first" placeholder="-" maxlength="1"  />
                        <input @keyup="errorRemoved"  v-model="otp.two" placeholder="-" maxlength="1"  />
                        <input @keyup="errorRemoved"  v-model="otp.three" placeholder="-" maxlength="1"  />
                        <input @keyup="errorRemoved"  v-model="otp.four" placeholder="-" maxlength="1"  />
                        <input @keyup="errorRemoved"  v-model="otp.five" placeholder="-" maxlength="1"  />
                        <input @keyup="errorRemoved" placeholder="-" v-model="otp.six" maxlength="1"  />   
                    </div>
                    <span v-if="error" class="error">{{ $t('message.VALID_CODE') }}</span>
                    <span v-if="expire" class="error">{{ $t('message.VALID_CODE_EXPIRED') }}</span>
                </div>
                <p class="remain_time">{{msg}}</p>
                <div class="resend_links">
                    <a href="javascript:void(0)" @click="resendCodeToMobile()">{{ $t('message.RESEND_CODE') }}</a>
                    <a href="javascript:void(0)" @click="resendCodeToMail()">{{ $t('message.CONFIRM_BY_EMAIL') }}</a>
                </div>
                <div class="btn-group w-100 text-center d-inline-block">
                    <button type="button" @click="verify" :class="continueBtn" class="btn btn-sand border-0 rounded-0 mb-5">{{ $t('message.SUBMIT') }}</button>
                </div>
                <div class="alert alert-success" id="email-alert">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <span>{{ $t('message.EMAIL_ALERT')}}</span>
                </div>
                <div class="alert alert-success" id="sms-alert">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <span>{{ $t('message.SMS_ALERT')}}</span>
                </div>
                <div class="alert alert-success" id="time-sms-alert">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <span>Maximum limit reached .Try Again After 15 minutes</span>
                </div>
            </div>                                 
        </div>

        <div class="hotel_contact_form cont-payment text-center d-flex justify-content-center align-items-center flex-column" v-if="criteria.use_type==1 && acceptOnlinePayment == 1 ">
            <div class="text-center ani-gif">
                <img src="~/assets/img/choice-color.gif" alt=""/>
            </div>
            <h2 class="font-weight-bold text-center mb-0">Congratulation Mr. Mauguin, </h2>
            <p>Your offer has been accepted, <br/>you can now close your deal!</p>
            <div class="comment-box text-left d-flex flex-column mt-2">
                <label>Enter your comments or special requirements</label>
                <textarea class="form-control" style="resize:none" v-model="booking_comments" name="booking_comments" rows="5" cols="80"></textarea>
            </div>
            <p>{{msg}}</p>
            <a @click="selectBookingCard" v-if="loggeduser && Object.keys(this.creditCard).length > 0" :class="continuePaymentBtn" class="btn btn-sand border-0 rounded-0 mt-3 mb-5">{{$t('message.CONTINUE_TO_PAYMENT')}}</a>
            <a @click="proceedToPayment" v-if="!loggeduser || !hasCreditCard" :class="continuePaymentBtn" class="btn btn-sand border-0 rounded-0 mt-3 mb-5">{{$t('message.CONTINUE_TO_PAYMENT')}}</a>
            <div v-if="isCancel == 0">
                <h1>{{$t('message.ARE_YOU_SURE')}}</h1>
                <ul class="list-inline want-to-delete">
                    <li>
                        <a @click="backToPayment" >
                            <h2>{{$t('message.NO')}}</h2>
                            <span v-html="$t('message.BACK_TO_PAYMENT')"></span>
                        </a>
                    </li>
                    <li>
                        <a @click="yesCancelBooking" >
                            <h2>{{$t('message.YES')}}</h2>
                            <span v-html="$t('message.YES_CANCEL')"></span>
                        </a>
                    </li>
                </ul>
                <p>{{msg}}</p>
            </div>
        </div>
    </div>
</div>
</div>
</section>
</section>



</div>
</template>

<script>

    import { HotelDetails } from '@/mixins/hotel-details.js';

    export default {

       props:['criteria'],

       mixins: [ HotelDetails ],

       data() {
           return {
            otp: {
                first:'',
                two:'',
                three:'',
                four:'',
                five:'',
                six:'',
                type:'mobile'
            },
            booking_comments:'',
            timeLeft:75,
            msg:'',
            smsSent:false,
            mailSent:false,
            error:false,
            expire:false,
            continuePaymentBtn:'btn btn-continue',
            continueBtn:'btn btn-verify-otp',     
            cancelBtn:'btn btn-back',            
            cancelPaymentBtn:'btn btn-tryagain',
            creditCard:{},
            confirmationMsg:false,
        }             
    },

    created(){
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
    },

    mounted: function () {
        this.$nextTick(function () {
            if(this.bookingId == null ) {
               window.location.href = "/";
           }


           if(this.loggeduser && this.acceptOnlinePayment == 1) {
            this.myCreditCard();
            this.timeLeft ='10:00';
            this.timerId = setInterval(this.countdown, 1000);
        } else if(!this.loggeduser && this.acceptOnlinePayment == 1) {
            this.timeLeft ='10:00';
            this.timerId = setInterval(this.countdown, 1000);
        } else {
            $("#sms-alert").hide();
            $("#time-sms-alert").hide();
            $("#email-alert").hide();
            $("#firstDigit").focus();
            $('input').keyup(function(){
                if($(this).val().length==$(this).attr("maxlength")){
                    $(this).next().focus();
                }
            });
            this.sendOtp();
            var timerId = setInterval(this.otpExpiredCountDown, 1000);
        }

    });
    },
    
    computed: {

        hasCreditCard() {
            if(Object.keys(this.creditCard).length > 0){
                return true;
            } else {
                return false;
            }
        },
        acceptOnlinePayment() {
         return this.$store.getters.acceptOnlinePayment;
     },
     loggeduser() {
        if(this.$store.getters.token == null) return false;
        else return true;
    },
    guestDetail() {
        return this.$store.getters.getGuestDetail;
    },
    getEmail() {
        return this.$store.getters.getGuestDetail.email;
    },
    getContactNumber() {
        return this.$store.getters.getGuestDetail.code+ ' '+this.$store.getters.getGuestDetail.contact_number;
    },
    bookingId() {
        return this.$store.getters.getBookingId;
    },
    no_of_day() {
        var numberOfDays;
        var checkin = this.criteria.check_in;
        var checkout = this.criteria.check_out;
        if(this.criteria.use_type == 1 && this.criteria.duration == 1) {
            return numberOfDays = '1 '+this.$t('message.HOUR_SMALL');
        } else if(this.criteria.use_type == 1 && this.criteria.duration > 1) {
            return numberOfDays = this.criteria.duration+' '+this.$t('message.HOURS_SMALL');
        }
        numberOfDays = moment(checkout).diff(moment(checkin), 'days');
        if(numberOfDays>1){
            numberOfDays = numberOfDays+' '+ this.$t('message.NIGHTS_SMALL');
        }else{
            numberOfDays = numberOfDays+' '+ this.$t('message.NIGHT_SMALL');
        }
        return numberOfDays;
    },
    no_of_guest() {
        let totalGuest = 0, noOfGuest = '';
        let rooms  = this.criteria['rooms[]'];
        if(Array.isArray(rooms)) {
            rooms.forEach(function(value, key) {
                totalGuest += parseInt(value);
            });
        } else {
            totalGuest = parseInt(rooms);
        }
        if (totalGuest > 1) noOfGuest = totalGuest+' '+this.$t('message.GUESTS_SMALL');
        else noOfGuest = '1 '+this.$t('message.GUEST_SMALL');
        return noOfGuest;
    },
    day_check_out_date() {
     var checkOutDay;
     let day_check_out_date = 0;
     if(this.criteria.hasOwnProperty('check_in')){
      let check_in  = this.criteria['check_in'];
      let mode = this.criteria['use_type'];
      let duration = this.criteria['duration'];
      let check_in_time = this.criteria['check_in_time'];
      let check_in_datetime = moment(check_in + " " + check_in_time);
      if(mode == 1){
        checkOutDay = moment(check_in_datetime).add(duration, 'hours').format('DD.MM.YYYY');
    }
    return checkOutDay;
}
return '';
},
day_check_out_time() {
  var checkOutTime;
  if(this.criteria.hasOwnProperty('check_in_time') && this.criteria.hasOwnProperty('duration')){
      let check_in  = this.criteria['check_in'];
      let mode = this.criteria['use_type'];
      let duration = this.criteria['duration'];
      let check_in_time = this.criteria['check_in_time'];
      if(mode == 1){
        checkOutTime = moment(check_in_time, 'HH:mm').add(duration, 'hours').format('HH:mm');;
    }
    return checkOutTime;
}
return '';
},
percentage_discount() {
    return Math.round(100-((this.bidDetail.bid_amount*100)/this.bidDetail.actual_price));
}
},

no_of_ticket() {
  let totalTicket = 0, noOfTicket = '' ;
  if(this.criteria.hasOwnProperty('ticket')){
      totalTicket  = this.criteria['ticket'];

      if (totalTicket > 1) noOfTicket = totalTicket+' '+this.$t('message.TICKETS');
      else noOfTicket = '1 '+this.$t('message.TICKETS');
      return noOfTicket;
  }
  return '';
},

methods: {

    verify() {
        var vm = this;

        let code = this.otp.first + this.otp.two + this.otp.three + this.otp.four + this.otp.five + this.otp.six;

        if( code.trim() == '') return false;

        this.continueBtn = 'btn btn-verify-otp disabledbutton';
        vm.error = false;
        vm.expire = false;

        let apiURL = '/' + this.language + '/verify-otp'

        let params = { otp: code, contact_number: (this.getContactNumber).replace(/\s+/g, ""), email: this.getEmail, type: this.otp.type };

            //console.log(params);
            
            this.$axios.post(apiURL, params).then(response => {

                let data = response.data.data;
                vm.successPage();
                
            }).catch((error) => {
                var laravelErrorCode = error.response.data.error.code;
                if(laravelErrorCode == 1) {
                    vm.expire = true
                } else {
                    vm.error = true
                }
                vm.continueBtn = 'btn btn-verify-otp';
            });
        },

        resendCodeToMobile() {
            this.continueBtn = 'btn btn-verify-otp';
            this.otp.first = '';
            this.otp.two = '';
            this.otp.three = '';
            this.otp.four = '';
            this.otp.five = '';
            this.otp.six = '';
            $("#firstDigit").focus();  
            this.otp.type = 'mobile'
            this.otp['contact_number'] = this.getContactNumber
            this.onResendCodeToMobile();

           // $("#sms-alert").fadeTo(5000, 500).slideUp(500, function(){
               //$("#sms-alert").slideUp(500);
            //});
        },

        resendCodeToMail() {
            this.continueBtn = 'btn btn-verify-otp';            
            this.otp.first = '';
            this.otp.two = '';
            this.otp.three = '';
            this.otp.four = '';
            this.otp.five = '';
            this.otp.six = '';
            $("#firstDigit").focus();
            this.otp.type = 'email'
            this.otp['email'] = this.getEmail
            
            this.onResendCodeToEmail();

        },
        
        onResendCodeToEmail() {

            let apiURL = '/' + this.language + '/send-otp'
            
            let params = { contact_number: (this.getContactNumber).replace(/\s+/g, ""), email: this.getEmail, type: 'email', flag: 1 };
            // console.log(params);

            this.$axios.post(apiURL, params).then(response => {
                let data = response.data.data;
                if(response.data.status == "error")
                {
                   $("#time-sms-alert").show();
                   $("#email-alert").hide();
                   console.log(response.data);
                   $("#time-sms-alert").fadeTo(5000, 500).slideUp(500, function(){
                     $("#time-sms-alert").slideUp(500);
                 });
               }

               else
               {

                  $("#time-sms-alert").hide();
                  $("#email-alert").fadeTo(5000, 500).slideUp(500, function(){
                     $("#email-alert").slideUp(500);
                 });
              }
          }).catch(error => {
            console.log(error);
        });
      },

      onResendCodeToMobile(){

        let apiURL = '/' + this.language + '/send-otp'

        let params = { contact_number: (this.getContactNumber).replace(/\s+/g, ""), email: this.getEmail, type: 'mobile', flag: 1 };
            //console.log(params);

            this.$axios.post(apiURL, params).then(response => {

                let data  = response.data.data;
                console.log(data);
                if(response.data.status == "error")
                {
                  console.log(response.data);
                  $("#time-sms-alert").fadeTo(5000, 500).slideUp(500, function(){
                     $("#time-sms-alert").slideUp(500);
                 });
              }
              else
              {

                  $("#sms-alert").fadeTo(5000, 500).slideUp(500, function(){
                     $("#sms-alert").slideUp(500);
                 });
              }
               //console.log(data);
           }).catch(error => {
            console.log(error);
        });
       },

       sendOtp() {

        let apiURL = '/' + this.language + '/send-otp'

        let params = { contact_number: (this.getContactNumber).replace(/\s+/g, ""), email: this.getEmail, type: 'mobile', flag: 1 };

        this.$axios.post(apiURL, params).then(response => {
            let data = response.data.data;
                //console.log(data)
            }).catch(error => {
                console.log(error);
            });
        },

        errorRemoved() {
            this.expire = false;
            this.error = false;
        },
        
        otpExpiredCountDown() {
            if (this.timeLeft == 0) {
                this.msg = this.$t('message.CODE_EXPIRED')
            } else {
                this.msg = this.timeLeft +' '+ this.$t('message.SECOND_REMAINING');
                this.timeLeft--;
            }
        },
        
        successPage() {

            this.$store.commit('setBidStatus', 1);
            
            this.$router.push({path: 'day-use-accept'});
        },
        
        cancel() {

            this.cancelBtn = 'btn btn-back disabledbutton';
            
            let apiURL = '/' + this.language + '/offer-cancel'
            
            let params = { booking_id: this.bookingId, guestDetail: this.guestDetail };
            //console.log(params);
            
            this.$axios.post(apiURL, params).then(response => {
                let data = response.data.data;
                this.$store.commit('setBookingId', null);
                this.$store.commit('setBidStatus', null);
                this.$router.push({path: 'offer-cancel'});
            }).catch(error => {
                console.log(error.response);
            });
        },
        
        
        cancelBooking() {
            let apiURL = '/' + this.language + '/offer-cancel'
            
            let params = { booking_id: this.bookingId, guestDetail: this.guestDetail };

            this.$axios.post(apiURL, params).then(response => {
                let data = response.data.data;
                this.$store.commit('setBookingId', null);
                this.$store.commit('setBidStatus', null);
                this.$router.push({path: 'offer-cancel'});
            }).catch(error => {
                console.log(error.response);
            });
        },

        offerCancel() {

            this.cancelPaymentBtn = 'btn btn-tryagain disabledbutton';
            this.$store.commit('setIsCancel', 0);
            this.remainingTime = this.timeLeft;
            this.timeLeft = '1:00';
            if( this.booking_comments.trim() != '' ) {
                this.saveBookingComment();
            }
        },

        backToPayment() {

            this.$store.commit('setIsCancel',2);
            this.timeLeft = this.remainingTime;
            if( this.booking_comments.trim() != '' ) {
                this.saveBookingComment();
            }
        },
        yesCancelBooking() {
            this.$store.commit('setIsCancel', 3);
            this.cancelBooking();
        },

        selectBookingCard() {
            if( this.booking_comments.trim() != '' ) {
                this.saveBookingComment();
            }
            this.$router.push({path: 'booking-select-card'});
        },
        
        proceedToPayment() {

            $('#loader').show();

            this.continuePaymentBtn = 'btn btn-continue disabledbutton'

            if( this.booking_comments.trim() != '' ) {
                this.saveBookingComment();
            }

            let apiURL = '/' + this.language + '/payment-process'
            
            let params = { booking_id: this.bookingId, time: this.timeLeft, guestDetail: this.guestDetail};
            
            this.$axios.post(apiURL, params).then(response => {
                let data = response.data.data;
                if(data.status === 200) {
                    this.$store.commit('setPaymentToken', data.Token);
                    window.location.href = data.redirect_to;
                } else {
                    if(data.status === 1) this.paymentError();
                    else window.location.href = '/';
                }
                // $('#loader').hide();
            }).catch(error => {
                console.log(error.response);
            });
        },
        
        paymentError() {
            let apiURL = '/' + this.language + '/payment-error'
            
            let params = { booking_id: this.bookingId, guestDetail: this.guestDetail };

            this.$axios.post(apiURL, params).then(response => {
                this.$store.commit('setBookingId', null);
                this.$store.commit('setBidStatus', null);
                this.$router.push({path: 'payment-error'});
            }).catch(error => {
                window.location.href = '/';
            });
        },
        
        countdown() {
            if (this.timeLeft === '0:00') {
                this.msg = '';
                this.cancelBooking();
            }
            var timer = this.timeLeft.split(':');
            //by parsing integer, I avoid all extra string processing
            var minutes = parseInt(timer[0], 10);
            var seconds = parseInt(timer[1], 10);
            --seconds;
            minutes = (seconds < 0) ? --minutes : minutes;
            if (minutes < 0) clearInterval(this.timerId);
            seconds = (seconds < 0) ? 59 : seconds;
            seconds = (seconds < 10) ? '0' + seconds : seconds;
            //minutes = (minutes < 10) ?  minutes : minutes;
            this.msg = _.replace(this.$t('message.YOUR_SESSION_EXPIRE'), '(minute)', minutes + ':' + seconds);//'Your session will expire in '+minutes + ':' + seconds;
            this.timeLeft = minutes + ':' + seconds;
        },
        
        myCreditCard() {
            var vm =this;
            let cardAPI = '/' + this.language + '/my-cards'
            this.$axios.get( cardAPI )
            .then((response) => {
                vm.creditCard = response.data.data;
                console.log('vm.creditCard')
                // console.log(vm.creditCard)
            }).catch((error) => {
                var errorMsg = error.response.data.error;
                console.log(errorMsg)
            });
        },
        saveBookingComment() {

            let apiURL = '/' + this.language + '/save-booking-comment'
            
            this.$axios.post(apiURL, {booking_id:this.bookingId, comment:this.booking_comments})
            .then((response) => {
                console.log(response);
            }).catch((error) => {
                var errorMsg = error.response.data;
                console.log(errorMsg)
            });
            
        },
        

    },

    filters:{

        dateFormate: function (date) {
            return moment(date).format("DD MMM YYYY");
        },

        priceFormat(amount,currency){
            var parts = amount.toString().split(".");
            if(currency == 'IDR'){
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                return parts.join(".");
            } else {
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, "'");
                return parts.join(".");
            }
            return amount;
        },

        totalPriceFormat(rooms, currency, days) {
          let totalPrice = 0;
          Object.keys(rooms).forEach(function(key) {
              totalPrice += (rooms[key].count) * (rooms[key].avgRateUserCurrency) * (days);
          });
          let amount = parseFloat(totalPrice).toFixed(2);
          var parts = amount.toString().split(".");
          if(currency == 'IDR'){
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return parts.join(".");
        } else {
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, "'");
            return parts.join(".");
        }
        return amount;
    },

    roomDetail(rooms) {
        let counter = 0, temp = '';
        Object.keys(rooms).forEach(function(key) {
            if(counter > 0) temp += ', ';
            counter++;
            temp += rooms[key].count+'x '+ rooms[key].title;
        });
        return temp;
    },
    roomCount(rooms) {
      let counter = 0, temp = 0;
      Object.keys(rooms).forEach(function(key) {
                  // if(counter > 0) temp += ', ';
                  counter++;
                  temp += rooms[key].count+ ' Room';
              });
      return temp;
  },
           roomTitle(rooms) {
              let counter = 0, temp = '';
              Object.keys(rooms).forEach(function(key) {
                  if(counter > 0) temp += ', ';
                  counter++;
                  temp += rooms[key].title;
              });
              return temp;
          }

}

}
</script>
