	<template>

<section id="main" class="main">
        <section class="banner inner_banner" style="background: url('assets/img/skylounge-city-view.png') no-repeat; background-size: cover; background-position: center center;">
                
        </section>
             <section class="hotel_contact_detail trial mt-minus-85">
                 <div class="container">
                     <div class="row">
                         <div class="col-12">
                             <div class="whitePanel px-50 flex flex-column align-items-center text-center">
                                  <div class="text-center ani-gif">
                                    <img src="~/assets/img/choice-color.gif" alt=""/>
                                    </div>
                                <h2 class="mb-2 text-center">Unfortunately you don’t have any trial left for this room</h2>
                                <p class="text-center">{{$t('message.FINAL_REJECTED_LINE1')}}</p>
                                <ul class="list-unstyled trial-box">
                                    <li>
                                        <div class="trial_wrap">
                                            <img src="assets/img/bed.svg" alt="" class="bed_icon icon">
                                            <h4>Try your luck <br>with another room </h4>
                                            <p>You already made 4 unsuccessful trials for the {{selectedBidRoom | roomDetail}} but you can still try to get the best price for another room.</p>
                                        </div>
                                        <button @click="tryAgain" type="button" class="btn-pink trial-btn">{{$t('message.FINAL_REJECTED_BTN')}}</button>
                                        <!-- <a href="#" class="btn-pink trial-btn">Select your stay</a> -->
                                    </li>
                                    <li>
                                        <div class="trial_wrap">
                                            <img src="assets/img/clock.svg" alt="" class="clock_icon icon">
                                            <h4>Wait a moment to unlock new trials for this room </h4>
                                            <p>{{$t('message.YOU_REALLY_WANT_THE')}} {{selectedBidRoom | roomDetail}}? You’ll have to wait an hour before you can try again to have the best price.</p>
                                        </div>
                                        <button type="button" class="btn-pink disable trial-btn" v-html="newBiddingPrice"></button>
                                        <!-- <a href="#" class="btn-pink disable trial-btn disable">Wait 59 min.</a> -->
                                    </li>
                                </ul>
                             </div>                             
                         </div>
                     </div>
                 </div>
             </section>

             <!-- <section class="tryAgain">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="static/img/try-error.png" alt="" class="close-trial-icn"/>
                    <h2>{{$t('message.FINAL_REJECTED_LINE1')}}</h2>
                    <p>{{$t('message.FINAL_REJECTED_LINE2')}}</p>   
                    <ul class="unstyled-list trial-box">
                        <li>
                            <div class="trial_wrap">
                                <h2>{{$t('message.FINAL_REJECTED_LINE3_1')}} <br/> {{$t('message.FINAL_REJECTED_LINE3_2')}}</h2>
                            </div>
                            <button @click="tryAgain" type="button" class="btn-pink trial-btn">{{$t('message.FINAL_REJECTED_BTN')}}</button>
                        </li>
                        <li>
                            <div class="trial_wrap">                                
                                <h2>{{$t('message.FINAL_REJECTED_LINE4')}}</h2>
                            </div>
                            <button type="button" class="btn-pink disable trial-btn" v-html="newBiddingPrice"></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section> -->

    </section>

	



</template>

<script>
import { HotelDetails } from '@/mixins/hotel-details.js';

export default {
	props:['subdomain'],

	 mixins: [ HotelDetails ],
    
    data() { 
        return { 
            criteria : {},
            data:{},
            // offerReject:'btn btn-quit', 
        }             
    },

    // data() { 
    // 	return {
    // 		// noOfHOur:this.hour
    //     }             
    // },
    
    computed: {

        newBiddingPrice() {

            return this.$store.getters.getNewBiddingPrice;
        }

    },

    components: {
        
    },

    mounted: function () {
        this.$nextTick(function () {
        })
    },
    methods: {
        
    	tryAgain() {
             //set blank newbiding price for other combination
             this.$store.commit('setNewBiddingPrice', {});
        this.data = this.criteria = this.$store.getters.getSearchCriteria;
        console.log(this.data);
          delete this.data.total_days;

          this.data.try_another_room = 1;
    		  // var param = $.param( this.data );
          
          let route = (this.criteria.use_type == 2) ? 'night-use-search' : 'day-use-search';
          
          this.$router.push({name: route, query: this.data});

    	}
    },

	filters:{ 
		
        replaceHour: function (text) {
            return _.replace(text, '{noOfHours}', this.hour);
        },
        roomDetail(rooms) {
              let counter = 0, temp = '';
              Object.keys(rooms).forEach(function(key) {
                if(counter > 0) temp += ', ';
                counter++;
                temp += rooms[key].count+'x '+ rooms[key].title;
              });
              return temp;
            },
    }

}
</script>