<template>
  <div>
    <!-- <div id="loader"></div> -->
    <section id="main" class="main">
      <section class="banner inner_banner" :style="url">

        <div class="steps">
          <h3 class="w-100 tab-768 text-center mb-0">Make your choice</h3>                
          <ul class="d-flex m-0 p-0 list-unstyled align-item-center justify-content-center">
            <li class="completed">
              <a href="#">Select your stay </a>
            </li>
            <li class="completed">
             <a href="#">Make your choice </a>
           </li>
           <li class="completed">
             <a href="#">Provide your contact details </a>
           </li>
           <li class="completed">
            <a href="#">Negotiate your price</a>
          </li>
          <li class="processed" v-if="criteria.use_type==2">
           <a href="#">Confirm your booking</a>
         </li> 
         <li class="completed" v-else>
           <a href="#">Confirm your booking</a>
         </li>                     
       </ul>               
     </div>

   </section>
   <section class="hotel_contact_detail mt-minus-85">
     <div class="container">
       <div class="row">
         <div class="col-md-12 d-flex align-items-start flex-wrap">
          <div class="blue_box_area">
            <div class="selected_hotel_detail d-flex flex-column">
              <h2 class="text-white">{{selectedBidRoom | roomDetail}}</h2>
              <div class="mid-content">
                <h4 v-if="criteria.use_type == 2">{{no_of_guest}}, {{selectedBidRoom | roomCount}}, {{no_of_day}}</h4>

                <h4 v-if="criteria.use_type == 1 && criteria.unit !=='ticket' && criteria.service_id == 0">{{no_of_guest}}, {{selectedBidRoom | roomCount}}, {{no_of_day}}
                  <!-- <span class="date-format">{{$t('message.FROM')}} {{criteria.check_in | dateFormate }} {{$t('message.AT')}}  {{criteria.check_in_time}} {{$t('message.TO')}} {{ day_check_out_date }} {{$t('message.AT')}} {{ day_check_out_time }}</span> -->
                </h4>

                <h4 v-if="criteria.use_type == 1 && criteria.unit =='hourly' && criteria.service_id > 0">1 {{$t('message.SERVICE')}} , {{no_of_day}}
                  <!-- , <span class="date-format">{{$t('message.FROM')}} {{criteria.check_in | dateFormate }} {{$t('message.AT')}}  {{criteria.check_in_time}} {{$t('message.TO')}} {{ day_check_out_date }} {{$t('message.AT')}} {{ day_check_out_time }}</span> -->
                </h4>

                <h4 v-if="criteria.use_type == 1 && criteria.unit=='ticket' && criteria.ticket == 1">{{criteria.ticket}} Guest, {{criteria.ticket}} {{selectedBidRoom | roomTitle}} {{$t('message.TICKET')}}
                  <!-- , <span class="date-format">{{criteria.check_out | dateFormate}}</span> -->
                </h4>
                <h4 v-else-if="criteria.use_type == 1 && criteria.unit=='ticket'">{{criteria.ticket}} Guests, {{criteria.ticket}} {{selectedBidRoom | roomTitle}} {{$t('message.TICKETS')}}
                  <!-- , <span class="date-format">{{criteria.check_out | dateFormate}}</span> -->
                </h4>

                <div class="checkin-out">
                  <label class="check_in">{{criteria.check_in | dateFormate}}</label>
                  <label class="check_out" v-if="criteria.use_type == 1 && criteria.unit !=='ticket' && criteria.service_id == 0">{{criteria.check_in_time}} - {{ day_check_out_time }}</label>
                  <label class="check_out" v-else-if="criteria.use_type == 1 && criteria.unit =='hourly' && criteria.service_id > 0">{{criteria.check_in_time}} - {{ day_check_out_time }}</label>
                  <label class="check_out" v-else-if="criteria.use_type == 1 && criteria.unit =='ticket' && criteria.service_id > 0">{{criteria.check_in_time}}</label>
                  <label class="check_out" v-else>{{criteria.check_out | dateFormate}}</label>
                </div>

                <div class="price-wrap">
                  <div class="price_box old-price d-half" v-if="criteria.use_type == 2">
                    <label>Public price:</label>
                    <span class="price">{{currency}} {{ (selectedBidRoom) | totalPriceFormat(currency, criteria.total_days) }}</span>
                  </div>

                  <div class="price_box old-price d-half" v-if="criteria.use_type == 1 && criteria.unit !=='ticket'">
                    <label>Public price:</label>
                    <span class="price">{{currency}} {{ (selectedBidRoom) | totalPriceFormat(currency, criteria.total_days) }}</span>
                  </div>
                  <div class="price_box old-price d-half" v-else-if="criteria.use_type == 1 && criteria.unit =='ticket'">
                    <label>Public price:</label>
                    <span class="price">{{currency}} {{ (selectedBidRoom) | totalPriceFormat(currency, criteria.total_days) }}</span>
                  </div>

                  <div class="your-offer d-half">
                    <label>{{$t('message.YOUR_OFFER')}}:</label>
                    <div><span class="new-price">{{currency}} {{parseFloat(bidDetail.bid_amount).toFixed(2) | priceFormat(currency)}} </span></div>
                  </div>
                </div>
                <div class="your-save d-half">
                  <label>You save:</label>
                  <span class="save_percent">{{percentage_discount}}%</span>
                </div>
                <div class="coupon-code">
                  <label>Do you have a coupon code?</label>
                  <div class="code-group d-flex">
                    <input type="text" placeholder="Enter your code"/>
                    <button type="button" class="btn btn-pink">Apply</button>
                  </div>
                </div>
              </div>
              <div class="price_condition d-flex align-items-center mt-auto mb-0">
                <span class="mr-1 mx-17"><img class="d-block" src="~/assets/img/info.svg" alt=""/></span>
                <a href="#">Price Condition</a>
              </div>
            </div>
          </div>
          <div class="hotel_contact_form cont-payment text-center d-flex justify-content-center align-items-center flex-column" v-if="criteria.use_type==2">
            <div class="text-center ani-gif">
             <img src="~/assets/img/choice-color.gif" alt=""/>
           </div>
           <h2 class="font-weight-bold text-center">You are almost done!</h2>
           <div class="comment-box text-left d-flex flex-column mt-2">
            <label>Any special request for your stay?</label>
            <textarea class=" mb-4" placeholder="your comments" style="resize:none" v-model="booking_comments" name="booking_comments" rows="5" cols="80"></textarea>                                       
          </div>
          <!-- <p>This is a unique offer just for you!<br/>{{msg}} Validate it before your session expire in 9:59</p> -->
          <p>{{msg}}</p>
          <button type="button" class="btn btn-pink border-0 rounded-0 mt-3" @click="selectBookingCard" v-if="loggeduser && Object.keys(this.creditCard).length > 0" :class="continueBtn">{{$t('message.CONTINUE_TO_PAYMENT')}}</button>

          <button type="button" class="btn btn-pink border-0 rounded-0 mt-3" @click="proceedToPayment" v-if="!loggeduser || !hasCreditCard" :class="continueBtn">{{$t('message.CONTINUE_TO_PAYMENT')}}</button>

        <!-- <p>{{$t('message.BOOKING_NON_CACELABLE')}}</p>
          <p>{{$t('message.CONFIRM_BOOKING')}}</p> -->

          <p class="note">Price listed includes 10% VAT - Excluding city tax GBP 5.00 per adult per night Booking is non-cancellable & non-refundable</p>
          <div class="cards-image mb-4">
            <p>We accept the following payment methods:</p>
            <img src="assets/img/cards.png" alt=""/>
          </div>
        </div>

        <div class="hotel_contact_form reservation_confirmed text-center d-flex justify-content-center align-items-center flex-column" v-if="criteria.use_type==1">
          <div class="resrvation_wrap">
            <h2>Thank you Mr. Mauguin<br/>Your reservation is <span>confirmed.</span></h2>
            <p>We are eager to receive you on the 11th of August 2020 Your booking number is: {{bookingId}}</p>
            <p>{{confirmationText}}</p>
          </div>
          <a href="/" class="back-to-home">Back to home page</a>
        </div>

      </div>
    </div>
  </div>
</section>
</section>
</div>
</template>

<script>

  import { HotelDetails } from '@/mixins/hotel-details.js';
  import { Constants } from '@/config/constants.js';

  export default {

    props:['criteria'],

    mixins: [ HotelDetails ],

    data() {
      return {
        continueBtn:'btn btn-continue',
        cancelBtn:'btn btn-tryagain',
        timeLeft:'10:00',
        msg:'',
        exchange_rate:false,
        exchange_rate_text:'',
        confirmationText:'',
        showCards:false,
        creditCard:{},
        booking_comments:'',
        confirmationMsg:false,
        timerId:'',
        remainingTime:''
      }
    },

    mounted: function () {
      this.$nextTick(function () {

        $('#loader').hide();

        if(this.bookingId == null || this.bidStatus != 1 ) window.location.href = "/";

        $('#loader').hide();
        this.confirmationText = _.replace(this.$t('message.MAIL_SENT_AT'), '(email)', this.$store.getters.getBookingUserEmail);

        if(this.bookingId && this.bidStatus == 1 && ! this.orderAcceptedMail) this.offerAccepted();

        if(this.criteria.use_type == 2) {
          this.timerId = setInterval(this.countdown, 1000);
        }

        if(this.loggeduser && this.criteria.use_type == 2) {
          this.myCreditCard();
        }

      })
    },

    computed: {
      url() {

        if(this.hotel) {

          let website = this.hotel.website;

          var url = 'background:url(' + Constants.filePath + '/uploads/';

          if (this.hotel !== null) url += this.hotel.primary_image;

                  //url += ') center center / cover no-repeat;';
                  url += ');';

                  return url;
                }

                return '';
              },
              loggeduser() {
                if(this.$store.getters.token == null) return false;
                else return true;
              },
              bookingId() {
                return this.$store.getters.getBookingId;
              },
              isCancel() {
                return this.$store.getters.getIsCancel;
              },
              bidStatus() {
                return this.$store.getters.getBidStatus;
              },
              orderAcceptedMail() {
                return this.$store.getters.getOrderAcceptedMail;
              },
              guestDetail() {
                return this.$store.getters.getGuestDetail;
              },
              bookingDetail() {
                return this.$store.getters.getBookingDetail;
              },
              no_of_day() {
                var numberOfDays;
                var checkin = this.criteria.check_in;
                var checkout = this.criteria.check_out;
                if(this.criteria.use_type == 1 && this.criteria.duration == 1) {
                  return numberOfDays = '1 '+this.$t('message.HOUR_SMALL');
                } else if(this.criteria.use_type == 1 && this.criteria.duration > 1) {
                  return numberOfDays = this.criteria.duration+' '+this.$t('message.HOURS_SMALL');
                }
                numberOfDays = moment(checkout).diff(moment(checkin), 'days');
                if(numberOfDays>1){
                  numberOfDays = numberOfDays+' '+ this.$t('message.NIGHTS_SMALL');
                }else{
                  numberOfDays = numberOfDays+' '+ this.$t('message.NIGHT_SMALL');
                }
                return numberOfDays;
              },
              
              no_of_guest() {
                let totalGuest = 0, noOfGuest = '';
                let rooms  = this.criteria['rooms[]'];
                if(Array.isArray(rooms)) {
                  rooms.forEach(function(value, key) {
                    totalGuest += parseInt(value);
                  });
                } else {
                  totalGuest = parseInt(rooms);
                }
                if (totalGuest > 1) noOfGuest = totalGuest+' '+this.$t('message.GUESTS_SMALL');
                else noOfGuest = '1 '+this.$t('message.GUEST_SMALL');
                return noOfGuest;
              },

              no_of_ticket() {
                let totalTicket = 0, noOfTicket = '' ;
                if(this.criteria.hasOwnProperty('ticket')){
                  totalTicket  = this.criteria['ticket'];

                  if (totalTicket > 1) noOfTicket = totalTicket+' '+this.$t('message.TICKETS');
                  else noOfTicket = '1 '+this.$t('message.TICKETS');
                  return noOfTicket;
                }
                return '';
              },

              percentage_discount() {
                return Math.round(100-((this.bidDetail.bid_amount*100)/this.bidDetail.actual_price));
              },

              discount() {
                return Math.round(((this.bidDetail.bid_amount*100)/this.bidDetail.actual_price)-100);
              },

              hasCreditCard() {
                if(Object.keys(this.creditCard).length > 0){
                  return true;
                } else {
                  return false;
                }
              }

            },

            methods: {

              ceilValue(value){
                return Math.ceil(value)*-1;
              },

              offerAccepted() {

                if(this.criteria.use_type == 1) {

                  let apiURL = '/' + this.language + '/day-use-accept';

                  let guestDetail = this.guestDetail;

                  let params = { booking_id: this.bookingId };

                  if(Object.keys(guestDetail).length > 1) params['guestDetail'] = guestDetail;

                  this.$axios.post(apiURL, params).then(response => {
                    this.$store.commit('setOrderAcceptedMail', true);
                    //console.log(response.data.data)
                  }).catch(error => {
                    console.log(error.response);
                  });

                }

              },

        // saveBookingCommentOld() {

        //     this.$validator.validate('booking_comments', this.booking_comments);

        //     if ( this.errors.any() ) return false;
        // },
        
        saveBookingComment() {

          let apiURL = '/' + this.language + '/save-booking-comment'
          
          this.$axios.post(apiURL, {booking_id:this.bookingId, comment:this.booking_comments})
          .then((response) => {
            console.log(response);
          }).catch((error) => {
            var errorMsg = error.response.data;
            console.log(errorMsg)
          });
          
        },
        
        cancelBooking() {
          let apiURL = '/' + this.language + '/offer-cancel'
          
          let params = { booking_id: this.bookingId, guestDetail: this.guestDetail };

          this.$axios.post(apiURL, params).then(response => {
            let data = response.data.data;
            this.$store.commit('setBookingId', null);
            this.$store.commit('setBidStatus', null);
            this.$router.push({name: 'offer-cancel'});
          }).catch(error => {
            console.log(error.response);
          });
        },

        offerCancel() {

          this.cancelBtn = 'btn btn-tryagain disabledbutton';
          this.$store.commit('setIsCancel', 0);
          this.remainingTime = this.timeLeft;
          this.timeLeft = '1:00';
          if( this.booking_comments.trim() != '' ) {
            this.saveBookingComment();
          }
        },

        backToPayment() {

          this.$store.commit('setIsCancel',2);
          this.timeLeft = this.remainingTime;
          if( this.booking_comments.trim() != '' ) {
            this.saveBookingComment();
          }
        },
        yesCancelBooking() {
          this.$store.commit('setIsCancel', 3);
          this.cancelBooking();
        },

        selectBookingCard() {

          if( this.booking_comments.trim() != '' ) {
            this.saveBookingComment();
          }

          this.$router.push({name: 'booking-select-card'});
        },
        
        proceedToPayment() {

          $('#loader').show();

          this.continueBtn = 'btn btn-continue disabledbutton'

          if( this.booking_comments.trim() != '' ) {
            this.saveBookingComment();
          }
          
          let apiURL = '/' + this.language + '/payment-process'
          
          let params = { booking_id: this.bookingId, time: this.timeLeft, guestDetail: this.guestDetail};
          
          this.$axios.post(apiURL, params).then(response => {
            let data = response.data.data;
            if(data.status === 200) {
              this.$store.commit('setPaymentToken', data.Token);
              window.location.href = data.redirect_to;
            } else {
              if(data.status === 1) this.paymentError();
              else window.location.href = '/';
            }
                // $('#loader').hide();
              }).catch(error => {
                console.log(error.response);
              });
            },
            
            paymentError() {
              let apiURL = '/' + this.language + '/payment-error'
              
              let params = { booking_id: this.bookingId, guestDetail: this.guestDetail };

              this.$axios.post(apiURL, params).then(response => {
                this.$store.commit('setBookingId', null);
                this.$store.commit('setBidStatus', null);
                this.$router.push({name: 'payment-error'});
              }).catch(error => {
                window.location.href = '/';
              });
            },
            
            countdown() {
              if (this.timeLeft === '0:00') {
                this.msg = '';
                this.cancelBooking();
              }
              var timer = this.timeLeft.split(':');
            //by parsing integer, I avoid all extra string processing
            var minutes = parseInt(timer[0], 10);
            var seconds = parseInt(timer[1], 10);
            --seconds;
            minutes = (seconds < 0) ? --minutes : minutes;
            if (minutes < 0) clearInterval(this.timerId);
            seconds = (seconds < 0) ? 59 : seconds;
            seconds = (seconds < 10) ? '0' + seconds : seconds;
            //minutes = (minutes < 10) ?  minutes : minutes;
            this.msg = _.replace(this.$t('message.YOUR_SESSION_EXPIRE'), '(minute)', minutes + ':' + seconds);//'Your session will expire in '+minutes + ':' + seconds;
            this.timeLeft = minutes + ':' + seconds;
          },
          
          myCreditCard() {
            var vm =this;
            let cardAPI = '/' + this.language + '/my-cards'
            this.$axios.get( cardAPI )
            .then((response) => {
              vm.creditCard = response.data.data;
              console.log('vm.creditCard')
                // console.log(vm.creditCard)
              }).catch((error) => {
                var errorMsg = error.response.data.error;
                console.log(errorMsg)
              });
            },
            
            priceFormatting(amount,currency){
              var parts = amount.toString().split(".");
              if(currency == 'IDR'){
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                return parts.join(".");
              } else {
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, "'");
                return parts.join(".");
              }
              return amount;
            }
          },

          filters:{

            dateFormate: function (date) {
              return moment(date).format("DD MMM YYYY");
            },
            
            priceFormat(amount,currency){
              var parts = amount.toString().split(".");
              if(currency == 'IDR'){
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                return parts.join(".");
              } else {
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, "'");
                return parts.join(".");
              }
              return amount;
            },

            totalPriceFormat(rooms, currency, days) {
              let totalPrice = 0;
              Object.keys(rooms).forEach(function(key) {
                totalPrice += (rooms[key].count) * (rooms[key].avgRateUserCurrency) * (days);
              });
              let amount = parseFloat(totalPrice).toFixed(2);
              var parts = amount.toString().split(".");
              if(currency == 'IDR'){
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                return parts.join(".");
              } else {
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, "'");
                return parts.join(".");
              }
              return amount;
            },

            roomDetail( rooms ) {
              let counter = 0, temp = '';
              Object.keys(rooms).forEach(function(key) {
                if(counter > 0) temp += ', ';
                counter++;
                temp += rooms[key].count+'x '+ rooms[key].title;
              });
              return temp;
            },

            additionalGuestMsg( rooms,extraGuest,guest,guests  ) {
              let counter = 0, temp = '';
              Object.keys(rooms).forEach(function(key) {
                if(rooms[key].extra_guest_count != '') {
                  counter += (rooms[key].extra_guest_count);
                }
              });
              if(counter > 1) {
                temp = _.replace(extraGuest, '(guest)', guests );
                temp = _.replace(temp, '(no_of_person)', counter );
              } else if(counter == 1){
                temp = _.replace(extraGuest, '(guest)', guest );
                temp = _.replace(temp, '(no_of_person)', counter );
              }
              return temp;
            },

            roomCount(rooms) {
              let counter = 0, temp = 0;
              Object.keys(rooms).forEach(function(key) {
                  // if(counter > 0) temp += ', ';
                  counter++;
                  temp += rooms[key].count+ ' Room';
                });
              return temp;
            },
            roomTitle(rooms) {
              let counter = 0, temp = '';
              Object.keys(rooms).forEach(function(key) {
                if(counter > 0) temp += ', ';
                counter++;
                temp += rooms[key].title;
              });
              return temp;
            }

          }

        }
      </script>
