<template>

    <div class="clearfix">
        <div id="loader" v-if="loading"></div>
        <section id="main" class="main">
            <section class="banner inner_banner" :style="url">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="steps">
                                <h3 class="w-100 tab-768 text-center mb-0">{{$t('message.CONFIRM_YOUR_BOOKING')}}</h3>                
                                <ul class="d-flex m-0 p-0 list-unstyled align-item-center justify-content-center">
                                    <li class="completed">
                                        <a href="#">{{$t('message.SELECT_YOUR_STAY')}}</a>
                                    </li>
                                    <li class="completed">
                                       <a href="#">{{$t('message.MAKE_YOUR_CHOICE')}}</a>
                                   </li>
                                   <li class="completed">
                                       <a href="#">{{$t('message.PROVIDE_YOUR_CONTACT_DETAILS')}} </a>
                                   </li>
                                   <li class="completed">
                                       <a href="#">{{$t('message.CONFIRM_YOUR_BOOKING')}}<</a>
                                   </li>                     
                               </ul>               
                           </div>
                       </div>
                   </div>
               </div>
           </section>

           <section class="hotel_contact_detail mt-minus-85" v-if="criteria.use_type == 1 && showTemplate">
             <div class="container">
                 <div class="row">
                     <div class="col-md-12 d-flex align-items-start flex-wrap">
                         <div class="blue_box_area">
                            <div class="selected_hotel_detail d-flex flex-column">
                                <h2 class="text-white">{{selectedBidRoom | roomDetail}}</h2>
                                <div class="mid-content">
                                    <h4 v-if="criteria.use_type == 2">{{no_of_guest}}, {{selectedBidRoom | roomCount}}, {{no_of_day}}</h4>

                                    <h4 v-if="criteria.use_type == 1 && criteria.unit !=='ticket' && criteria.service_id == 0">{{no_of_guest}}, {{selectedBidRoom | roomCount}}, {{no_of_day}}
                                    </h4>

                                    <h4 v-if="criteria.use_type == 1 && criteria.unit =='hourly' && criteria.service_id > 0">1 {{$t('message.SERVICE')}} , {{no_of_day}}
                                    </h4>

                                    <h4 v-if="criteria.use_type == 1 && criteria.unit=='ticket' && criteria.ticket == 1">{{criteria.ticket}} Guest, {{criteria.ticket}} {{selectedBidRoom | roomTitle}} {{$t('message.TICKET')}}
                                    </h4>
                                    <h4 v-else-if="criteria.use_type == 1 && criteria.unit=='ticket'">{{criteria.ticket}} Guests, {{criteria.ticket}} {{selectedBidRoom | roomTitle}} {{$t('message.TICKETS')}}
                                    </h4>

                                    <div class="checkin-out">
                                      <label class="check_in">{{criteria.check_in | dateFormate}}</label>
                                      <label class="check_out" v-if="criteria.use_type == 1 && criteria.unit !=='ticket' && criteria.service_id == 0">{{criteria.check_in_time}} - {{ day_check_out_time }}</label>
                                      <label class="check_out" v-else-if="criteria.use_type == 1 && criteria.unit =='hourly' && criteria.service_id > 0">{{criteria.check_in_time}} - {{ day_check_out_time }}</label>
                                      <label  v-else-if="criteria.use_type == 1 && criteria.unit =='ticket' && criteria.service_id > 0"></label>
                                      <label class="check_out" v-else>{{criteria.check_out | dateFormate}}</label>
                                  </div>
                                  <div class="your-offer d-half">
                                    <label>{{$t('message.TOTAL_PRICE')}}:</label>
                                    <div><span class="new-price">{{currency}} {{parseFloat(bid_detail.bid_amount).toFixed(2) | priceFormat(currency)}} </span></div>
                                </div>
                            </div>
                            <div class="price_condition d-flex align-items-center mt-auto mb-0">
                                <span class="mr-1 mx-17"><img class="d-block" src="~/assets/img/info.svg" alt=""/></span>
                                <a href="#">{{$t('message.PRICE_CONDITIONS')}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="hotel_contact_form reservation_confirmed text-center d-flex justify-content-center align-items-center flex-column">
                        <div class="text-center ani-gif">
                                    <img src="~/assets/img/success-color.gif" alt=""/>
                                    </div>
                        <div class="resrvation_wrap">
                            <h2 class="font-weight-bold text-center" v-if="bid_detail.guestDetail">Thank you {{bid_detail.guestDetail.title}}. {{bid_detail.guestDetail.first_name}}, <br/>Your reservation is <span>confirmed.</span></h2>
                            <h2 class="font-weight-bold text-center" v-if="Object.keys(guest_detail).length">Thank you {{guest_detail.title}}. {{guest_detail.first_name}}, <br/>Your reservation is <span>confirmed.</span></h2>

                            <p>We are eager to receive you on the {{criteria.check_in | dateFormate}} Your {{$t('message.BOOKING_NUMBER')}}<strong> {{bookingId}}</strong> </p>
                            <p>{{confirmationText}}</p>
                        </div>
                        <a href="/" class="back-to-home">Back to home page</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

           <section class="hotel_contact_detail mt-minus-85" v-if="criteria.use_type == 2 && showTemplate">
             <div class="container">
                 <div class="row">
                     <div class="col-md-12 d-flex align-items-start flex-wrap">
                         <div class="blue_box_area">
                            <div class="selected_hotel_detail d-flex flex-column">
                                <h2 class="text-white">{{selectedBidRoom | roomDetail}}</h2>
                                <div class="mid-content">
                                    <h4 v-if="criteria.use_type == 2">{{no_of_guest}}, {{selectedBidRoom | roomCount}}, {{no_of_day}}</h4>

                                    <h4 v-if="criteria.use_type == 1 && criteria.unit !=='ticket' && criteria.service_id == 0">{{no_of_guest}}, {{selectedBidRoom | roomCount}}, {{no_of_day}}
                                    </h4>

                                    <h4 v-if="criteria.use_type == 1 && criteria.unit =='hourly' && criteria.service_id > 0">1 {{$t('message.SERVICE')}} , {{no_of_day}}
                                    </h4>

                                    <h4 v-if="criteria.use_type == 1 && criteria.unit=='ticket' && criteria.ticket == 1">{{criteria.ticket}} Guest, {{criteria.ticket}} {{selectedBidRoom | roomTitle}} {{$t('message.TICKET')}}
                                    </h4>
                                    <h4 v-else-if="criteria.use_type == 1 && criteria.unit=='ticket'">{{criteria.ticket}} Guests, {{criteria.ticket}} {{selectedBidRoom | roomTitle}} {{$t('message.TICKETS')}}
                                    </h4>

                                    <div class="checkin-out">
                                      <label class="check_in">{{criteria.check_in | dateFormate}}</label>
                                      <label class="check_out" v-if="criteria.use_type == 1 && criteria.unit !=='ticket' && criteria.service_id == 0">{{criteria.check_in_time}} - {{ day_check_out_time }}</label>
                                      <label class="check_out" v-else-if="criteria.use_type == 1 && criteria.unit =='hourly' && criteria.service_id > 0">{{criteria.check_in_time}} - {{ day_check_out_time }}</label>
                                      <label  v-else-if="criteria.use_type == 1 && criteria.unit =='ticket' && criteria.service_id > 0"></label>
                                      <label class="check_out" v-else>{{criteria.check_out | dateFormate}}</label>
                                  </div>
                                  <div class="your-offer d-half">
                                    <label>{{$t('message.TOTAL_PRICE')}}:</label>
                                    <div><span class="new-price">{{currency}} {{parseFloat(bid_detail.bid_amount).toFixed(2) | priceFormat(currency)}} </span></div>
                                </div>
                            </div>
                            <div class="price_condition d-flex align-items-center mt-auto mb-0">
                                <span class="mr-1 mx-17"><img class="d-block" src="~/assets/img/info.svg" alt=""/></span>
                                <a href="#">{{$t('message.PRICE_CONDITIONS')}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="hotel_contact_form reservation_confirmed text-center d-flex justify-content-center align-items-center flex-column">
                      <div class="text-center ani-gif">
                                    <img src="~/assets/img/success-color.gif" alt=""/>
                                    </div>
                        <div class="resrvation_wrap">
                            <h2 class="font-weight-bold text-center" v-if="bid_detail.guestDetail">Thank you {{bid_detail.guestDetail.title}}. {{bid_detail.guestDetail.first_name}}, <br/>Your reservation is <span>confirmed.</span></h2>
                            <h2 class="font-weight-bold text-center" v-if="Object.keys(guest_detail).length">Thank you {{guest_detail.title}}. {{guest_detail.first_name}}, <br/>Your reservation is <span>confirmed.</span></h2>

                            <p>We are eager to receive you on the {{criteria.check_in | dateFormate}} Your {{$t('message.BOOKING_NUMBER')}}<strong> {{bookingId}}</strong> </p>
                            <p>{{confirmationText}}</p>
                        </div>
                        <a href="/" class="back-to-home">Back to home page</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


</div>

</template>

<script>

    import { HotelDetails } from '@/mixins/hotel-details.js';
    import { Constants } from '@/config/constants.js';

    export default {

        mixins: [ HotelDetails ],

        components: {

        },

        data() {
         return {
            confirmationText:'',
            hotel_amount:false,
            hotel_amount_text:'',
            paid_amount:'8000000.00',
            criteria: {},
            loading: true,
            showTemplate: false,
            showCards:false
        }
    },

    created() {

        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
        
        this.criteria = this.$store.getters.getSearchCriteria;
    },

    mounted: function () {
        this.$nextTick(function () {

            this.$store.commit('setSaferPayUrl', null);

            this.$store.commit('setActivePage', 'hotel');

            this.$store.commit('setLanguage', this.language);
            
            if(this.bookingId == null) window.location.href = "/";
            
            this.confirmationText = _.replace(this.$t('message.MAIL_SENT_AT'), '(email)', this.$store.getters.getBookingUserEmail);
            
            $("#currenyDropdown").addClass('disabledbutton');
            $("#unitConversion").addClass('disabledbutton'); 
            $("#languageConversion").addClass('disabledbutton');
            
            if(this.bookingId && this.paymentToken) {
                this.paymentSuccess();
            } else {
                this.loading = false;
                this.showTemplate = true;
            }
        })
    },
    
    methods: {

        paymentSuccess() {

            if(this.criteria.use_type == 2 || (this.criteria.use_type == 1 && this.acceptOnlinePayment == 1) ) {

                let apiURL = '/' + this.language + '/payment-successful';

                let guestDetail = this.guestDetail;
                
                let params = { booking_id: this.bookingId };
                
                if(Object.keys(guestDetail).length > 1) params['guestDetail'] = guestDetail;
                
                params['token'] = this.paymentToken
                
                this.$axios.post(apiURL, params).then(response => {
                    let data = response.data.data;
                    console.log('payment-done')
                    if(data.booking_status == 'no_room_left') {
                        window.location.href = 'no-room-error';
                        this.$store.commit('setPaymentToken', null);
                        this.$store.commit('setBookingId', null);
                    } else {
                        this.$store.commit('setPaymentToken', null);
                        this.showTemplate = true;
                    }
                    this.loading = false;

                }).catch(error => {
                    this.loading = false;
                    console.log('api fail')
                    // window.location.href = '/'
                });

            }
            
        },

    },
    
    computed: {
        url() {

        if(this.hotel) {

          let website = this.hotel.website;

          var url = 'background:url(' + Constants.filePath + '/uploads/';

          if (this.hotel !== null) url += this.hotel.primary_image;

                  //url += ') center center / cover no-repeat;';
                  url += ');';

                  return url;
                }

                return '';
              },
        no_of_day() {
            var numberOfDays;
            var checkin = this.criteria.check_in;
            var checkout = this.criteria.check_out;
            if(this.criteria.use_type == 1 && this.criteria.duration == 1) {
                return numberOfDays = '1 '+this.$t('message.HOUR_SMALL');
            } else if(this.criteria.use_type == 1 && this.criteria.duration > 1) {
                return numberOfDays = this.criteria.duration+' '+this.$t('message.HOURS_SMALL');
            }
            numberOfDays = moment(checkout).diff(moment(checkin), 'days');
            if(numberOfDays>1){
                numberOfDays = numberOfDays+' '+ this.$t('message.NIGHTS_SMALL');
            }else{
                numberOfDays = numberOfDays+' '+ this.$t('message.NIGHT_SMALL');
            }
            return numberOfDays;
        },
        no_of_guest() {
            let totalGuest = 0, noOfGuest = '';
            let rooms  = this.criteria['rooms[]'];
            if(Array.isArray(rooms)) {
                rooms.forEach(function(value, key) {
                    totalGuest += parseInt(value);
                });
            } else {
                totalGuest = parseInt(rooms);
            }
            if (totalGuest > 1) noOfGuest = totalGuest+' '+this.$t('message.GUESTS_SMALL');
            else noOfGuest = '1 '+this.$t('message.GUEST_SMALL');
            return noOfGuest;
        },
        no_of_ticket() {
          let totalTicket = 0, noOfTicket = '' ;
          if(this.criteria.hasOwnProperty('ticket')){
              totalTicket  = this.criteria['ticket'];
              
              if (totalTicket > 1) noOfTicket = totalTicket+' '+this.$t('message.TICKETS');
              else noOfTicket = '1 '+this.$t('message.TICKETS');
              return noOfTicket;
          }
          return '';
      },
      percentage_discount() {
        return Math.round(100 - ((this.bidDetail.bid_amount*100)/this.bidDetail.actual_price));
            // return Math.abs(Math.ceil(((this.bidDetail.bid_amount*100) / this.bidDetail.actual_price) - 100));
        },
        percentage_discount_text() {
            return _.replace(this.$t('message.YOU_SAVED_PERCENTAGE'), '(PERCENTAGE)', this.percentage_discount+'%');
        },
        bookingId() {
            return this.$store.getters.getBookingId;
        },
        guestDetail() {
            return this.$store.getters.getGuestDetail;
        },
        paymentToken() {
            return this.$store.getters.getPaymentToken;
        },
        acceptOnlinePayment() {
           return this.$store.getters.acceptOnlinePayment;
       },
       bookingDetail() {
        return this.$store.getters.getBookingDetail;
    },
    day_check_out_date() {
       var checkOutDay;
       let day_check_out_date = 0;
       if(this.criteria.hasOwnProperty('check_in')){
          let check_in  = this.criteria['check_in'];
          let mode = this.criteria['use_type'];
          let duration = this.criteria['duration'];
          let check_in_time = this.criteria['check_in_time'];
          let check_in_datetime = moment(check_in + " " + check_in_time);
          if(mode == 1){
            checkOutDay = moment(check_in_datetime).add(duration, 'hours').format('DD.MM.YYYY');
        }
        return checkOutDay;
    }
    return '';
},
day_check_out_time() {
  var checkOutTime;
  if(this.criteria.hasOwnProperty('check_in_time') && this.criteria.hasOwnProperty('duration')){
      let check_in  = this.criteria['check_in'];
      let mode = this.criteria['use_type'];
      let duration = this.criteria['duration'];
      let check_in_time = this.criteria['check_in_time'];
      if(mode == 1){
        checkOutTime = moment(check_in_time, 'HH:mm').add(duration, 'hours').format('HH:mm');;
    }
    return checkOutTime;
}
return '';
},
bid_detail(){
  return this.$store.getters.getBidDetail;

},
currency_name(){
  return this.$store.getters.getCurrency;

},
guest_detail(){
  return this.$store.getters.userDetail;
}
},

filters: {

    dateFormate: function (date) {
        return moment(date).format("DD MMM YYYY");
    },

    priceFormat(amount,currency) {
        var parts = amount.toString().split(".");
        if(currency == 'IDR' ){
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return parts.join(".");
        } else {
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, "'");
            return parts.join(".");
        }
        return amount;
    },

    totalPriceFormat(rooms, currency, days) {
      let totalPrice = 0;
      Object.keys(rooms).forEach(function(key) {
          totalPrice += (rooms[key].count) * (rooms[key].avgRateUserCurrency) * (days);
      });
      let amount = parseFloat(totalPrice).toFixed(2);
      var parts = amount.toString().split(".");
      if(currency == 'IDR') {
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return parts.join(".");
    } else {
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, "'");
        return parts.join(".");
    }
    return amount;
},

roomDetail(rooms) {
    let counter = 0, temp = '';
    Object.keys(rooms).forEach(function(key) {
        if(counter > 0) temp += ', ';
        counter++;
        temp += rooms[key].count+'x '+ rooms[key].title;
    });
    return temp;
},

additionalGuestMsg( rooms,extraGuest,guest,guests  ) {
    let counter = 0, temp = '';
    Object.keys(rooms).forEach(function(key) {
        if(rooms[key].extra_guest_count != '') {
            counter += (rooms[key].extra_guest_count);
        }
    });
    if(counter > 1){
        temp = _.replace(extraGuest, '(guest)', guests );
        temp = _.replace(temp, '(no_of_person)', counter );
    } else if(counter == 1){
        temp = _.replace(extraGuest, '(guest)', guest );
        temp = _.replace(temp, '(no_of_person)', counter );
    }
    return temp;
},
roomCount(rooms) {
  let counter = 0, temp = 0;
  Object.keys(rooms).forEach(function(key) {
                  // if(counter > 0) temp += ', ';
                  counter++;
                  temp += rooms[key].count+ ' Room';
              });
  return temp;
},
roomTitle(rooms) {
  let counter = 0, temp = '';
  Object.keys(rooms).forEach(function(key) {
      if(counter > 0) temp += ', ';
      counter++;
      temp += rooms[key].title;
  });
  return temp;
}

}

}
</script>
