<template>
    <div class="modal fade amenities modal ot-modals" id="reviewPreModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="reviewPreModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    {{$t('message.PREVIOUS_BID_MSG')}}
                    <div class="btnOK"><a @click="closeModal" class="btn btn-am-detail"> {{$t('message.OTP_OK')}}</a></div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    export default {


        data() { 
            return {
            }
        },

        mounted: function () {
            this.$nextTick(function () {
               $('#reviewPreModal').modal('show');
            }); 
        },

        methods: {

            closeModal(){   
                $('#reviewPreModal').modal('hide');
                this.$emit('close');
            }

        },

        filters:{ 
            
            
        }
    }

</script>