<template>
    <div class="review-count-modal">
        <div class="modal fade hotel_det_modal modal ot-modals" id="hotel_det_modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close" >
                    <img src="~/assets/img/cross-out.svg" alt="" @click="closeModal">
                </button>
            </div>
            <div class="modal-body" v-for="(room,index1) in data">
                <div class="ot-content hot_wrap">
                  <figure>
                      <img :src="hotelUrl(room.categoryImageOne)" alt=""/>
                  </figure>
                  <div class="detail_hotel">
                    <h4>{{data | roomDetail}}</h4>
                    <p>{{room.description}}</p>
                    <div class="specification">
                        <ul class="list-unstyled m-0 p-0">
                            <li>{{$t('message.ROOM_SIZE')}}: <span>{{room.roomSize}} <span v-if="room.roomSizeUnit==='square_ft'"> ft<sup>2</sup></span><span v-if="room.roomSizeUnit!=='square_ft'"> m<sup>2</sup></span></span></li>
                            <li v-if="room.bedOneCount">{{$t('message.BED')}}: {{room.bedOneCount}}
                                <span v-if="room.bedOneCount>1">&nbsp;{{$t('message.BEDS')}}</span>
                                <span v-if="room.bedOneCount==1">&nbsp;{{$t('message.BED')}}</span> - {{room.bedOne}}
                            </li>
                            <li v-if="room.bedTwoCount">{{$t('message.BED')}}: {{room.bedTwoCount}}
                                <span v-if="room.bedTwoCount>1">&nbsp;{{$t('message.BEDS')}}</span>
                                <span v-if="room.bedTwoCount==1">&nbsp;{{$t('message.BED')}}</span> - {{room.bedTwo}}
                            </li>
                            <li v-if="room.bedThreeCount">{{$t('message.BED')}}: {{room.bedThreeCount}}
                                <span v-if="room.bedThreeCount>1">&nbsp;{{$t('message.BEDS')}}</span>
                                <span v-if="room.bedThreeCount==1">&nbsp;{{$t('message.BED')}}</span> - {{room.bedThree}}
                            </li>

                            <li v-if="Object.keys(data).length>1 && criteria.use_type==2 && criteria.total_days==1"> {{room.hotel_rate_for | guestText($t('message.PRICE_FOR_GUEST'),$t('message.PRICE_FOR_GUESTS'))}} : {{currency}} {{parseFloat(room.avgRateUserCurrency * room.count).toFixed(2) | priceFormat(currency)}}</li>

                            <li v-if="Object.keys(data).length>1 && criteria.use_type==2 && criteria.total_days>1">{{room.hotel_rate_for | guestText($t('message.PRICE_FOR__NIGHT_GUEST'),$t('message.PRICE_FOR__NIGHT_GUESTS'))}} : {{currency}} {{parseFloat(room.avgRateUserCurrency * room.count).toFixed(2) | priceFormat(currency)}}</li>

                            <li v-if="Object.keys(data).length>1 && criteria.use_type==1">{{room.hotel_rate_for | guestText($t('message.PRICE_FOR_GUEST'),$t('message.PRICE_FOR_GUESTS'))}} : {{currency}} {{parseFloat(room.avgRateUserCurrency * room.count).toFixed(2) | priceFormat(currency)}}
                            </li>
                            <li>{{$t('message.BREAKFAST')}}: <span class="font-weight-bold">{{$t('message.INCLUDED')}}</span></li>
                        </ul>
                                    <div class="price_condition" v-if="Object.keys(data).length > 1 && additionalRate && room.additional_rate">
                                        <span @click="additionGuest(index1)">{{room.count*room.hotel_rate_for }}&nbsp;x&nbsp;<i class="fa fa-user">&nbsp;</i>(Incl.)</span>
                                    </div>
                                </div>
                                <div class="amenities" v-if="room.roomAmenities==1 || room.bathroomAmenities==1">
                                    <h5>{{$t('message.AMENITIES')}}</h5>
                                    <div class="amen">
                                        <ul class="icons-amenities d-flex list-unstyled m-0 p-0" v-if="roomAmenityArr(index1)">
                                            <li v-for="amnityIcon in amenityIconArr"><img :src="amnityIcon.icon" :title="amnityIcon.amenity"></li>
                                        </ul>
                                    </div>
                                    <span class="see-link pink-link" @click="roomAmenityPopUp(index1,room.title)">{{$t('message.SEE_ALL')}}</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade amenities modal ot-modals show" id="reviewModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">{{title}}:</h2>
              <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close" >
                <img src="~/assets/img/cross-out.svg" alt="" @click="closeAmenityModal">
              </button>
            </div>
                <div class="modal-body">
                    <ul class="list-unstyled">
                        <li v-for="(value,index) in amenityArr">
                            <img :src="iconUrl(value)" style="height: 40px;width: 40px;">
                         {{value | amenityValue}}
                        </li>
                    </ul>
                    <!-- <a @click="closeModal" class="btn btn-am-detail"> {{$t('message.OTP_OK')}}</a> -->
                </div>
            </div>
        </div>
    </div>
    </div>
    

<!-- <additional-guest-model
v-if="showAdditionalRateModal"
:data="addtionalGuestData"
:room="data"
:guestCount="no_of_guest"
@close="onClose"
></additional-guest-model> -->




</template>

<!-- 
<amenity-modal
v-if="showAmenityModal"
:amenity="amenityArr"
:title="title"
@close="onClose"
></amenity-modal> -->

<script>

    import sideImg from './SideImg.vue'
    import amenityModal from './AmenityModal.vue'
    import previousBidAmtModal from './PreviousBidAmtModal.vue'
    import bathroomAmenityModal from './BathroomAmenityModal.vue'
    import additionalGuestModel from './AdditionalGuestModel.vue'
    import view360Modal from './View360Modal.vue';
    import { Constants } from '@/config/constants.js';

    export default {

        props: ['data'],

        data() {
            return {
                hotelData:this.data,
                title:'',
                amenityArr:[],
                amenityIconArr:[],
                showAmenityModal:false,
                hotel_id:'0',
                addtionalGuestData:[],
                showAdditionalRateModal:false,
                roomCount:0
            };
        },
        mounted: function () {
            this.$nextTick(function () {
             $('#hotel_det_modal').modal('show');
         }); 
        },
        components: {
            sideImg,
            amenityModal,
            bathroomAmenityModal,
            additionalGuestModel,
            view360Modal,
            previousBidAmtModal
        },

        methods: {
            closeModal(){   
                $('#hotel_det_modal').modal('hide');
                this.$emit('close');
            },
            closeAmenityModal(){   
                $('#reviewModal').modal('hide');
            },
            hotelUrl(imagePath) {
                  var url = Constants.filePath + '/uploads/'+imagePath;
                  return url;
            },
            roomAmenityPopUp(roomId,title) {
            this.title = title;
            let hotel = this.$store.getters.hotel;
            let apiURL = '/' + this.language + '/get-amenities'
            
            this.$axios.post(apiURL, {"hotel_id": hotel.id,"room_type": roomId})
            .then((response) => {
                let amenityValue = response.data.data.amenities;
                this.amenityArr = [];
                for (var i = 0; i < amenityValue.length; i++) {
                    if (amenityValue[i].amenity)
                        this.amenityArr.push({'amenity':amenityValue[i].amenity,'icon':amenityValue[i].icon});
                }
                //bath aminity
                let bathAmenityValue = response.data.data.bathroomAmenities;
                for (var i = 0; i < bathAmenityValue.length; i++) {
                    if (bathAmenityValue[i].amenity)
                        this.amenityArr.push({'amenity':bathAmenityValue[i].amenity,'icon':bathAmenityValue[i].icon});
                }
                if(this.amenityArr.length) $('#reviewModal').modal('show');//this.showAmenityModal = true;
            })
            .catch((error) => {
                this.amenityArr = [];
            });
        },
        async roomAmenityArr(roomId) {
            if(Object.keys(this.data).length < this.roomCount){
                return false;
            }
            this.roomCount = this.roomCount+1;
            let hotel = this.$store.getters.hotel;
            let apiURL = '/' + this.language + '/get-amenities'
            
            await this.$axios.post(apiURL, {"hotel_id": hotel.id,"room_type": roomId})
            .then((response) => {
                let amenityValue = response.data.data.amenities;
                this.amenityIconArr = [];
                if(amenityValue.length < 4){
                    for (var i = 0; i < amenityValue.length; i++) {
                        if (amenityValue[i].icon)
                        this.amenityIconArr.push({'amenity':amenityValue[i].amenity,'icon':amenityValue[i].icon});
                        }
                //bath aminity
                let bathAmenityValue = response.data.data.bathroomAmenities;
                let totalCount = bathAmenityValue.length + amenityValue.length;
                if(totalCount <= 4){
                    for (var i = 0; i < bathAmenityValue.length; i++) {
                        if (bathAmenityValue[i].icon)
                            this.amenityIconArr.push({'amenity':bathAmenityValue[i].amenity,'icon':bathAmenityValue[i].icon});
                        }
                }else{
                    for (var i = 0; i < (4 - amenityValue.length); i++) {
                        if (bathAmenityValue[i].icon)
                            this.amenityIconArr.push({'amenity':bathAmenityValue[i].amenity,'icon':bathAmenityValue[i].icon});
                        }
                }
                }else{
                    for (var i = 0; i < 4; i++) {
                        if (amenityValue[i].icon)
                        this.amenityIconArr.push({'amenity':amenityValue[i].amenity,'icon':amenityValue[i].icon});
                        }
                }

                return this.amenityIconArr;
            })
            .catch((error) => {
                this.amenityIconArr = [];
            });
        },
        
        additionGuest(roomId){

            let apiURL = '/' + this.language + '/get-addition-rate-plan'
            
            this.$axios.post(apiURL, {"room_ids": roomId})
            .then((response) => {
                let data = response.data.data;
                if(data.length){
                    this.addtionalGuestData = data;
                    this.showAdditionalRateModal = true;
                }
            })
            .catch((error) => {
                this.addtionalGuestData = [];
            });
        },
         onClose() {
            this.showAmenityModal = false;
        },
        iconUrl(value){
                return value.icon;
            }
        },  

        computed: {

            hotel() {
                return this.$store.getters.hotel;
            },

            url(imagePath) {
                let website = this.hotel.website;

                let url = website + '/uploads/';

                if(this.type!=='global') {

                    if (this.image) url += this.image;

                } else {

                    url += this.image.file_url

                }

                return url
            }
        },
        filters:{
           roomDetail(rooms) {
              let counter = 0, temp = '';
              Object.keys(rooms).forEach(function(key) {
                if(counter > 0) temp += ', ';
                counter++;
                temp += rooms[key].count+'x '+ rooms[key].title;
            });
              return temp;
          },
          amenityValue: function(str){
                var str1 = _.split(str.amenity,':');
                if(str1.length==2){
                    return _.capitalize(_.startCase(str1[0]))+' : '+str1[1];
                }else{
                    return  str1[0];
                }
            }
      }
  };  
</script>