<template>
    <div :class="index==0?'item active':'item'">
        <img :src="url">
    </div>
</template>

<script>

export default {
    
    props: ['data','index','type'],

    data() {
        return {
            image:this.data
        };
    },

    methods: {

    },  

    computed: {

        hotel() {
            return this.$store.getters.hotel;
        },

        url() {

            let website = this.hotel.website;
            
            let url = website + '/uploads/';

            if(this.type!=='global') {

                if (this.image) url += this.image;

            } else {

                url += this.image.file_url
                
            }

            return url
        }
    }
};  
</script>