<template>
    <div class="review-count-modal">
        <div class="modal fade" id="roomModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close gray" data-dismiss="modal" aria-label="Close" @click="closeModal"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                              <li v-if="files.length>1" data-target="#carousel-example-generic" :data-slide-to="index" :class="index==0?'active':''" v-for="(file,index) in files"></li>
                               <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                          </ol>

                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                            
                            <div :class="index==0?'item active':'item'" v-for="(file,index) in files">
                                <img :src="file | imageUrl(hotel)">
                            </div>
                            
                            <room-image-slider
                              :data="file"
                              :index="index"
                              :type="type"
                              :v-for="(file,index) in files">
                            </room-image-slider>
                          
                          <!-- Controls -->
                          <a v-if="files.length>1" class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">{{$t('message.PREVIOUS')}}</span>
                          </a>
                          <a v-if="files.length>1" class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">{{$t('message.NEXT')}}</span>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>

  import roomImageSlider from './RoomImageSlider.vue'
  import { Constants } from '@/config/constants.js'
  
    export default {
      
       props:['files','type'],

        data() { 
            return {

            }
        },
        
        mounted: function () {
            this.$nextTick(function () {
               $('#roomModal').modal('show');
            }); 
        },

        components: {
            roomImageSlider
        },

        methods: {

            closeModal(){   
                $('#roomModal').modal('hide');
                this.$emit('close');
            }

        },

        computed: {

            hotel() {
                return this.$store.getters.hotel;
            }

        },

        filters:{ 

            imageUrl: function (image, hotel) {
                
                let website = hotel.website;
                
                let url = Constants.filePath + '/uploads/';

                if (image) url += image;
                
                return url;

            }

        }
    }

</script>
