<template>
    <div class="col-md-6 col-sm-12 col-xs-12"> 
        <div :class="criteria.use_type==1?'hotel-img':'hotel-img-night'" :style="url" @click="sliderImg()">
            <span v-if="criteria.use_type==1" class="checkin-checkout">
                <h3>{{hotel.check_in_time}}</h3>
                <h4>{{hotel.check_out_time}}</h4>
            </span>
        </div>

        <room-slider-modal
            v-if="showModal"
            :files="files"
            :type="type"
            @close="onClose"
        ></room-slider-modal>

    </div>
</template>

<script>

import roomSliderModal from './RoomSliderModal.vue'
import { Constants } from '@/config/constants.js'

export default {

    props: ['files','type','criteria'],

    data() {
        return {
            showModal:false
        };
    },

    components: {
        roomSliderModal
    },

    methods: {

        sliderImg(){
            this.showModal = true;
        },

        onClose() {
            this.showModal =  false;           
        }
    },  

    computed: {

        hotel() {
            return this.$store.getters.hotel;
        },

        url(){

            let website = this.hotel.website;
            
            var url = 'background:url(' + Constants.filePath + '/uploads/thumb-medium/';

            // var url = 'background:url(uploads/thumb-medium/'

            if(this.type!=='global'){
                
                if (this.files) url += this.files[0];

                url += ') bottom center / cover;'

            } else {

                if (this.files) url += this.files[0].file_url;

                url += ') bottom center / cover;'
            }
            
            return url
        }

    }
};  
</script>