<template>	
	<div>

    <section id="main" class="main">
      <section class="banner inner_banner" :style="url">

        <div class="steps">
          <h3 class="w-100 tab-768 text-center mb-0">{{$t('message.NEGOTIATE_YOUR_PRICE')}} </h3>                
          <ul class="d-flex m-0 p-0 list-unstyled align-item-center justify-content-center">
            <li class="completed">
              <a href="#">{{$t('message.SELECT_YOUR_STAY')}}</a>
            </li>
            <li class="completed">
             <a href="#">{{$t('message.MAKE_YOUR_CHOICE')}}</a>
           </li>
           <li class="completed">
             <a href="#">{{$t('message.PROVIDE_YOUR_CONTACT_DETAILS')}}</a>
           </li>
           <li class="processed">
            <a href="#">{{$t('message.NEGOTIATE_YOUR_PRICE')}} </a>
          </li>
          <li>
           <a href="#">{{$t('message.CONFIRM_YOUR_BOOKING')}}</a>
         </li>                   
       </ul>               
     </div>

   </section>
   <section class="hotel_contact_detail mt-minus-85">
     <div class="container">
       <div class="row">
         <div class="col-md-12 d-flex align-items-start flex-wrap">
           <div class="blue_box_area">
            <div class="selected_hotel_detail d-flex flex-column">
              <h2 class="text-white">{{selectedBidRoom | roomDetail}}</h2>
              <div class="mid-content">
                <h4 v-if="criteria.use_type == 2">{{no_of_guest}}, {{selectedBidRoom | roomCount}}, {{no_of_day}}</h4>

                <h4 v-if="criteria.use_type == 1 && criteria.unit !=='ticket' && criteria.service_id == 0">{{no_of_guest}}, {{selectedBidRoom | roomCount}}, {{no_of_day}}
                  <!-- <span class="date-format">{{$t('message.FROM')}} {{criteria.check_in | dateFormate }} {{$t('message.AT')}}  {{criteria.check_in_time}} {{$t('message.TO')}} {{ day_check_out_date }} {{$t('message.AT')}} {{ day_check_out_time }}</span> -->
                </h4>

                <h4 v-if="criteria.use_type == 1 && criteria.unit =='hourly' && criteria.service_id > 0">1 {{$t('message.SERVICE')}} , {{no_of_day}}
                  <!-- , <span class="date-format">{{$t('message.FROM')}} {{criteria.check_in | dateFormate }} {{$t('message.AT')}}  {{criteria.check_in_time}} {{$t('message.TO')}} {{ day_check_out_date }} {{$t('message.AT')}} {{ day_check_out_time }}</span> -->
                </h4>

                <h4 v-if="criteria.use_type == 1 && criteria.unit=='ticket' && criteria.ticket == 1">{{criteria.ticket}} Guest, {{criteria.ticket}} {{selectedBidRoom | roomTitle}} {{$t('message.TICKET')}}
                  <!-- , <span class="date-format">{{criteria.check_out | dateFormate}}</span> -->
                </h4>
                <h4 v-else-if="criteria.use_type == 1 && criteria.unit=='ticket'">{{criteria.ticket}} Guests, {{criteria.ticket}} {{selectedBidRoom | roomTitle}} {{$t('message.TICKETS')}}
                  <!-- , <span class="date-format">{{criteria.check_out | dateFormate}}</span> -->
                </h4>

                <div class="checkin-out">
                  <label class="check_in">{{criteria.check_in | dateFormate}}</label>
                  <label class="check_out" v-if="criteria.use_type == 1 && criteria.unit !=='ticket' && criteria.service_id == 0">{{criteria.check_in_time}} - {{ day_check_out_time }}</label>
                  <label class="check_out" v-else-if="criteria.use_type == 1 && criteria.unit =='hourly' && criteria.service_id > 0">{{criteria.check_in_time}} - {{ day_check_out_time }}</label>
                  <label  v-else-if="criteria.use_type == 1 && criteria.unit =='ticket' && criteria.service_id > 0"></label>
                  <label class="check_out" v-else>{{criteria.check_out | dateFormate}}</label>
                </div>

                <div class="price-wrap">
                  <div class="price_box old-price d-half" v-if="criteria.use_type == 2">
                    <label>{{$t('message.PUBLIC_PRICE')}}:</label>
                    <span class="price">{{currency}} {{ (selectedBidRoom) | totalPriceFormat(currency, criteria.total_days) }}</span>
                  </div>

                  <div class="price_box old-price d-half" v-if="criteria.use_type == 1 && criteria.unit !=='ticket'">
                    <label>{{$t('message.PUBLIC_PRICE')}}:</label>
                    <span class="price">{{currency}} {{ (selectedBidRoom) | totalPriceFormat(currency, criteria.total_days) }}</span>
                  </div>
                  <div class="price_box old-price d-half" v-else-if="criteria.use_type == 1 && criteria.unit =='ticket'">
                    <label>{{$t('message.PUBLIC_PRICE')}}:</label>
                    <span class="price">{{currency}} {{ (selectedBidRoom) | totalPriceFormat(currency, criteria.total_days) }}</span>
                  </div>

                  <div class="your-offer d-half">
                    <label>{{$t('message.YOUR_OFFER')}}:</label>
                    <div><span class="new-price">{{currency}} {{parseFloat(total).toFixed(2) | priceFormat(currency)}} </span></div>
                  </div>
                </div>
                <div class="your-save d-half">
                  <label>{{$t('message.YOU_SAVE')}}:</label>
                  <span class="save_percent">{{ ceilValue(newPercentageDiscount) }}%</span>
                </div>
              </div>
              <div class="price_condition d-flex align-items-center mt-auto mb-0">
                <span class="mr-1 mx-17"><img class="d-block" src="~/assets/img/info.svg" alt=""/></span>
                <a href="#">{{$t('message.PRICE_CONDITIONS')}}</a>
              </div>
            </div>
          </div>

          <div class="hotel_contact_form hotel_right_area">
            <div class="text-center ani-gif">
              <img src="~/assets/img/choice-color.gif" alt=""/>
            </div>
            <h2 class="font-weight-bold text-center" v-if="bid_detail.guestDetail">{{$t('message.SORRY')}} {{bid_detail.guestDetail.title}}. {{bid_detail.guestDetail.first_name}}, <br/>{{$t('message.YOUR_FIRST_OFFER_TO_LOW')}}</h2>
            <h2 class="font-weight-bold text-center" v-if="Object.keys(guest_detail).length > 0">{{$t('message.SORRY')}} {{guest_detail.title}}. {{guest_detail.first_name}}, <br/>{{$t('message.YOUR_FIRST_OFFER_TO_LOW')}}</h2>
            <div class="offer_wrapper mt-5 d-flex flex-wrap justify-content-between">
              <div class="counter-offer offer-box d-flex flex-column align-items-center">
                <p>{{$t('message.OUR_COUNTER_OFFER')}}</p>
                <h3><span>{{currency_name}} </span> {{newbiddingprice}}</h3>
                <button @click="submitBid(bid_detail.selected_search_id,bid_detail.additional_rate_button, 'newbidprice')"  type="button" class="btn btn-pink">{{$t('message.BOOK_AT_THIS_PRICE')}}</button>
                <p>{{$t('message.YOU_SAVE_2')}} <span>{{ ceilValue(percentageDiscount) }}%</span> </p>
              </div>
              <div class="new-offer offer-box  d-flex flex-column  align-items-center">
                <p>{{$t('message.OUR_COUNTER_OFFER')}}</p>
                 <div class="offer-wrap">
                  <input type="text" inputmode="numeric" pattern="\d*" class="form-control bid-class" v-model="amount" maxlength="15" :placeholder="deal"  @click="removeFlash(bid_detail.selected_search_id,true)" @keyup="newSubmitPrice(selectedBidRoom)">
                  <span class="currency">{{currency}}</span> 
                 </div>
                <button type="button" class="btn btn-pink" @click="submitBid(bid_detail.selected_search_id,bid_detail.additional_rate_button, 'newbidprice')" v-if="(amount)" >{{$t('message.SUBMIT_NEW_OFFER')}}</button>
                <p v-if="!showPreviousBidAmtModal"><span></span>{{attempt_count}}</p>
                <p v-if="showPreviousBidAmtModal" class="error">{{$t('message.NEW_OFFER_HIGHER_THAN_PREVIOUS')}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</section>

</div>

</template>

<script>

  import { BidDetails } from '@/mixins/bid-details.js';
  import { HotelDetails } from '@/mixins/hotel-details.js';
  import { Constants } from '@/config/constants.js';


  export default {

    props:['countoffer','criteria'],
    

    mixins: [ HotelDetails,BidDetails ],

    data() { 
    	return {
        data:this.criteria,
        amount:null,
        newbiddingprice:0,
        withoutOffer:0,
        bookNow:0,
        files:[],
        total:'0.00',
        selectHotel:false,
        percentageDiscount:'',
        newPercentageDiscount:'',
        amountError:false,
        deal:'',
        indexPos:this.index,
        previousIndex:this.removedHotelId,
        showModal:false,
        amenityArr:[],
        showAmenityModal:false,
        showBathroomAmenityModal:false,
        showAdditionalRateModal:false,
        positionDisable:'',
        proposal:this.proposalClass,
        firstRoom:0,
        addtionalGuestData:[],
        show360Modal:false,
        system_suggested_price:'',
        showPreviousBidAmtModal:false,
      }             
    },

    computed: {
      url() {

        if(this.hotel) {

          let website = this.hotel.website;

          var url = 'background:url(' + Constants.filePath + '/uploads/';

          if (this.hotel !== null) url += this.hotel.primary_image;

                  //url += ') center center / cover no-repeat;';
                  url += ');';

                  return url;
                }

                return '';
              },
              no_of_day() {
                var numberOfDays;
                var checkin = this.criteria.check_in;
                var checkout = this.criteria.check_out;
                if(this.criteria.use_type == 1 && this.criteria.duration == 1) {
                  return numberOfDays = '1 '+this.$t('message.HOUR_SMALL');
                } else if(this.criteria.use_type == 1 && this.criteria.duration > 1) {
                  return numberOfDays = this.criteria.duration+' '+this.$t('message.HOURS_SMALL');
                }
                numberOfDays = moment(checkout).diff(moment(checkin), 'days');
                if(numberOfDays>1){
                  numberOfDays = numberOfDays+' '+ this.$t('message.NIGHTS_SMALL');
                }else{
                  numberOfDays = numberOfDays+' '+ this.$t('message.NIGHT_SMALL');
                }
                return numberOfDays;
              },
              no_of_guest() {
                let totalGuest = 0, noOfGuest = '';
                let rooms  = this.criteria['rooms[]'];
                if(Array.isArray(rooms)) {
                  rooms.forEach(function(value, key) {
                    totalGuest += parseInt(value);
                  });
                } else {
                  totalGuest = parseInt(rooms);
                }
                if (totalGuest > 1) noOfGuest = totalGuest+' '+this.$t('message.GUESTS_SMALL');
                else noOfGuest = '1 '+this.$t('message.GUEST_SMALL');
                return noOfGuest;
              },
              day_check_out_date() {
               var checkOutDay;
               let day_check_out_date = 0;
               if(this.criteria.hasOwnProperty('check_in')){
                let check_in  = this.criteria['check_in'];
                let mode = this.criteria['use_type'];
                let duration = this.criteria['duration'];
                let check_in_time = this.criteria['check_in_time'];
                let check_in_datetime = moment(check_in + " " + check_in_time);
                if(mode == 1){
                  checkOutDay = moment(check_in_datetime).add(duration, 'hours').format('DD.MM.YYYY');
                }
                return checkOutDay;
              }
              return '';
            },
            day_check_out_time() {
              var checkOutTime;
              if(this.criteria.hasOwnProperty('check_in_time') && this.criteria.hasOwnProperty('duration')){
                let check_in  = this.criteria['check_in'];
                let mode = this.criteria['use_type'];
                let duration = this.criteria['duration'];
                let check_in_time = this.criteria['check_in_time'];
                if(mode == 1){
                  checkOutTime = moment(check_in_time, 'HH:mm').add(duration, 'hours').format('HH:mm');;
                }
                return checkOutTime;
              }
              return '';
            },
            bid_detail(){
              return this.$store.getters.getBidDetail;

            },
            currency_name(){
              return this.$store.getters.getCurrency;

            },
            guest_detail(){
              return this.$store.getters.userDetail;
            },
            attempt_count(){
               return _.replace(this.$t('message.ATTEMPTS_REMAINING'), '{attempts}', 3);
            }
          },

          no_of_ticket() {
            let totalTicket = 0, noOfTicket = '' ;
            if(this.criteria.hasOwnProperty('ticket')){
              totalTicket  = this.criteria['ticket'];

              if (totalTicket > 1) noOfTicket = totalTicket+' '+this.$t('message.TICKETS');
              else noOfTicket = '1 '+this.$t('message.TICKETS');
              return noOfTicket;
            }
            return '';
          },

          mounted: function () {
            this.$nextTick(function () {

              let newBiddingPrice = Object.values(this.$store.getters.getNewBiddingPrice);

              this.newbiddingprice = parseFloat(newBiddingPrice);
              this.amount = this.newbiddingprice;

              this.withoutOffer = parseInt(this.$store.getters.getWithoutOffer);
              this.bookNow = parseInt(this.$store.getters.getBookNow)
              let brandRoom = this.$store.getters.selectedBidRoom;
              var vm = this;
                $.each(this.$store.getters.getNewBiddingPrice,function(key,value) {
                    if(key == vm.hotel.id) {            
                        vm.amount = value;
                        vm.system_suggested_price = vm.criteria.use_type == 1 ? value*vm.criteria.duration : value*vm.criteria.total_days;
                        vm.submitPrice(brandRoom);
                    }
                });

                this.firstRoom = Object.keys(brandRoom)[0];
              

            })
          },

          methods: {

            ceilValue(value){
              return Math.ceil(value)*-1;
            },
            tryAgain() {
              delete this.data.total_days;
              this.data.try_another_room = 0;
    		  // var param = $.param( this.data );

          let route = (this.criteria.use_type == 2) ? 'night-use-search' : 'day-use-search';
          
          this.$router.push({path: route, query: this.data});

        },
        removeCommas(x) {
          if(this.currency == 'IDR'){
            return (String(x).replace(/\,/g,""));
          } else {
            return (String(x).replace(/\'/g,""));
                // return Number(String(x).replace(/\'/g,""));
              }
            },

            addCommas(x) {
              var parts = x.toString().split(".");
              if(this.currency == 'IDR'){
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              } else {
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, "'");
              }
              return parts.join(".");
            },
            getPricePerDay(rooms) {
              let totalPrice = 0;
              Object.keys(rooms).forEach(function(key) {
                totalPrice += (rooms[key].count) * (rooms[key].avgRateUserCurrency);
              });
            // totalPrice = (totalPrice) / (this.criteria.total_days);
            // calculation for service id > 0 (day use service)
            if(this.criteria.ticket > 1 && this.criteria.service_id > 0){
              totalPrice = (totalPrice) / (this.criteria.ticket);
            }
            let amount = parseFloat(totalPrice).toFixed(2);
            return amount;
          },
          submitPrice(rooms) {
            let perDayPrice = this.getPricePerDay(rooms);
            this.amount = this.addCommas(this.removeCommas(this.amount));
            // this.criteria = this.$store.getters.getSearchCriteria;
            if(isNaN(this.removeCommas(this.amount)) && this.amount !=='' ) {
             this.amountError = true;
             this.total = 0;
             this.percentageDiscount='';
           } else {
            this.amountError = false;
            if(this.removeCommas(this.amount)>parseFloat(perDayPrice) || this.removeCommas(this.amount) <=0 && this.amount !=='' ){
              this.amount = this.addCommas(parseFloat(perDayPrice).toFixed(2));
            }
            var reg = /^[0-9]+\.[0-9][0-9]/
            if(reg.test(this.removeCommas(this.amount)) && this.removeCommas(this.amount)<=parseFloat(perDayPrice) && this.amount !=='') 
            { 
              this.amount = this.addCommas(parseFloat(this.removeCommas(this.amount)).toFixed(2))
            }
            this.percentageDiscount = Math.round((((this.removeCommas(this.amount))*100)/perDayPrice)-100);
            if(this.percentageDiscount>0) {
              this.percentageDiscount = '';
            }
            if(this.criteria.use_type == 2){
              this.total = this.criteria.total_days*this.removeCommas(this.amount);
            }
            else if(this.criteria.service_id > 0 && this.criteria.use_type == 1 && this.criteria.unit == 'ticket'){
              this.total = this.criteria.ticket*this.removeCommas(this.amount);
            }else if(this.criteria.service_id > 0 && this.criteria.use_type == 1 && this.criteria.unit == 'hourly'){
              this.total = this.criteria.duration*this.removeCommas(this.amount);
            }else{
              this.total = this.criteria.duration*this.removeCommas(this.amount);
            }

          }
        },
        newSubmitPrice(rooms) {
            let perDayPrice = this.getPricePerDay(rooms);
            this.amount = this.addCommas(this.removeCommas(this.amount));
            // this.criteria = this.$store.getters.getSearchCriteria;
            if(isNaN(this.removeCommas(this.amount)) && this.amount !=='' ) {
             this.amountError = true;
             this.total = 0;
             this.newPercentageDiscount='';
           } else {
            this.amountError = false;
            if(this.removeCommas(this.amount)>parseFloat(perDayPrice) || this.removeCommas(this.amount) <=0 && this.amount !=='' ){
              this.amount = this.addCommas(parseFloat(perDayPrice).toFixed(2));
            }
            var reg = /^[0-9]+\.[0-9][0-9]/
            if(reg.test(this.removeCommas(this.amount)) && this.removeCommas(this.amount)<=parseFloat(perDayPrice) && this.amount !=='') 
            { 
              this.amount = this.addCommas(parseFloat(this.removeCommas(this.amount)).toFixed(2))
            }
            this.newPercentageDiscount = Math.round((((this.removeCommas(this.amount))*100)/perDayPrice)-100);
            if(this.newPercentageDiscount>0) {
              this.newPercentageDiscount = '';
            }
            if(this.criteria.use_type == 2){
              this.total = this.criteria.total_days*this.removeCommas(this.amount);
            }
            else if(this.criteria.service_id > 0 && this.criteria.use_type == 1 && this.criteria.unit == 'ticket'){
              this.total = this.criteria.ticket*this.removeCommas(this.amount);
            }else if(this.criteria.service_id > 0 && this.criteria.use_type == 1 && this.criteria.unit == 'hourly'){
              this.total = this.criteria.duration*this.removeCommas(this.amount);
            }else{
              this.total = this.criteria.duration*this.removeCommas(this.amount);
            }

          }
        },
        getTotalPrice() {
          let totalPrice = 0;
          let rooms = this.$store.getters.selectedBidRoom;
          let days = 1;
          // this.criteria = this.$store.getters.getSearchCriteria;
          console.log('ll'+this.criteria);
          if(this.criteria.use_type == 1 && this.criteria.unit == 'ticket')
                days = 1;//this.criteria.ticket;
              else if(this.criteria.use_type == 1 && this.criteria.unit == "hourly")
                days = this.criteria.duration;
              else
                days = this.criteria.total_days;
              Object.keys(rooms).forEach(function(key) {
                totalPrice += (rooms[key].count) * (rooms[key].avgRateUserCurrency) * (days);
              });
              let amount = parseFloat(totalPrice).toFixed(2);
              if(Object.keys(this.newbiddingprice).length == 0)
                this.system_suggested_price =  amount;
              return amount;
            },
            getTotalPriceInHotelCurrency() {
              let totalPrice = 0;
              let rooms = this.$store.getters.selectedBidRoom;
              let days = 1;
              // this.criteria = this.$store.getters.getSearchCriteria;
              if(this.criteria.use_type == 1 )
                days = this.criteria.duration;
              else
                days = this.criteria.total_days;
              Object.keys(rooms).forEach(function(key) {
                totalPrice += (rooms[key].count) * (rooms[key].avgRate) * (days);
              });
              let amount = parseFloat(totalPrice).toFixed(2);

              return amount;
            },
            submitBid(combinationId,additionalRate, type = '') {

              let selBidRoom = this.$store.getters.selectedBidRoom;
              
              let bidDetailsPre = this.$store.getters.getBidDetail;
              let bidDetailsPres = bidDetailsPre.selected_search_id;
              if(bidDetailsPres){
                let bidDetailsPreArr = bidDetailsPres.split("-");
                let combinationIdArr = combinationId.split("-");
                if(bidDetailsPreArr[1] !== combinationIdArr[1]){
                  this.$store.commit('setPreviousBidAmt', 0);
                }
              }
              if(this.amountError) return false;
              let currAmount = this.amount;

              if(this.$store.getters.getPreviousBidAmt > 0 && this.$store.getters.getPreviousBidAmt > parseFloat(currAmount.replace(/'/g, ''))){
                 // if(this.$store.getters.getPreviousBidAmt > 0 && this.$store.getters.getPreviousBidAmt > currAmount){
                this.showPreviousBidAmtModal = true;
              } else {
                this.proposal = 'btn-pink w-143 hotel-negotiate-btn disable';
                let bid = {
                  "selected_search_id": combinationId,
                  "bid_amount": ((type=='newbidprice') ? this.total : this.removeCommas(this.amount)),
                  "actual_price": bidDetailsPre.actual_price,//this.getTotalPrice(),
                  "actual_price_in_hotel_curr": bidDetailsPre.actual_price_in_hotel_curr,//this.getTotalPriceInHotelCurrency(),
                  "without_offer": this.withoutOffer,
                  "book_now": this.bookNow,
                  "additional_rate_button":additionalRate,
                  "system_suggested_price" : bidDetailsPre.system_suggested_price,//this.system_suggested_price,
                  "pre_bid_amount_daily": currAmount,
                };
                console.log(bid);
                $('#loader').show();
                // this.$emit('bidSubmit', selBidRoom, this.withoutOffer, this.bookNow, bid);
                this.onBidSubmit(selBidRoom, this.withoutOffer, this.bookNow, bid);
              }
            },

            removeFlash(pos, status, bookNow = 1){
              $(".value-2 ").click(function(e) {
                $('.value-2').removeClass('flashit');
                $(".value-2").not($(this)).addClass('flashit');
                e.stopPropagation();
              });
              this.newPercentageDiscount = '';
              this.$emit('auctionData', pos);
              if(bookNow == 0) {
                var vm = this;
                this.amount = this.getTotalPrice();
                vm.submitBid( pos );
              }
            },
            onBidSubmit(rooms, withoutOffer, bookNow, bid) {
            
            var vm = this;
            
            this.proposal = 'btn-pink w-143 hotel-negotiate-btn disable';
            
            // /*------------set storage for selecetd rooms-----*/
            this.$store.commit('setSelectedRoom', rooms);
            this.$store.commit('setWithoutOffer', withoutOffer);
            this.$store.commit('setBookNow', bookNow);
            this.$store.commit('setBidDetail', bid);
            this.$store.commit('setSearchCriteria', this.criteria);
            
            let token = this.$store.getters.token;
            
            let guestDetail = this.$store.getters.getGuestDetail;
 
            if(token == null && Object.keys(guestDetail).length < 1) {

                /*To save initial offer*/
                this.initialOffer( bid, 'initial-offer-save');
                
                let route = (this.criteria.use_type == 2) ? 'night-use-guest-booking-detail' : 'day-use-guest-booking-detail';
                
                this.$router.push({path: route});

                return;
                
            }
           
            //call search submit in bid-details mixin
            if(token) {

                this.searchbidSubmit( bid, 'already-login');

            } else {

                bid['guestDetail'] = guestDetail;
                this.searchbidSubmit( bid, 'already-guest-user');
                
            }
            
            // if(error) {
            //     this.proposal = 'btn-pink w-143 hotel-negotiate-btn disable';
            // } else {
            //     /*Mouse flow code*/
            //     window._mfq = window._mfq || [];                
            //     window._mfq.push(['formSubmitAttempt', '#paymentForm']);
            // }
        }
          },

          filters:{

            dateFormate: function (date) {
              return moment(date).format("DD MMM YYYY");
            },

            priceFormat(amount,currency){
              var parts = amount.toString().split(".");
              if(currency == 'IDR'){
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                return parts.join(".");
              } else {
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, "'");
                return parts.join(".");
              }
              return amount;
            },

            totalPriceFormat(rooms, currency, days) {
              let totalPrice = 0;
              Object.keys(rooms).forEach(function(key) {
                totalPrice += (rooms[key].count) * (rooms[key].avgRateUserCurrency) * (days);
              });
              let amount = parseFloat(totalPrice).toFixed(2);
              var parts = amount.toString().split(".");
              if(currency == 'IDR'){
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                return parts.join(".");
              } else {
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, "'");
                return parts.join(".");
              }
              return amount;
            },

            roomDetail(rooms) {
              let counter = 0, temp = '';
              Object.keys(rooms).forEach(function(key) {
                if(counter > 0) temp += ', ';
                counter++;
                temp += rooms[key].count+'x '+ rooms[key].title;
              });
              return temp;
            },

            roomCount(rooms) {
              let counter = 0, temp = 0;
              Object.keys(rooms).forEach(function(key) {
                  // if(counter > 0) temp += ', ';
                  counter++;
                  temp += rooms[key].count+ ' Room';
                });
              return temp;
            },
           roomTitle(rooms) {
              let counter = 0, temp = '';
              Object.keys(rooms).forEach(function(key) {
                  if(counter > 0) temp += ', ';
                  counter++;
                  temp += rooms[key].title;
              });
              return temp;
          }

          }

        }
      </script>
