<template>
    <div class="review-count-modal view3d-modal">
        <div class="modal fade" id="roomModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close gray" data-dismiss="modal" aria-label="Close" @click="closeModal"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                       <iframe  width='853' height='480' :src='url | view3D' frameborder='0' allowfullscreen allow='vr'></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

  import { Constants } from '@/config/constants.js'
  
    export default {
      
       props:['url'],

        data() { 
            return {

            }
        },
        
        mounted: function () {
            this.$nextTick(function () {
               $('#roomModal').modal('show');
            }); 
        },

        components: {
            // roomImageSlider
        },

        methods: {

            closeModal(){   
                $('#roomModal').modal('hide');
                this.$emit('close');
            }

        },

        computed: {

        },

        filters:{ 
          view3D: function (url) {
                
                if (url) url += '&autoplay=1';
                
                return url;

            }
        }
    }

</script>
