<template>
	<div class="filter-result-box">
        
        <div v-if="whitebrand && limitExceedIndex==0 && Object.keys(newBiddingPrice).length == 0" v-for="(brand,index) in whitebrand">
            <brand-combination 
                @disable="onDisable"
                @bidSubmit="onBidSubmit"
                @auctionData="onAuctionSubmit"
                :brand="brand"
                :withoutOffer="withoutOffer"
                :bookNow="brand.book_now"
                :additionalRate="brand.additional_rate_button"
                :proposalClass="proposal"
                :index="index"
                :disabled="disabled"
                :criteria="criteria"
                :removedHotelId="removedHotelId"
                :selectedHotels="selectedHotels"
                :newbiddingprice="newBiddingPrice"
            >
            </brand-combination>
        </div>

        <div v-if="whitebrand  && Object.keys(newBiddingPrice).length > 0 && Object.keys(bidDetail).length > 0">
            <brand-combination 
                @disable="onDisable"
                @bidSubmit="onBidSubmit"
                @auctionData="onAuctionSubmit"
                :brand="getSelectedBidRoom"
                :withoutOffer="withoutOffer"
                :bookNow="getBookNow"
                :additionalRate="bidDetail.additional_rate_button"
                :proposalClass="proposal"
                :index="bidDetail.selected_search_id"
                :disabled="disabled"
                :criteria="criteria"
                :removedHotelId="bidDetail.selected_search_id"
                :selectedHotels="selectedHotels"
                :newbiddingprice="newBiddingPrice"
            >
            </brand-combination>
        </div>

        <div v-if="whitebrand && limitExceedIndex && Object.keys(newBiddingPrice).length == 0" v-for="(brand,index) in whitebrand">
            <brand-combination 
                @disable="onDisable"
                @bidSubmit="onBidSubmit"
                @auctionData="onAuctionSubmit"
                :brand="brand"
                :withoutOffer="withoutOffer"
                :bookNow="brand.book_now"
                :additionalRate="brand.additional_rate_button"
                :proposalClass="proposal"
                :index="index"
                :disabled="disabled"
                :criteria="criteria"
                :removedHotelId="removedHotelId"
                :selectedHotels="selectedHotels"
                :newbiddingprice="newBiddingPrice"
            >
            </brand-combination>
        </div>

        
        <!-- <div v-if="Object.keys(whitebrand).length == 0" class="error-container">       
            <div class="jumbotron text-center">
                <h2><i class="fa fa-search"></i></h2>
                <h2> {{$t('message.NO_RESULT_FOUND')}}</h2>  
            </div>      
        </div> -->
        
	</div>
</template>

<script>

import brandCombination from './BrandCombination.vue'

// import router from '@/router/index'

import { BidDetails } from '@/mixins/bid-details.js';
import { HotelDetails } from '@/mixins/hotel-details.js';

export default {

    mixins: [ HotelDetails, BidDetails ],

    props:['whitebrand','criteria','priviousbidhotellist', 'withoutOffer', 'bookNow'],

    data() {
    	return {
    		selectedHotels:[],
    		hotelAuctions:[],
    		biddingInfo:{},
    		total:'',
            proposal:'btn-pink w-143 hotel-negotiate-btn',
    		disabled:false,
    		selectHotel:false,
    		percentageDiscount:'',
    		amountError:false,
    		removedHotelId:-1,
            submitbutton:false,
    		deal:'',
            noDataFlag:true,
        }
    },

    components: {
        brandCombination
    },

    mounted: function () {
        this.$nextTick(function () {
            
        })
    },

    created(){
    },

    computed: {

        newBiddingPrice() {
            return this.$store.getters.getNewBiddingPrice;
        },

        getBookNow() {
            return this.$store.getters.getBookNow;
        },

        getSelectedBidRoom() {
            let bidObj = {};
            bidObj['rooms'] = this.$store.getters.selectedBidRoom;
            return bidObj;
        },

        limitExceedIndex() {
            // if(this.$store.getters.getLimitExceedRoom){
            //     //set blank newbiding price for other combination
            //     this.$store.commit('setNewBiddingPrice', {});
            // }
            return this.$store.getters.getLimitExceedRoom;
        },
    },

    methods: {
    	
    	onDisable(disableStaus) { 
            
    		if(disableStaus) {  	
	    		this.disabled = true;
	    	} else {
	    		this.disabled = false;
	    	}
       	},

        onAuctionSubmit(pos) {
            var vm = this;
            this.removedHotelId = pos;
        },

        onBidSubmit(rooms, withoutOffer, bookNow, bid) {
            
            var vm = this;
            
            this.proposal = 'btn-pink w-143 hotel-negotiate-btn disable';
            
            // /*------------set storage for selecetd rooms-----*/
            this.$store.commit('setSelectedRoom', rooms);
            this.$store.commit('setWithoutOffer', withoutOffer);
            this.$store.commit('setBookNow', bookNow);
            this.$store.commit('setBidDetail', bid);
            this.$store.commit('setSearchCriteria', this.criteria);
            
            let token = this.$store.getters.token;
            
            let guestDetail = this.$store.getters.getGuestDetail;

            if(token == null && Object.keys(guestDetail).length < 1) {

                /*To save initial offer*/
                this.initialOffer( bid, 'initial-offer-save');
                
                let route = (this.criteria.use_type == 2) ? 'night-use-guest-booking-detail' : 'day-use-guest-booking-detail';
                
                this.$router.push({path: route});

                return;
                
            }
            
            //call search submit in bid-details mixin
            if(token) {

                this.searchbidSubmit( bid, 'already-login');

            } else {

                bid['guestDetail'] = guestDetail;
                this.searchbidSubmit( bid, 'already-guest-user');
                
            }
            
            // if(error) {
            //     this.proposal = 'btn-pink w-143 hotel-negotiate-btn disable';
            // } else {
            //     /*Mouse flow code*/
            //     window._mfq = window._mfq || [];                
            //     window._mfq.push(['formSubmitAttempt', '#paymentForm']);
            // }
        }
    },

    filters:{ 

        useType: function (hotel) {
        	var total_days = hotel.total_days;
        	var type = hotel.hotel_room_type[0].use_type;
        	if(type == 1) {
        		return '1 day';
        	} else if(total_days>1) {
        		return total_days+' nignts';
        	} else {
        		return total_days+' nignt';
        	}
        }

    }

}
</script>
