<div id="main">
    <template>
        <aside class="sidemenu">
            <div class="sidebar-nav">
                <ul>
                    <li class="profile-link" :class = "defaultActive =='profile'?'active ':''">
                        <a @click="defaultActive = 'profile'" href="javascript:void(0)">{{$t('message.MY_PROFILE')}}</a>
                    </li>
                    <li class="booking-link" :class = "defaultActive =='booking'?'active ':''">
                        <a @click="defaultActive = 'booking'" href="javascript:void(0)">{{$t('message.MY_BOOKINGS')}}</a>
                    </li>
                    <li class="cancelled-link" :class = "defaultActive =='canceldayusebooking'?'active ':''">
                        <a @click="defaultActive = 'canceldayusebooking'" href="javascript:void(0)">{{$t('message.CANCELLED_DAY_USE')}}</a>
                    </li>
                    <li class="review-link" :class = "defaultActive =='review'?'active ':''">
                        <a @click="defaultActive = 'review'" href="javascript:void(0)">{{$t('message.MY_REVIEWS')}}</a>
                    </li>
                    <li class="coupon-link" :class = "defaultActive =='coupon'?'active ':''">
                        <a @click="defaultActive = 'coupon'" href="javascript:void(0)">{{$t('message.MY_COUPONS')}}</a>
                    </li>
                    <li class="saved-card-link" :class = "defaultActive =='creditcard'?'active ':''">
                        <a @click="defaultActive = 'creditcard'" href="javascript:void(0)">{{$t('message.MY_CREDIT_CARD')}}</a>
                    </li>
                </ul>
            </div>
        </aside>

        <div v-if="defaultActive === 'profile'">
            <Profile></Profile>
        </div>

        <!-- Review history -->
        <div v-if="defaultActive === 'review'">
            <Review></Review>
        </div>

        <div v-if="defaultActive === 'booking'">
            <!-- Booking history -->
            <Booking                         
            :domain="domain"
            ></Booking>
        </div>

        <!-- coupon -->
        <div v-if="defaultActive === 'coupon'">
            <Coupon 
            :loggedUser="data"
            ></Coupon>
        </div>

        <!-- cancel day use -->
        <div v-if="defaultActive === 'canceldayusebooking'">
            <Cancel-day-use 
            :domain="domain"
            ></Cancel-day-use>
        </div>

        <!-- credit card -->
        <div v-if="defaultActive === 'creditcard'">
            <Credit-card></Credit-card >
        </div>
    </template>
</div>