.search-result-widget {
	position:relative;
}

.loader {
    padding:90px;
    background:rgba(255,255,255,0.7);
    border-radius:4px;
}

.loader_ajax_small {
  border: 2px solid #f3f3f3 !important;
  border-radius: 50%;
  border-top: 2px solid #2D2D2D !important;
  width: 29px;
  height: 29px;
  margin: 0 auto;
  -webkit-animation: spin_loader_ajax_small 2s linear infinite;
  animation: spin_loader_ajax_small 2s linear infinite;
}

@-webkit-keyframes spin_loader_ajax_small {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin_loader_ajax_small {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}