
      <div id="main" >
        <header
          @changeLang="onChangeLang"
          @changeCurrency="onChangeCurrency"
      style="display: none;"></header>
        <div class="main-content white-brand-content">
            <!-- <div class="container">
              <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 r-padding">

                        <div class="hotel-search-detail hotel-search-data" :style="layout_color">
                          
                            <span v-if="searchCriteria.use_type==2">{{$t('message.PRICE_FOR')}} {{no_of_guest}} | {{no_of_room}} | {{ no_of_day }} | <span class="date-format">{{searchCriteria.check_in | moment  }} - {{searchCriteria.check_out | moment }}</span></span>
                            
                            <span v-if="searchCriteria.use_type==1 && searchCriteria.unit !=='ticket' && searchCriteria.service_id == 0">{{$t('message.PRICE_FOR')}} {{no_of_guest}} | {{no_of_room}} | {{ no_of_day }} | <span class="date-format">{{$t('message.FROM')}} {{searchCriteria.check_in | dayCheckInDate }} {{$t('message.AT')}}  {{searchCriteria.check_in_time}} {{$t('message.TO')}} {{ day_check_out_date }} {{$t('message.AT')}} {{ day_check_out_time }}</span></span>

                            <span v-if="searchCriteria.use_type==1 && searchCriteria.unit =='hourly' && searchCriteria.service_id > 0">{{$t('message.PRICE_FOR')}} 1 {{$t('message.SERVICE')}} | {{ no_of_day }} | <span class="date-format">{{$t('message.FROM')}} {{searchCriteria.check_in | dayCheckInDate }} {{$t('message.AT')}}  {{searchCriteria.check_in_time}} {{$t('message.TO')}} {{ day_check_out_date }} {{$t('message.AT')}} {{ day_check_out_time }}</span></span>

                            <span v-if="searchCriteria.use_type==1 && searchCriteria.unit=='ticket' && searchCriteria.ticket == 1">{{$t('message.PRICE_FOR')}} {{searchCriteria.ticket}} {{$t('message.TICKET')}}  | <span class="date-format">{{searchCriteria.check_in | dayCheckInDate }}</span></span>
                            <span v-else-if="searchCriteria.use_type==1 && searchCriteria.unit=='ticket'">{{$t('message.PRICE_FOR')}} {{searchCriteria.ticket}} {{$t('message.TICKETS')}}  | <span class="date-format">{{searchCriteria.check_in | dayCheckInDate }}</span></span>
                            
                            <p v-if="domainDetails!==null && Object.keys(searchResult).length" class="text-center gray-text">
                            {{tax_calculation}}</p>
  
                            <p v-if="domainDetails!==null && Object.keys(searchResult).length" class="text-center gray-text">
                            {{additional_tax_calculation}}</p>
                            
                            <p v-if="domainDetails!==null  && searchCriteria.use_type==2 && taxInformation[0]" class="text-center gray-text">({{taxInformation[0]}} - {{taxInformation[1]}})</p>
                            
                            <p v-if="domainDetails!==null && searchCriteria.use_type==2 && taxInformation[2]" class="text-center gray-text">({{taxInformation[2]}})</p>
                            
                            <p v-if="domainDetails!==null && searchCriteria.use_type==1 && taxInformation[0]" class="text-center gray-text">({{taxInformation[0]}} - {{$t('message.DAY_USE_MESSAGE') }})</p>
                            
                            <p v-if="domainDetails!==null && searchCriteria.use_type==2" class="text-center gray-text">{{$t('message.NON_CACELABLE')}}</p>
                            <p v-if="domainDetails!==null && acceptOnlinePayment == 1 && searchCriteria.use_type==1" class="text-center gray-text">{{$t('message.NON_CACELABLE')}}</p>
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div> -->
            <section class="banner inner_banner" :style="url">
            <div class="top-space search-container" >
                <div class="search-form">
                    <div :class="scrolled && domainDetails===null?'modify-search-form lp-search-widget':'modify-search-form'">
                            <!-- Hotel search component -->
                            <hotel-search 
                                v-if="domain == 'white_brand' && !groupId"
                                :place="name"
                                :placeId="typeId"
                                :domainDetails="domainDetails"
                                :homeIcon="homeIcon"
                                :classDisable="dateDisabled"
                                :changeLang="onChangeLang"
                              >
                            </hotel-search>
                            <!-- Group search component end-->
                            <group-hotel-search 
                              v-if="domain == 'group' || groupId"
                              :place="name"
                              :placeId="typeId"
                              :domainDetails="domainDetails"
                              :homeIcon="homeIcon"
                              :classDisable="dateDisabled"
                            >
                            </group-hotel-search>
                        </div>
                    </div>
                </div>
              </section>

                        <section class="steps">
                 <h3 class="w-100 tab-768 text-center mb-0">{{$t('message.MAKE_YOUR_CHOICE')}} </h3>                
                 <ul class="d-flex m-0 p-0 list-unstyled align-item-center justify-content-center">
                     <li class="completed">
                         <a href="#">{{$t('message.SELECT_YOUR_STAY')}}</a>
                     </li>
                     <li class="processed">
                        <a href="#">{{$t('message.MAKE_YOUR_CHOICE')}} </a>
                     </li>
                     <li>
                        <a href="#">{{$t('message.PROVIDE_YOUR_CONTACT_DETAILS')}}</a>
                     </li>
                     <li>
                        <a href="#">{{$t('message.CONFIRM_YOUR_BOOKING')}} </a>
                     </li>                     
                </ul>               
             </section>
            <section class="con-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 con">                             
                               <p>{{tax_calculation}}
                                <!-- Price listed includes 10% VAT - Excluding city tax GBP 5.00 per adult per night -->
                                <!-- {{additional_tax_calculation}} -->
                                <br/>
                                <!-- Booking is non-cancellable & non-refundable  -->
                              {{$t('message.NON_CACELABLE')}}</p>
                         </div>
                    </div>
                </div>
            </section> 

            

                      

                          <!-- <div class="loader" v-if="!showResult">
                              <div class="loader_ajax_small"></div>
                          </div> -->

                          <white-label
                            :criteria="searchCriteria"
                            :whitebrand="searchResult"
                            :withoutOffer="withoutOffer"
                            :priviousbidhotellist="priviousbidhotellist"
                            :subdomain="domainDetails"
                            v-if="Object.keys(searchResult).length>0 && showResult"
                          >
                          </white-label>

                          <div v-if="Object.keys(searchResult).length == 0 && showResult" class="error-container">       
                              <div class="jumbotron text-center">
                                  <h2><i class="fa fa-search"></i></h2>
                                  <h2> {{$t('message.NO_RESULT_FOUND')}}</h2>  
                              </div>      
                          </div>
                

        </div>
        
      </div>
