<template>
	<div class="hotel_contact_form">
	<div id="loader"></div>
		<h2>{{$t('message.DISCOVER_OFFER_IS_ACCEPTED')}}</h2>
		<h6>{{$t('message.PLEASE_ENTER_YOUR_CONTACT_DETAILS')}}</h6>
		<h6 class="font-weight-bold">{{$t('message.REST_ASSURED_DOESNT_COMMIT_ANYTHING')}}</h6>
		<p><a @click="login"  class="sign-in-btn">{{ $t('message.SIGN_IN') }}</a> {{ $t('message.ALREADY_HAVE_AN_ACCOUNT') }}</p>

		<form @submit.prevent="guest(registerData)" id="guestDetail" data-vv-scope="registerData" class="floating-label mt-4" novalidate>
			<div class="fm-g">
				<div class="form-group title salutation">
					<div class="autocomplete w-100">
					<!-- <input id="title" type="text" name="title">
						<label for="title" class="form-label">Title *</label> -->
						<input readonly="readonly" type="text" id="titles" autocomplete="off" v-model="titleName" name="title" @focus="titleList()">
						<label for="title" class="form-label">Title *</label>
						<!--<i class="glyphicon glyphicon-chevron-down dropdown_down"  v-on:click="titleData()"></i>
						<i class="glyphicon glyphicon-chevron-up dropdown_up" v-on:click="titleData()"></i>-->

						<ul  v-if="hasTitle" class="form-label list-unstyled">							
								<li @click="selectedTitle('MR'),closeTitleList()" class="title_li title_li_selected" v-if="titleName=='Mr'">
									{{$t('message.MR') }}
								</li>
								<li @click="selectedTitle('MR'),closeTitleList()" class="title_li" v-else>
									{{$t('message.MR') }}
								</li>
								<li @click="selectedTitle('MRS'),closeTitleList()"  class="title_li title_li_selected" v-if="titleName=='Mrs'">
									{{$t('message.MRS') }}
								</li>
								<li @click="selectedTitle('MRS'),closeTitleList()"  class="title_li" v-else>
									{{$t('message.MRS') }}
								</li>
								<li @click="selectedTitle('MS'),closeTitleList()" class="title_li title_li_selected" v-if="titleName=='Ms'">
									{{$t('message.MS')}}
								</li>
								<li @click="selectedTitle('MS'),closeTitleList()"  class="title_li" v-else>
									{{$t('message.MS')}}
								</li>
								<li  @click="selectedTitle('DR'),closeTitleList()" class="title_li title_li_selected" v-if="titleName=='Dr'">
									{{$t('message.DR')}}
								</li>
								<li  @click="selectedTitle('DR'),closeTitleList()" class="title_li" v-else>
									{{$t('message.DR')}}
								</li>
								<li @click="selectedTitle('PROF'),closeTitleList()"  class="title_li title_li_selected" v-if="titleName=='Prof'">
									{{$t('message.PROF')}}
								</li>
								<li @click="selectedTitle('PROF'),closeTitleList()"  class="title_li" v-else>
									{{$t('message.PROF')}}
								</li>							
						</ul>
					</div>
					<span></span>
				</div>
				<div class="w-46 d-flex flex-wrap justify-content-md-between">
					<div class="form-group">           
						<input type="text" v-validate="'required|regex:^([^0-9]+)$'" v-model="registerData.first_name" name="first_name" maxlength="30" >
						<label for="f_name" class="form-label">{{$t('message.FIRST_NAME')}} *</label>
						<span class="text-danger" v-if="errors.has('registerData.first_name')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</span>
					</div>
					<div class="form-group">        
						<input type="text" v-validate="'required|regex:^([^0-9]+)$'" v-model="registerData.last_name" name="last_name" maxlength="30">
						<label for="l_name" class="form-label">{{$t('message.LAST_NAME')}} *</label>
						<span class="text-danger" v-if="errors.has('registerData.last_name')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</span>
					</div>
				</div>
				<div class="w-46 d-flex flex-wrap justify-content-md-between">
					<div class="form-group">         
						<input type="email" @blur="checkEmail()" @input="validateEmail()" v-validate="'required|email'" maxlength="100" name="email" v-model="registerData.email">
						<label for="email" class="form-label">{{$t('message.EMAIL_ID')}} *</label>
						<span class="text-danger" v-if="errors.has('registerData.email') && intial == 1">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</span>
						<span class="text-danger" v-if="errors.has('registerData.email') && intial == 2">{{ $t('message.WRONG_EMAIL')}}</span>
					</div>
					<div class="form-group d-flex align-items-end flex-wrap"> 
					<div class="d-flex">
						<div class="guestCIDiv">
							<div class="guestIDiv position-relative">
							<img src="#" class="countryIcon guestIconImg">
							<select v-model="registerData.code" class="guestCCSelect" @change="selectDropDownCCode(registerData.code)">
								<option v-for="option in registerData.cccode" v-bind:value="option.country_code">
									<span>{{option.name}}</span>&nbsp;&nbsp;
									<span>+{{option.country_code}}</span>
								</option>
							</select>
							<i class="glyphicon glyphicon-chevron-down dropdown_down" ></i>
			             	<i class="glyphicon glyphicon-chevron-up dropdown_up" ></i>
						</div>
						<div class="divCCPlus">				
							<!--<span class="input guestCCInput" role="textbox" v-model="countryCode"  name="code" @input="validateCcode()" @blur="checkCCode(''+countryCode)" contenteditable>+{{countryCode}}</span> -->
						 <span class="spanCCPlus">+</span>
						<input v-model="countryCode" type="text" name="code" class="guestCCInput" @input="validateCcode()" @blur="checkCCode(''+countryCode)"> 
						</div>
					
					</div>
					<div class="m-number position-relative">
						<input type="text" @blur="checkNumber()" @input="validateEmail()" v-model="registerData.contact_number" name="contact_number" v-validate="'required|min:4|max:15'" maxlength="15" >
						<label for="mobile_no" class="form-label">{{$t('message.MOBILE_NUMBER')}} *</label>						
					</div>
					</div>
					<span class="text-danger registerTextDangerCond" v-if="errors.has('registerData.contact_number') &&  errors.has('registerData.code')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</span>
						<span class="text-danger registerTextDanger" v-else-if="errors.has('registerData.contact_number') && intial==4">{{ $t('message.INVAID_PHONE')}}</span>
						<span class="text-danger registerTextDangerCond" v-else-if="errors.has('registerData.code') && intial==5">{{ $t('message.INVAID_COUNTRY_CODE')}}</span>
						<span class="text-danger registerTextDanger" v-else-if="errors.has('registerData.contact_number')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</span>
                    <span class="text-danger registerTextDangerCond" v-else-if="errors.has('registerData.code')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</span>
					</div>                                      
				</div>
			</div>
			<div class="form-group custom-c-box align-items-center d-flex">
				<span class="mr-3">{{ $t('message.TRAVEL_PURPOSE')}}</span>
				<div class="custom-control custom-radio left-round">
					<input type="radio" id="option-one" data-vv-as="travel purpose" value="1" name="travel_purpose" v-model="registerData.travel_purpose" v-validate="'required'" class="custom-control-input">
					<label for="option-one" class="custom-control-label"></label>
				</div>
				<div class="custom-control custom-radio right-round">
					<!-- <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
					<label class="custom-control-label" for="customRadio2"></label> -->

					<input type="radio" id="option-two"  value="0" name="travel_purpose"  v-validate="'required'"  v-model="registerData.travel_purpose" class="custom-control-input">
					<label for="option-two" class="custom-control-label"></label>
				</div>
				<span class="text-danger ml-3" v-if="errors.has('registerData.travel_purpose')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</span>
			</div>
			<div class="form-group mb-3">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" name="marketing_promotion" id="box-33" v-model="registerData.marketing_promotion" true-value="1" class="custom-control-input">
					<!-- <label class="custom-control-label" for="customCheck3">I would not like to receive Marketing communication from the Hotelier and the Bidding operator.</label> -->
					<label for="box-33" class="custom-control-label">{{ $t('message.MARKETING_TERM')}}</label>
				</div>
				<span class="text-danger" v-if="errors.has('registerData.marketing_promotion')"></span>
			</div>
			<div class="form-group">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" name="term_condition"  v-validate="'required'" id="box-30" v-model="registerData.term_condition"  false-value="" class="custom-control-input">
					
					<label for="box-30" class="custom-control-label">
	                    	<!-- <span v-if="bookNowVal != 0" v-html="$t('message.READING_CONDITION')"></span> -->
	                    	<span v-if="bookNowVal == 0" v-html="$t('message.BOOK_NOW_READING_CONDITION')"></span>
	                    	<span v-if="bookNowVal != 0" v-html="$t('message.REGISTER_TERM')"></span>
	                    	</label>
				</div>
				<p class="text-danger" style="position:static;" v-if="errors.has('registerData.term_condition')">{{ $t('message.AGREE_TERM_CONDITION')}}</p>
			</div>
			<div class="form-group mb-2 d-flex flex-wrap align-items-sm-center justify-content-md-between justify-content-center">
				<!-- <button type="button" class="btn btn-pink">Submit</button> -->
				<button type="submit" :class="confirm" class="disable1  btn btn-pink">{{ $t('message.CONFIRM') }}</button>
			</div>
		</form>
		<login
            v-if="showModal"
            @close="onClose"
            @login="onLogin"
        ></login>
	</div>
</template>

<script>

import login from './Login.vue'	
import { parseNumber, formatNumber, AsYouType } from 'libphonenumber-js'
import { HotelDetails } from '@/mixins/hotel-details.js';
import { BidDetails } from '@/mixins/bid-details.js';
import { mixin as onClickOutside } from 'vue-on-click-outside'
import Vue from 'vue'
let bus = new Vue();
import { serverBus } from '../../main';

export default {

	name: 'GuestSection',

	mixins: [ HotelDetails, BidDetails, onClickOutside ],

    props:['data','criteria','subdomain','countries'],

    data() {
    	return {
    		showModal:false,
    		intial:1,
    		emailVerify:0,
    		account:'',
    		countryCode:'',
    		titleName:'Mr',
    		isSelected:'',
    		optionGroups: [],
    		items:[],
    		showCountrylist: false,
    		hasItems:false,
    		hasTitle:false,   
    		registerData:this.data,
    		mode:this.criteria.mode ,
    		confirm:'btn btn-cont',
    		validDomain:['AAA','AARP','ABARTH','ABB','ABBOTT','ABBVIE','ABC','ABLE','ABOGADO','ABUDHABI','AC','ACADEMY','ACCENTURE','ACCOUNTANT','ACCOUNTANTS','ACO','ACTIVE','ACTOR','AD','ADAC','ADS','ADULT','AE','AEG','AERO','AETNA','AF','AFAMILYCOMPANY','AFL','AFRICA','AG','AGAKHAN','AGENCY','AI','AIG','AIGO','AIRBUS','AIRFORCE','AIRTEL','AKDN','AL','ALFAROMEO','ALIBABA','ALIPAY','ALLFINANZ','ALLSTATE','ALLY','ALSACE','ALSTOM','AM','AMERICANEXPRESS','AMERICANFAMILY','AMEX','AMFAM','AMICA','AMSTERDAM','ANALYTICS','ANDROID','ANQUAN','ANZ','AO','AOL','APARTMENTS','APP','APPLE','AQ','AQUARELLE','AR','ARAB','ARAMCO','ARCHI','ARMY','ARPA','ART','ARTE','AS','ASDA','ASIA','ASSOCIATES','AT','ATHLETA','ATTORNEY','AU','AUCTION','AUDI','AUDIBLE','AUDIO','AUSPOST','AUTHOR','AUTO','AUTOS','AVIANCA','AW','AWS','AX','AXA','AZ','AZURE','BA','BABY','BAIDU','BANAMEX','BANANAREPUBLIC','BAND','BANK','BAR','BARCELONA','BARCLAYCARD','BARCLAYS','BAREFOOT','BARGAINS','BASEBALL','BASKETBALL','BAUHAUS','BAYERN','BB','BBC','BBT','BBVA','BCG','BCN','BD','BE','BEATS','BEAUTY','BEER','BENTLEY','BERLIN','BEST','BESTBUY','BET','BF','BG','BH','BHARTI','BI','BIBLE','BID','BIKE','BING','BINGO','BIO','BIZ','BJ','BLACK','BLACKFRIDAY','BLANCO','BLOCKBUSTER','BLOG','BLOOMBERG','BLUE','BM','BMS','BMW','BN','BNL','BNPPARIBAS','BO','BOATS','BOEHRINGER','BOFA','BOM','BOND','BOO','BOOK','BOOKING','BOOTS','BOSCH','BOSTIK','BOSTON','BOT','BOUTIQUE','BOX','BR','BRADESCO','BRIDGESTONE','BROADWAY','BROKER','BROTHER','BRUSSELS','BS','BT','BUDAPEST','BUGATTI','BUILD','BUILDERS','BUSINESS','BUY','BUZZ','BV','BW','BY','BZ','BZH','CA','CAB','CAFE','CAL','CALL','CALVINKLEIN','CAM','CAMERA','CAMP','CANCERRESEARCH','CANON','CAPETOWN','CAPITAL','CAPITALONE','CAR','CARAVAN','CARDS','CARE','CAREER','CAREERS','CARS','CARTIER','CASA','CASE','CASEIH','CASH','CASINO','CAT','CATERING','CATHOLIC','CBA','CBN','CBRE','CBS','CC','CD','CEB','CENTER','CEO','CERN','CF','CFA','CFD','CG','CH','CHANEL','CHANNEL','CHASE','CHAT','CHEAP','CHINTAI','CHLOE','CHRISTMAS','CHROME','CHRYSLER','CHURCH','CI','CIPRIANI','CIRCLE','CISCO','CITADEL','CITI','CITIC','CITY','CITYEATS','CK','CL','CLAIMS','CLEANING','CLICK','CLINIC','CLINIQUE','CLOTHING','CLOUD','CLUB','CLUBMED','CM','CN','CO','COACH','CODES','COFFEE','COLLEGE','COLOGNE','COM','COMCAST','COMMBANK','COMMUNITY','COMPANY','COMPARE','COMPUTER','COMSEC','CONDOS','CONSTRUCTION','CONSULTING','CONTACT','CONTRACTORS','COOKING','COOKINGCHANNEL','COOL','COOP','CORSICA','COUNTRY','COUPON','COUPONS','COURSES','CR','CREDIT','CREDITCARD','CREDITUNION','CRICKET','CROWN','CRS','CRUISE','CRUISES','CSC','CU','CUISINELLA','CV','CW','CX','CY','CYMRU','CYOU','CZ','DABUR','DAD','DANCE','DATA','DATE','DATING','DATSUN','DAY','DCLK','DDS','DE','DEAL','DEALER','DEALS','DEGREE','DELIVERY','DELL','DELOITTE','DELTA','DEMOCRAT','DENTAL','DENTIST','DESI','DESIGN','DEV','DHL','DIAMONDS','DIET','DIGITAL','DIRECT','DIRECTORY','DISCOUNT','DISCOVER','DISH','DIY','DJ','DK','DM','DNP','DO','DOCS','DOCTOR','DODGE','DOG','DOHA','DOMAINS','DOT','DOWNLOAD','DRIVE','DTV','DUBAI','DUCK','DUNLOP','DUNS','DUPONT','DURBAN','DVAG','DVR','DZ','EARTH','EAT','EC','ECO','EDEKA','EDU','EDUCATION','EE','EG','EMAIL','EMERCK','ENERGY','ENGINEER','ENGINEERING','ENTERPRISES','EPOST','EPSON','EQUIPMENT','ER','ERICSSON','ERNI','ES','ESQ','ESTATE','ESURANCE','ET','ETISALAT','EU','EUROVISION','EUS','EVENTS','EVERBANK','EXCHANGE','EXPERT','EXPOSED','EXPRESS','EXTRASPACE','FAGE','FAIL','FAIRWINDS','FAITH','FAMILY','FAN','FANS','FARM','FARMERS','FASHION','FAST','FEDEX','FEEDBACK','FERRARI','FERRERO','FI','FIAT','FIDELITY','FIDO','FILM','FINAL','FINANCE','FINANCIAL','FIRE','FIRESTONE','FIRMDALE','FISH','FISHING','FIT','FITNESS','FJ','FK','FLICKR','FLIGHTS','FLIR','FLORIST','FLOWERS','FLY','FM','FO','FOO','FOOD','FOODNETWORK','FOOTBALL','FORD','FOREX','FORSALE','FORUM','FOUNDATION','FOX','FR','FREE','FRESENIUS','FRL','FROGANS','FRONTDOOR','FRONTIER','FTR','FUJITSU','FUJIXEROX','FUN','FUND','FURNITURE','FUTBOL','FYI','GA','GAL','GALLERY','GALLO','GALLUP','GAME','GAMES','GAP','GARDEN','GB','GBIZ','GD','GDN','GE','GEA','GENT','GENTING','GEORGE','GF','GG','GGEE','GH','GI','GIFT','GIFTS','GIVES','GIVING','GL','GLADE','GLASS','GLE','GLOBAL','GLOBO','GM','GMAIL','GMBH','GMO','GMX','GN','GODADDY','GOLD','GOLDPOINT','GOLF','GOO','GOODHANDS','GOODYEAR','GOOG','GOOGLE','GOP','GOT','GOV','GP','GQ','GR','GRAINGER','GRAPHICS','GRATIS','GREEN','GRIPE','GROCERY','GROUP','GS','GT','GU','GUARDIAN','GUCCI','GUGE','GUIDE','GUITARS','GURU','GW','GY','HAIR','HAMBURG','HANGOUT','HAUS','HBO','HDFC','HDFCBANK','HEALTH','HEALTHCARE','HELP','HELSINKI','HERE','HERMES','HGTV','HIPHOP','HISAMITSU','HITACHI','HIV','HK','HKT','HM','HN','HOCKEY','HOLDINGS','HOLIDAY','HOMEDEPOT','HOMEGOODS','HOMES','HOMESENSE','HONDA','HONEYWELL','HORSE','HOSPITAL','HOST','HOSTING','HOT','HOTELES','HOTELS','HOTMAIL','HOUSE','HOW','HR','HSBC','HT','HTC','HU','HUGHES','HYATT','HYUNDAI','IBM','ICBC','ICE','ICU','ID','IE','IEEE','IFM','IKANO','IL','IM','IMAMAT','IMDB','IMMO','IMMOBILIEN','IN','INDUSTRIES','INFINITI','INFO','ING','INK','INSTITUTE','INSURANCE','INSURE','INT','INTEL','INTERNATIONAL','INTUIT','INVESTMENTS','IO','IPIRANGA','IQ','IR','IRISH','IS','ISELECT','ISMAILI','IST','ISTANBUL','IT','ITAU','ITV','IVECO','IWC','JAGUAR','JAVA','JCB','JCP','JE','JEEP','JETZT','JEWELRY','JIO','JLC','JLL','JM','JMP','JNJ','JO','JOBS','JOBURG','JOT','JOY','JP','JPMORGAN','JPRS','JUEGOS','JUNIPER','KAUFEN','KDDI','KE','KERRYHOTELS','KERRYLOGISTICS','KERRYPROPERTIES','KFH','KG','KH','KI','KIA','KIM','KINDER','KINDLE','KITCHEN','KIWI','KM','KN','KOELN','KOMATSU','KOSHER','KP','KPMG','KPN','KR','KRD','KRED','KUOKGROUP','KW','KY','KYOTO','KZ','LA','LACAIXA','LADBROKES','LAMBORGHINI','LAMER','LANCASTER','LANCIA','LANCOME','LAND','LANDROVER','LANXESS','LASALLE','LAT','LATINO','LATROBE','LAW','LAWYER','LB','LC','LDS','LEASE','LECLERC','LEFRAK','LEGAL','LEGO','LEXUS','LGBT','LI','LIAISON','LIDL','LIFE','LIFEINSURANCE','LIFESTYLE','LIGHTING','LIKE','LILLY','LIMITED','LIMO','LINCOLN','LINDE','LINK','LIPSY','LIVE','LIVING','LIXIL','LK','LOAN','LOANS','LOCKER','LOCUS','LOFT','LOL','LONDON','LOTTE','LOTTO','LOVE','LPL','LPLFINANCIAL','LR','LS','LT','LTD','LTDA','LU','LUNDBECK','LUPIN','LUXE','LUXURY','LV','LY','MA','MACYS','MADRID','MAIF','MAISON','MAKEUP','MAN','MANAGEMENT','MANGO','MAP','MARKET','MARKETING','MARKETS','MARRIOTT','MARSHALLS','MASERATI','MATTEL','MBA','MC','MCD','MCDONALDS','MCKINSEY','MD','ME','MED','MEDIA','MEET','MELBOURNE','MEME','MEMORIAL','MEN','MENU','MEO','MERCKMSD','METLIFE','MG','MH','MIAMI','MICROSOFT','MIL','MINI','MINT','MIT','MITSUBISHI','MK','ML','MLB','MLS','MM','MMA','MN','MO','MOBI','MOBILE','MOBILY','MODA','MOE','MOI','MOM','MONASH','MONEY','MONSTER','MONTBLANC','MOPAR','MORMON','MORTGAGE','MOSCOW','MOTO','MOTORCYCLES','MOV','MOVIE','MOVISTAR','MP','MQ','MR','MS','MSD','MT','MTN','MTR','MU','MUSEUM','MUTUAL','MV','MW','MX','MY','MZ','NA','NAB','NADEX','NAGOYA','NAME','NATIONWIDE','NATURA','NAVY','NBA','NC','NE','NEC','NET','NETBANK','NETFLIX','NETWORK','NEUSTAR','NEW','NEWHOLLAND','NEWS','NEXT','NEXTDIRECT','NEXUS','NF','NFL','NG','NGO','NHK','NI','NICO','NIKE','NIKON','NINJA','NISSAN','NISSAY','NL','NO','NOKIA','NORTHWESTERNMUTUAL','NORTON','NOW','NOWRUZ','NOWTV','NP','NR','NRA','NRW','NTT','NU','NYC','NZ','OBI','OBSERVER','OFF','OFFICE','OKINAWA','OLAYAN','OLAYANGROUP','OLDNAVY','OLLO','OM','OMEGA','ONE','ONG','ONL','ONLINE','ONYOURSIDE','OOO','OPEN','ORACLE','ORANGE','ORG','ORGANIC','ORIGINS','OSAKA','OTSUKA','OTT','OVH','PA','PAGE','PAMPEREDCHEF','PANASONIC','PANERAI','PARIS','PARS','PARTNERS','PARTS','PARTY','PASSAGENS','PAY','PCCW','PE','PET','PF','PFIZER','PG','PH','PHARMACY','PHD','PHILIPS','PHONE','PHOTO','PHOTOGRAPHY','PHOTOS','PHYSIO','PIAGET','PICS','PICTET','PICTURES','PID','PIN','PING','PINK','PIONEER','PIZZA','PK','PL','PLACE','PLAY','PLAYSTATION','PLUMBING','PLUS','PM','PN','PNC','POHL','POKER','POLITIE','PORN','POST','PR','PRAMERICA','PRAXI','PRESS','PRIME','PRO','PROD','PRODUCTIONS','PROF','PROGRESSIVE','PROMO','PROPERTIES','PROPERTY','PROTECTION','PRU','PRUDENTIAL','PS','PT','PUB','PW','PWC','PY','QA','QPON','QUEBEC','QUEST','QVC','RACING','RADIO','RAID','RE','READ','REALESTATE','REALTOR','REALTY','RECIPES','RED','REDSTONE','REDUMBRELLA','REHAB','REISE','REISEN','REIT','RELIANCE','REN','RENT','RENTALS','REPAIR','REPORT','REPUBLICAN','REST','RESTAURANT','REVIEW','REVIEWS','REXROTH','RICH','RICHARDLI','RICOH','RIGHTATHOME','RIL','RIO','RIP','RMIT','RO','ROCHER','ROCKS','RODEO','ROGERS','ROOM','RS','RSVP','RU','RUGBY','RUHR','RUN','RW','RWE','RYUKYU','SA','SAARLAND','SAFE','SAFETY','SAKURA','SALE','SALON','SAMSCLUB','SAMSUNG','SANDVIK','SANDVIKCOROMANT','SANOFI','SAP','SAPO','SARL','SAS','SAVE','SAXO','SB','SBI','SBS','SC','SCA','SCB','SCHAEFFLER','SCHMIDT','SCHOLARSHIPS','SCHOOL','SCHULE','SCHWARZ','SCIENCE','SCJOHNSON','SCOR','SCOT','SD','SE','SEARCH','SEAT','SECURE','SECURITY','SEEK','SELECT','SENER','SERVICES','SES','SEVEN','SEW','SEX','SEXY','SFR','SG','SH','SHANGRILA','SHARP','SHAW','SHELL','SHIA','SHIKSHA','SHOES','SHOP','SHOPPING','SHOUJI','SHOW','SHOWTIME','SHRIRAM','SI','SILK','SINA','SINGLES','SITE','SJ','SK','SKI','SKIN','SKY','SKYPE','SL','SLING','SM','SMART','SMILE','SN','SNCF','SO','SOCCER','SOCIAL','SOFTBANK','SOFTWARE','SOHU','SOLAR','SOLUTIONS','SONG','SONY','SOY','SPACE','SPIEGEL','SPOT','SPREADBETTING','SR','SRL','SRT','ST','STADA','STAPLES','STAR','STARHUB','STATEBANK','STATEFARM','STATOIL','STC','STCGROUP','STOCKHOLM','STORAGE','STORE','STREAM','STUDIO','STUDY','STYLE','SU','SUCKS','SUPPLIES','SUPPLY','SUPPORT','SURF','SURGERY','SUZUKI','SV','SWATCH','SWIFTCOVER','SWISS','SX','SY','SYDNEY','SYMANTEC','SYSTEMS','SZ','TAB','TAIPEI','TALK','TAOBAO','TARGET','TATAMOTORS','TATAR','TATTOO','TAX','TAXI','TC','TCI','TD','TDK','TEAM','TECH','TECHNOLOGY','TEL','TELECITY','TELEFONICA','TEMASEK','TENNIS','TEVA','TF','TG','TH','THD','THEATER','THEATRE','TIAA','TICKETS','TIENDA','TIFFANY','TIPS','TIRES','TIROL','TJ','TJMAXX','TJX','TK','TKMAXX','TL','TM','TMALL','TN','TO','TODAY','TOKYO','TOOLS','TOP','TORAY','TOSHIBA','TOTAL','TOURS','TOWN','TOYOTA','TOYS','TR','TRADE','TRADING','TRAINING','TRAVEL','TRAVELCHANNEL','TRAVELERS','TRAVELERSINSURANCE','TRUST','TRV','TT','TUBE','TUI','TUNES','TUSHU','TV','TVS','TW','TZ','UA','UBANK','UBS','UCONNECT','UG','UK','UNICOM','UNIVERSITY','UNO','UOL','UPS','US','UY','UZ','VA','VACATIONS','VANA','VANGUARD','VC','VE','VEGAS','VENTURES','VERISIGN','VERSICHERUNG','VET','VG','VI','VIAJES','VIDEO','VIG','VIKING','VILLAS','VIN','VIP','VIRGIN','VISA','VISION','VISTA','VISTAPRINT','VIVA','VIVO','VLAANDEREN','VN','VODKA','VOLKSWAGEN','VOLVO','VOTE','VOTING','VOTO','VOYAGE','VU','VUELOS','WALES','WALMART','WALTER','WANG','WANGGOU','WARMAN','WATCH','WATCHES','WEATHER','WEATHERCHANNEL','WEBCAM','WEBER','WEBSITE','WED','WEDDING','WEIBO','WEIR','WF','WHOSWHO','WIEN','WIKI','WILLIAMHILL','WIN','WINDOWS','WINE','WINNERS','WME','WOLTERSKLUWER','WOODSIDE','WORK','WORKS','WORLD','WOW','WS','WTC','WTF','XBOX','XEROX','XFINITY','XIHUAN','XIN','XN--11B4C3D','XN--1CK2E1B','XN--1QQW23A','XN--2SCRJ9C','XN--30RR7Y','XN--3BST00M','XN--3DS443G','XN--3E0B707E','XN--3HCRJ9C','XN--3OQ18VL8PN36A','XN--3PXU8K','XN--42C2D9A','XN--45BR5CYL','XN--45BRJ9C','XN--45Q11C','XN--4GBRIM','XN--54B7FTA0CC','XN--55QW42G','XN--55QX5D','XN--5SU34J936BGSG','XN--5TZM5G','XN--6FRZ82G','XN--6QQ986B3XL','XN--80ADXHKS','XN--80AO21A','XN--80AQECDR1A','XN--80ASEHDB','XN--80ASWG','XN--8Y0A063A','XN--90A3AC','XN--90AE','XN--90AIS','XN--9DBQ2A','XN--9ET52U','XN--9KRT00A','XN--B4W605FERD','XN--BCK1B9A5DRE4C','XN--C1AVG','XN--C2BR7G','XN--CCK2B3B','XN--CG4BKI','XN--CLCHC0EA0B2G2A9GCD','XN--CZR694B','XN--CZRS0T','XN--CZRU2D','XN--D1ACJ3B','XN--D1ALF','XN--E1A4C','XN--ECKVDTC9D','XN--EFVY88H','XN--ESTV75G','XN--FCT429K','XN--FHBEI','XN--FIQ228C5HS','XN--FIQ64B','XN--FIQS8S','XN--FIQZ9S','XN--FJQ720A','XN--FLW351E','XN--FPCRJ9C3D','XN--FZC2C9E2C','XN--FZYS8D69UVGM','XN--G2XX48C','XN--GCKR3F0F','XN--GECRJ9C','XN--GK3AT1E','XN--H2BREG3EVE','XN--H2BRJ9C','XN--H2BRJ9C8C','XN--HXT814E','XN--I1B6B1A6A2E','XN--IMR513N','XN--IO0A7I','XN--J1AEF','XN--J1AMH','XN--J6W193G','XN--JLQ61U9W7B','XN--JVR189M','XN--KCRX77D1X4A','XN--KPRW13D','XN--KPRY57D','XN--KPU716F','XN--KPUT3I','XN--L1ACC','XN--LGBBAT1AD8J','XN--MGB9AWBF','XN--MGBA3A3EJT','XN--MGBA3A4F16A','XN--MGBA7C0BBN0A','XN--MGBAAKC7DVF','XN--MGBAAM7A8H','XN--MGBAB2BD','XN--MGBAI9AZGQP6J','XN--MGBAYH7GPA','XN--MGBB9FBPOB','XN--MGBBH1A','XN--MGBBH1A71E','XN--MGBC0A9AZCG','XN--MGBCA7DZDO','XN--MGBERP4A5D4AR','XN--MGBGU82A','XN--MGBI4ECEXP','XN--MGBPL2FH','XN--MGBT3DHD','XN--MGBTX2B','XN--MGBX4CD0AB','XN--MIX891F','XN--MK1BU44C','XN--MXTQ1M','XN--NGBC5AZD','XN--NGBE9E0A','XN--NGBRX','XN--NODE','XN--NQV7F','XN--NQV7FS00EMA','XN--NYQY26A','XN--O3CW4H','XN--OGBPF8FL','XN--P1ACF','XN--P1AI','XN--PBT977C','XN--PGBS0DH','XN--PSSY2U','XN--Q9JYB4C','XN--QCKA1PMC','XN--QXAM','XN--RHQV96G','XN--ROVU88B','XN--RVC1E0AM3E','XN--S9BRJ9C','XN--SES554G','XN--T60B56A','XN--TCKWE','XN--TIQ49XQYJ','XN--UNUP4Y','XN--VERMGENSBERATER-CTB','XN--VERMGENSBERATUNG-PWB','XN--VHQUV','XN--VUQ861B','XN--W4R85EL8FHU5DNRA','XN--W4RS40L','XN--WGBH1C','XN--WGBL6A','XN--XHQ521B','XN--XKC2AL3HYE2A','XN--XKC2DL3A5EE0H','XN--Y9A3AQ','XN--YFRO4I67O','XN--YGBI2AMMX','XN--ZFR164B','XPERIA','XXX','XYZ','YACHTS','YAHOO','YAMAXUN','YANDEX','YE','YODOBASHI','YOGA','YOKOHAMA','YOU','YOUTUBE','YT','YUN','ZA','ZAPPOS','ZARA','ZERO','ZIP','ZIPPO','ZM','ZONE','ZUERICH','ZW']
        }             
    },

    components: {
        login
    },

    mounted: function () {

    	serverBus.$on('footer-login', (comment) => {
            console.log('after footer login');
            this.onLogin();
        });
    	
        this.$nextTick(function () {
        	$('#loader').hide();
    	 	this.countryCodeList();

  $('[data-toggle="tooltip"]').tooltip()
    	 	
        });
        this.$nextTick(function () {
        	$('#loader').hide();
    	 	this.getCountryCode();

  $('[data-toggle="tooltip"]').tooltip()
    	 	
        });

    },

    computed: {
        url() {

        }
    },

    watch: {
        countryCode: function (newKey) {
            if(this.isSelected!==newKey){
                if( newKey.length > 0 ){
                    this.countryCodeList();
                } else {
                    this.items = this.optionGroups;
                }
            }else{
                this.items = this.optionGroups;
            }        
        }
    },

    methods: {
    	
        guest() {
        	let vm = this;
        	this.checkEmail();
        	//this.checkNumber();
            this.$validator.validateAll('registerData').then((result) => {
                if (! result) {
                    return;
                } else {
                  	vm.confirm = 'btn btn-cont disable';
                  	$('#loader').show();
		            /*Mouse flow code*/
		            window._mfq = window._mfq || [];        		
		        	window._mfq.push(['formSubmitAttempt', '#guestDetail']);
                  	vm.$emit('continueClick', vm.registerData);
                }
            });
        },

        onLogin() {
    	 	
            this.bidDetail['guestDetail'] = {};
            
            //call search submit in bid-details mixin
            this.searchbidSubmit( this.bidDetail, 'after-login' );
            
        },

        getCountryCode() {
        	$('.countryIcon').addClass('hide');
        	this.closeCountryList();
            this.$axios.get('/get-country-code')
            .then((response) => {
            	// console.log(response);
                this.registerData.code = response.data
                this.countryCode = response.data;
                // this.registerData.code = '+'+response.data
                // this.countryCode = '+'+response.data;
                // this.closeCountryList();
                this.selectedCountryIcon(''+this.registerData.code);
                $('.countryIcon').removeClass('hide');
        	
            })

        },

        cityDropdown() {  
          $("#country_id").addClass('option');  
            this.$axios.get('/city-list?country_id='+this.registerData.country_id)
            .then((response) => {
                //this.registerData.code = response.data.phone_code.phone_code
            })
        },

        checkEmail_old(){
            var email = this.registerData.email;
            var domain = _.split(email,'@');
            var extension = _.split(domain[1],'.');
            if(!_.includes(this.validDomain,_.toUpper(extension[1]))){
            	this.errors.add({
		                             id: $('[name=email]').attr('data-vv-id'),
		                             field: 'email',
		                             msg: this.$t('message.INVAID_EMAIL'),
		                             rule: 'required',
		                             scope: 'registerData'
		                           });
                //this.errors.add('email',this.$t('message.INVAID_EMAIL'),'required','registerData');
            } else {
            	this.errors.remove('email','registerData');
            }
        },

         checkEmail(){
         	if(this.registerData.email){
              this.$axios.get('/verify-email/'+this.registerData.email)
              .then((response) => {
                //if(response.data.data.status != 'valid'){
                  if(response.data.data == 'unknown'){
                    this.errors.add({
                                     id: $('[name=email]').attr('data-vv-id'),
                                     field: 'email',
                                     msg: this.$t('message.WRONG_EMAIL'),
                                     rule: 'required',
                                     scope: 'registerData'
                                   });
                    this.intial = 2;
                    this.registerData.email = '';
                     
                  }else{
                  	$('.disable').removeAttr('disabled');
                    this.errors.remove('email','registerData');
                  }
              });
          }else{
          	this.intial = 1;
          }
          },

        checkNumber() {
        	const asYouType = new AsYouType()
        	let number = this.registerData.contact_number;
        	// asYouType.input('+'+this.registerData.code+this.registerData.contact_number);
        	// asYouType.input('+'+this.countryCode+this.registerData.contact_number);
        	asYouType.input(this.countryCode+this.registerData.contact_number);
        	this.registerData.contact_number = new AsYouType(asYouType.metadata._country).input(this.registerData.contact_number);
        	// var country_code = this.countryCode;
        	// var result = country_code.split("+");
        	// if(!result[1]){
         //        this.countryCode = result[0];
         //      }else{
        	// 	this.countryCode = result[1];
        	// }
        	if(!this.countryCode){
        		this.errors.remove('contact_number','registerData');
        		this.errors.add({
		                             id: $('[name=code]').attr('data-vv-id'),
		                             field: 'code',
		                             msg: this.$t('message.INVAID_PHONE'),
		                             rule: 'required',
		                             scope: 'registerData'
		                           });
        		this.hasItems = false;
        	}else if(number){
        		this.errors.remove('code','registerData');
        	this.registerData.code = this.countryCode;
        	this.$axios.get('/verify-number/'+this.countryCode+number)
            .then((response) => {
            	if(response.data.data.valid == false){
            	// this.countryCode = '+'+this.countryCode;
		            this.errors.add({
		                             id: $('[name=contact_number]').attr('data-vv-id'),
		                             field: 'contact_number',
		                             msg: this.$t('message.INVAID_PHONE'),
		                             rule: 'required',
		                             scope: 'registerData'
		                           });
		            this.intial = 4;
		             this.hasItems = false;
		             this.registerData.contact_number = '';
		             //this.errors.add('contact_number'89206 89888,this.$t('message.INVAID_PHONE'),'required','registerData');
           		}else{
           			// this.countryCode = '+'+this.countryCode;
           			$('.disable').removeAttr('disabled');
            		this.errors.remove('contact_number','registerData');
            		this.hasItems = false;
            	}

            });
        }else{
        	this.errors.add({
		                             id: $('[name=contact_number]').attr('data-vv-id'),
		                             field: 'contact_number',
		                             msg: this.$t('message.INVAID_PHONE'),
		                             rule: 'required',
		                             scope: 'registerData'
		                           });
		            this.intial = 1;
        }
        },

        login(){
			this.showModal = true;
    	},

    	onClose() {
            this.showModal = false;
        },


         countryCodeList() {

               var optionList = new Array();
        	this.$axios.get('/country-code/'+this.language)
            .then((response) => {
                this.optionGroups = this.items = this.registerData.cccode = response.data.data;
            })
        },

        countryCodeData(){
        	
            this.items = this.registerData.cccode = this.optionGroups;
            this.openCountryList();
            return this.items;
        },

        closeCountryList() {
            this.$nextTick(function () {
            	this.hasItems = false;
                this.showCountrylist = false;
            });
        },

        openCountryList() { 
            this.$nextTick(function () {
            	this.hasItems = true;
                this.showCountrylist = true;
            });
        },

       selectedCountry(data) {
            this.disableSearch = '';  
            this.isSelected = data;
            // this.isSelected = '+'+data;
            this.closeCountryList();
            this.countryCode = data;
            
        },

        clearCountryCode(){
            this.isSelected = '';
        },
        titleList(){
            this.$nextTick(function () {
              this.hasTitle = true;
            });
        },
        titleData(){
            this.$nextTick(function () {
              this.hasTitle = true;
            });
        },
        selectedTitle(data){
            this.closeTitleList();
            let titleData = this.$t('message.'+data);
            this.titleName = titleData;
            this.registerData.title = data;
        },
        closeTitleList() {
            this.$nextTick(function () {
              this.hasTitle = false;
            });
        },
        selectDropDownCCode(code){
        	if(code){
        	let result = code.split(" ");
        	let lengthCount = result.length;
        	this.countryCode = result[lengthCount-1];
            this.registerData.code = result[lengthCount-1];
            this.selectedCountryIcon(''+result[lengthCount-1]);
        }
        },
        selectedCountryIcon(ccode){
        	if(ccode){
        	let index = _.findIndex(this.items, { 'country_code': ccode });
        	let countryArr = this.items[index];
        	var url = 'https://d3cfbhpm32okc.cloudfront.net/flags/32x32/'+countryArr.code.toLowerCase()+'.png';
            $('.countryIcon').attr('src',url);
        }
        },
        checkCCode(counCode){
//alert(counCode);
        	if(counCode){
        	let index = _.findIndex(this.items, { 'country_code': counCode });
        	if(index==-1){
        		this.errors.add({
		                             id: $('[name=code]').attr('data-vv-id'),
		                             field: 'code',
		                             msg: this.$t('message.INVAID_COUNTRY_CODE'),
		                             rule: 'required',
		                             scope: 'registerData'
		                           });
        		this.intial=5;
        		this.countryCode = '';
        	}else{
        	let countryArr = this.items[index];
        	var url = 'https://d3cfbhpm32okc.cloudfront.net/flags/32x32/'+countryArr.code.toLowerCase()+'.png';
            $('.countryIcon').attr('src',url);
        }
          }
        },
        validateEmail(){
        	$('.disable').attr('disabled','disabled');
        },
        validateCcode(){
        	$('.disable').attr('disabled','disabled');
        	this.registerData.contact_number = '';
        },


    }

}
</script>