<div id="main" class="main">
        <section class="banner inner_banner" :style="url">
                
                            <div class="steps">
                                <h3 class="w-100 tab-768 text-center mb-0">{{$t('message.PROVIDE_YOUR_CONTACT_DETAILS')}}</h3>                
                                <ul class="d-flex m-0 p-0 list-unstyled align-item-center justify-content-center">
                                    <li class="completed">
                                        <a href="#">{{$t('message.SELECT_YOUR_STAY')}}</a>
                                    </li>
                                    <li class="completed">
                                       <a href="#">{{$t('message.MAKE_YOUR_CHOICE')}}</a>
                                    </li>
                                    <li class="processed">
                                       <a href="#">{{$t('message.PROVIDE_YOUR_CONTACT_DETAILS')}} </a>
                                    </li>
                                    <li>
                                        <a href="#">{{$t('message.NEGOTIATE_YOUR_PRICE')}} </a>
                                     </li>
                                    <li>
                                        <a href="#">{{$t('message.CONFIRM_YOUR_BOOKING')}} </a>
                                    </li>                     
                               </ul>               
                            </div>
                      
             </section>
             <section class="hotel_contact_detail mt-minus-85">
                 <div class="container">
                     <div class="row">
                         <div class="col-md-12 d-flex align-items-start flex-wrap">
                             <div class="blue_box_area">
                                <div class="selected_hotel_detail d-flex flex-column">
                                    <h2 class="text-white">{{selectedBidRoom | roomDetail}}</h2>
                                    <div class="mid-content">
                                        <!-- <h4>3 Guests, 1 Room, 1 Night</h4> -->
                                        <h4 v-if="criteria.use_type == 2">{{no_of_guest}}, {{selectedBidRoom | roomCount}}, {{no_of_day}}</h4>

                                        <h4 v-if="criteria.use_type == 1 && criteria.unit !=='ticket' && criteria.service_id == 0">{{no_of_guest}}, {{selectedBidRoom | roomCount}}, {{no_of_day}}
                  <!-- <span class="date-format">{{$t('message.FROM')}} {{criteria.check_in | dateFormate }} {{$t('message.AT')}}  {{criteria.check_in_time}} {{$t('message.TO')}} {{ day_check_out_date }} {{$t('message.AT')}} {{ day_check_out_time }}</span> -->
                </h4>

                <h4 v-if="criteria.use_type == 1 && criteria.unit =='hourly' && criteria.service_id > 0">1 {{$t('message.SERVICE')}} , {{no_of_day}}
                  <!-- , <span class="date-format">{{$t('message.FROM')}} {{criteria.check_in | dateFormate }} {{$t('message.AT')}}  {{criteria.check_in_time}} {{$t('message.TO')}} {{ day_check_out_date }} {{$t('message.AT')}} {{ day_check_out_time }}</span> -->
                </h4>

                <h4 v-if="criteria.use_type == 1 && criteria.unit=='ticket' && criteria.ticket == 1">{{criteria.ticket}} Guest, {{criteria.ticket}} {{selectedBidRoom | roomTitle}} {{$t('message.TICKET')}}
                  <!-- , <span class="date-format">{{criteria.check_out | dateFormate}}</span> -->
                </h4>
                <h4 v-else-if="criteria.use_type == 1 && criteria.unit=='ticket'">{{criteria.ticket}} Guests, {{criteria.ticket}} {{selectedBidRoom | roomTitle}} {{$t('message.TICKETS')}}
                  <!-- , <span class="date-format">{{criteria.check_out | dateFormate}}</span> -->
                </h4>

                <div class="checkin-out">
                  <label class="check_in">{{criteria.check_in | dateFormate}}</label>
                  <label class="check_out" v-if="criteria.use_type == 1 && criteria.unit !=='ticket' && criteria.service_id == 0">{{criteria.check_in_time}} - {{ day_check_out_time }}</label>
                  <label class="check_out" v-else-if="criteria.use_type == 1 && criteria.unit =='hourly' && criteria.service_id > 0">{{criteria.check_in_time}} - {{ day_check_out_time }}</label>
                  <label  v-else-if="criteria.use_type == 1 && criteria.unit =='ticket' && criteria.service_id > 0"></label>
                  <label class="check_out" v-else>{{criteria.check_out | dateFormate}}</label>
                </div>
                                        
                                        <div class="price-wrap">
                                            <div class="price_box old-price d-half" v-if="criteria.use_type == 2">
                                                <label>{{$t('message.PUBLIC_PRICE')}}:</label>
                                                <!-- <label>{{$t('message.OFFICIAL_PRICE_FOR')}}</label> -->
                                                <span class="price">{{currency}} {{ (selectedBidRoom) | totalPriceFormat(currency, criteria.total_days) }}</span>
                                            </div>

                                            <div class="price_box old-price d-half" v-if="criteria.use_type == 1 && criteria.unit !=='ticket'">
                                                <label>{{$t('message.PUBLIC_PRICE')}}:</label>
                                                <!-- <label>{{$t('message.OFFICIAL_PRICE_FOR')}}</label> -->
                                                <span class="price">{{currency}} {{ (selectedBidRoom) | totalPriceFormat(currency, criteria.total_days) }}</span>

                      <!-- <p v-if="criteria.use_type == 1 && criteria.unit =='ticket' && criteria.ticket == 1"> {{$t('message.OFFICIAL_PRICE_FOR')}} {{criteria.ticket}} {{$t('message.TICKET')}} : <strong>{{currency}} {{ (selectedBidRoom) | totalTicketPriceFormat(currency, criteria.ticket) }}</strong></p> -->
                                            </div>
                                            <div class="price_box old-price d-half" v-else-if="criteria.use_type == 1 && criteria.unit =='ticket'">
                                                <label>{{$t('message.PUBLIC_PRICE')}}:</label>
                                                <!-- <label>{{$t('message.OFFICIAL_PRICE_FOR')}}</label> -->
                                                <span class="price">{{currency}} {{ (selectedBidRoom) | totalPriceFormat(currency, criteria.total_days) }}</span>

                      <!-- <p v-else-if="criteria.use_type == 1 && criteria.unit =='ticket'"> {{$t('message.OFFICIAL_PRICE_FOR')}} {{criteria.ticket}} {{$t('message.TICKETS')}} : <strong>{{currency}} {{ (selectedBidRoom) | totalTicketPriceFormat(currency, criteria.ticket) }}</strong></p> -->
                                            </div>

                                            <div class="your-offer d-half">
                                                <label>{{$t('message.YOUR_OFFER')}}:</label>
                                                <div><span class="new-price">{{currency}} {{parseFloat(bidDetail.bid_amount).toFixed(2) | priceFormat(currency)}} </span></div>
                                            </div>
                                        </div>
                                        <div class="your-save d-half">
                                            <label>{{$t('message.YOU_SAVE')}}:</label>
                                            <span class="save_percent">{{percentage_discount}}%</span>
                                        </div>
                                    </div>
                                    <div class="price_condition d-flex align-items-center mt-auto mb-0">
                                        <span class="mr-1 mx-17"><img class="d-block" src="~/assets/img/info.svg" alt=""/></span>
                                        <a href="#">{{$t('message.PRICE_CONDITIONS')}}</a>
                                    </div>
                                </div>
                             </div>
                                <!-- <div class="col-md-8 col-md-offset-2 col-xs-12">
                  <div class="payment-step-list">
                      <div class="form-steps white-brand-form-steps text-center">
                          <h1 v-if="bookNowVal != 0" v-html="$t('message.BOOKING_DETAIL')"></h1>
                          <h1 v-if="bookNowVal == 0" v-html="$t('message.BOOK_NOW_BOOKING_DETAIL')"></h1>
                      </div> -->
                      
                      <!-- <div class="step-form"> -->
                        <!-- Continue as guest section start -->
                          <guest-section
                              :data="registerData"
                              :criteria="criteria"
                              :subdomain="subdomain"
                              :countries="countries"
                              @continueClick="onContinue"
                          >
                          </guest-section>
                      <!-- </div> -->
                  <!-- </div>
              </div> -->
            </div>
                         </div>
                     </div>
             </section>
    </div>