<template>
    <div>
        <div id="loader" style="display: none;"></div>
        <div class="modal signIn-modal modal-form fade" id="loginmodal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 v-show="loginView" class="modal-title">Sign In</h3>
          <div v-show="!loginView">
            <h3>{{$t('message.FORGOT_PASSWORD')}}</h3>
           <p>Provide your email, we will send you link to reset your password.</p>
           </div>
          <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
            <img src="~/assets/img/cross-out.svg" alt="" @click="closeModal()">
          </button>
        </div>
        <div class="modal-body">
            <div class="floating-label" v-show="loginView">
                <form @submit.prevent="login(loginData)" data-vv-scope="loginData">                                    
                    <div class="form-group">                                        
                        <input type="email" v-model="loginData.email" name="email" v-validate="'required|email'" class="form-control" id="">
                        <label for="sign_email" class="form-label">{{$t('message.EMAIL_ID')}}</label>
                        <span class="text-danger" v-if="errors.has('loginData.email')">{{ errors.first('loginData.email') }}</span>
                    </div>
                    <div class="form-group pass-eye has-error">
                        <input type="password" v-model="loginData.password" name="password" v-validate="'required'" class="form-control">
                        <label for="sign_password" class="form-label">{{$t('message.PASSWORD')}}</label>
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                       <!-- <i class="fa fa-eye" aria-hidden="true"></i>-->
                       <!-- <span class="error">Incorrect password. Try again.</span> -->
                    </div>
                    <div class="form-group d-flex flex-wrap align-items-center justify-content-between">
                        <button type="submit" class="btn btn-sign">{{ $t('message.SIGN_IN') }}</button>
                        <a @click="loginViewCond(1)">{{ $t('message.FORGOT_PASSWORD') }}</a>
                        
                        <!-- <input type="submit" value="Log In" class="btn"/> -->
                        <!-- <a href="#" class="forgot-link">Forgot Password?</a> -->
                    </div>
                    <div class="form-group social-login-btn">
                        <p>Or Sign In using</p>
                        <div class="btn-group">
                            <a href="#" class="google-login">Google</a>
                            <a href="#" class="facebook-login">Facebook</a>
                        </div>
                    </div>
                    <!-- <p>Don't have an account yet? <a href="javascript:void(0)" @click="onRegistraion">Create Account</a> </p> -->
                </form>
            </div>
            <div v-show="!loginView" class="floating-label">
              <form @submit.prevent="forgotPassword(emailData)" name="forgotPassword" method="post" data-vv-scope="emailData">
                <div class="form-group">
                  <input type="email" v-model="emailData.email" name="email" v-validate="'required|email'"  class="form-control" data-vv-as="email">
                  <label class="form-label">{{$t('message.EMAIL_ID')}}</label>
                  <p class="text-danger" v-if="errors.has('emailData.email')">{{ errors.first('emailData.email') }}</p>
                  <!--<img src="../assets/email-icon.png" alt="" title=""/>-->
                </div>
                <div class="form-group">
                 <button type="submit" class="btn btn-sign mb-4">{{ $t('message.CONFIRM') }} </button>
                  </div>
                <p><a href="javascript:void(0);" class="cursor-pointer" @click="loginViewCond(2)">{{ $t('message.LOGIN') }}</a></p>
               
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
</template>

<script>

    import axios from 'axios'
    import { HotelDetails } from '@/mixins/hotel-details.js'
    import Vue from 'vue'
    let bus = new Vue();
    import { serverBus } from '@/main.js';
    import { Constants } from '@/config/constants.js'

    export default {

        name: 'HeaderLogin',

        mixins: [HotelDetails],

        data() {
            return {                
                loginData: {
                    email: '',
                    password: '',
                },
                emailData:{
                  email:''
                },
                loginView:true
            }
        },
        
        mounted: function () {
            this.$nextTick(function () {
              $('#loader').hide();
              $('#loginmodal').modal('show');
            }); 
        },

        methods: {

            login(scope) {
                // this.$validator.reset();
                var vm = this;
                let apiURL = this.language ? '/login/' + this.language : '/login';
                this.$validator.validateAll('loginData');
                // $('#loader').show();
               

                this.$axios.post(apiURL, this.loginData)
                .then((response) => {console.log(response)
                    if (response.status == 200) {
                        document.cookie = "new_token=" + response.data.data.token + ";domain="+Constants.hostName+";path=/;";
                        this.$store.commit('setToken', response.data.data.token)
                        // this.$toastr.s(this.$t('message.LOGIN_SUCCESSFUL'));
                    }
                    if(Object.keys(this.bidDetail).length > 1) {
                        // serverBus.$emit('footer-login', 'footer-login');
                        serverBus.$emit('header-login', 'header-login');
                    } else {
                      this.$router.push({ path: 'profile'});
                    }
                    $('#loader').hide();
                    this.closeModal();
                })
                .catch((error) => {console.log(error)
                    $('#loader').hide();
                    var laravelError = error.response.data.error;
                    if(_.isPlainObject(laravelError)) {
                        for(var i in laravelError) {
                            if(Array.isArray(laravelError[i])){
                                  this.errors.add({
                                      field: i,
                                      msg: laravelError[i][0],
                                      rule: 'required',
                                      scope: 'loginData'
                                  });
                              }else{
                                  this.errors.add({
                                      field: i,
                                      msg: laravelError[i],
                                      rule: 'required',
                                      scope: 'loginData'
                                  });
                              }
                        }
                    }
                    else {
                        this.errors.add({
                                      field: 'email',
                                      msg: laravelError,
                                      rule: 'required',
                                      scope: 'loginData'
                                  });
                    }
                })
            },
            
            forgotPassword(scope) {
                // this.$validator.reset();
                var vm = this;
                let apiURL = this.language ? '/forgotpassword/' + this.language : '/forgotpassword'; 
                this.$validator.validateAll('emailData');
                if(this.emailData.email!==''){
                  $('#loader').show();
                  this.$axios.post(apiURL, this.emailData)
                  .then((response) => {
                    this.closeModal();
                    this.$toastr.s(response.data.data[0]);
                     $('#loader').hide();
                  })
                  .catch((error) => {
                      $('#loader').hide();
                      if (error.response.data.error){
                        this.errors.add({
                                      field: 'email',
                                      msg: error.response.data.error,
                                      rule: 'required',
                                      scope: 'emailData'
                                  });
                      } else {
                        this.errors.add('email',error.response.data.error,'required',emailData);
                      }
                  })
                }
            },

            loginViewCond(mode){
              if(mode == 1) {
                this.loginView=false;
                this.emailData.email = this.loginData.email; 
              } else {
                this.loginView=true;
                this.loginData.email = this.emailData.email; 
              }
            },
            
            closeModal(){   
                this.$parent.showLoginModal = false;           
                $('#loginmodal').modal('hide');
                this.$emit('close');
            },
            onRegistraion() {
            this.$parent.showLoginModal = false;
            this.$parent.showRegistrationModal = true;
        },

        }
    }

</script>
