
  <div>
      <div v-if="stylecode" id="home" class="parallax" >
        <div :class="domainDetails === null ? 'inner-bg' : 'inner-bg-subdomain'">
            <section id="main" class="main" :style="stylecode">
        <section class="banner banner_home" >
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="banner-content text-center" >
                                <div class="con-overlay pb-0">
                                    <h1>Your Private  Deal Space:</h1>
                                    <p>Give <span>your price</span> to book a room!</p>
                                    <!-- <p>{{ $t('message.THREE_STEP')}}</p> -->
                                </div>
                                <p class="con-overlay pt-0 d-block" >We <span>instantly</span> tell you if you price is accepted.</p>
                            </div>
                            <div class="top-space search-container">
                                <div class="search-form">

          <!-- Hotel search component -->
                  <hotel-search v-if="domain === 'white_brand'"></hotel-search>
                  <group-hotel-search v-if="domain === 'group'"></group-hotel-search>                
                <!-- Hotel search component end-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>     
        </section>
    </section>
        </div>
      </div>
      <!-- This section display when hotel is deactivated -->
      <section v-if="isDeactive" class="white-bg result-accept white-brand-tryAgain">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <section class="white-bg result-accept white-brand-tryAgain">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="result-accept-content text-center">
                        <div  class="try-again-wrapper">
                            <h2> {{$t('message.HOTEL_DEACTIVATED')}}</h2>  
                        </div>  
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
       <!-- This section display when hotel is deactivated End -->
    </div>


