<template>	
	<div>
	    <div id="loader1"></div>
	    <div class="modal fade CancelModal" id="otpverificationmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
	        <div class="modal-dialog" role="document">
	            <div class="modal-content">
	                <div class="modal-header text-center">
	                    <button type="button" class="close" @click="closeModal"><span aria-hidden="true">&times;</span></button>
	                    <h1>{{$t('message.OTP_VERIFICATION')}}</h1>
	                </div>
	                <div class="modal-body">
	                	<form @submit.prevent="cancelOtpVerification(otpVarificationData)" data-vv-scope="otpVarificationData">
        							<div class="form-group">
        								<input type="text" class="form-control" id="" v-validate="'required'" v-model="otpVarificationData.otp_string" name="otp_string" :placeholder="$t('message.ENTER_OTP_CODE')">
        								<p class="text-danger" v-if="errors.has('otpVarificationData.otp_string')">{{ errors.first('otpVarificationData.otp_string') }}</p>
        							</div>
        							
        							<div class="form-group">
                          <button type="submit" :class="enter_btn">{{$t('message.SUBMIT')}}</button>
        							</div>
						        </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</template>

<script>

import { Validator } from 'vee-validate';
    const dictionary = {
      en: {
        attributes: {
            otp_string: 'OTP'
        }
      },
      de: {
        attributes: {
            otp_string: 'OTP'
        }
      },
      fr: {
        attributes: {
            otp_string: 'OTP'
        }
      }
    };

  // Validator.updateDictionary(dictionary);

import axios from 'axios'
import { HotelDetails } from '@/mixins/hotel-details.js';

export default {

 	  props:['subdomain','canceledBookingId','canceledEmailId'],

    mixins: [HotelDetails],

    data() {
      	return {
    	    	otpVarificationData:{
              booking_id:this.canceledBookingId,
              email:this.canceledEmailId,
        			otp_string:'',
        			platform_type:'',
        		},
        		enter_btn:'btn btn-cancel-booking',
        		errorStatus:false,
        		msg:''	
        }             
    },

    mounted: function () {
        this.$nextTick(function () {
        console.log(this.canceledBookingId);
        console.log(this.canceledEmailId);
      	    $('#loader1').hide();     
            $('#otpverificationmodal').modal('show');
            //if(this.user){
            //	this.otpVarificationData.email = this.user.email;
            //}
            if(this.subdomain===0){
            	this.otpVarificationData.platform_type = 'global';
            	this.enter_btn = 'btn btn-cancel-booking';
            }else{
            	this.otpVarificationData.platform_type = 'white_brand';
            	this.enter_btn = 'btn btn-cancel-booking-white-brand';
            }
        })
    },
    
    methods: {
    	cancelOtpVerification(scope) {
		      var vm =this;
          // this.$validator.validateAll('otpVarificationData');
				  $('#loader1').show();
          console.log(this.otpVarificationData);
          
          let apiURL = this.language ? '/'+this.language+'/cancel-booking-otp-verification' : '/en/cancel-booking-otp-verification'; 
          axios.post(apiURL, this.otpVarificationData)
          .then((response) => {
              $('#loader1').hide();
              
              if(response.data.error === 'false') {
                 this.errorStatus = true;
                 this.msg = response.data.msg;
              } else {
              
                  $('#otpverificationmodal').modal('hide');
                  this.msg = response.data.data;
                  this.$store.commit('setCancelMsg', this.msg)
                  this.$emit('cancelOtpClose');
              }
          })
          .catch((error) => {
              $('#loader1').hide();
              var laravelError = error.response.data.error;
              console.log(laravelError)
              /*if(_.isPlainObject(laravelError)) {
                  for(var i in laravelError){
                      if(Array.isArray(laravelError[i])){
                            this.errors.add({
                                field: i,
                                msg: laravelError[i][0],
                                rule: 'required',
                                scope: 'otpVarificationData'
                              });
                        }else{
                            this.errors.add({
                                field: i,
                                msg: laravelError[i],
                                rule: 'required',
                                scope: 'otpVarificationData'
                              });
                        }
                  }
              }
              else { */
                  this.errors.add({
                        field: 'otp_string',
                        msg: laravelError.message ? laravelError.message : laravelError,
                        rule: 'required',
                        scope: 'otpVarificationData'
                      });
                 console.log(this.errors)
             // }
          })
        },

        closeModal(){              
            $('#otpverificationmodal').modal('hide');
            this.$emit('close');
        },

    }

}
</script>