<template>	
	<div>
	    <!-- <div id="loader1"></div> -->
	    <div class="modal fade cancel_booking_modal modal ot-modals" id="registermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true" >
	        <div class="modal-dialog" role="document">
	            <div class="modal-content">
	                <div class="modal-header">	                    
	                    <h2 class="modal-title">{{$t('message.CANCEL_MY_RESERVSATION')}} </h2>
                        <button type="button" class="close modal-close" @click="closeModal">
                            <img src="~/assets/img/cross-out.svg" alt="">
                        </button>
	                </div>
	                <div class="modal-body">
                        <div class="ot-content floating-label">
	                	    <form @submit.prevent="cancel(cancelData)" data-vv-scope="cancelData" class="step1">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="" v-validate="'required|numeric'" v-model="cancelData.booking_id" name="booking_id">
                                    <label class="form-label">{{$t('message.BOOKING_NUMBER')+'*'}}</label>
                                    <p class="text-danger" v-if="errors.has('cancelData.booking_id')">{{ errors.first('cancelData.booking_id') }}</p>
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" v-validate="'required|email'" v-model="cancelData.email">
                                    <label class="form-label">{{$t('message.EMAIL_ID')+'*'}}</label>
                                    <p class="text-danger" v-if="errors.has('cancelData.email')">{{ errors.first('cancelData.email') }}</p>
                                    <!-- <p class="text-danger" v-if="errorStatus">{{ msg }}</p> -->
                                </div>
                                
                                <div class="d-flex justify-content-center">
                                    <button type="submit" :class="enter_btn">{{$t('message.SUBMIT')}}</button>
                                </div>
						    </form>
                        </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</template>

<script>

import { Validator } from 'vee-validate';
    const dictionary = {
      en: {
        attributes: {
            booking_id: 'Booking number'
        }
      },
      de: {
        attributes: {
            booking_id: 'Booking number'
        }
      },
      fr: {
        attributes: {
            booking_id: 'Booking number'
        }
      }
    };

  // Validator.updateDictionary(dictionary);

// import axios from 'axios'
import { HotelDetails } from '@/mixins/hotel-details.js';

export default {

 	  props:['subdomain','user'],

    mixins: [HotelDetails],

    data() {
      	return {
    	    	cancelData:{
        			email:'',
        			booking_id:'',
        			platform_type:'',
        		},
        		enter_btn:'btn btn-pink border-0 rounded-0',
        		errorStatus:false,
        		msg:''	
        }             
    },

    mounted: function () {
        this.$nextTick(function () {
      	    $('#loader1').hide();     
            $('#registermodal').modal('show');
            if(this.user){
            	this.cancelData.email = this.user.email;
            }
            if(this.subdomain===0){
            	this.cancelData.platform_type = 'global';
            	this.enter_btn = 'btn btn-pink border-0 rounded-0';
            }else{
            	this.cancelData.platform_type = 'white_brand';
            	this.enter_btn = 'btn btn-pink border-0 rounded-0 btn-cancel-booking-white-brand';
            }
        })
    },
    
    methods: {
    	cancel(scope) {
		      var vm =this;
          // this.$validator.validateAll('cancelData');
				  $('#loader1').show();
          
          let apiURL = this.language ? '/'+this.language+'/cancel-booking' : '/en/cancel-booking'; 
          this.$axios.post(apiURL, this.cancelData)
          .then((response) => {
              $('#loader1').hide();
              if(response.data.error === 'false') {
              	 this.errorStatus = true;
              	 this.msg = response.data.msg;

              } else { 
                  $('#registermodal').modal('hide');
                  this.$emit('cancelClose',response.data.data.email,response.data.data.booking_id);
              }
				  })
				  .catch((error) => {
              $('#loader1').hide();
				      var laravelError = error.response.data.error;
				      console.log(laravelError)
              if(_.isPlainObject(laravelError)) {
                  for(var i in laravelError){
                      if(Array.isArray(laravelError[i])){
                            this.errors.add({
                                field: i,
                                msg: laravelError[i][0],
                                rule: 'required',
                                scope: 'cancelData'
                              });
                        }else{
                            this.errors.add({
                                field: i,
                                msg: laravelError[i],
                                rule: 'required',
                                scope: 'cancelData'
                              });
                        }
                  }
              }
              else {
                  this.errors.add({
                        field: 'booking_id',
                        msg: laravelError,
                        rule: 'required',
                        scope: 'cancelData'
                      });
				         console.log(this.errors)
              }
          })
        },

        closeModal(){              
            $('#registermodal').modal('hide');
            this.$emit('close');
        },

    }

}
</script>