<template>
    <div id="bidError" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h2>{{cancel_msg}}</h2>
                    <a type="button" @click="closeModal" :class="ok_btn"> {{$t('message.OTP_OK')}}</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</template>
<script>
    export default {
        props:['subdomain'],

         data() { 
            return {
                ok_btn:'btn btn-closeBid'
            }             
        },

        mounted: function () {
            this.$nextTick(function () {
               $('#bidError').modal('show');
               if(this.subdomain===0){
                this.ok_btn = 'btn btn-closeBid';
                }else{
                    this.ok_btn = 'btn btn-closeBid-white-brand ';
                }
            }); 
        },
        computed: {

        cancel_msg() {
            return this.$store.getters.cancelMsg  
        }
    },

        methods: {

            closeModal(){   
                $('#bidError').modal('hide');
                this.$emit('close');
            }

        }
    }

</script>