<template>
	<div>
		<input type="text" :placeholder="id" class="daterangepicker_input form-control checkin" :name="id" :id="id" onkeydown="return false" readonly="readonly">
	</div>
</template>

<script>
    export default {

    	props:['id','minNight','stay'],
    	data() {

            return {
            	type:this.id,
            	dateStart:'',
            	dateEnd:'',
            	limit:this.stay?this.minNight:0
            }
         },
		
        watch: {
            '$props':{
		      handler: function (val, oldVal) { 
		        this.limit = val.stay?this.minNight:0;
		        this.channgeUseType();
		    },
		      deep: true
		    }
        },

        mounted: function(){
        	this.$nextTick(function () {
             	this.channgeUseType();
        	})
	  	},

        methods:{
      		channgeUseType(){
      			var vm = this;
		  	var input = $('input[name="'+ this.id +'"]').daterangepicker({
		  		//"singleDatePicker": true,		  		
		  		"dateLimit": {
			        "days": vm.limit
			    },
		  		autoUpdateInput: false,    
			    "startDate": moment(),
		        "autoApply": true,
		        "minDate": moment(),
		        //"endDate": moment().add(2,"days").format('DD.MM.YYYY'),
		        "locale": {
			        "format": "MM/DD/YYYY",
			        "separator": " - ",
			        "applyLabel": "Apply",
			        "cancelLabel": "Cancel",
			        "fromLabel": "From",
			        "toLabel": "To",
			        "customRangeLabel": "Custom",
			        "weekLabel": "W",
			        "daysOfWeek": [
			        	this.$t('message.SUN'),
			            this.$t('message.MON'),
					    this.$t('message.TUE'),
					    this.$t('message.WED'),
					    this.$t('message.THU'),
					    this.$t('message.FRI'),
					    this.$t('message.SAT'),
			        ],
			        "monthNames": [
			            this.$t('message.JANUARY'),
					    this.$t('message.FEBRUARY'),
					    this.$t('message.MARCH'),
					    this.$t('message.APRIL'),
					    this.$t('message.MAY'),
					    this.$t('message.JUNE'),
					    this.$t('message.JULY'),
					    this.$t('message.AUGUST'),
					    this.$t('message.SEPTEMBER'),
					    this.$t('message.OCTOBER'),
					    this.$t('message.NOVEMBER'),
					    this.$t('message.DECEMBER'),
			        ],
			        "firstDay": 1
			    },
		    });
		  	
		    input.on('apply.daterangepicker', function(ev, picker) {
		    	console.log(picker);
		    	var type='checkin';
		      vm.$emit('daterangechanged',picker,type);
		    });
		    input.on('hide.daterangepicker', function() {
			  vm.$emit('daterangechanged');
			});
      		}
		
      	}
    }
</script>