<template>
	<section :id="'container-'+inputid" class="datepicker-container" >
		<div class="right-inner-addon" >
	        <input type="text" class="form-control vc-datepicker" :placeholder="placeholder" :id="inputid" @focus="onFocus" @keyup="onKeyUp" :name="name" :required="required" readonly="readonly" :value="showDate" >
	        <i class="fa fa-calendar" aria-hidden="true" v-if="showicon" ></i>
	    </div>
    </section>
</template>

<script>

    export default {
    	props: ['months','start','end','range','inputid','showicon','placeholder','isStartBox','name','required','calendarButtonIcon','data'],

        data() {
            return { 
            	today: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()),
        		startDate:'',
        		endDate:'',
        		calendarWidget: 'calendar-' + new Date().getTime(),
        		monthNames: [
			            'January',
			            'February',
			            'March',
			            'April',
			            'May',
			            'June',
			            'July',
			            'August',
			            'September',
			            'October',
			            'November',
			            'December'
			        ],
        		localeMonthNames: [],
		        dayNames: [
		            'Sunday',
		            'Monday',
		            'Tuesday',
		            'Wednesday',
		            'Thursday',
		            'Friday',
		            'Saturday'
		        ],
		        weekDays: [
		            'Monday',
		            'Tuesday',
		            'Wednesday',
		            'Thursday',
		            'Friday',
		            'Saturday',
		            'Sunday',
		        ],
		        daysAbbreviation: [],

            }       
        },


	    mounted: function () {
	        this.$nextTick(function () {
	        	var vm = this;
        		
        		vm.startDate =  (vm.start !== '' && vm.start != null) ? new Date(vm.start) : vm.today;

        		vm.endDate    = (vm.end !== '' && vm.end != null) ? new Date(vm.end) : new Date(vm.startDate.getFullYear(), vm.startDate.getMonth(), vm.startDate.getDate() + 1);

				document.body.addEventListener("click", function (e) {
				    
 					if(document.getElementsByClassName(vm.calendarWidget)[0] != undefined){
					    var calendar = document.getElementsByClassName(vm.calendarWidget)[0];
					    var calendarContainer = document.getElementById('container-'+vm.inputid);
					    // if the target of the click isn't the container nor a descendant of the container
					    var check = calendar.contains(e.target);
					    var checkContainer = calendarContainer.contains(e.target);
					    

					    if (!check && !checkContainer){
					    	calendar.classList.add("hidden");
					    }

					}
				}, true);
	        }); 
	    },

	    watch: {
	    	start : function (val) {
	    		var vm = this;
	    		vm.startDate =  (val !== '' && val != null)? new Date(val) : vm.today;
	    		if(!vm.range){
	    			vm.endDate = vm.startDate;
	    		}
	    	},

	    	end : function (val) {
				var vm = this;

	    		if(val == null && !vm.isStartBox){
	    			vm.endDate  = ((vm.startDate !== '' && vm.startDate != null) ? new Date(vm.startDate): new Date(vm.today.getFullYear(), vm.today.getMonth(), vm.today.getDate() + 1));
	    		} else {
	    			vm.endDate = (val !== '' ? new Date(val) : new Date(vm.today.getFullYear(), vm.today.getMonth(), vm.today.getDate() + 1));	
	    		}
	    	},

	    	minStay:function(val) {
	    		this.$parent.checkout = moment(this.$parent.checkin).add(this.minStay , "days")
	    		if(this.$parent.minStayFlag){    		
	    			document.getElementById('checkout').focus();//flag
	    		}	
	    	}

	    },

	    computed: {
		    // a computed getter
		    showDate: function () {
		      	if(this.isStartBox){
		      		var date = new Date(this.startDate);
		      	} else {
		      		var date = new Date(this.endDate);
		      	}

		      	return  ("0" + date.getDate()).slice(-2)+ '.' + ("0" + (date.getMonth() + 1)).slice(-2)+'.'+date.getFullYear();
		    },

		    minStay:function (){
		    	return this.$parent.minStay;
		    }
		},

        methods: {

        	updateLang(){
        		this.localeMonthNames = [
			        this.$t('message.JANUARY'),
				    this.$t('message.FEBRUARY'),
				    this.$t('message.MARCH'),
				    this.$t('message.APRIL'),
				    this.$t('message.MAY'),
				    this.$t('message.JUNE'),
				    this.$t('message.JULY'),
				    this.$t('message.AUGUST'),
				    this.$t('message.SEPTEMBER'),
				    this.$t('message.OCTOBER'),
				    this.$t('message.NOVEMBER'),
				    this.$t('message.DECEMBER'),
			        ];
			this.daysAbbreviation = [
		            this.$t('message.MON'),
				    this.$t('message.TUE'),
				    this.$t('message.WED'),
				    this.$t('message.THU'),
				    this.$t('message.FRI'),
				    this.$t('message.SAT'),
		            this.$t('message.SUN'),
		        ];
        	},

        	onFocus(e){
        		var vm = this;
        		vm._showCalendar(e.target);
        	},

        	onKeyUp(e){
        		var vm = this;
        		var resizeTimer;
        		clearTimeout(resizeTimer);
	            resizeTimer = setTimeout(function() {
	                vm._typeDate(e.target);
	            }, 1000);
        	},
                    
            getWeekOfMonth (date) {

	            var day = date.getDate()
	            day-=(date.getDay()==0?6:date.getDay()-1);//get monday of vm week
	            //special case handling for 0 (sunday)

	            day+=7;
	            //for the first non full week the value was negative

	            var prefixes = ['0', '1', '2', '3', '4', '5'];
	            return prefixes[0 | (day) / 7];
        	},

        	_showCalendar(element, startDate){
		        var vm = this;
		        vm.$parent.minStayFlag = true; 

		        var calanderClasses = document.getElementsByClassName('vccalendar').length;

		        for(var i = 0; i <= calanderClasses; i++){
		        	if(document.getElementsByClassName('vccalendar')[i] != undefined){
		        		document.getElementsByClassName('vccalendar')[i].classList.add("hidden");
		        	}
		        	
		        }

		        /**
		        var startDate = startDate ? startDate : vm.isStartBox ? vm.startDate :  new Date(vm.endDate.getFullYear() , vm.endDate.getMonth() -1, 1);
				**/
				var startDate = startDate ? startDate : vm.startDate;

		        startDate = startDate.getTime() >= vm.today.getTime() ? startDate : vm.today;

		        var sinceDate; 

		        if(vm.isStartBox){
		            sinceDate = vm.today;
		        }else{
		            sinceDate = vm.startDate.getTime() >= vm.today.getTime() ? vm.startDate : vm.today;
		        }

		        vm.calendar = vm.getMonts(startDate);
		       
		        vm.renderCalendar(sinceDate, element);

		        var calendar = document.getElementsByClassName(vm.calendarWidget)[0];
		        var position = vm._getPosition(element);
		        calendar.className = calendar.className.replace('hidden', '');
		        calendar.style.top  = position.top + element.offsetHeight + 'px';
		        calendar.style.left = position.left + 'px';
		    },

		    _getPosition(obj){
		        var curleft = 0, curtop = 0;
		        if (obj.offsetParent) {
		            do {
		                curleft += obj.offsetLeft;
		                curtop += obj.offsetTop;
		            } while (obj = obj.offsetParent);
		            return { left: curleft, top: curtop };
		        }
		        return undefined;
		    },

		    _setDate(element, date){
		        var vm = this;

		        if(vm.isStartBox){
		            vm.startDate = date;

		            if(!vm.range){
		            	vm.endDate = date;
		            }

		            if(vm.startDate.getTime() > vm.endDate.getTime()){
		                vm.endDate = date;
		            }
	
		        } else {
		            vm.endDate = date;
		           
		        }

		        vm.toggleClass(document.getElementsByClassName(vm.calendarWidget)[0], 'hidden');
		        if(vm.inputid == 'checkin' || vm.inputid == 'checkin-group'){
			        vm.$emit('selected', new Date(date),'checkin')
		  			vm.$emit('input', new Date(date),'checkin')

		  			if(vm.inputid == 'checkin-group'){
			  			setTimeout(function() {
	                       document.getElementById('checkout').focus();
	                    }, 100);
	                }
		  		}
		  		if(vm.inputid == 'checkout'){
		  			vm.$emit('selected', new Date(date),'checkout')
		  			vm.$emit('input', new Date(date),'checkout')
		  		}
		    },

		    _typeDate(element) {
		        var vm = this;
		        var newDate = new Date(element.value);

		        if(newDate.getTime() >= vm.today.getTime()){
		            vm._setDate(element, newDate);
		        }
		    },

		    toggleClass(element, className){
		        if (!element || !className){
		            return;
		        }

		        var classString = element.className, nameIndex = classString.indexOf(className);
		        if (nameIndex == -1) {
		            classString += ' ' + className;
		        }
		        else {
		            classString = classString.substr(0, nameIndex) + classString.substr(nameIndex+className.length);
		        }
		        element.className = classString;
		    },

		    getMonts(startDate) {
		        var months = [];
		        this.updateLang();
		        for (var i = 0; i < this.months; i++) {
		            var date = new Date(startDate.getFullYear(), startDate.getMonth() + i, 1);
		            var month = {
		                name: this.monthNames[date.getMonth()],
		                locale_month_name: this.localeMonthNames[date.getMonth()],
		                year: date.getFullYear(),
		                weeks: []
		            }

		            while (date.getMonth() === new Date(startDate.getFullYear(), startDate.getMonth() + i, 1).getMonth()) {
		                var week = this.getWeekOfMonth(new Date(date));
		                if(month.weeks[week] == null){
		                    month.weeks[week] = {};
		                }

		                var day = new Date(date);
		                month.weeks[week][this.dayNames[day.getDay()]] = {
		                    date: day,
		                    //name: dayNames[day.getDay()]
		                };
		                date.setDate(date.getDate() + 1);
		            }

		            months.push(month);
		        }
		        return months;
		    },

		    renderCalendar(sinceDate, element) {
		        var vm = this;
		        if(document.getElementsByClassName(vm.calendarWidget).length > 0){
		            document.body.removeChild(document.getElementsByClassName(vm.calendarWidget)[0]);
		        }

		        var widget = document.createElement('div');
		        
		        widget.className = 'hidden calendar vccalendar ' + vm.calendarWidget;

		        widget.id = 'calander-container-' + vm.inputid;

		        var leftNavWrapper = document.createElement('div');
		        leftNavWrapper.className = 'navWrapper';
		        var leftNav = document.createElement('span');
		        leftNav.className = 'glyphicon glyphicon-chevron-left';

		        leftNav.addEventListener('click', function(e){
		            var date = new Date(1 + ' ' + vm.calendar[0].name + ' ' + vm.calendar[0].year);
		            var startDate = new Date(date.getFullYear(), date.getMonth() - 1, 1);

		            vm._showCalendar(element, startDate);
		        });

		        leftNavWrapper.appendChild(leftNav);


		        widget.appendChild(leftNavWrapper);

		        if(vm.minStay > 1 ) {
                	var newdate = new Date(vm.startDate);
					newdate.setDate(newdate.getDate() + vm.minStay);
				}

		        vm.calendar.forEach(function(month){
		            var monthDiv = document.createElement('div');
		            monthDiv.className = 'month';

		            var name = document.createElement('h4');
		            name.appendChild(
		                document.createTextNode(month.locale_month_name + ' ' + month.year)
		            );
		            monthDiv.appendChild(name);

		            var table = document.createElement('table');
		            table.className = 'table';

		            var tableHead = document.createElement('thead');
		            var tr =  document.createElement('tr');
		            vm.daysAbbreviation.forEach(function(abb) {
		                var td = document.createElement('td');
		                td.appendChild(
		                    document.createTextNode(abb)
		                );

		                tr.appendChild(td);
		            });

		            tableHead.appendChild(tr);
		            table.appendChild(tableHead);

		            var tbody = document.createElement('tbody');
		            month.weeks.forEach(function(week){
		                var tr = document.createElement('tr');
		                var td;

		                vm.weekDays.forEach(function(day) {
		                    if ( typeof week[day] !== 'undefined' ) {
		                        td = document.createElement('td');
		                        vm.startDate = new Date(vm.startDate.setHours(0,0,0,0));
					        	vm.endDate = new Date(vm.endDate.setHours(0,0,0,0));

		                        if(week[day].date.getTime() >= sinceDate.getTime()) {
		                           
		                            var selectedDateTime = week[day].date.getFullYear() + '-' + ("0" + (week[day].date.getMonth() + 1)).slice(-2) + '-' + ("0" + week[day].date.getDate()).slice(-2);

			                        if (((vm.data[selectedDateTime] == undefined || (vm.data[selectedDateTime] == 0) && vm.inputid == 'checkin') || (vm.data[selectedDateTime] == 0) && vm.inputid == 'checkout' )) {
			                        	//this is added for group section
			                        	if(Object.keys(vm.data).length > 0)
			                        		td.className = 'disabled';
			                        	else{
			                        		td.className = 'active';
			                        		td.addEventListener('click', function(e){
			                                vm._setDate(element, week[day].date);
			                            });
			                        	}
			                        	// console.log(vm.data[selectedDateTime])
			                        } else if ( vm.inputid == 'checkout' && week[day].date.getTime() == vm.startDate.getTime() ) {

			                        	td.className = 'disabled';
			                        	td.className = 'selected';

	    							} else if (vm.minStay > 1 && vm.inputid == 'checkout' && week[day].date.getTime() > vm.startDate.getTime() && week[day].date.getTime() < newdate.getTime() ) {
	    								if(vm.endDate.getTime() < newdate.getTime())
	    									vm.endDate = new Date(newdate.setHours(0,0,0,0));
			                        	td.className = 'disabled';
			                        	td.className = 'selected';
	    							} else if (week[day].date.getTime() >= vm.startDate.getTime() && week[day].date.getTime() <= vm.endDate.getTime()) {

		                                td.className = 'active';
		                                td.className = 'selected';

		                                td.addEventListener('click', function(e){
		                               		vm._setDate(element, week[day].date);
		                            	});

		                            } else {

		                            	td.className = 'active';

		                            	td.addEventListener('click', function(e){
			                                vm._setDate(element, week[day].date);
			                            });
			                            
		                            }
		                            if(vm.inputid == 'checkin' && week[day].date.getTime() == vm.startDate.getTime() && vm.isStartBox){
		                            	td.className = 'active';
		                            	td.className = 'selected';
		                            }

		                        } else {
		                            td.className = 'disabled';
		                        }

		                        
		                        td.appendChild(
		                        	document.createTextNode(week[day].date.getDate())
		                        );
		                        tr.appendChild(td);
		                    } else {
		                        td = document.createElement('td');
		                        tr.appendChild(td);
		                    }
		                });

		                tbody.appendChild(tr);
		            });

		            table.appendChild(tbody);
		            monthDiv.appendChild(table);
		            widget.appendChild(monthDiv);
		        })

		        var rightNavWrapper = document.createElement('div');
		        rightNavWrapper.className = 'navWrapper';
		        var righttNav = document.createElement('span');
		        righttNav.className = 'glyphicon glyphicon-chevron-right';

		        righttNav.addEventListener('click', function(e){
		            var date = new Date(1 + ' ' + vm.calendar[0].name + ' ' + vm.calendar[0].year);
		            var startDate = new Date(date.getFullYear(), date.getMonth() + 1, 1);

		            vm._showCalendar(element, startDate);
		        });
		        rightNavWrapper.appendChild(righttNav);
		        widget.appendChild(rightNavWrapper);

		        var closeWidget = document.createElement('div');
		        closeWidget.className = 'closeWidget';
		        var p = document.createElement('p');
		        p.appendChild(
		            document.createTextNode(this.$t('message.CLOSE'))
		        );
		        
		        p.addEventListener('click', function(){
		            vm.toggleClass(document.getElementsByClassName(vm.calendarWidget)[0], 'hidden');
		        });

		        closeWidget.appendChild(p);
		        widget.appendChild(closeWidget);
		        document.body.appendChild(widget);
		    }
        }
    }

</script>

<style>

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    /*padding-right: 30px;*/    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

/* Component CSS */

.vccalendar{
    background: #eee;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 99999;
    padding: 0 5px;

}

.vccalendar > div {
    display: inline-block;
   position: relative;
}

.vccalendar.hidden{
    display: none;
}

.vccalendar .navWrapper > span {
    cursor: pointer;
}
.vccalendar .month{
	padding: 0 5px;
}

.vccalendar .month > table{
	border:1px solid #ddd;

}
.vccalendar .month h4{
	text-align: center;
}

.vccalendar .month > table td{
	position: relative;
	text-align: center;
	border-right:1px solid #ddd;


}

.vccalendar .month > table td > span{
	position: relative;
    font-size: 8px;
    left: 1px;
    color: green;
    bottom: 0px;
    display: block;
    width: 100%;
    text-align: center;
}

.vccalendar .month > table td.active, .vccalendar .month > table td.selected{
    background-color: #FBFBFB;
    cursor: pointer;
}

.vccalendar .month > table td.selected{
    background-color: #0070c9;
    color:#fff;
}
.vccalendar .month > table td.active:hover{
	background-color: #0070c9;
    color:#fff;
}

.vccalendar .month > table td.selected span{
    color:#fff;
}
.vccalendar .month > table td.active:hover span{
    color:#fff;
}

.vccalendar .month > table td.disabled{
    opacity: 0.7;
    text-decoration: line-through;
    cursor: not-allowed;
    color: #888;
}

.vccalendar .closeWidget{
    display: block;
    text-align: right;
    font-size: 12px;
}

.vccalendar .closeWidget p{
    cursor: pointer;
}
@media(max-width: 767px){
	.vccalendar{
		width: 95% !important;
		left:10px !important;
	}
	.vccalendar .month{
		width: 90%;
	}
}
@media screen and (max-width: 1399px) and (min-width: 1199px) {
	.vccalendar .month > table td{
		padding:5px;
	}
}
@media screen and (max-width: 768px) {

/*.vccalendar{
	top:50% !important;
	max-height: 350px;
	overflow-y:auto;
	overflow-x: auto; 
	transform: translateY(-50%)  !important;
	-webkit-transform: translateY(-50%) !important;
	position: fixed;

}*/
.vccalendar::-webkit-scrollbar{
	width: 3px;
	height: 3px;
}
.vccalendar::-webkit-scrollbar-thumb{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #0070c9;
}
.vccalendar::-webkit-scrollbar-track{
	background-color: #fff;
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                   		}
}


</style>