<template>
    <div id="main">
       <section class="banner inner_banner" :style="url">

       </section>
       <section class="hotel_contact_detail faq mt-minus-85">
           <div class="container">
               <div class="row">
                   <div class="col-12">
                       <div class="whitePanel px-50">
                        <h2>{{$t('message.FAQ_HEADING')}}</h2>
                        <div id="accordion" role="tablist" aria-multiselectable="true" class="faq-list" >
                           <div class="card" role="tab" :vid-id="key" v-for="(elem,key,index) in faq">
                              <div class="card-header collapsed" id="heading1" @click="toggleIcon(index)" role="button" data-toggle="collapse" data-parent="#accordion" :href="'#panel'+index" aria-expanded="false" aria-controls="panel1">
                                <h3 data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1" class="collapsed" v-if="key == 'Booking process'">
                                    {{$t('message.BOOKING_PROCESS')}}
                                </h3>
                                <h3 data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse1" class="collapsed" v-if="key == 'Prices and offers'">
                                    {{$t('message.PRICE_OFFER')}}
                                </h3>
                                <h3 data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse1" class="collapsed" v-if="key == 'Payment'">
                                    {{$t('message.PAYMENT')}}
                                </h3>
                                <h3 data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse1" class="collapsed" v-if="key == 'Cancellation'">
                                    {{$t('message.CANCELLATATION')}}
                                </h3>
                                <h3 data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse1" class="collapsed" v-if="key == 'Others'">
                                    {{$t('message.OTHERS')}}
                                </h3>
                            </div>
                            <div :id="'panel'+index" role="tabpanel" class="collapse" aria-labelledby="kry" data-parent="#accordion">
                                    <div class="card-body" v-html="elem">
                                        hsxah hcaihc 
                                    </div>
                                </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</template>



<script>
import { Constants } from '@/config/constants.js'


    export default {

        name:'FAQ',


        data() { 
            return {
                faq: '',
                hotel:{}
            }             
        },
        
        mounted: function () {
            this.$nextTick(function () {
                this.hotel = this.$store.getters.hotel;
                if(this.language) this.$store.commit('setLanguage', this.language);
                
                this.getFaq();
            });
        },
        
        created() {
            this.$store.commit('setActivePage', 'hotel');
        },

        methods: {

            getFaq(){
                this.$axios.post('/' + this.language + '/get-page', {'type': 'faq'}).then((response) => {
                    if (response.data.data) {
                        let result = response.data.data;
                        this.faq = result;
                    } 
                }).catch(error => console.log(error));
            },

            toggleIcon(index){
                //var elem = document.getElementById('accordion').getElementsByTagName('div')[index];
                //var innerElem = elem.getElementsByTagName('i')[0];
                //var value = elem.classList.contains('collapsed')
                // if(value){
                //     innerElem.classList = ['glyphicon'+' gray'+' glyphicon-minus'];
                // } else {
                //     innerElem.classList = ['glyphicon'+' gray'+' glyphicon-plus'];
                // }
                
            }
        },
        computed: {
            url() {
                if(this.hotel) {
                  let website = this.hotel.website;
                  var url = 'background:url(' + Constants.filePath + '/uploads/';
                  if (this.hotel !== null) url += this.hotel.primary_image;
                  //url += ') center center / cover no-repeat;';
                  url += ');';
                  return url;
              }

              return '';
          },
            language() {
                return this.$store.getters.getLanguage;
            }
        } ,
        watch: {
            language() {
                this.getFaq();
            }
        }
    }
</script>
