<template>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-sm-between align-items-center flex-wrap">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Hotel Facilities</a>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li>
                        <a href="#">Cancel Day-use bookings</a>
                    </li>
                    <li>
                        <a href="#">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Cookies</a>
                    </li>
                </ul>
                <p class="m-0 copyright">
                    &copy; 2020 PrivateDeal SA<sup>TM</sup>. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>
</template>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js"></script>
