<template>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex align-items-center">
                    <div class="h_left">
                        <a href="#" class="logo mundo_logo"><img src="assets/img/logo.png" alt="Mundo Imperial"/></a>
                    </div>
                    <a href="#" class="hamburger_icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <div class="nav_area align-items-center d-flex w-100 justify-content-md-between ">
                        <ul class="d-flex nav_left">
                            <li><a href="#">Hotel Facilities</a></li>
                            <li><a href="#">Help?</a></li>
                        </ul>
                        <ul class="nav_right list-unstyled ml-auto">
                            <li class="downArrow currency_switcher dropdown">
                                <a class="dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  GBP
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">GBP</a>
                                    </li>
                                    <li>
                                        <a href="#">EURO</a>
                                    </li>
                                </ul>
                              </li>
                            <li class="downArrow lang_switcher dropdown">
                                <a class="dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  English
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">English</a>
                                    </li>
                                    <li>
                                        <a href="#">Français</a>
                                    </li>
                                    <li>
                                        <a href="#">Deutsch</a>
                                    </li>
                                    <li>
                                        <a href="#">Español</a>
                                    </li>
                                </ul>
                              </li>
                            
                              <li class="profile-link-nav dropdown downArrow">
                                <a class="dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 My PrivateDeal Account <img src="assets/img/user-pic.png" alt="" class="img-circle">
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Edit Profile</a>
                                    </li>
                                  <li>
                                      <a href="#">Change Password</a>
                                  </li>
                                </ul>
                              </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>