<template>
    <div class="modal fade help_modal modal ot-modals" id="help_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">{{ $t('message.HELP') }}?</h2>
              <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                <img src="~/assets/img/cross-out.svg" alt="" @click="closeModal()">
              </button>
            </div>
            <div class="modal-body">
                <div class="ot-content" v-html="helpGuide">
                  
                </div>
            </div>
          </div>
        </div>
      </div>

    <!-- <v-dialog :width="500" :clickToClose="false"/> -->
</template>

<script>

    export default {
        
        data() { 
            return {
                helpGuide: ''
            }             
        },

        mounted: function () {
            this.$nextTick(function () {
                this.getHelp();
            });
        },

        methods: {

            showHelp () {
                $('#help_modal').modal('show');
                // this.$modal.show('dialog', {
                //     // title: 'Alert!',
                //     // template: this.helpGuide ,
                //     text: this.helpGuide,
                //     draggable: true,
                //     buttons: [
                //         {
                //             title: this.$t('admin.CLOSE'),
                //             handler: () => { 
                //                 this.$parent.showHelpModal = false;
                //             }
                //         }
                //     ]
                // });
            },

            getHelp (language = 'en') {

                // Get language code
                let langueageCode = this.$store.getters.getLanguage;

                // Setting up the API url for help page
                let apiURL = '/' + langueageCode + '/get-page';

                this.$axios.post(apiURL, {'type': 'help'}).then((response) => {

                    if (response.data.data) {
                        let result = response.data.data;
                        this.helpGuide = result.help_guide;
                        this.showHelp();
                    } 
                   
                }).catch(error => console.log(error));
            },
            closeModal(){   
                this.$parent.showHelpModal = false;
                $('#help_modal').modal('hide');
                this.$emit('close');
            },
        },

        computed: {

            domainDetails () {
                return this.$store.getters.domainDetails;
            },

        }
    }

</script>