<template>
 <section id="main" class="main">
    <section class="banner inner_banner" :style="url">

    </section>
    <section class="hotel_contact_detail general_info mt-minus-85">
       <div class="container">
           <div class="row">
               <div class="col-12">
                   <div class="whitePanel px-50">
                    <h2>{{$t('admin.GENERAL_INFORMATION')}}</h2>                               
                    <ul class="general_infos list-unstyled m-0 p-0">
                        <li class="text-center">
                            <img src="~/assets/img/clock.svg" alt="" class="icon"/>
                            <h3>Check-in & Check-out</h3>
                            <ul class="list-unstyled m-0 p-0 text-center">
                                <li v-if="data.service_applied == 1 || data.service_applied ==2">{{$t('admin.NIGHT_USE')}}: {{ hoteldetails.nightuse_checkin ? hoteldetails.nightuse_checkin : 'N/A' }}&nbsp;-&nbsp;{{ hoteldetails.nightuse_checkout ? hoteldetails.nightuse_checkout : $t('admin.NA') }}</li>
                                <li v-if="data.service_applied == 0 || data.service_applied ==2">{{$t('admin.DAY_USE')}}: {{ hoteldetails.dayuse_checkin ? hoteldetails.dayuse_checkin : 'N/A' }}&nbsp;-&nbsp;{{ hoteldetails.dayuse_checkout ? hoteldetails.dayuse_checkout : $t('admin.NA') }}</li>
                            </ul>
                        </li>
                        <li class="text-center"  >
                            <img src="~/assets/img/wifi.svg" alt="" class="icon"/>
                            <h3>{{$t('admin.INTERNET')}}</h3>
                            <ul class="list-unstyled m-0 p-0 text-center">
                                <li>{{$t('admin.IS_INTERNET_AVAILABLE_TO_GUEST')}}: {{ hoteldetails.internet_availability == 1 ? $t('admin.YES') : $t('admin.NO') }}</li>
                                <li>{{$t('admin.WHAT_KIND_INTERNET')}}: {{ hoteldetails.internet_type == 'wifi' ? $t('admin.WIFI') : $t('admin.LAN') }}</li>
                                <li>{{$t('admin.WHERE')}}: {{ hoteldetails.internet_area == 'common_areas' ? $t('admin.COMMON_AREAS') : $t('admin.BEDROOMS') }}</li>
                            </ul>
                        </li>
                        <li class="text-center"  >
                            <img src="~/assets/img/parking.svg" alt="" class="icon"/>
                            <h3>{{$t('admin.PARKING')}}</h3>
                            <ul class="list-unstyled m-0 p-0 text-center">
                                <li>{{$t('admin.IS_PARKING_AVAILABLE_TO_GUEST')}}: {{ hoteldetails.parking_availability == 1 ? $t('admin.YES') : $t('admin.NO') }}</li>
                                <li>{{$t('admin.TYPE_OF_PARKING')}}: {{ hoteldetails.parking_type == 'private' ? $t('admin.PRIVATE') : $t('admin.PUBLIC') }}</li>
                                <li>{{$t('admin.PRICE_FOR_PARKING')}}: {{ hoteldetails.parking_charge == 'free' ? $t('admin.FREE') : $t('admin.DAILY_CHARGE') }}</li>
                                <li>{{$t('admin.GUEST_NEED_RESERVE_PARKING')}} {{ hoteldetails.parking_reservation == 1 ? $t('admin.YES') : $t('admin.NO') }}</li>
                            </ul>
                        </li>
                        <li class="text-center"  v-if="hoteldetails.breakfast_availability == 1">
                            <img src="~/assets/img/breakfast.svg" alt="" class="icon"/>
                            <h3>{{$t('admin.BREAKFAST')}}</h3>

                            <ul class="list-unstyled m-0 p-0 text-center">
                                <li v-if="hoteldetails.breakfast_price">
                                    {{$t('admin.PRICE_FOR_BREAKFAST')}}: {{ decimalFormat(hoteldetails.breakfast_price) }}
                                    <span class="c_label">{{ data.currency_code }}</span>
                                </li>
                                <li v-else>
                                    {{$t('admin.PRICE_FOR_BREAKFAST')}}: 0.00
                                    <span class="c_label">{{ data.currency_code }}</span>
                                </li>
                            </ul>
                            <ul class="list-unstyled m-0 p-0 text-center" v-if="hoteldetails.breakfast_type_one || hoteldetails.breakfast_type_two || hoteldetails.breakfast_type_three">
                                <li v-if="hoteldetails.breakfast_type_one">{{ hoteldetails.breakfast_type_one ? $t('admin.CONTINENTAL')+'&nbsp;&nbsp;' : '' }}</li>
                                <li v-if="hoteldetails.breakfast_type_two">{{ hoteldetails.breakfast_type_two ? $t('admin.AMERICAN')+'&nbsp;&nbsp;' : '' }}</li>
                                <li v-if="hoteldetails.breakfast_type_three">{{ hoteldetails.breakfast_type_three ? $t('admin.BUFFET')+'&nbsp;&nbsp;' : '' }}</li>
                                <li v-if="hoteldetails.breakfast_type_four">{{ hoteldetails.breakfast_type_four ? $t('admin.A_LA_CARTE')+'&nbsp;&nbsp;' : '' }}</li>
                            </ul>
                            <ul class="list-unstyled m-0 p-0 text-center" v-else>
                                <li>{{$t('admin.NA')}}</li>
                            </ul>

                        </li>
                        <li class="text-center">
                            <img src="~/assets/img/hotel_taxes.svg" alt="" class="icon"/>
                            <h3>{{$t('admin.HOTEL_TAXES')}}</h3>
                            <ul class="list-unstyled m-0 p-0 text-center">
                                <li>{{$t('admin.VAT_Q')}}: {{ data.is_vat == 1 ? $t('admin.YES') :$t('admin.NO') }}</li>
                                <li v-if="data.is_vat == '1'">% {{data.vat ? decimalFormat(data.vat) : '0.00'}}</li>
                                <li>{{$t('admin.CITY_TAX_Q')}} {{ data.is_city_tax == 1 ? $t('admin.YES') :$t('admin.NO') }}</li>
                                <li>{{$t('admin.ADULT_ONLY_Q')}} {{ data.city_tax_for_adults == 1 ? $t('admin.YES') :$t('admin.NO') }}</li>
                                <li>{{$t('admin.CITY_TAX_INCLUDED')}} {{ data.city_tax_included == 1 ? $t('admin.YES') :$t('admin.NO') }}</li>
                                <li v-if="data.is_city_tax == '1'">
                                   <span class="c_label" v-if="data.city_tax_type == '1'">{{ data.currency_code }}</span>                                                    
                                   <span v-else class="c_label">%</span>
                                   <span>{{data.city_tax ? decimalFormat(data.city_tax) : '0.00'}}<span v-if="data.city_tax_for_adults == 1">&nbsp;{{$t('admin.PER_ADULT')}}</span><span v-else >&nbsp;{{$t('admin.PER_GUEST')}}</span>&nbsp;{{$t('admin.PER_NIGHT')}}</span>    
                               </li>
                           </ul>
                       </li>
                       <li class="text-center"  >
                        <img src="~/assets/img/pets.svg" alt="" class="icon"/>
                        <h3>{{$t('admin.PETS')}}</h3>
                        <ul class="list-unstyled m-0 p-0 text-center">
                            <li>{{$t('admin.DO_ALLOW_PETS')}}: {{ hoteldetails.pets_allowed == 1 ? $t('admin.YES') : $t('admin.NO') }}</li>
                            <li>{{$t('admin.ADDITIONAL_CHARGES_FOR_PETS')}}: {{ hoteldetails.pets_charge == 1 ? $t('admin.YES') : $t('admin.NO') }}</li>
                        </ul>
                    </li>
                </ul>
                <div class="tag_list">
                    <div class="tag_wrap" >
                        <h3>{{$t('admin.ACTIVITIES')}}</h3>
                        <ul v-if="amenity_collection.sports_activities !== undefined">
                            <li v-for="sports in amenity_collection.sports_activities">
                                {{  sports['amenity_value']| amenityValue }}
                            </li>
                        </ul>
                        <p v-if="amenity_collection.sports_activities==undefined">{{$t('admin.NA')}}</p>
                    </div>
                    <div class="tag_wrap"  >
                        <h3>{{$t('admin.LANGUAGE_SPOKEN_BY_STAFF')}}</h3>
                        <ul v-if="amenity_collection.spoken_language !== undefined" >
                            <li v-for="language in amenity_collection.spoken_language">
                                {{  language['amenity_value'] | amenityValue }}
                            </li>                                                
                        </ul>
                        <p v-if="amenity_collection.spoken_language==undefined">{{$t('admin.NA')}}</p>
                    </div>
                    <div class="tag_wrap"   >
                        <h3>{{$t('admin.FOOD_AND_DRINK')}}</h3>
                        <ul v-if="amenity_collection.food_drinks !== undefined">
                            <li v-for="food in amenity_collection.food_drinks">
                                {{ food['amenity_value'] | amenityValue}}
                            </li>
                        </ul>
                        <p v-if="amenity_collection.food_drinks==undefined">{{$t('admin.NA')}}</p>
                    </div>
                    <div class="tag_wrap"  >
                        <h3>{{$t('admin.BUSINESS_FACILITIES')}}</h3>
                        <ul v-if="amenity_collection.business_facilities !== undefined">
                            <li v-for="business_facilities in amenity_collection.business_facilities">
                                {{  business_facilities['amenity_value'] | amenityValue }}
                            </li>
                        </ul>
                        <p v-if="amenity_collection.business_facilities==undefined">{{$t('admin.NA')}}</p>
                    </div>
                    <div class="tag_wrap">
                        <h3>{{$t('admin.NON_SMOKING_POLICY')}}</h3>                                            <ul>
                            <li>{{ data.non_smoking == 1 ? $t('admin.YES') :$t('admin.NO') }}</li>
                        </ul>
                    </div>
                </div>
            </div>                             
        </div>
    </div>
</div>
</section>
</section>

</template>

<script>

// import mapLocationSelector from '@/components/GoogleMapsLocationSelector.vue'
import { HotelDetails } from '@/mixins/hotel-details.js'; 
import { Constants } from '@/config/constants.js'

export default {

    name:'Policy',

        // components: {  mapLocationSelector },

        data() { 
            return {
                data: '',
                amenity_collection:'',
                hotelamenitydetail:'',
                hoteldetails:'',
                hotel:{}

            }             
        },

        mounted: function () {
            this.$nextTick(function () {
               this.hotel = this.$store.getters.hotel;
               console.log(this.hotel);
                this.$store.commit('setLanguage', this.language);
                if (this.domain == 'group') {
                	$("body").append("<style>* { font-family: " + this.domainDetails.font + " !important;}</style>");
                } else if (this.domainDetails) {
                	$("body").append("<style>* { font-family: " + this.domainDetails.hotel_font + " !important;}</style>");
                	this.getPolicy();
                }
                if(this.hotelInfo) this.getPolicy();
            });
        },

        created() {
            this.$store.commit('setActivePage', 'hotel');
        },
        
        methods: {
            getPolicy(){
                this.$axios.post('/'+ this.language +'/get-hotel-policy', {'id': this.hotelInfo.id}).then((response) => {
                    if (response.data.data) {
                        let result = response.data.data;
                        this.hoteldetails = result.hoteldetails;
                        this.data = result;
                        this.hotelamenitydetail = result.hotelamenitydetail;
                        this.amenity_collection = _.groupBy(this.hotelamenitydetail,'amenity_type')
                    } 
                }).catch(error => console.log(error));
            },
            decimalFormat(value){
                return parseFloat(value).toFixed(2);
            }
        },

        computed: {
            url() {
                if(this.hotel) {
                  let website = this.hotel.website;
                  var url = 'background:url(' + Constants.filePath + '/uploads/';
                  if (this.hotel !== null) url += this.hotel.primary_image;
                  //url += ') center center / cover no-repeat;';
                  url += ');';
                  return url;
              }

              return '';
          },
          language() {
            return this.$store.getters.getLanguage;
        },
        hotelInfo() {
            return this.$store.getters.hotel;
        },
        domainDetails() {
         return this.$store.getters.domainDetails;
     },
     domain() {
      return this.$store.getters.domain;
  }
},
watch: {
    language() {
        this.getPolicy();
    }
},

filters:{ 

    amenityValue: function(str){
        var str1 = _.split(str,'_');
        if(str1.length==2){
            return _.capitalize(_.startCase(str1[0]))+' : '+str1[1];
        }else{
            return  _.capitalize(_.startCase(str1[0]));
        }
    }
}
}
</script>

