<template>
    <div class="marg">
        <div class="container">
            <div class="term-condition-content">
                <div class="form-content">
                    <div id="advanced-hotel-view">

                        <fieldset class="content">
                            <div class="bank-account hotel-general-info clearfix text-left">
                                <h2 class="col-md-12">{{$t('admin.GENERAL_INFORMATION')}}</h2>
                                <div class="col-md-12 lpadding">
                                    <div class="form-group">
                                        <h4>{{ data.description ? data.description : 'No description is available' }}</h4>
                                    </div>
                                </div>
                               

                            </div>
                            
                            <div class="bank-account hotel-general-info clearfix text-left">
                               
                                <div class="col-md-4 lpadding">
                                    <div class="form-group">
                                        <h4>{{ data.address ? data.address : $t('admin.NA') }} {{ data.city ? ', '+data.city.name :'' }}
                                       {{ data.postal_code ? ', '+data.postal_code :'' }}</h4>
                                    </div>
                                </div>
                                <div class="col-md-12 lpadding">
                                    <div class="form-group">
                                       <!--  <div id="map-id" style="width:100%;height:200px"></div> -->
                                        <!-- <map-location-selector :latitude="parseFloat(data.latitude)" :longitude="parseFloat(data.longitude)">
                                        </map-location-selector> -->
                                    </div>
                                </div>    
                            </div><!--bank-account ends here-->
                        </fieldset>
                        
                        
                        <fieldset class="content">
                            <div class="bank-account hotel-general-info clearfix text-left">
                                <h2 class="col-md-12">Check in&nbsp;-&nbsp;Check out</h2>
                                <div class="col-md-6 lpadding" v-if="data.service_applied == 1 || data.service_applied ==2">
                                    <div class="form-group">
                                        <label>{{$t('admin.NIGHT_USE')}}</label>
                                        <h4>{{ hoteldetails.nightuse_checkin ? hoteldetails.nightuse_checkin : 'N/A' }}&nbsp;-&nbsp;{{ hoteldetails.nightuse_checkout ? hoteldetails.nightuse_checkout : $t('admin.NA') }}</h4>
                                    </div>
                                </div>
                                <div class="col-md-6 lpadding" v-if="data.service_applied == 0 || data.service_applied ==2">
                                    <div class="form-group">
                                        <label>{{$t('admin.DAY_USE')}} </label>
                                        <h4>{{ hoteldetails.dayuse_checkin ? hoteldetails.dayuse_checkin : 'N/A' }}&nbsp;-&nbsp;{{ hoteldetails.dayuse_checkout ? hoteldetails.dayuse_checkout : $t('admin.NA') }}</h4>
                                    </div>
                                </div>
                            </div><!--bank-account ends here-->

                            <div class="bank-account hotel-general-info clearfix text-left">
                                <h2 class="col-md-12">{{$t('admin.HOTEL_TAXES')}}</h2>
                                <div class="col-md-4 lpadding">
                                    <div class="form-group">
                                        <div class="hotel-tex-box">
                                            <div class="label-tax">
                                                <label>{{$t('admin.VAT_Q')}} </label>
                                                <label class="option">{{ data.is_vat == 1 ? $t('admin.YES') :$t('admin.NO') }}</label>
                                            </div>
                                            <div class="label-tax" v-if="data.is_vat == '1'">
                                                <h4 class="label-left">
                                                    <span class="c_label">%</span>
                                                    <span>{{data.vat ? decimalFormat(data.vat) : '0.00'}}</span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 lpadding">
                                    <div class="form-group">
                                        <div class="hotel-tex-box">
                                            <div class="label-tax">
                                                <label>{{$t('admin.CITY_TAX_Q')}} </label>
                                                <label class="option">{{ data.is_city_tax == 1 ? $t('admin.YES') :$t('admin.NO') }}</label>
                                            </div>
                                            <div class="label-tax">
                                                <label>{{$t('admin.ADULT_ONLY_Q')}}</label>
                                                <label class="option">{{ data.city_tax_for_adults == 1 ? $t('admin.YES') :$t('admin.NO') }}</label>
                                            </div>
                                            <div class="label-tax">
                                                <label>{{$t('admin.CITY_TAX_INCLUDED')}}</label>
                                                <label class="option">{{ data.city_tax_included == 1 ? $t('admin.YES') :$t('admin.NO') }}</label>
                                            </div>
                                            <div class="label-tax" v-if="data.is_city_tax == '1'">
                                                <h4 class="label-left">
                                                        <span class="c_label" v-if="data.city_tax_type == '1'">{{ data.currency_code }}</span>
                                                    
                                                         <span v-else class="c_label">%</span>
                                               
                                                    <span>{{data.city_tax ? decimalFormat(data.city_tax) : '0.00'}}<span v-if="data.city_tax_for_adults == 1">&nbsp;{{$t('admin.PER_ADULT')}}</span><span v-else >&nbsp;{{$t('admin.PER_GUEST')}}</span>&nbsp;{{$t('admin.PER_NIGHT')}}</span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 lpadding">
                                    <div class="form-group">
                                        <div class="hotel-tex-box">
                                            <div class="label-tax">
                                                <label>{{$t('admin.ADDITIONAL_TAX_Q')}}</label>
                                                <label class="option">{{ data.is_additional_tax == 1 ? $t('admin.YES') :$t('admin.NO') }}</label>
                                            </div>
                                            <div class="label-tax">
                                                <label>{{$t('admin.PER_ROOM_Q')}}</label>
                                                <label class="option">{{ data.additional_tax_for_adults == 1 ? $t('admin.YES') :$t('admin.NO') }}</label>
                                            </div>
                                            <div class="label-tax">
                                                <label>{{$t('admin.CITY_TAX_INCLUDED')}}</label>
                                                <label class="option">{{ data.additional_tax_included == 1 ? $t('admin.YES') :$t('admin.NO') }}</label>
                                            </div>
                                            <div v-if="data.is_additional_tax == 1 && data.additional_tax_included == 0 && data.additional_tax == null && data.additional_tax_for_adults == 0" class="label-tax">
                                                <h4 class="label-left">          
                                                    <span>{{$t('message.EXCLUDING_ADDITIONAL_TAX_PER_STAY')}}</span>
                                                </h4>
                                            </div>
                                            <div v-else>
                                                <h4 v-if="data.additional_tax" class="label-left">
                                                    
                                                    <span class="c_label" v-if="data.additional_tax_type == '1'">{{ data.currency_code }}</span>
                                                   
                                                    <span v-else class="c_label">%</span>
                                                    
                                                    <span>{{data.additional_tax ? decimalFormat(data.additional_tax) : '0.00'}}<span v-if="data.additional_tax_for_adults == '1'">&nbsp;{{$t('admin.PER_ROOM')}}&nbsp;</span>{{$t('admin.PER_NIGHT')}}</span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div><!--bank-account ends here-->

                            <div class="bank-account hotel-general-info clearfix text-left" v-if="hoteldetails.internet_availability == 1">
                                <h2 class="col-md-12">{{$t('admin.INTERNET')}}</h2>
                                <div class="col-md-4 lpadding">
                                    <div class="form-group text-left">
                                        <label>{{$t('admin.IS_INTERNET_AVAILABLE_TO_GUEST')}}</label>
                                        <h4>{{ hoteldetails.internet_availability == 1 ? $t('admin.YES') : $t('admin.NO') }}</h4>
                                    </div>
                                </div>
                                <div class="col-md-4 lpadding">
                                    <div class="form-group text-left">
                                        <label>{{$t('admin.WHAT_KIND_INTERNET')}}</label>
                                        <h4>{{ hoteldetails.internet_type == 'wifi' ? $t('admin.WIFI') : $t('admin.LAN') }}</h4>
                                    </div>
                                </div>
                                <div class="col-md-4 lpadding">
                                    <div class="form-group text-left">
                                        <label>{{$t('admin.WHERE')}}</label>
                                        <h4>{{ hoteldetails.internet_area == 'common_areas' ? $t('admin.COMMON_AREAS') : $t('admin.BEDROOMS') }}</h4>
                                    </div>
                                </div>
                            </div><!--bank-account ends here-->
                            
                            <div class="bank-account hotel-general-info clearfix text-left" v-if="hoteldetails.parking_availability == 1">
                                <h2 class="col-md-12">{{$t('admin.PARKING')}}</h2>
                                <div class="col-md-3 lpadding">
                                    <div class="form-group text-left">
                                        <label>{{$t('admin.IS_PARKING_AVAILABLE_TO_GUEST')}}</label>
                                        <h4>{{ hoteldetails.parking_availability == 1 ? $t('admin.YES') : $t('admin.NO') }}</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 lpadding">
                                    <div class="form-group text-left">
                                        <label>{{$t('admin.TYPE_OF_PARKING')}}</label>
                                        <h4>{{ hoteldetails.parking_type == 'private' ? $t('admin.PRIVATE') : $t('admin.PUBLIC') }}</h4>
                                    </div>
                                </div>
                                <div class="col-md-6 lpadding rpadding">
                                    <div class="form-group text-left">
                                        <label>{{$t('admin.GUEST_NEED_RESERVE_PARKING')}}</label>
                                        <h4>{{ hoteldetails.parking_reservation == 1 ? $t('admin.YES') : $t('admin.NO') }}</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 lpadding">
                                    <div class="form-group text-left">
                                        <label>{{$t('admin.PRICE_FOR_PARKING')}}</label>
                                        <h4>{{ hoteldetails.parking_charge == 'free' ? $t('admin.FREE') : $t('admin.DAILY_CHARGE') }}</h4>
                                    </div>
                                </div>
                                <div v-if="hoteldetails.parking_charge != 'free'" class="col-md-3 lpadding">
                                    <div class="form-group text-left">
                                        <label>{{$t('admin.PARKING_CHARGE')}}</label>
                                        <h4 class="label-left">
                                            {{hoteldetails.parking_price ? decimalFormat(hoteldetails.parking_price) : '0.00'}} 
                                            <span class="c_label">{{ data.currency_code }}</span>
                                        </h4>
                                    </div>
                                </div>
                            </div><!--bank-account ends here-->
                            
                            <div class="bank-account hotel-general-info clearfix text-left" v-if="hoteldetails.breakfast_availability == 1">
                                <h2 class="col-md-12">{{$t('admin.BREAKFAST')}}</h2>
                                <div class="col-md-4 lpadding">
                                    <div class="form-group text-left">
                                        <label>{{$t('admin.IS_BREAKFAST_AVAILABLE_TO_GUEST')}}</label>
                                        <h4>{{ hoteldetails.breakfast_availability == 1 ? $t('admin.YES') : $t('admin.NO') }}</h4>
                                    </div>
                                </div>
                                <div class="col-md-4 lpadding">
                                    <div class="form-group text-left">

                                        <label>{{$t('admin.PRICE_FOR_BREAKFAST')}}</label>
                                        <h4 class="label-left" v-if="hoteldetails.breakfast_price">
                                            {{ decimalFormat(hoteldetails.breakfast_price) }}
                                            <span class="c_label">{{ data.currency_code }}</span>
                                        </h4>

                                        <h4 class="label-left" v-else>
                                            0.00
                                            <span class="c_label">{{ data.currency_code }}</span>
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-4 lpadding">
                                    <div class="form-group text-left">
                                        <label>{{$t('admin.WHAT_KIND_BREAKFAST')}}</label>
                                        <div class="hotel-general-info checkbox-list">
                                            <ul class="list-inline" v-if="hoteldetails.breakfast_type_one || hoteldetails.breakfast_type_two || hoteldetails.breakfast_type_three">
                                            <li v-if="hoteldetails.breakfast_type_one">{{ hoteldetails.breakfast_type_one ? $t('admin.CONTINENTAL')+'&nbsp;&nbsp;' : '' }}</li>
                                            <li v-if="hoteldetails.breakfast_type_two">{{ hoteldetails.breakfast_type_two ? $t('admin.AMERICAN')+'&nbsp;&nbsp;' : '' }}</li>
                                            <li v-if="hoteldetails.breakfast_type_three">{{ hoteldetails.breakfast_type_three ? $t('admin.BUFFET')+'&nbsp;&nbsp;' : '' }}</li>
                                            <li v-if="hoteldetails.breakfast_type_four">{{ hoteldetails.breakfast_type_four ? $t('admin.A_LA_CARTE')+'&nbsp;&nbsp;' : '' }}</li>
                                            </ul>
                                            <ul v-else>
                                                <li>{{$t('admin.NA')}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!--bank-account ends here-->
                            
                            <div class="bank-account hotel-general-info clearfix text-left" v-if="hoteldetails.pets_allowed == 1">
                                <h2 class="col-md-12">{{$t('admin.PETS')}}</h2>
                                <div class="col-md-4 lpadding">
                                    <div class="form-group text-left">
                                        <label>{{$t('admin.DO_ALLOW_PETS')}}</label>
                                        <h4>{{ hoteldetails.pets_allowed == 1 ? $t('admin.YES') : $t('admin.NO') }}</h4>
                                    </div>
                                </div>
                                
                                <div class="col-md-4 lpadding">
                                    <div class="form-group text-left">
                                        <label>{{$t('admin.ADDITIONAL_CHARGES_FOR_PETS')}}</label>
                                        <h4>{{ hoteldetails.pets_charge == 1 ? $t('admin.YES') : $t('admin.NO') }}</h4>
                                    </div>
                                </div>

                                <div class="col-md-4 lpadding" v-if="hoteldetails.pets_charge == 1">
                                    <div class="form-group text-left">

                                        <label>{{$t('admin.PETS_CHARGES')}}</label>
                                        <h4 class="label-left">
                                            {{ hoteldetails.pets_price ? decimalFormat(hoteldetails.pets_price ) : '0.00' }}
                                            <span class="c_label">{{ data.currency_code }}</span>
                                        </h4>

                                    </div>
                                </div>
                            </div><!--bank-account ends here-->
                            
                            <div v-if="amenity_collection.spoken_language !== undefined" class="bank-account hotel-general-info clearfix text-left">
                                <h2 class="col-md-12">{{$t('admin.LANGUAGE_SPOKEN_BY_STAFF')}}</h2>
                                <div class="col-md-12 lpadding">
                                    <div class="form-group text-left">
                                        <!-- <label>Languages Spoken by your staff</label> -->
                                        <div class="checkbox-list">
                                            <ul class="list-inline">
                                                
                                                <li v-for="language in amenity_collection.spoken_language">
                                                    {{  language['amenity_value'] | amenityValue }}
                                                </li>
                                                <li v-if="amenity_collection.spoken_language==undefined">{{$t('admin.NA')}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                            </div><!--bank-account ends here-->
                            
                            <div v-if="amenity_collection.sports_activities !== undefined" class="bank-account hotel-general-info clearfix text-left">
                                <h2 class="col-md-12">{{$t('admin.ACTIVITIES')}}</h2>
                                <div class="col-md-12 lpadding">
                                    <div class="form-group text-left">
                                        <!-- <label>Activities</label> -->
                                        <div class="checkbox-list">
                                            <ul class="list-inline">
                                               <li v-for="sports in amenity_collection.sports_activities">
                                                    {{  sports['amenity_value']| amenityValue }}
                                                </li>
                                                <li v-if="amenity_collection.sports_activities==undefined">{{$t('admin.NA')}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                            </div><!--bank-account ends here-->
                            
                            <div v-if="amenity_collection.food_drinks !== undefined" class="bank-account hotel-general-info clearfix text-left">
                                <h2 class="col-md-12">{{$t('admin.FOOD_AND_DRINK')}}</h2>
                                <div class="col-md-12 lpadding">
                                    <div class="form-group text-left">
                                        <div class="checkbox-list">
                                            <ul class="list-inline">
                                                <li v-for="food in amenity_collection.food_drinks">
                                                    {{ food['amenity_value'] | amenityValue}}
                                                </li>
                                                <li v-if="amenity_collection.food_drinks==undefined">{{$t('admin.NA')}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                            </div><!--bank-account ends here-->
                            
                            <div class="bank-account hotel-general-info clearfix text-left" v-if="amenity_collection.cleaning_services !== undefined">
                                <h2 class="col-md-12">{{$t('admin.CLEANING_SERVICES')}}</h2>
                                <div class="col-md-12 lpadding">
                                    <div class="form-group text-left">
                                        <!-- <label>Cleaning Services</label> -->
                                        <div class="checkbox-list">
                                            <ul class="list-inline">
                                                <li v-for="clean_service in amenity_collection.cleaning_services">
                                                    {{ clean_service['amenity_value'] | amenityValue }}
                                                </li>
                                                <li v-if="amenity_collection.cleaning_services==undefined">{{$t('admin.NA')}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                            </div><!--bank-account ends here-->
                            
                            <div v-if="amenity_collection.business_facilities !== undefined" class="bank-account hotel-general-info clearfix text-left">
                                <h2 class="col-md-12">{{$t('admin.BUSINESS_FACILITIES')}}</h2>
                                <div class="col-md-12 lpadding">
                                    <div class="form-group text-left">
                                        <!-- <label>Business Facilities</label> -->
                                        <div class="checkbox-list">
                                            <ul class="list-inline">
                                                <li v-for="business_facilities in amenity_collection.business_facilities">
                                                    {{  business_facilities['amenity_value'] | amenityValue }}
                                                </li>
                                                <li v-if="amenity_collection.business_facilities==undefined">{{$t('admin.NA')}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                            </div><!--bank-account ends here-->
                             <div v-if="amenity_collection.hotel_accessibility !== undefined" class="bank-account hotel-general-info clearfix text-left">
                                <h2 class="col-md-12">{{$t('admin.HOTEL_ACCESSIBILITY')}}</h2>
                                <div class="col-md-12 lpadding">
                                    <div class="form-group text-left">
                                        <!-- <label>Business Facilities</label> -->
                                        <div class="checkbox-list">
                                            <ul class="list-inline">
                                                <li v-for="hotel_accessibility in amenity_collection.hotel_accessibility">
                                                    {{  hotel_accessibility['amenity_value'] | amenityValue }}
                                                </li>
                                                <li v-if="amenity_collection.hotel_accessibility==undefined">{{$t('admin.NA')}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                            </div><!--bank-account ends here-->
                            <div class="bank-account hotel-general-info clearfix text-left">
                                <h2 class="col-md-12">{{$t('admin.NON_SMOKING_POLICY')}}</h2>
                                <div class="col-md-12 lpadding">
                                    <div class="form-group text-left">
                                        <!-- <label>Business Facilities</label> -->
                                        <div class="hotel-tex-box">
                                            <div class="label-tax">
                                                <h4 class="option">{{ data.non_smoking == 1 ? $t('admin.YES') :$t('admin.NO') }}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

// import mapLocationSelector from '@/components/GoogleMapsLocationSelector.vue'
import { HotelDetails } from '@/mixins/hotel-details.js'; 

    export default {

        name:'Policy',

        // components: {  mapLocationSelector },

        data() { 
            return {
                data: '',
                amenity_collection:'',
                hotelamenitydetail:'',
                hoteldetails:''

            }             
        },

        mounted: function () {
            this.$nextTick(function () {
                this.$store.commit('setLanguage', this.language);
                if (this.domain == 'group') {
                	$("body").append("<style>* { font-family: " + this.domainDetails.font + " !important;}</style>");
                } else if (this.domainDetails) {
                	$("body").append("<style>* { font-family: " + this.domainDetails.hotel_font + " !important;}</style>");
                	this.getPolicy();
                }
                if(this.hotelInfo) this.getPolicy();
            });
        },

        created() {
            this.$store.commit('setActivePage', 'hotel');
        },
        
        methods: {
            getPolicy(){
                this.$axios.post('/'+ this.language +'/get-hotel-policy', {'id': this.hotelInfo.id}).then((response) => {
                    if (response.data.data) {
                        let result = response.data.data;
                        this.hoteldetails = result.hoteldetails;
                        this.data = result;
                        this.hotelamenitydetail = result.hotelamenitydetail;
                        this.amenity_collection = _.groupBy(this.hotelamenitydetail,'amenity_type')
                    } 
                }).catch(error => console.log(error));
            },
            decimalFormat(value){
                return parseFloat(value).toFixed(2);
            }
        },

        computed: {
            language() {
                return this.$store.getters.getLanguage;
            },
            hotelInfo() {
                return this.$store.getters.hotel;
            },
            domainDetails() {
               return this.$store.getters.domainDetails;
            },
            domain() {
              return this.$store.getters.domain;
            }
        },
        watch: {
            language() {
                this.getPolicy();
            }
        },

        filters:{ 
            
            amenityValue: function(str){
                var str1 = _.split(str,'_');
                if(str1.length==2){
                    return _.capitalize(_.startCase(str1[0]))+' : '+str1[1];
                }else{
                    return  _.capitalize(_.startCase(str1[0]));
                }
            }
        }
    }
</script>

