<template>
	<div>
		<!-- <form action="/logout" method="POST" > -->
			<!-- <input type="hidden" name="_token" :value="csrf" > -->
			<a href="javascript:void(0)" @click="logout">
				{{ $t('message.LOGOUT') }}
			</a>
		<!-- </form> -->
	</div>
</template>

<script>
	import Vue from 'vue';
	let bus = new Vue()
	import { serverBus } from '../main.js';

    export default {
        data() {
            return { 
            }
		},
		
		methods:{
			logout(){
            	serverBus.$emit('logout' , 'logout');
				this.$store.commit('resetState');
            	this.$store.commit('setActivePage', 'home');
				this.$router.push({name: 'welcome'});
			}
		}
    }

</script>