<template>
    <section id="main" class="main">
        <section class="banner inner_banner" :style="pcUrl">
                
        </section>
             <section class="hotel_contact_detail terms_condition mt-minus-85">
                 <div class="container">
                     <div class="row">
                         <div class="col-12">
                             <div class="whitePanel px-50">
                                <h2>Privacy Policy</h2>
                                <div class="t_c p_p">
                                  <iframe :src="data" width="100%" height="800"></iframe>
                                </div>
                             </div>                             
                         </div>
                     </div>
                 </div>
             </section>
    </section>
</template>

<script>

import { HotelDetails } from '@/mixins/hotel-details.js'; 
import { Constants } from '@/config/constants.js'

    export default {

        name:'Policy',


        data() { 
            return {
                data: '',
                hotel:{}
            }             
        },

        mounted: function () {
            this.$nextTick(function () {
                this.hotel = this.$store.getters.hotel;
                this.$store.commit('setLanguage', this.language);
                this.getPolicy();
                if (this.domain == 'group') $("body").append("<style>* { font-family: " + this.domainDetails.font + " !important;}</style>");
                else if (this.domainDetails) $("body").append("<style>* { font-family: " + this.domainDetails.hotel_font + " !important;}</style>");
            });
        },

        created() {
            this.$store.commit('setActivePage', 'hotel');
        },
        
        methods: {
            getPolicy(){
                this.$axios.post('/'+ this.language +'/get-page', {'type': 'privacy-policy'}).then((response) => {
                    if (response.data.data) {
                        let result = response.data.data;
                        this.data = Constants.filePath + '/'+Object.values(result)[0];
                    } 
                }).catch(error => console.log(error));
            }
        },

        computed: {   
        pcUrl() {
                if(this.hotel) {
                  let website = this.hotel.website;
                  var url = 'background:url(' + Constants.filePath + '/uploads/';
                  if (this.hotel !== null) url += this.hotel.primary_image;
                  //url += ') center center / cover no-repeat;';
                  url += ');';
                  return url;
              }

              return '';
          },         
            language() {
                return this.$store.getters.getLanguage;
            },
            domainDetails() {
               return this.$store.getters.domainDetails;
            },
            domain() {
              return this.$store.getters.domain;
            },
            url(){
                
                var url = Constants.filePath + '/uploads/policy-doc/PrivateDeal-Privacy-Policy-WHITE.pdf';

                return url;
            }

        },

        watch: {
            language() {
                this.getPolicy();
            }
        }
    }
</script>

