<template>
    <div>
        <div id="loader" style="display: none;"></div>
        <div class="modal signUp-modal modal-form fade" id="registermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header flex-wrap">
                  <h3 class="modal-title">Create Account</h3>
                  <p class="w-100">Already have an account? <a href="javascript:void(0)" @click="onLogin">Sign In</a></p>
                  <button type="button" class="close modal-close"  @click="closeRegistrationModal"> 
                    <img src="~/assets/img/cross-out.svg" alt="">
                  </button>
                </div>
                <div class="modal-body">
                    <div class="floating-label">                                      
                        <form @submit.prevent="register(registerData)" data-vv-scope="registerData">    
                        <div v-if="showFirstRegister">                
                            <div class="form-group">                                        
                                <input type="text" v-validate="'required|email'" @blur="checkEmail()" @input="validateEmail()" maxlength="100" name="email" v-model="registerData.email"  id="email_field" data-vv-id="email_field">
                                <label for="email_field" class="form-label">{{$t('message.EMAIL_ID')+'*'}}</label>
                                <span class="error" v-if="errors.has('registerData.email') && intial == 1">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</span>
                                <span class="error" v-if="errors.has('registerData.email') && intial == 2">{{ $t('message.WRONG_EMAIL')}}</span>
                                <span class="error" v-if="errors.has('registerData.email') && intial == 3">{{ $t('message.ALREADY_USED_EMAIL')}}</span>
                            </div>
                            <div class="w-46 d-flex flex-wrap justify-content-md-between">
                                <div class="form-group">                                        
                                    <input type="text" v-validate="'required|regex:^([^0-9]+)$'" v-model="registerData.first_name" name="first_name" maxlength="30" id="first_name" >
                                    <label for="first_name" class="form-label">{{$t('message.FIRST_NAME')+'*'}}</label>
                                    <span class="error" v-if="errors.has('registerData.first_name')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</span>
                                </div>
                                <div class="form-group">                                        
                                    <input type="text"  v-validate="'required|regex:^([^0-9]+)$'" v-model="registerData.last_name" name="last_name" maxlength="30">
                                    <label for="last_name" class="form-label">{{$t('message.LAST_NAME')+'*'}}</label>
                                    <span class="error" v-if="errors.has('registerData.last_name')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</span>
                                </div>
                            </div>
                            <div class="w-46 d-flex flex-wrap justify-content-md-between">
                                <div class="form-group pass-eye has-error">
                                    <input type="password" name="password" id="password" v-validate="'required|min:6'" v-model="registerData.password">
                                    <label for="password" class="form-label">{{$t('message.PASSWORD')+'*'}}</label>
                                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                    <!-- <i class="fa fa-eye" aria-hidden="true"></i>-->
                                    <span class="error" v-if="errors.has('registerData.password')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</span>
                                </div>
                                <div class="form-group pass-eye">
                                    <input type="password" v-validate="'required'" maxlength="15" id="password_confirmation" name="password_confirmation" v-model="registerData.password_confirmation">
                                    <label for="password_confirmation" class="form-label">{{$t('message.CONFIRM_PASSWORD')+'*'}}</label>
                                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                    <!-- <i class="fa fa-eye" aria-hidden="true"></i>-->
                                    <span class="error" v-if="errors.has('registerData.password_confirmation')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</span>                                           
                                </div>
                            </div>
                            <div class="form-group d-flex flex-wrap align-items-sm-center justify-content-md-between justify-content-center">
                                <input type="button" value="Get Started" @click="checkFirstRegister(registerData)" class="btn"/>
                            </div>
                            </div>  

                                 <div v-if="!showFirstRegister">                 
                            <div class="w-46 d-flex flex-wrap justify-content-md-between">
                                <div class="form-group d-flex align-items-end flex-wrap"> 
                                    <div class="d-flex w-100 align-items-end">
                                        <div class="guestCIDiv">
                                            <div class="guestIDiv position-relative">
                                                <img src="#" class="countryIcon registerIconImg">
                                                <select v-model="registerData.phone_code" class="guestCCSelect" @change="selectDropDownCCode(registerData.phone_code)">
                                                    <option v-for="option in registerData.cccode" v-bind:value="option.country_code">
                                                        <span>{{option.name}}</span>&nbsp;&nbsp;
                                                        <span>+{{option.country_code}}</span>
                                                    </option>
                                                </select>
                                                <i class="glyphicon glyphicon-chevron-down dropdown_down" ></i>
                                                <i class="glyphicon glyphicon-chevron-up dropdown_up" ></i>
                                            </div>
                                            <div class="divCCPlus">				
                                                <!--<span class="input guestCCInput" role="textbox" v-model="countryCode"  name="code" @input="validateCcode()" @blur="checkCCode(''+countryCode)" contenteditable>+{{countryCode}}</span> -->
                                                <span class="spanCCPlus">+</span>
                                                <input v-model="countryCode" type="text" name="code" class="guestCCInput" @input="validateCcode()" @blur="checkCCode(''+countryCode)"> 
                                            </div>    
                                        </div>
                                        <div class="m-number position-relative">
                                            <input type="text" id="mobile_no" v-model="registerData.contact_number" @blur="checkNumber()" @input="validateEmail()" name="contact_number" v-validate="'required|min:4|max:15'" class="form-control registerContNumber" maxlength="15">
                                            <label for="mobile_no" class="form-label">{{$t('message.MOBILE_NUMBER')}} *</label>						
                                        </div>
                                    </div>
                                    <span class="error" v-if="errors.has('registerData.contact_number') &&  errors.has('registerData.code')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</span>
                                    <span class="error" v-else-if="errors.has('registerData.contact_number') && intial==4">{{ $t('message.INVAID_PHONE')}}</span>
                                    <span class="error" v-else-if="errors.has('registerData.code') && intial==5">{{ $t('message.INVAID_COUNTRY_CODE')}}</span>
                                    <span class="error" v-else-if="errors.has('registerData.contact_number')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</span>
                                    <span class="error" v-else-if="errors.has('registerData.code')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</span>
                                </div>  
                                <div class="form-group">                                        
                                    <!--<input type="text" name="dob" id="dob">-->
                                    <date-picker class="" @change="dob" data-vv-name="registerData.birthday"
                                     v-validate="'date_format:{YYYY-MM-DD}'" 
                                     :date="birthday" 
                                     :option="option" :limit="limit"></date-picker>
                                    <!--<label for="dob" class="form-label">Date of birth *</label>-->
                                    <span class="error" v-if="errors.has('registerData.birthday')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</span>
                                </div>
                            </div>
                            <div class="form-group">                                        
                                <textarea name="address" class="w-100" v-model="registerData.address" v-validate="'required'"></textarea>
                                <label for="address" class="form-label">{{$t('message.ADDRESS')+'*'}}</label>
                                <span class="error" v-if="errors.has('registerData.address')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</span>
                            </div>
                            <div class="form-group">                                        
                                <textarea name="address1" class="w-100" v-model="registerData.address1" v-validate="'required'"></textarea>
                                <label for="address1" class="form-label">{{$t('message.ADDRESS1')+'*'}}</label>
                                <span class="error" v-if="errors.has('registerData.address1')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</span>
                            </div>
                            <div class="w-46 d-flex flex-wrap justify-content-md-between">
                                <div class="form-group">                                        
                                    <input type="text" name="zip" v-validate="'required|alpha_num'" v-model="registerData.zip">
                                    <label for="zip" class="form-label">{{$t('message.ZIP')+'*'}}</label>
                                    <span class="error" v-if="errors.has('registerData.zip')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</span>
                                </div>
                                <div class="form-group">                                        
                                    <input type="text" name="city_name" v-validate="'required|regex:^([^0-9]+)$'" v-model="registerData.city_name">
                                    <label for="city_name" class="form-label">{{$t('message.CITY')+'*'}}</label>
                                    <span class="error" v-if="errors.has('registerData.city_name')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</span>
                                </div>
                            </div>
                            <div class="w-46 d-flex flex-wrap justify-content-md-between">
                                <div class="form-group">
                                    <select class="w-100 bor-bot" id="country_id" name="country_id" v-model="registerData.country_id" v-validate="'required'"  @change="cityDropdown">
                                        <option value="">{{ $t('message.SELECT_COUNTRY') }}*
                                        </option>
                                         <option v-for="option in countries" v-bind:value="option.country_id">
                                            {{ option.name }}
                                        </option>                                       
                                    </select>
                                    <!--<div class="autocomplete w-100">
                                        <input id="country" type="text" name="myCountry">
                                        <label for="country" class="form-label">Country *</label>
                                    </div>-->
                                    <span class="error" v-if="errors.has('registerData.country_id')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</span>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="is_save_card_data" id="box-29" v-model="registerData.is_save_card_data"  true-value="1" false-value="0"> 
                                    <label class="custom-control-label" for="box-29">{{ $t('message.SAVE_CREDIT_CARD')}}.</label>
                                </div>
                                <span class="error" v-if="errors.has('registerData.is_save_card_data')"></span>
                            </div>
                            <div class="form-group mb-2">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="marketing_promotion" id="box-33" v-model="registerData.marketing_promotion" true-value="1">
                                    <label class="custom-control-label" for="box-33">{{ $t('message.MARKETING_TERM')}}</label>
                                </div>
                                <span class="error" v-if="errors.has('registerData.marketing_promotion')"></span>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="term_condition" v-validate="'required'" id="box-30" v-model="registerData.term_condition" true-value="1" false-value="" >
                                    <label class="custom-control-label" for="box-30" v-html="$t('message.REGISTER_TERM')"></label>
                                </div>
                                <span class="error" v-if="errors.has('registerData.term_condition')">{{ $t('message.AGREE_TERM_CONDITION')}}</span>
                            </div>
                            <div class="form-group d-flex flex-wrap align-items-sm-center justify-content-md-between justify-content-center">
                                <button type="submit" class="btn btn-registration disable">{{ $t('message.SIGN_UP') }}</button>
                            </div>

                        </div>
                        </form>
                    </div>
                </div>
              </div>
            </div>
          </div>
        
  <!--  <div class="modal fade registration" id="registermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <button type="button" class="close" @click="closeRegistrationModal"><span aria-hidden="true">&times;</span></button>
                        <img src="../assets/login-img.png" alt="" title=""/>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="register(registerData)" data-vv-scope="registerData">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">

                                    <span class="gender">
                                       
                                           <div class="flx1 titleMainDiv" id="" v-on-click-outside="closeTitleList">
                                    <div class="ui-widget dsp-flx algnItm">
                                        <div class="titleMenu" >
                                            <input readonly="readonly" id="titles" autocomplete="off" v-model="titleName" name="title" @focus="titleList()" class="inputTitle">
                                            <i class="glyphicon glyphicon-chevron-down dropdown_down"  v-on:click="titleData()"></i>
                                            <i class="glyphicon glyphicon-chevron-up dropdown_up" v-on:click="titleData()"></i>

                                            <ul  v-if="hasTitle" class="ui-autocomplete title_ul">
                                                 <div class="hotel-inner" >
                                                    <li @click="selectedTitle('MR'),closeTitleList()" class="title_li title_li_selected" v-if="titleName=='Mr'">
                                                        <div class=" title_li_div"><span class="title_li_div_span">{{$t('message.MR') }}</span></div>
                                                    </li>
                                                    <li @click="selectedTitle('MR'),closeTitleList()" class="title_li" v-else>
                                                        <div class=" title_li_div"><span class="title_li_div_span">{{$t('message.MR') }}</span></div>
                                                    </li>
                                                    <li @click="selectedTitle('MRS'),closeTitleList()"  class="title_li title_li_selected" v-if="titleName=='Mrs'">
                                                        <div class=" title_li_div"><span class="title_li_div_span">{{$t('message.MRS') }}</span></div>
                                                    </li>
                                                    <li @click="selectedTitle('MRS'),closeTitleList()"  class="title_li" v-else>
                                                        <div class=" title_li_div"><span class="title_li_div_span">{{$t('message.MRS') }}</span></div>
                                                    </li>
                                                    <li @click="selectedTitle('MS'),closeTitleList()" class="title_li title_li_selected" v-if="titleName=='Ms'">
                                                        <div class=" title_li_div"><span class="title_li_div_span">{{$t('message.MS')}}</span></div>
                                                    </li>
                                                    <li @click="selectedTitle('MS'),closeTitleList()"  class="title_li" v-else>
                                                        <div class=" title_li_div"><span class="title_li_div_span">{{$t('message.MS')}}</span></div>
                                                    </li>
                                                    <li  @click="selectedTitle('DR'),closeTitleList()" class="title_li title_li_selected" v-if="titleName=='Dr'">
                                                        <div class=" title_li_div"><span class="title_li_div_span">{{$t('message.DR')}}</span></div>
                                                    </li>
                                                    <li  @click="selectedTitle('DR'),closeTitleList()" class="title_li" v-else>
                                                        <div class=" title_li_div"><span class="title_li_div_span">{{$t('message.DR')}}</span></div>
                                                    </li>
                                                    <li @click="selectedTitle('PROF'),closeTitleList()"  class="title_li title_li_selected" v-if="titleName=='Prof'">
                                                        <div class=" title_li_div"><span class="title_li_div_span">{{$t('message.PROF')}}</span></div>
                                                    </li>
                                                    <li @click="selectedTitle('PROF'),closeTitleList()"  class="title_li" v-else>
                                                        <div class=" title_li_div"><span class="title_li_div_span">{{$t('message.PROF')}}</span></div>
                                                    </li>
                                                </div>
                                            </ul>    
                                        </div> 
                                       
                                    </div>
                                                     
                                </div>

                                        
                                    </span>

                                    <input type="text" v-validate="'required|regex:^([^0-9]+)$'" v-model="registerData.first_name" name="first_name" maxlength="30" class="form-control fname" id="first_name" :placeholder="$t('message.FIRST_NAME')+'*'" style="padding-left: 90px !important;">
                                    
                                    <p class="text-danger" v-if="errors.has('registerData.first_name')" style="z-index: inherit !important; padding-left: 90px !important;">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                                    <img src="../assets/user-icon.png" alt="" title=""/>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" v-validate="'required|regex:^([^0-9]+)$'" v-model="registerData.last_name" name="last_name" maxlength="30" class="form-control" :placeholder="$t('message.LAST_NAME')+'*'">
                                    <p class="text-danger" v-if="errors.has('registerData.last_name')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                                    <img src="../assets/user-icon.png" alt="" title=""/>
                                </div>
                            </div>
                          
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <input type="email" v-validate="'required|email'" @blur="checkEmail()" @input="validateEmail()" maxlength="100" name="email" v-model="registerData.email" class="form-control" id="email_field" data-vv-id="email_field" :placeholder="$t('message.EMAIL_ID')+'*'">
                                    <p class="text-danger" v-if="errors.has('registerData.email') && intial == 1" style="z-index: inherit !important;">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                                    <p class="text-danger" v-if="errors.has('registerData.email') && intial == 2" style="z-index: inherit !important;">{{ $t('message.WRONG_EMAIL')}}</p>
                                    <p class="text-danger" v-if="errors.has('registerData.email') && intial == 3" style="z-index: inherit !important;">{{ $t('message.ALREADY_USED_EMAIL')}}</p>
                                    <img src="../assets/email-icon.png" alt="" title=""/>

                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <input type="password" name="password" v-validate="'required|min:6'" v-model="registerData.password" class="form-control" :placeholder="$t('message.PASSWORD')+'*'">
                                    <p class="text-danger" v-if="errors.has('registerData.password')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                                    <img src="../assets/pass-icon.png" alt="" title=""/>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <input type="password" v-validate="'required'" maxlength="15" name="password_confirmation" v-model="registerData.password_confirmation"  class="form-control" :placeholder="$t('message.CONFIRM_PASSWORD')+'*'">
                                    <p class="text-danger" v-if="errors.has('registerData.password_confirmation')" style="z-index: inherit !important;">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                                    <img src="../assets/pass-icon.png" alt="" title=""/>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">                
                                    
                                    <date-picker class="" @change="dob" data-vv-name="registerData.birthday"
                                     v-validate="'date_format:{YYYY-MM-DD}'" 
                                     :date="birthday" 
                                     :option="option" :limit="limit"></date-picker>

                                     <p class="text-danger" v-if="errors.has('registerData.birthday')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                                    <img src="../assets/dob-icon.png" alt="" title=""/>
                                </div>
                            </div>
                            
                            <div class="col-md-6 col-xs-12">
                                <div  class="form-group">
                                   <label>
                                    <select id="country_id"  class="form-control" name="country_id" v-model="registerData.country_id" v-validate="'required'"  @change="cityDropdown">
                                        <option value="">{{ $t('message.SELECT_COUNTRY') }}*
                                        </option>
                                         <option v-for="option in countries" v-bind:value="option.country_id">
                                            {{ option.name }}
                                        </option>
                                       
                                    </select>
                                    </label>
                                    <p class="text-danger" v-if="errors.has('registerData.country_id')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                                    <img src="../assets/country-icon.png" alt="" title=""/>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group registerCCodeMainDiv">
                                    <div class="registerCIDiv">
                                      <div class="registerIDiv">
                                      <img src="#" class="countryIcon registerIconImg">
                                        <select v-model="registerData.phone_code" class="registerCCSelect" @change="selectDropDownCCode(registerData.phone_code)">
                                            <option v-for="option in registerData.cccode" v-bind:value="option.country_code">
                                                <span>{{option.name}}</span>&nbsp;&nbsp;
                                                <span>+{{option.country_code}}</span>
                                            </option>
                                        </select>

                                       <i class="glyphicon glyphicon-chevron-down dropdown_down" ></i>
                                       <i class="glyphicon glyphicon-chevron-up dropdown_up" ></i>
                                      </div>
                                      <div class="divCCPlus">
                                          <span class="spanCCPlusModel">+</span>
                                          <input v-model="countryCode" type="text" name="code" class="registerCCInput" @input="validateCcode()" @blur="checkCCode(''+countryCode)">
                                      </div>
                                    </div>
                                    
                                    <div class="registerMobMainDiv">
                                      <input type="text" v-model="registerData.contact_number" @blur="checkNumber()" @input="validateEmail()" name="contact_number" v-validate="'required|min:4|max:15'" class="form-control registerContNumber" maxlength="15" :placeholder="$t('message.MOBILE_NUMBER')+'*'" >
                                      
                                      <p class="text-danger registerTextDangerCond" v-if="errors.has('registerData.contact_number') &&  errors.has('registerData.code')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                                      <p class="text-danger registerTextDanger" v-else-if="errors.has('registerData.contact_number') && intial==4">{{ $t('message.INVAID_PHONE')}}</p>
                                      <p class="text-danger registerTextDangerCond" v-else-if="errors.has('registerData.code') && intial==5">{{ $t('message.INVAID_COUNTRY_CODE')}}</p>
                                      <p class="text-danger registerTextDanger" v-else-if="errors.has('registerData.contact_number')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                                      <p class="text-danger registerTextDangerCond" v-else-if="errors.has('registerData.code')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                                  </div>
                                </div>
                            </div>

                            <div class="col-md-12  col-xs-12">
                                <div class="form-group">
                                    
                                    <textarea class="form-control" name="address" v-model="registerData.address" v-validate="'required'" :placeholder="$t('message.ADDRESS')+'*'"></textarea>

                                    <p class="text-danger" v-if="errors.has('registerData.address')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                                    <img src="../assets/address-icon.png" alt="" title=""/>
                                </div>
                            </div>

                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" name="zip" v-validate="'required|alpha_num'" v-model="registerData.zip" class="form-control" :placeholder="$t('message.ZIP')+'*'">
                                    <p class="text-danger" v-if="errors.has('registerData.zip')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                                    <img src="../assets/pincode-icon.png" alt="" title=""/>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" name="city_name" v-validate="'required|regex:^([^0-9]+)$'" v-model="registerData.city_name" class="form-control" :placeholder="$t('message.CITY')+'*'">
                                    <p class="text-danger" v-if="errors.has('registerData.city_name')">{{ $t('message.THIS_FILED_IS_REQUIRED')}}</p>
                                    <img src="../assets/img/city-icon.png" alt="" title=""/>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group mb0">
                                    <div class="register-checkbox mb0 d-flex">
                                        <div>
                                          <input type="checkbox" name="is_save_card_data" id="box-29" v-model="registerData.is_save_card_data"  true-value="1" false-value="0" >
                                        </div>
                                        <div>
                                          <label for="box-29"> <span>{{ $t('message.SAVE_CREDIT_CARD')}}.</span></label>
                                        </div>
                                    </div>
                                    <p class="text-danger" v-if="errors.has('registerData.is_save_card_data')"></p>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group mb0">
                                    <div class="register-checkbox mt0 d-flex">
                                          <div><input type="checkbox" name="marketing_promotion" id="box-33" v-model="registerData.marketing_promotion" true-value="1"></div>
                                          <div><label for="box-33"><span>{{ $t('message.MARKETING_TERM')}}</span></label></div>
                                    </div>
                                    <p class="text-danger" v-if="errors.has('registerData.marketing_promotion')"></p>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group mb0">
                                    <div class="register-checkbox mt0 d-flex">
                                          <div>
                                            <input type="checkbox" name="term_condition" v-validate="'required'" id="box-30" v-model="registerData.term_condition" true-value="1" false-value="" >
                                          </div>
                                          <div>
                                            <label for="box-30"> <span v-html="$t('message.REGISTER_TERM')"></span></label>
                                          </div>
                                    </div>
                                    <p class="text-danger" v-if="errors.has('registerData.term_condition')">{{ $t('message.AGREE_TERM_CONDITION')}}</p>
                                </div>
                            </div>                           
                            <button type="submit" class="btn btn-registration disable">{{ $t('message.SIGN_UP') }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</template>

<script>
import DatePicker from 'vue-datepicker'
// import axios from 'axios'
import { parseNumber, formatNumber, AsYouType } from 'libphonenumber-js'
import { HotelDetails } from '@/mixins/hotel-details.js';
import { mixin as onClickOutside } from 'vue-on-click-outside'

    export default {

        components: {
            DatePicker
        },

        props:['data'],

        mixins: [HotelDetails,onClickOutside],

        data() { 
            return {   
              countries:[],
              intial:1,
              account_created:false,
              countryCode:'',
              titleName:'Mr',
              isSelected:'',
              optionGroups: [],
              items:[],
              showCountrylist: false,
              hasItems:false, 
              hasTitle:false,            
              registerData: {
                  first_name: '',
                  middle_name: '',
                  last_name: '',
                  email: '',
                  password_confirmation: '',
                  password: '',
                  //gender: 'Male',
                  phone_code:'',
                  contact_number: '',
                  address: '',
                  city_id: '',
                  city_name: '',
                  country_id: '',
                  zip: '',
                  is_save_card_data:0,
                  term_condition:'',
                  marketing_promotion:'0',
                  title:'MR'
              },

              cities:'',                 
              phone_code:'',
              
              birthday: {
                  time: ''
              },

              limit: [{
                  type:'fromto',
                  from:'',
                  to:''
              }],

              option: {
                type: 'day',
                week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
                month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                format: 'YYYY-MM-DD',
                placeholder: this.$t('message.DATE_OF_BIRTH'),
                inputStyle: {
                  'display': 'inline-block',
                  'padding': '6px',
                  'line-height': '22px',
                  'font-size': '16px',
                  'border': '2px solid #fff',
                  'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
                  'border-radius': '2px',
                  'color': '#5F5F5F'
                },
                color: {
                  header: '#ccc',
                  headerText: '#f00'
                },
                buttons: {
                  ok: 'Ok',
                  cancel: 'Cancel'
                },
                overlayOpacity: 0.5, // 0.5 as default
                dismissible: true // as true as default
              },
              timeoption: {
                type: 'min',
                week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
                month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                format: 'YYYY-MM-DD'
              },
              showFirstRegister: true
          }
        },

        mounted: function () {
            this.$nextTick(function () {
                 $('#loader').hide();
                $('#registermodal').modal('show');

                this.limit[0].to = moment().subtract(18, "years").format('YYYY-MM-DD');
            }); 

            this.$nextTick(function () {
                $('#loader').hide();
                this.countryCodeList();

                $('[data-toggle="tooltip"]').tooltip()
        
            });

            this.$nextTick(function () {
          $('#loader').hide();
        this.getCountryCode();

  $('[data-toggle="tooltip"]').tooltip()
        
        });
            
        },

        created() {
            let apiURL = this.language ? '/'+this.language+'/countries' : '/en/countries'; 
            this.$axios.get(apiURL)
            .then((response) => {
                this.countries = response.data.data;
            });
        },
        watch: {
        countryCode: function (newKey) {
            if(this.isSelected!==newKey){
                if( newKey.length > 0 ){
                    this.countryCodeList();
                } else {
                    this.items = this.optionGroups;
                }
            }else{
                this.items = this.optionGroups;
            }        
        }
    },

        methods: { 

            register(scope) {
              var vm =this;
                this.$validator.validateAll('registerData').then((result) => {
                    if (! result) {
                        return;
                    } else {
                       vm.registerUser();
                    }
                });
            },

          checkEmail(){

            if(this.registerData.email){
              this.$axios.get('/verify-email/'+this.registerData.email)
              .then((response) => {
                //if(response.data.data.status != 'valid'){
                  if(response.data.data == 'unknown'){
                    this.errors.add({
                                     id: $('[name=email]').attr('data-vv-id'),
                                     field: 'email',
                                     msg: this.$t('message.WRONG_EMAIL'),
                                     rule: 'required',
                                     scope: 'registerData'
                                   });
                    this.intial = 2;
                    this.registerData.email = '';
                  }else{
                    $('.disable').removeAttr('disabled');
                    this.errors.remove('email','registerData');
                  }
              });
            }else{
            this.intial = 1;
          }
          },

            checkNumber() {
              const asYouType = new AsYouType()
              let number = this.registerData.contact_number;
              asYouType.input(this.countryCode+this.registerData.contact_number);
              //this.registerData.contact_number = asYouType.partially_populated_template;
              this.registerData.contact_number = new AsYouType(asYouType.metadata._country).input(this.registerData.contact_number);
              // var country_code = this.countryCode;
          // var result = country_code.split("+");
          // if(!result[1]){
         //        this.countryCode = result[0];
         //      }else{
          //  this.countryCode = result[1];
          // }
          if(!this.countryCode){
            this.errors.remove('contact_number','registerData');
            this.errors.add({
                                 id: $('[name=code]').attr('data-vv-id'),
                                 field: 'code',
                                 msg: this.$t('message.INVAID_PHONE'),
                                 rule: 'required',
                                 scope: 'registerData'
                               });
            this.hasItems = false;
            this.registerData.contact_number = '';
          }else if(number){
            this.errors.remove('code','registerData');
              this.registerData.phone_code = this.countryCode;
              this.$axios.get('/verify-number/'+this.registerData.phone_code+number)
                .then((response) => {
                  if(response.data.data.valid == false){
                  // this.countryCode = '+'+this.countryCode;
                    this.errors.add({
                                     id: $('[name=contact_number]').attr('data-vv-id'),
                                     field: 'contact_number',
                                     msg: this.$t('message.INVAID_PHONE'),
                                     rule: 'required',
                                     scope: 'registerData'
                                   });
                    this.intial = 4;
                     this.hasItems = false;
                     this.registerData.contact_number = '';
                     //this.errors.add('contact_number',this.$t('message.INVAID_PHONE'),'required','registerData');
                  }else{
                 // this.countryCode = '+'+this.countryCode;
                 $('.disable').removeAttr('disabled');
                    this.errors.remove('contact_number','registerData');
                    this.hasItems = false;
                  }
                });
                }else{
            this.errors.add({
                                     id: $('[name=contact_number]').attr('data-vv-id'),
                                     field: 'contact_number',
                                     msg: this.$t('message.INVAID_PHONE'),
                                     rule: 'required',
                                     scope: 'registerData'
                                   });
                    this.intial = 1;
        }
            },
            registerUser() {
                
                let apiURL = this.language ? '/register/' + this.language : '/register'; 
                $('#loader').show();
                this.$axios.post(apiURL, this.registerData)
                .then((response) => {
                    $('#loader').hide();
                    $('#registermodal').modal('hide');
                    this.$emit('close');
                })
                .catch((error) => {
                    $('#loader').hide();
                    var laravelError = error.response.data.error;
                    if(_.isPlainObject(laravelError)){
                        for(var i in laravelError){
                            if(Array.isArray(laravelError[i])){
                                this.errors.add({
                                    id: $('[name='+i+']').attr('data-vv-id'),
                                    field: i,
                                    msg: laravelError[i][0],
                                    rule: 'required',
                                    scope: 'registerData'
                                  });
                                if(laravelError['email']){
                                    this.intial = 3;
                                }
                                this.showFirstRegister = true;
                            }else{
                                this.errors.add({
                                    id: $('[name='+i+']').attr('data-vv-id'),
                                    field: i,
                                    msg: laravelError[i],
                                    rule: 'required',
                                    scope: 'registerData'
                                  });
                                if(laravelError['email']){
                                    this.intial = 3;
                                }
                                this.showFirstRegister = true;
                            }
                            
                        }
                    }
                })
            },

            checkFirstRegister(scope){
                var vm =this;
                this.$validator.validateAll('registerData').then((result) => {
                    if (! result) {
                        return;
                    } else {
                       this.showFirstRegister = false;
                    }
                });
                
            },

            selectCity(){
                for (var i in this.cities){
                    if (this.registerData.city_name == this.cities[i]){
                        this.registerData.city_id = i;
                    }
                }
            },

            closeModal(){ 
                this.$parent.showRegistrationModal = false;               
                $('#registermodal').modal('hide');
                this.$emit('close');
            },
            onLogin() {
            this.$parent.showRegistrationModal = false;
            this.$parent.showLoginModal = true;
            },

            closeRegistrationModal(){              
                $('#registermodal').modal('hide');
                this.$emit('registrationClose');
            },

            cityDropdown(){  
                $("#country_id").addClass('option');
                this.countries.find((element)=> {
                    if (element.country_id == this.registerData.country_id){
                        this.registerData.phone_code = ''+element.phone_code;
                        this.countryCode = this.registerData.phone_code;
                        this.registerData.contact_number = '';
                        this.selectedCountryIcon(''+this.registerData.phone_code);
                    }
                });
            },

            dob(dateofbirth){
                this.registerData.birthday = dateofbirth;
                  if(moment().diff(moment(dateofbirth, 'YYYY-MM-DD'), 'years') >=18){
                    this.errors.remove('birthday','registerData');
                }else{
                    this.errors.add('birthday','The birthday must be a date before -18 years.','required','registerData');
                }
            },

         /*   checkNumber(){
                axios.get('/verify-number/'+this.registerData.phone_code+''+this.registerData.contact_number)
                .then((response) => {
                  console.log(response);
                    if(response.data.data.valid == false){
                      this.errors.add('contact_number',this.$t('message.INVAID_PHONE'),'required','registerData');
                     } else {
                      this.errors.remove('contact_number','registerData');
                    }
                })
            }
*/

          countryCodeList() {

          // this.hasItems = true;
          //   this.items = this.optionGroups;
          //   var vm = this;
          //   var results = {};
          //   if( vm.countryCode != '') {
          //     if(Object.values(vm.countryCode).indexOf("+")>-1){
          //       results = _.filter(this.optionGroups,function(item){ 
          //         if(Object.values(item.country_code).indexOf("+")==-1){
          //           item.country_code = '+'+item.country_code;
          //         }
          //       return item.name.toLowerCase() == vm.countryCode.toLowerCase() || item.country_code == vm.countryCode;
          //       });
          //     }else{
          //       results = _.filter(this.optionGroups,function(item){ 
          //       return item.name.toLowerCase() == vm.countryCode.toLowerCase() || item.country_code == vm.countryCode;
          //       });
          //   }
          //   }
          //   if(results.length == 0 && vm.countryCode != '') {
          //          results = _.filter(this.optionGroups,function(item){
          //           return item.name.toLowerCase().indexOf(vm.countryCode.toLowerCase()) >-1 || item.country_code.toLowerCase().indexOf(vm.countryCode) >-1;
          //           });
          //       this.items = results;
          //   }else if(results.length > 0) {
          //       return this.items = results;
          //   }
          //   if(vm.countryCode == '') {
               var optionList = new Array();
            this.$axios.get('/country-code/'+this.language)
            .then((response) => {
              
                this.optionGroups = this.items = this.registerData.cccode = response.data.data;
                return this.items;
             })
            // } 
          
            // console.log(this.items)
          //

          
        },

        countryCodeData(){
        this.items = this.registerData.cccode = this.optionGroups;
            this.openCountryList();
            return this.items;

          // var code_and_country = this.registerData.phone_code;
          // var res = code_and_country.split("-");
          // this.registerData.phone_code = res[0];
          
        },

        closeCountryList() {
            this.$nextTick(function () {
              this.hasItems = false;
                this.showCountrylist = false;
            });
        },

        openCountryList() { 
            this.$nextTick(function () {
              this.hasItems = true;
                this.showCountrylist = true;
            });
        },

       selectedCountry(data) {
            this.disableSearch = '';  
            this.isSelected = data;
            this.closeCountryList();
            this.countryCode = data;
            this.registerData.contact_number = '';
        },

        clearCountryCode(){
            this.isSelected = '';
        },
        getCountryCode() {
            $('.countryIcon').addClass('hide');
        this.closeCountryList();
            this.$axios.get('/get-country-code')
            .then((response) => {
              console.log(response);
                this.registerData.phone_code = ''+response.data
                this.countryCode = ''+response.data;
                this.closeCountryList();
                this.selectedCountryIcon(''+this.registerData.phone_code);
                $('.countryIcon').removeClass('hide');
            })
        },
        titleList(){
             // this.hasTitle = true;
           // let titleitems = array(this.$t('message.MR'),this.$t('message.MRS'),this.$t('message.MS'),this.$t('message.DR'),this.$t('message.PROF'));
           //  let titleGroups = titleitems;
           //  var vm = this;
           //  var results = {};
           //  if( vm.countryCode != '') {
              
           //      results = _.filter(titleGroups,function(item){ console.log(item)
           //      return item.toLowerCase() == vm.titleName.toLowerCase();
           //      });
           //  }
            this.$nextTick(function () {
              this.hasTitle = true;
            });
        },
        titleData(){
            this.$nextTick(function () {
              this.hasTitle = true;
            });
        },
        selectedTitle(data){
            this.closeTitleList();
            let titleData = this.$t('message.'+data);
            this.titleName = titleData;
            this.registerData.title = data;
        },
        closeTitleList() {
            this.$nextTick(function () {
              this.hasTitle = false;
            });
        },
        selectDropDownCCode(code){
            if(code){
            let result = code.split(" ");
            let lengthCount = result.length;
            this.countryCode = result[lengthCount-1];
            this.registerData.phone_code = result[lengthCount-1];
            this.selectedCountryIcon(''+result[lengthCount-1]);
        }
        },
        selectedCountryIcon(ccode){
            if(ccode){
            let index = _.findIndex(this.items, { 'country_code': ccode });
            let countryArr = this.items[index];
            var url = 'https://d3cfbhpm32okc.cloudfront.net/flags/32x32/'+countryArr.code.toLowerCase()+'.png';
            $('.countryIcon').attr('src',url);
        }
        },

        checkCCode(counCode){
            if(counCode){
            let index = _.findIndex(this.items, { 'country_code': counCode });
            if(index==-1){
                this.errors.add({
                                     id: $('[name=code]').attr('data-vv-id'),
                                     field: 'code',
                                     msg: this.$t('message.INVAID_COUNTRY_CODE'),
                                     rule: 'required',
                                     scope: 'registerData'
                                   });
                this.intial=5;
                this.countryCode = '';
            }else{
            let countryArr = this.items[index];
            var url = 'https://d3cfbhpm32okc.cloudfront.net/flags/32x32/'+countryArr.code.toLowerCase()+'.png';
            $('.countryIcon').attr('src',url);
        }
          }
        },
        validateEmail(){
            $('.disable').attr('disabled','disabled');
        },
        validateCcode(){
            $('.disable').attr('disabled','disabled');
            this.registerData.contact_number = '';
        },
        }
    }

</script>

