<template>
    <!-- <div id="bidError" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h2>{{ $t('message.REGISTRATION_SUCCESSFUL_MSG')}}</h2>
                    <a type="button" @click="closeModal" class="btn btn-closeBid"> {{ $t('message.OTP_OK')}}</a>
                </div>
            </div>
        </div>
    </div> -->

    <div>
        <div class="modal fade  modal ot-modals" id="bidError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">   
                        <button type="button" class="close modal-close" @click="closeModal">
                            <img src="~/assets/img/cross-out.svg" alt="">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="ot-content floating-label">
                           <h2>{{ $t('message.REGISTRATION_SUCCESSFUL_MSG')}}</h2>
                           <a type="button" @click="closeModal" class="btn btn-closeBid"> {{ $t('message.OTP_OK')}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
    export default {

        mounted: function () {
            this.$nextTick(function () {
               $('#bidError').modal('show');
            }); 
        },

        methods: {

            closeModal(){   
                $('#bidError').modal('hide');
                this.$emit('close');
            }

        }
    }

</script>