<div>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-sm-between align-items-center flex-wrap">
                <ul class="list-unstyled">
                    <li v-if="hotelInfo"><a href="/hotel-policy">{{$t('message.HOTEL_POLICY')}}</a></li>
                    <li><a href="/faq">{{$t('message.FAQ')}}</a></li>
                    <li v-if="day_use"><a  href="javascript:void(0)" @click="showCancelModal">{{$t('message.CANCEL_DAY_USE')}}</a></li>
                    <li><a  :href="'/'+language+'/TCwhite'" target="_blank" >{{$t('message.TERMS__CONDITION')}}</a></li>
                    <li><a :href="'/'+language+'/PPwhite'" target="_blank">{{$t('message.PRIVACY_POLICY')}}</a></li>
                    <li><a :href="'/'+language+'/CPwhite'" target="_blank">Cookies</a></li>
                    
                </ul>
                <p class="my-2 copyright">
                    &copy; {{new Date().getFullYear()}} PrivateDeal SA<sup>TM</sup>. All rights reserved.
                </p>
            </div>
        </div>
    </div>
    
</footer>
<cancel-booking
        v-if="showModal"
        :subdomain="subdomain"
        :user="user"
        @close="onClose"
        @cancelClose="onCancelClose"
    ></cancel-booking>

    <cancel-msg 
        v-if="showCancel"
        :subdomain="subdomain"
        @close="onClose"
    > 
    </cancel-msg >


    <cancel-booking-otp-verification
        v-if="showCancelOtpVerification"
        :subdomain="subdomain"
        :user="user"
        :canceledBookingId="canceledBookingId"
        :canceledEmailId="canceledEmailId"
        @cancelOtpClose="onCancelOtpClose"
        @close="onClose"
    ></cancel-booking-otp-verification>
</div>