<div :class="classDisable ? 'search-container' : 'search-container'" class="top-space">
     <div class="search-form">
        <form class="form-inline" :action="search_url" @submit.prevent="hotelSearchHandler" id="searchForm">
            
            <div :class="classDisable?'form-bg disabledbutton date-change':'form-bg date-change'">

                <div v-show="serviceApplied==2" class="form-group day-switcher">
                    <label class="tgl" style="font-size:30px">
                        <input type="checkbox" v-model="useType" @change="dateChanged" name="mode"/>
                        <span :data-on="$t('message.NIGHT')" :data-off="$t('message.DAY')"></span>
                        <div v-if="useType" class="tooltip-text-night">
                            <p v-html="$t('message.NIGHT_USE_HOVER_TEXT')"></p>
                        </div>
                        <div v-if="!useType" class="tooltip-text-day">
                            <p v-html="$t('message.DAY_USE_HOVER_TEXT')"></p>
                        </div>
                    </label>
                </div>
                <input type="hidden" name="guestCameFrom" v-model="guestCameFrom" inputid="">
                <div class="form-group">                   
                    <date-picker
                        class=""
                        months="2"
                        :start="checkin"
                        :end="checkout"
                        inputid="checkin"
                        placeholder="Check In"
                        :showicon="false"
                        v-model="checkin"
                        :isStartBox="true"
                        name="checkin"
                        :required="true"
                        calendarButtonIcon="flaticon-time"
                        :range="true"
                        :data="availableDateArray"
                        @selected="onSelected"
                    ></date-picker>
                    <span id="date_range" v-if="dateRangeError" class="error">{{$t('message.SELECTED_DATERANGE_NOT_AVALIBALE')}}</span>
                </div>

                <div class="form-group select_service" v-if="! useType && serviceCount">
                    <!-- <label>{{$t('message.SELECT_YOUR_SERVICE')}}</label> -->
                    <!-- <label class="service">Select Services</label> -->
                    <select class="form-control" name="serviceId" v-model="serviceId" @change="setServiceId(serviceId)">
                        <option v-if="serviceOption.serviceName" v-for="serviceOption in this.serviceData" v-bind:value="serviceOption.serviceId" :selected="serviceOption.serviceId == serviceId">{{ serviceOption.serviceName }}</option>
                    </select>
                    <!-- <span id="check_in_time" v-if="checkInTimeError" class="error">{{$t('message.DAY_USE_BOOKING_NOT_POSSIBLE')}}</span> -->
                    <!-- <span id="duration" v-if="durationError" class="error">{{$t('message.NO_AVAILABILITY')}}</span> -->
                </div>
               <!--  <div v-if="!this.useType" class="form-group"> -->
                <input type="hidden" name="checkout" v-model="checkout" inputid="checkout">
               <!--  </div> -->
                <div v-if="this.useType" class="form-group">
                   <date-picker
                        class=""
                        months="2"
                        :start="checkin"
                        :end="checkout"
                        inputid="checkout"
                        placeholder="Check out"
                        :showicon="false"
                        v-model="checkout"
                        :isStartBox="false"
                        name="checkout"
                        :required="true"
                        calendarButtonIcon="flaticon-time"
                        :range="true"
                        :data="availableDateArray"
                        @selected="onSelected"
                    ></date-picker>
                </div>
                <!-- v-on-click-outside="close" -->
                <div class="form-group change_date" v-if="useType">
                   <!--  <label>Guests</label> -->
                    <div class="TotalRoomBox guests" @click="open">
                        <span class="total-count" v-if="showRoom">{{ guest }} {{$t('message.GUESTS_SMALL')}}</span> 
                        <span class="total-count" v-else>{{ guest }} {{guestText}}</span> 
                        <span class="total-room" v-if="showRoom">{{ room }} {{$t('message.ROOM_SMALL')}}</span>
                        <span class="total-room" v-else>{{ room }} {{roomText}}</span>
                        
                        <input type="hidden" v-model="guest" name="guest"/>
                        <input type="hidden" v-model="room" name="room"/>
                    </div>

                    <!--hotel room book box-->
                    <div class="hotel_room_box" id="hr_box" v-show="showPopover">
                        <div class="hotel-config">
                            <ul class="list-inline list-unstyled">
                                <li v-for="(room, $index) in rooms">
                                    <div class="hotel-flex flex-row">
                                        <div class="room-config">{{$t('message.ROOM')}} {{ $index+1 }} </div>
                                        <div class="select-custom room-config-guests">
                                            <select class="form-control" v-model="room.guest" name="rooms[]" @change="guestCount()">
                                                 <option v-for="person in domainDetails.number_of_person":value="person">{{person}} <span v-if="person == 1">{{$t('message.GUEST')}}</span><span v-else>{{$t('message.GUESTS')}}</span> </option>
                                            </select>
                                        </div>
                                        <span v-if="$index>0" href="#" class="remove-link"  @click="removeRoom($index)">{{$t('message.REMOVE')}}</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="flex-row add-room-btn">
                                <button class="btn-add-room"  @click="addRoom" v-if="rooms.length<=7" type="button">{{$t('message.ADD_RROM')}}</button>
                                <button class="btn-add-room-confirm" type="button" @click="close()">{{$t('message.CONFIRM')}}</button>
                            </div>
                        </div>
                    </div>
                <!--hotel-roon book box ends-->
                </div>

                

                <div class="form-group pickup-time check-in-time" v-if="! useType">
                    <label>{{$t('message.SELECT_YOUR_CHECKIN_TIME')}}</label>
                    <select class="form-control" name="check_in_time" v-model="check_in_time" @change="getHours(min_hours,max_hours
                    ,1)">
                        <option v-if="option" v-for="option in hoursList" v-bind:value="option" >{{ option }}</option>
                    </select>
                    <span id="check_in_time" v-if="checkInTimeError" class="error">{{$t('message.DAY_USE_BOOKING_NOT_POSSIBLE')}}</span>
                    <span id="duration" v-if="durationError && (this.unit =='hourly' || serviceId == 0)" class="error">{{$t('message.NO_AVAILABILITY')}}</span>
                </div>

                <div class="form-group change_date" v-if="serviceId==0 && ! useType">
                    <div class="TotalRoomBox guests" @click="open">
                        <span class="total-count" v-if="showRoom">{{ guest }} {{$t('message.GUESTS_SMALL')}}</span> 
                        <span class="total-count" v-else>{{ guest }} {{guestText}}</span> 
                        <span class="total-room" v-if="showRoom">{{ room }} {{$t('message.ROOM_SMALL')}}</span>
                        <span class="total-room" v-else>{{ room }} {{roomText}}</span>
                        
                        <input type="hidden" v-model="guest" name="guest"/>
                        <input type="hidden" v-model="room" name="room"/>
                    </div>

                    <!--hotel room book box-->
                    <div class="hotel_room_box" id="hr_box" v-show="showPopover">
                        <div class="hotel-config">
                            <ul class="list-inline list-unstyled">
                                <li v-for="(room, $index) in rooms">
                                    <div class="hotel-flex flex-row">
                                        <div class="room-config">{{$t('message.ROOM')}} {{ $index+1 }} </div>
                                        <div class="select-custom room-config-guests">
                                            <select class="form-control" v-model="room.guest" name="rooms[]" @change="guestCount()">
                                                 <option v-for="person in domainDetails.number_of_person":value="person">{{person}} <span v-if="person == 1">{{$t('message.GUEST')}}</span><span v-else>{{$t('message.GUESTS')}}</span> </option>
                                            </select>
                                        </div>
                                        <span v-if="$index>0" href="#" class="remove-link"  @click="removeRoom($index)">{{$t('message.REMOVE')}}</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="flex-row add-room-btn">
                                <button class="btn-add-room"  @click="addRoom" v-if="rooms.length<=7" type="button">{{$t('message.ADD_RROM')}}</button>
                                <button class="btn-add-room-confirm" type="button" @click="close()">{{$t('message.CONFIRM')}}</button>
                            </div>
                        </div>
                    </div>
                <!--hotel-roon book box ends-->
                </div>

                <!-- <div class="form-group" v-if="serviceId !=0 && ! useType">
                     <div v-for="(room, $index) in rooms">
                          <select v-if="$index == 0"  class="form-control" v-model="room.guest" name="rooms[]" @change="guestCount()">
                               <option v-for="person in domainDetails.number_of_person":value="person">{{person}} <span v-if="person == 1">{{$t('message.GUEST')}}</span><span v-else>{{$t('message.GUESTS')}}</span> </option>
                            </select>
                     </div> -->

                    <!-- <select class="form-control" v-model="room.guest" name="persons">
                        <option v-for="persons in domainDetails.number_of_person":value="persons">{{persons}} <span v-if="persons == 1">{{$t('message.GUEST')}}</span><span v-else>{{$t('message.GUESTS')}}</span> </option>
                            </select> -->
                <!-- </div> -->

                <div class="form-group pickup-time duration_hr" v-if="! useType  && (this.unit=='hourly' || serviceId == 0)">
                    <label>{{$t('message.DURATION')}}</label>
                    <select class="form-control" name="duration" v-model="duration">
                        <option v-if="hour >= min_hours && hour == 1" v-for="hour in max_hours" v-bind:value="hour" >{{ hour }} {{$t('message.HOUR_SMALL')}} </option>
                         <option v-if="hour >= min_hours && hour > 1" v-for="hour in max_hours" v-bind:value="hour" >{{ hour }} {{$t('message.HOURS_SMALL')}} </option>
                    </select><!-- 
                    <span id="check_in_time" v-if="checkInTimeError" class="error">{{$t('message.DAY_USE_BOOKING_NOT_POSSIBLE')}}</span> -->
                </div>
                <div class="form-group pickup-time" v-if="! useType && this.unit=='ticket' && serviceId > 0">
                    <label>{{$t('message.SELECT_YOUR_TICKET')}}</label>
                    <select class="form-control" name="ticket" v-model="ticket" @change="setTicket(ticket)">
                        <option v-for="ticket in domainDetails.number_of_person":value="ticket">{{ticket}} <span v-if="ticket == 1">Pass</span><span v-else>Passes</span> </option>
                    </select>
                    <!-- <select class="form-control" name="ticket" v-model="ticket" @change="setTicket(ticket)">
                        <option v-for="ticket in domainDetails.number_of_person":value="ticket">{{ticket}} <span v-if="ticket == 1">{{$t('message.PASS')}}</span><span v-else>{{$t('message.PASSES')}}</span> </option>
                    </select> -->
                </div>
               
            </div>

            <div class="form-group search-button">
                <button v-if="(this.unit=='hourly' || serviceId == 0)" type="submit"  name="Search" class="btn btn-search ripple" :class="disableSearch">{{$t('message.SEARCH')}}</button>
                <button v-else type="submit"  name="Search" class="btn btn-search ripple" >{{$t('message.SEARCH')}}</button>
            </div>
        </form>
    </div>
</div>
