<div><form  id="searchForm" class="searchForm" @submit.prevent="hotelSearchHandler">
    <div class="switch_wrap">
        <div class="searchFileds selectDayNight flx1" v-show="serviceApplied==2">
            <div class="dnWrapper dsp-flx algnItm" @change="dateChanged()">
                <input type="radio" id="h-day" name="daynight" v-model="useType" value="1">
                <input type="radio" id="h-night" name="daynight" v-model="useType"  value="2">
                <label class="fnt-bold dayNightVal">{{useType == 1 ? $t('message.DAY') : $t('message.NIGHT')}}</label>     
            </div>
        </div>
        <div class="day-label-tag night-label-tag align-items-center" v-if="useType == 2">
            <span class="circle"></span>
            <p class="m-0">{{$t('message.NIGHT_USE_HOVER_TEXT')}}</p>
        </div>
        <div class="day-label-tag align-items-center "  v-if="useType == 1">
            <span class="circle"></span>
            <p class="m-0 s-tooltip">{{$t('message.DAY_USE_HOVER_TEXT')}}</p>
        </div>
    </div>
    <div id="" class="selectServices "v-if="useType==1 && serviceCount">
        <div class="fndServices d-flex align-items-center form-group1"  v-on-click-outside="closeService">
            <div @click="openService" class="opn-service">
                <div class="fnt-bold show-dummy-date">{{serviceName}}</div> 
                <img :src="serviceIcon" alt="" class="serviceIcon-upper"/>                
                <input placeholder="Select Services" autocomplete="off" name="serviceId" v-model="serviceId" class="sel-serv-input">
                <input  autocomplete="off" name="serviceName" v-model="serviceName" style="display: none;">
            </div>                                
        </div>
        <ul class="ui-autocomplete"  v-show="showService">
            <li v-for="serviceOption in this.serviceData" @click="setServiceId(serviceOption.serviceId)" v-if="Object.keys(serviceOption.min_max_rooms).length !== 0">
                <div class="ui-menu-item-service-wrapper"><img :src="serviceOption.service_icon" alt="" class="serviceIcon"/> {{ serviceOption.serviceName }}</div>
            </li>
        </ul>
    </div>
    <div class="d-flex m-0 p-0 flex-wrap1 c-in-out">
        <div class="check_in" for="checkin">
            <div class="form-group">
                <label>{{$t('message.CHECK_IN')}}</label>
                <div class="form-group1 rel-pos">
                    <div class="fnt-bold show-dummy-date" id="check-in-date"></div>
                    <date-picker
                    textclass=""
                    months="2"
                    :start="checkin"
                    :end="checkout"
                    inputid="checkin-group"
                    placeholder="Check In"
                    :showicon="false"
                    v-model="checkin"
                    :isStartBox="true"
                    name="checkin"
                    :required="true"
                    calendarButtonIcon="flaticon-time"
                    :range="true"
                    :data="availableDateArray"
                    @selected="onSelected"
                    ></date-picker>
                    <span id="date_range" class="error"></span>
                </div>
                <!-- <input type="text" value="00-00-00" id="date_range"/> -->
            </div>
        </div>
        <div class="time_period" v-if="useType == 1 && name"  v-on-click-outside="closeTime">
            <span class="cover" @click="openTime"></span>
            <div class="form-group">
                <label>{{$t('message.TIME')}}</label>
                <div class="selected-time">{{check_in_time}}</div>
                <input type="text" readonly name="check_in_time" v-model="check_in_time" id="timeValue" class="fnt-bold" style="display: none;"> 
            </div>
            <ul class="ui-timer" v-show="showTimer">
                <li v-for="option in hoursList" @click="selectTime(option)">{{ option }}</li>
            </ul>
        </div>
        <div class="time_period" v-if="useType == 1 && (this.unit=='hourly' || serviceId == 0) && serviceId > -1" v-on-click-outside="closeDuration">
            <span class="cover" @click="openDuration"></span>
            <div class="form-group">
                <label>{{$t('message.DURATION')}}</label>
                <div class="selected-time" v-if="duration > 1">{{duration}}  {{$t('message.HOURS_SMALL')}}</div>
                <div class="selected-time" v-else>{{duration}}  {{$t('message.HOUR_SMALL')}}</div>
                <input type="text" readonly name="duration" v-model="duration" id="timeValue" class="fnt-bold" style="display: none;"> 
            </div>
            <ul class="ui-timer" v-show="showDuration">
                <li v-if="hour >= min_hours && hour == 1" v-for="hour in max_hours" @click="selectDuration(hour)">{{ hour }} {{$t('message.HOUR_SMALL')}} </li>
                <li v-if="hour >= min_hours && hour > 1" v-for="hour in max_hours" @click="selectDuration(hour)">{{ hour }} {{$t('message.HOURS_SMALL')}} </li>
            </ul>
        </div>
<div class="time_period passes" v-if="useType==1 && this.unit=='ticket' && serviceId > 0" v-on-click-outside="closeTicket">
    <span class="cover" @click="openTicket"></span>
    <div class="form-group">
        <label>{{$t('message.PASSES_LABEL')}}</label>
        <div class="selected-time" v-if="ticket > 1">{{ticket}}</div>
        <div class="selected-time"  v-if="ticket == 1">{{ticket}}</div>
        <input type="text" readonly name="ticket" v-model="ticket" id="timeValue" class="fnt-bold" style="display:none">
    </div>
    <ul class="ui-timer" v-show="showTicket" >
        <li v-if="ticket == 1" v-for="ticket in domainDetails.number_of_person" @click="setTicket(ticket)">{{ticket}}</li>
        <li v-if="ticket > 1" v-for="ticket in domainDetails.number_of_person" @click="setTicket(ticket)">{{ticket}}</li>
    </ul>
</div>

<div class="check_out" v-if="useType == 2">
    <div class="form-group">
        <label>{{$t('message.CHECK_OUT')}}</label>
        <div v-if="this.useType" class="form-group1">
            <div class="fnt-bold show-dummy-date"  id="check-out"></div>
            <date-picker
            textclass=""
            months="2"
            :start="checkin"
            :end="checkout"
            inputid="checkout"
            placeholder="Check out"
            :showicon="false"
            v-model="checkout"
            :isStartBox="false"
            name="checkout"
            :required="true"
            calendarButtonIcon="flaticon-time"
            :range="true"
            :data="availableDateArray"
            @selected="onSelected"
            ></date-picker>
        </div>
        <!-- <input type="text" value="11-08-20"/> -->
    </div>
</div>
</div>
<div class="guests" v-if="useType==2 || (serviceId==0 && useType==1)" v-on-click-outside="close">
    <span class="cover" @click="open"></span>
    <div class="form-group">
        <label>{{$t('message.GUESTS')}}</label>
        <div class="no_guests">
            <span class="total-count fnt-bold" v-if="showRoom">{{ guest }} {{$t('message.GUESTS_SMALL')}}</span> 
            <span class="total-count fnt-bold" v-else>{{ guest }} {{guestText}}</span> 
            <span class="total-room fnt-bold" v-if="showRoom">,&nbsp;{{ room }} {{$t('message.ROOM_SMALL')}}</span>
            <span class="total-room fnt-bold" v-else>&nbsp;{{ room }} {{roomText}}</span>
        </div>
    </div>

    <div class="g-drowpdown" v-show="showPopover"  @click="guestCount()">
        <table width="100%" class="room-row">
            <tr v-for="(room, $index) in rooms">
                <td><strong>{{$t('message.ROOM')}} {{$index+1}}</strong></td>
                <td v-if="room.guest > 1">{{$t('message.GUESTS')}}</td>
                <td v-else>{{$t('message.GUEST')}}</td>
                <td class="text-center"><div class="g-minus" @click="decreaseGuest($index)"></div></td>
                <td class="text-center"><div class="g-num fnt-bold">{{room.guest}}</div></td>
                <td class="text-center"><div class="g-plus" @click="increaseGuest($index)">+</div></td>
                <td class="g-rm-wrap fns13"><div v-if="$index>0"  @click="removeRoom($index)" class="g-remove" ></div></td>
            </tr>
        </table>
        <div class="buttonGroup">
            <a class="fnt-bold addRoomBtn pull-left" v-if="rooms.length<=7" @click="addRoom" >{{$t('message.ADD_ROOM')}}</a>
            <a class="fnt-bold cnBtn pull-right"  @click="close"> {{$t('message.OK')}}</a>
        </div>
    </div>
</div>
<button type="submit" :class="'btn btn-search btn-pink ripple '+disableSearch">
 {{$t('message.SEARCH')}}
</button>
<!-- <button type="submit" name="Search" class="btn btn-search btn-pink ripple">Search</button> -->

</form>

</div>

