<template>
  <section id="main" class="main">
        <section class="banner banner_home" style="background: url('assets/img/The-Dolder-Grand_02.png') no-repeat; background-size: cover; background-position: center center;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="banner-content text-left" >
                                <div class="con-overlay pb-0" v-html="homeBanner()">
                                    <h1>Your Private  Deal Space:</h1>
                                    <p>Give <span>your price</span> to book a room!</p>
                                </div>
                                <p class="con-overlay pt-0" >We <span>instantly</span> tell you if you price is accepted.</p>
                            </div>
                            <div class="top-space search-container">
                                <div class="search-form">
                                    <form action="#" id="searchForm" class="searchForm">
                                        <div class="switch_wrap">
                                            <div class="form-group">                                
                                                <label class="switch">
                                                    <input type="checkbox" checked>
                                                    <span class="slider round"></span>
                                                </label> 
                                            </div>
                                        </div>
                                        <div class="services_dropdown">
                                            <div class="form-group">                                                
                                                <select>
                                                    <option>Select</option>
                                                    <option>wr</option>
                                                </select>                                           
                                            </div>
                                        </div>
                                        <div class="check_in" for="checkin">
                                            <div class="form-group">
                                                <label>Check In</label>
                                                <input type="text" value="11-08-20" id="checkin"/>
                                            </div>
                                        </div>
                                        <div class="time_period">
                                            <div class="form-group">
                                                <label>Clock</label>
                                                <div class="selected-time">12:00 - 14:00</div>
                                            </div>
                                        </div>
                                        <div class="guests">
                                            <div class="form-group">
                                                <label>Guests</label>
                                                <div class="no_guests">
                                                    <span>5 Guests, 2 Room</span>
                                                </div>
                                            </div>
                                        </div>
                                           <button type="submit" name="Search" class="btn btn-search btn-sand ripple">Search</button>
                                       
                                    </form>
                                    <div class="day-label-tag d-flex align-items-center ">
                                        <span class="circle"></span>
                                        <p class="m-0">Day-use allows you to book a room or a service for a few hours during the day.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
        </section>
    </section>
    <!-- <div v-html="deleteRecipe(1)"></div> -->
</template>

<script>
  import axios from 'axios'
export default {
  head() {
    return {
      title: "whitebrand",
    };
  },
  components: {
   
  },
  async asyncData({ $axios, store }) {

    try {

      let response = await $axios.$get(`/index/en`);
     
      if (response.data) {           
       let result = response.data;
       if (result) { 
          // this.setGtagCode(result.subdomain.details);                     
       }
        // console.log(result);
       // Setting whitebrand hotel details
       store.dispatch('setWBHotelDetails', result)
       if (result.subdomain.domainType == 'group') $("body").append("<style>* { font-family: " + result.subdomain.details.font + ";}</style>");
       else if (result) $("body").append("<style>* { font-family: " + result.subdomain.details.hotel_font + ";}</style>");
       // this.downloadJSAtOnload();
       // alert(store.getters['getCurrency'])
       }
      
    } catch (e) {
      return { response: [] };
    }
  },
  data() {
    return {
      recipes: []
    };
  },
  methods: {
    async homeBanner() {
      try {
                
                // this.getLocale();

                // let indexAPI = this.sliderLocale ? '/index/' + this.sliderLocale : '/index'; 
                // var cookieVal = this.getGCookie('glanguage');
                // if(cookieVal){
                //     indexAPI = cookieVal ? '/index/' + cookieVal: '/index'; 
                // }
                //let indexAPI = '/index'; 
                // this.$store.commit('setCurrency', 'INR');
                // let response = await this.axios.get(indexAPI);
                let response = await axios.get(`http://lofthotelbordeaux.pvtdeal.com/api/index/en`);
                
                if (response.data) {
                    
                    let result = response.data.data;
                    console.log(result)
                    if (result) { 
                        // this.setGtagCode(result.subdomain.details);                     
                    }
                    // Setting whitebrand hotel details
                    this.$store.commit('setWBHotelDetails', result);
                    if (result.subdomain.domainType == 'group') $("body").append("<style>* { font-family: " + result.subdomain.details.font + ";}</style>");
                    else if (result) $("body").append("<style>* { font-family: " + result.subdomain.details.hotel_font + ";}</style>");
                    // this.downloadJSAtOnload();
                    // alert(this.$store.getters.getCurrency)
                }
            
            } catch (error) {
                this.$store.commit('setIsDeactive', 1);
                console.log(error);
            }
    }
  }
};
</script>
</script>

<style>
</style>